[2020-07-10 15:59] phairow commented on #498
also note, I am using 7.0.0-RC3 which may or may not be relevant but I have not gone back to try with the current release version

[2020-07-10 16:47] phairow commented on #498
I added some info to docs/Building.md -> https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/538

[2020-07-10 16:52] phairow commented on #498
I reached out to ionic support for Capacitor on adding WebRTC support and they said they have no plans for that. This cordova plugin will be needed for some time. I am sure apple will support WebRTC in the web view at some point since it was recently added to Safari but currently it is not supported in web view.

[2020-07-11 00:12] danielehrhardt commented on #498
Thank you for all your work. Also @hthetiot!!
Do you plan to finish your Port?

Could I help somewhere? I am also interested to use it.

[2020-07-11 00:41] phairow commented on #498
@danielehrhardt thanks,I am sure @hthetiot can use help :) I am not making a port, only sharing how I used the cordova-plugin-iosrtc in my capacitor based project.

[2020-07-13 04:40] fukemy opened #539 "unable to connect to git.apache.org"
hello, i follow your below step [here](https://cordova.apache.org/docs/en/latest/guide/platforms/ios/webview.html) to add cordova into my swift project, but i got problem when add cordova-ios in cartfile

[code]

can you help my problem?

Here is cartfile:
`
git "git://git.apache.org/cordova-ios.git" "5.0.0" # Apache
`

[2020-07-13 07:12] fukemy commented on #326
hello, i added permission into config.xml but doesn't work, i still didnt see the app require camera|microphone permission when using webrtc in ios app, here is the only log i saw:
`
2020-07-13 14:05:45.716681+0700 HelloWorld[1649:681878] iosrtcPlugin#onReset() | doing nothing
`

[2020-07-13 08:54] fukemy opened #540 "undefined platform when run in ios"
Hello, plz help me know why i got undefined platform when add listener for deviceready

[code]

then i modified to:
[code]

[2020-07-13 10:16] hthetiot commented on #326
@fukemy  Unrelated comment on closed issue is considered a sin. I will not reply to you or help you. You need to create a dedicated issue With all requirements or look at the sample application for reference.
- https://github.com/cordova-rtc/cordova-plugin-iosrtc-sample

[2020-07-13 10:18] hthetiot commented on #539
1. You did not create the issue with the requirements.
2. This has nothing to do with iosRTC it's most likely a connection issue with apache.oeg git repository.

Next issue without proper reporting requirements will result in 30 days ban.

[2020-07-13 10:18] #539 closed

[2020-07-13 10:20] hthetiot commented on #540
You did not respond to the issue report requirements. You issue is therefore closed.

https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/.github/ISSUE_TEMPLATE.md

[2020-07-13 10:20] #540 closed

[2020-07-13 10:25] hthetiot commented on #498
@danielehrhardt their is no need to port anything.

@danielehrhardt thank you for you PR, it's now merged on master and I'll be added to the change logs with your GitHub name as contributor.
https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/538

[2020-07-13 10:25] #498 closed

[2020-07-15 10:31] danielehrhardt commented on #498
I tried your solution with the podfile. But now I get the following error:
[code]

[2020-07-15 15:26] hthetiot commented on #498
@danielehrhardt

All you have to do is read the error message....
`disable bitcode for this target`

AS @phairow EXPLAINED but you probably did not follow the instruction
`I finally got it working. The key was to disable bitcode`
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/issues/498#issuecomment-656742479
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/docs/Building.

[2020-07-15 15:31] hthetiot opened #541 "black remote video on using twilio"
# Please read first!
Please use [Public Google Group (mailing list)](https://groups.google.com/forum/#!forum/cordova-plugin-iosrtc) for general technical discussions and questions.

- [x] I have used Google with the error message or bug in association with the library and Cordova words to make sure the issue I'm reporting is only related to iOSRTC.
- [x] I have provided steps to reproduce (e.g. sa

[2020-07-15 15:32] hthetiot commented on #497
For master issue with twilio https://github.com/cordova-rtc/cordova-plugin-iosrtc/issues/541

[2020-07-15 15:34] hthetiot commented on #541
@sboudouk can you try 6.0.11 just curious.

[2020-07-15 15:37] hthetiot commented on #541
I would also need if you can that you test the followinf version to try to understand what changes caused the issue
- df3105cae3de0488bc67c07e8d3e18ebd068f80d
- ac93724d617f1be2b3f6b650826b9ac668f5e17f
- c04df62fe55d8597ee71d3b96373d08bbac9fd77
- cb0aefe83fca53cf333629abeac0618d718bb31a

Notice that i suspect c04df62fe55d8597ee71d3b96373d08bbac9fd77 to have broken compatilibity.

[2020-07-15 15:39] danielehrhardt commented on #498
Okay it worked. :) Thank you for your Help

[2020-07-15 17:12] hthetiot commented on #541
I will not release 6.0.13 until this is solved for information :)

[2020-07-15 17:13] hthetiot commented on #535
I will look into that after #541 and 6.0.13 release.

[2020-07-15 17:14] hthetiot commented on #526
Closing cause Duplicate of #535 and no action or valid reporting from @IntonoviPetar

[2020-07-15 17:15] sboudouk commented on #541
I will give it a shot then give you feedback there. Thanks for your work.

[2020-07-15 17:16] hthetiot commented on #491
RTCRtpSender landed so i will deal with that in 6.0.14

[2020-07-17 06:12] uhotspot4 opened #542 "ld: warning: Could not find or use auto-linked framework 'WebRTC' Undefined symbols for architecture arm64"
I am getting the following link error when trying to run my app on an actual device, but it works fine when ran in simulator:

`ld: warning: Could not find or use auto-linked framework 'WebRTC'
Undefined symbols for architecture arm64:
  "_OBJC_CLASS_$_RTCMediaConstraints", referenced from:
      objc-class-ref in PluginRTCPeerConnectionConstraints.o
  "_OBJC_CLASS_$_RTCMediaStream", referenced fr

[2020-07-17 10:14] hthetiot commented on #542
It's not a big you simply need to strip emulator architecture to run on device or publish on app store see documentation here: https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/docs/Building.md#apple-store-submission

[2020-07-17 10:16] hthetiot commented on #542
Note: your issue report does not comply with issue reporting requirements, next time I will not assist you unless you fullfil issue requirements, notably a simple search on the repository would have lead you to the answer.

https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/.github/ISSUE_TEMPLATE.md

[2020-07-17 10:16] #542 closed

[2020-07-17 10:18] hthetiot commented on #542
https://github.com/cordova-rtc/cordova-plugin-iosrtc/issues/7

Duplicate cause reporter did not search for existing issue.

[2020-07-17 12:42] frybakowski commented on #532
@hthetiot
One more thing regarding that topic, cause now i facing the issue with managing received audio track.
Audio on device is played automatically without need to attach stream to the <video> web tag (which is not correct, cause generate problem with track managing).
It is played automatically after executing that code:
[code]
So i suspect that reason is here, in code executes when streams ar

[2020-07-17 13:47] hthetiot commented on #532
This always been like that however the enabled attribute for Audio MediaTrack will be respected.
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/js/MediaStreamTrack.js#L63

[2020-07-17 13:48] hthetiot commented on #532
You can try with Chrome only and you will see that you can get `data.stream` also emptied if you do not use webRTC adapter.

[2020-07-17 13:49] hthetiot commented on #532
@frybakowski Do you use MCU or SFU or pure P2P via Browser ?

[2020-07-17 13:51] hthetiot commented on #532
@frybakowski are you using Unified Plan or Plan B ?

https://stackoverflow.com/questions/60825809/rtcpeerconnection-track-event-sometimes-returning-empty-stream

[code]

[2020-07-17 13:53] hthetiot commented on #532
One solution is illustrated in the sample:

[code]
https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/extra/renderer-and-libwebrtc-tests.js#L317

[2020-07-17 13:55] hthetiot commented on #532
For me #533 is still valid cause it prevent swift error when stream is missing.
I will improve `stream = this.remoteStreams[data.streamId] || MediaStream.create(data.stream)` to handle missing data.stream on JavaScript side.

[2020-07-17 14:13] hthetiot commented on #532
@frybakowski let process the `Audio on device is played automatically without need to attach stream to the web tag (which is not correct, cause generate problem with track managing).` in a separate issue and release please. Let focus 6.0.13 on the empty event.streams that cause ` index 0 beyond bounds for empty NSArray'` and associated JS.

[2020-07-17 14:16] hthetiot commented on #532
See fix:
https://github.com/cordova-rtc/cordova-plugin-iosrtc/commit/25afafaed3315d4b14683b79b748f78731be92a6

Also managing `track` event without stream is already documented here:
[code]
Source: https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/extra/renderer-and-libwebrtc-tests.js#L317

[2020-07-17 14:18] hthetiot commented on #532
@frybakowski can you try master, use PlanB (iosrtc is UnifiedPlan by default) and/or fix your side for missing stream (RTMP https://webrtc.org/getting-started/unified-plan-transition-guide) or using `new MediaStream()`.

[2020-07-17 14:20] hthetiot commented on #536
6.0.13 will implement MediaDevices with EventTarget interface.
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/js/MediaDevices.js#L29
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/commit/25c5a75b209df921e4498bd4d4461be66ee664cc

[2020-07-17 14:20] #536 closed

[2020-07-17 14:50] frybakowski commented on #532
@hthetiot ok, used use PlanB, can get on browser `track` event.
But still managing with stream / track does not works, so ie. attepting to stop audio:
[code]
generating error:
[code]
also see other errors like:
`iosrtcPlugin#MediaStream_init() | ERROR: pluginMediaStream with id=A99B3985-DC8E-4916-B789-CCB02D4B34F9 already exist`

`iosrtcPlugin#MediaStreamTrack_setListener() | ERROR: pluginMediaStr

[2020-07-17 16:00] hthetiot commented on #535
Should be fixed on master via https://github.com/cordova-rtc/cordova-plugin-iosrtc/commit/3f7af2c6b7f7761f19e4d42355ad7fde77d28a58

[2020-07-17 16:01] hthetiot commented on #526
Should be fixed on master via Should be fixed on master via https://github.com/cordova-rtc/cordova-plugin-iosrtc/commit/3f7af2c6b7f7761f19e4d42355ad7fde77d28a58

[2020-07-17 16:04] hthetiot commented on #535
@mrhery Try master it should be good now I think.

[code]

[2020-07-17 16:04] #535 closed

[2020-07-17 16:06] uhotspot4 commented on #542
Thanks for your answer and sorry if this had already been answered. In fact I searched for it including the google group but couldn't find the answer. But thanks anyway.

[2020-07-17 16:09] hthetiot commented on #532
"attepting to stop audio" is out of the scope of this isssue as I tried to explain to you already, please to not try to have me fix it in the same issue.

The error you have can be ignored `already exist` and `does not exist` that not again in the scope and is more for debug purpose.

If what you want is muting the audio, what you have to do is following:
[code]

[2020-07-17 16:11] hthetiot commented on #532
@frybakowski  Reminding you that this issue is about `onaddtrack crash during call initializing` not about `attepting to stop audio` or initially about empty event.streams. please create separate issue do not mention this unrelated problem here. or I will have to block the issue comment and close the issue without providing any more assistance.

[2020-07-17 16:12] hthetiot commented on #532
For me this 25afafa and 9d502d62570ee74c135b6c66319e42cf72ca6fd1 does solve the original problem.

[2020-07-17 16:14] hthetiot commented on #532
For me this issue is closed because original problem is solved.
Please do not comment out of topic comment or I will block comments.
Create separated issues for unrelated problems.

[2020-07-17 16:14] #532 closed

[2020-07-17 16:15] hthetiot commented on #541
Last 6.0.13 issue.

[2020-07-17 16:24] hthetiot commented on #529
cc @mrhery

[2020-07-17 16:30] hthetiot commented on #522
`undefined is not an object (evaluating 'dataFromEvent.id')`
Fixed by 25afafaed3315d4b14683b79b748f78731be92a6

[2020-07-17 16:45] hthetiot commented on #542
Thank you @uhotspot4 for your reply, best is to search on GitHub if you have issue next time make sure to fill the issue requirements.
Happy RTC.

[2020-07-17 16:49] hthetiot commented on #532
I'm pretty sure you use an MCU/SFU based of the media track ID containing "default" and made unique by iosrtc, please answer what MCU/SFU you are using and the version, it's most likely that you MCU SFU is one that does not handle WebRTC spec regarding unique Stream and Track IDs that unless to provide the information will make me waste lot of time for nothing.

[2020-07-17 16:57] hthetiot commented on #529
You should not replace `options` but instead add to it to keep Bluetooth support.

[2020-07-17 17:21] hthetiot commented on #529
Fixed by c49bdc598a501956b7bbdb7b5cfbf43d845f0c6b

[2020-07-17 17:21] #529 closed

[2020-07-17 17:21] hthetiot commented on #529
cc @andrewvmail let me know what you think of c49bdc598a501956b7bbdb7b5cfbf43d845f0c6b in my point of view should not have major impact.

[2020-07-17 17:22] hthetiot commented on #529
Available on Master (NOT 6.0.13 RC1)
[code]

[2020-07-17 17:24] hthetiot commented on #422
Black screen has nothing to do with this layout error @benembery

[2020-07-17 17:34] hthetiot commented on #534
Fixed by 1b09464 will be released in 6.0.13

[2020-07-17 17:34] #534 closed

[2020-07-17 17:56] hthetiot commented on #491
Draft Implemented here:
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/544
Cc @abardik @myzzib

[2020-07-17 18:05] hthetiot commented on #509
Issue is considered fixed via #512, the reporter need to find a way to use DISABLE_IOSRTC_HOOK in his environment.

[2020-07-17 18:05] #509 closed

[2020-07-17 18:16] hthetiot commented on #449
Related https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/427

[2020-07-17 18:42] hthetiot opened #546 "[Announcement] cordova-plugin-iosrtc Version 7.0.x notes"
Hello cordova-rtc users,

I will released cordova-plugin-iosrtc 8.0.0 but in the mean time 80.0-RC1 is available for testing.

The current work in progress is on the branch https://github.com/cordova-rtc/cordova-plugin-iosrtc#task/8.0.0 and the PR is https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/545

# Changelog Version 8.0.0

* Update to WebRTC.framework M84

# Test 8.0.0-RC

# Captur

[2020-07-17 18:48] hthetiot opened #547 "Implement Xcode hook to use the right achitecture automatically on device and archive build"
## Description

Currently developer need to execute manualy https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/extra/ios_arch.js script to extract achitecture for emulator in order to build on device.

## Expected results

In xcode you have to create a new run script in 'Build Phases'

[code]

[2020-07-17 18:50] hthetiot commented on #469
@numerized M84 is available here https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/545

[2020-07-17 21:49] hthetiot commented on #506
I may have found a solution.
https://github.com/PeterXu/cordova-plugin-iosrtc/commit/0f154cfdd6f0ee904656d02ce34eecfca8b1a361

[2020-07-17 21:55] hthetiot commented on #506
@PeterXu  I think it's may be time for me to bring your websocket fork changes to the official repository with video and audioContext this time on top of it based on https://github.com/edimuj/cordova-plugin-audioinput.

[2020-07-18 20:32] andrewvmail commented on #529
@hthetiot  It looks fine but I'm concern about the mixed with others though. Googled around that and found
https://github.com/signalapp/Signal-iOS/pull/2283 where they talk about removing that. It could be a variable thing people set maybe if they want to?

[2020-07-18 20:45] andrewvmail commented on #529
actually on second thought maybe thats fine since this plugin is polyfilling cordova to be like the browser.. your change takes it even closer

[2020-07-20 14:11] oscarvadillog commented on #449
I have tested #task/PluginRTCVideoView and the video is paused when `getVideoTracks()[0].enabled = false`

[2020-07-20 15:11] matijagrcic commented on #541
One thing to mention here is that while remote works great on iOS 13 by setting the z-index(s)
[videoCSS.md](https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/docs/videoCSS.md) and https://github.com/cordova-rtc/cordova-plugin-iosrtc/commit/aee2b39b2ccebd3dc01019d7c8ebdf2bd4c90600, it doesn't work on iOS 12. The thumbnail video is shown only until the main video starts.

Do you mayb

[2020-07-20 16:00] hthetiot commented on #541
This as nothing to do with the issue with Twillio.
Please create dedicated issue, out if topic may lead to temporarily ban.

[2020-07-20 16:55] matijagrcic commented on #541
Thanks for pointing that out, wanted to provide more info as it's related to the Twilio setup and remote video.

[2020-07-21 15:11] hthetiot commented on #541
If any Twillio user can assist and update the sample to help debug iosRTC with Twillio.
https://github.com/cordova-rtc/cordova-plugin-iosrtc-sample/blob/master/www/js/index-twilio.js

You can make a PR on Sample repository.

[2020-07-22 09:14] derwaldgeist commented on #509
The problem is: It's just impossible to do this in a Meteor environment :-/

[2020-07-22 09:20] hthetiot commented on #509
environment is named as such cause they are part of the environment you can define them on user or OS
Just google "define environment " with the name of your OS.

[2020-07-22 11:40] derwaldgeist commented on #509
Yes, I know. But Meteor won't hand this over to its custom cordova build tools. That's the problem.

[2020-07-23 10:26] numerized commented on #469
Hi @hthetiot, I still experience the bug, even if I follow strictly #545 instructions.
Now by the way, I have this error with the default ```cordova plugin add cordova-plugin-iosrtc --variable MANUAL_INIT_AUDIO_DEVICE=TRUE```

Thanks for your work, if you have any question ping me.

[code]

[2020-07-23 10:29] numerized commented on #469
this version works
```cordova plugin add https://github.com/cordova-rtc/cordova-plugin-iosrtc#7.0.0-RC2 --variable MANUAL_INIT_AUDIO_DEVICE=TRUE --verbose```

[2020-07-25 15:52] hthetiot commented on #469
@numerized  Can you test https://github.com/cordova-rtc/cordova-plugin-iosrtc#7.0.0-RC3 please and let me know here. Thx.

[2020-07-25 15:56] hthetiot commented on #449
I may have an idea, I may disable rendering all together when enabled false.

[2020-07-26 19:15] numerized commented on #469
Same issue with RC3:

Prepared iOS project successfully
Executing script found in plugin cordova-plugin-add-swift-support for hook "after_prepare": plugins/cordova-plugin-add-swift-support/src/add-swift-support.js
Executing script found in plugin cordova-plugin-iosrtc for hook "after_prepare": plugins/cordova-plugin-iosrtc/extra/hooks/iosrtc-swift-support.js
Cannot read property '1' of null
TypeEr

[2020-07-26 23:13] sboudouk commented on #541
Ok then, there are my results:

Local Participant: iPhone 11 iOS 13.4.1
Remote Participant: Samsung Android 8.0.0
Twilio Room type: Group-small, and **NOT** p2p.

**6.11**:
Local Video: Local Camera successfully displayed and sent to remote. Displayed successfully on remote device.
Remote Video: No error, but can't receive, attach, or display remote video, not even a black screen.

**df3105c**:

S

[2020-07-27 10:54] Pankaj03 opened #550 "iOS 13 WKWebKit iOS issue"
Hello @hthetiot ,

The WebRTC sample and plugin is working fine except while testing iOS-iOS. The issue with the WebKit instead of UIWebView. As UIWebview is deprecated by the apple and this issue hold me to make it live.

Can you please help me!!

Thanks!
Pankaj.A

[2020-07-28 10:11] hthetiot commented on #550
You need to is talk the plug-in `cordova-plugin-wkwebview-engine` and set `<preference name="WKWebViewOnly" value="true" />` in `<platform name="ios">`.

This issue has nothing to do with iosRTC.

Note: You did not follow the issue guidelines, therefore this issue is closed.

        https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/.github/ISSUE_TEMPLATE.md

[2020-07-28 10:11] #550 closed

[2020-07-28 14:47] hthetiot commented on #541
can you try this ones @sboudouk
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/commit/b632a98d59e00cecabfd473370d17b7b1e2a801f
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/commit/8de622ae273f7b57d536357926db25993aa9380e
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/commit/852024b6fc1d24837af29f8e05a23274eca0f167

[2020-07-28 20:37] sboudouk commented on #541
Local Participant: iPhone 11 iOS 13.4.1
Remote Participant: Samsung Android 8.0.0
Twilio Room type: Group-small, and NOT p2p.

b632a98:

LocalParticipant: LocalVideoTrack is displayeds successfully. Remote video track is black.
Remote Participant: RemoteParticipant track is received with success. (Audio + Video).

8de622a:

Exact same results as b632a98.

852024b:

Also exact same results as b632a

[2020-07-29 18:41] bkervaski opened #551 "7.0.0-RC4 Does not restore audio device, always speaker"
# Please read first!
Please use [Public Google Group (mailing list)](https://groups.google.com/forum/#!forum/cordova-plugin-iosrtc) for general technical discussions and questions.

- [X] I have used Google with the error message or bug in association with the library and Cordova words to make sure the issue I'm reporting is only related to iOSRTC.
- [ ] I have provided steps to reproduce (e.g. sa

[2020-07-30 01:28] PeterXu commented on #506
@hthetiot , Please ping me if need my help.

[2020-07-30 08:03] ashish-mw opened #552 "Capacitor and React: Need help getting twilio client working"
# Please read first!
Please use [Public Google Group (mailing list)](https://groups.google.com/forum/#!forum/cordova-plugin-iosrtc) for general technical discussions and questions.

- [x] I have used Google with the error message or bug in association with the library and Cordova words to make sure the issue I'm reporting is only related to iOSRTC.
- [x] I have provided steps to reproduce (e.g. sa

[2020-07-30 09:07] hthetiot commented on #551
@bkervaski Can you confirm you do not reproduce this issue with 6.0.12 and 7.0.0-RC3 ?

[2020-07-30 09:11] hthetiot commented on #552
It's most likely an issue with the emulator, can you confirm iOS version target.

[2020-07-30 09:12] hthetiot commented on #552
Required missing information @ashish-mw
"Cordova version (e.g 7.1.0):"
"iOS version (e.g 10.2):"

[2020-07-30 09:47] ashish-mw commented on #552
Thanks for replying so quickly @hthetiot
I'm not running cordova.
"Capacitor": 2.2.0
"iOS version": 13.5

The webRTC APIs that `twilio-client` needs should be there for it, when we add in the plugin. But the logs say, they aren't there.

[2020-07-30 09:58] hthetiot commented on #552
I'm pretty sure if the WebRTC API is not exposed it's because you did not call `cordova.plugins.iosrtc.registerGlobals()` as instructed in the README and sample, see documentation:
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/docs/iosrtc.md#iosrtcregisterglobals

[2020-07-30 10:15] ashish-mw commented on #552
These are the contents of my `src` folder
[code]

How would I call `cordova.plugins.iosrtc.registerGlobals()`, since I don't have `cordova` in the global scope? I'm assuming this needs to be done on `index.tsx`. Is that the way?

[2020-07-30 11:47] hthetiot commented on #552
@ashish-mw I'm not here to explain to you how to use cordova plugin into an application Capacitor or React.
It look like you did not even took the time to look how the plugin works and follow the required steps to use it.
That why I have to close this issue because the real issue is between the keyboard and the chair, not on iosRTC.

Here some example from previous issues:
-
https://github.com/cor

[2020-07-30 11:47] #552 closed

[2020-07-30 11:49] hthetiot commented on #552
This issue is closed because the reporter did not read the documentation to use corova plugins or iosRTC and did not provide a FULL steps to reproduce the issue.

[2020-07-30 13:28] ashish-mw commented on #552
For anyone coming from google searches,

At the top of your `main.tsx` file or in the context file from which you're going to initialise the twilio `Device()`, add

[code]

This should be just after your `imports`. Typescript will complain, when we do a `window.cordova`, otherwise.

Now, in the component's `useEffect()`, call the `registerGlobals()` method.

[code]

And that should be it.

For bui

[2020-07-30 15:20] hthetiot commented on #552
Thank you @ashish-mw for your understanding and adding your solution, We may improve the documentation in the future, but we cannot be in charge of explaining how to use cordova plugin this is required skills to use the plug-in Capacitor or not.

[2020-07-30 15:22] hthetiot commented on #552
@ashish-mw notice that there is know issue with Twillio that we working to address in the coming days see details here #541

The fix should be released with 6.0.13

[2020-07-30 15:29] ashish-mw commented on #552
Perfectly understandable @hthetiot
Cheers!

[2020-07-30 19:21] bkervaski commented on #551
With 6.0.12 it's working fine, but with 7.0.0 and 8.0.0 it seems the library is setting the AVAudioSession AVAudioSessionPortOverride on it's own terms, not honoring the default state or any state changes.  When you terminate a session, it always leaves AVAudioSessionPortOverrideSpeaker.  Hope this helps!

[2020-07-30 20:05] hthetiot commented on #551
Thank you, I think the issue in on master and incoming 6.0.13, since 7.00 and 8.00 has merged master the issue also occur, possibly due to this changes https://github.com/cordova-rtc/cordova-plugin-iosrtc/commit/c49bdc598a501956b7bbdb7b5cfbf43d845f0c6b#diff-59c7d02174607ded42b5b45bc22f8b06

Can you test this 2 version and tell me if you have the issue, it will help to confirm what changes introduc

[2020-07-30 20:14] hthetiot commented on #551
Related: https://groups.google.com/g/cordova-plugin-iosrtc/c/M8jZq_VVR7Y/m/2_MRtrgCCgAJ

[2020-07-30 20:40] bkervaski commented on #551
Both [995eaaf](https://github.com/cordova-rtc/cordova-plugin-iosrtc/commit/15402b1440b7be2b44ae5eac425c624f8339778b) and [15402b1](https://github.com/cordova-rtc/cordova-plugin-iosrtc/commit/15402b1440b7be2b44ae5eac425c624f8339778b) work the same as 6.0.12.

I re-tested 7.0.0 and 8.0.0, both have the issue.

One thing that is noticeably different, 7.0.0 and 8.0.0 both initialize the audio for the

[2020-07-30 20:45] bkervaski commented on #551
I also tested with 6.0.13 and this version works like 6.0.12 and does **not** exhibit the behavior as 7.0.0 and 8.0.0.

[2020-07-31 10:13] akilude commented on #541
Hi,

This doesn't seem to be affecting only twilio, observing same behaviour (remote video only black) with Janus. I am able to receive remote audio.

It works fully with plugin version 6.0.7.

Cordova: 9:
Plugin version -  6.0.12 and master (852024b6fc1d24837af29f8e05a23274eca0f167):
iOS version (e.g 13.4.1):
Xcode version - 11.5 (11E608c):
WebRTC-adapter version  7.6.4:
Janus version: v0.10.3
co

[2020-07-31 12:31] hthetiot commented on #551
Thank you this help a lot.

[2020-07-31 12:33] hthetiot commented on #541
Thank you, we need to find what changes introduce the issue. It almost look like a he issue is in 6.0.12 but not 6.0.11.

[2020-07-31 12:37] hthetiot commented on #541
I will investigate Monday. We need to fix that to release 6.0.13

[2020-07-31 15:50] hthetiot commented on #469
Arf I will fill an issue @numerized

[2020-07-31 15:51] hthetiot commented on #469
Hum can you check you setup (NVM) or check Cordova version. Travis does not reproduce, can you provide node version ?

[2020-07-31 18:51] hthetiot commented on #469
@numerized Hum can you check you setup (NVM) or check Cordova version. Travis does not reproduce, can you provide node version ?

[2020-08-03 18:07] bkervaski opened #554 "Hardware Only: ontrack() will only attach first stream to Audio()"
# Please read first!
Please use [Public Google Group (mailing list)](https://groups.google.com/forum/#!forum/cordova-plugin-iosrtc) for general technical discussions and questions.

- [X] I have used Google with the error message or bug in association with the library and Cordova words to make sure the issue I'm reporting is only related to iOSRTC.
- [X] I have provided steps to reproduce (e.g. sa

[2020-08-03 18:33] hthetiot commented on #459
Related: https://github.com/OpenVidu/cordova-plugin-android-enumeratedevices

[2020-08-04 12:47] hthetiot commented on #541
Can you try 6.0.13-RC2 @sboudouk @akilude see changes 402baf44af7b905a01fe0c9a9be0b944f20c0909

[2020-08-04 12:48] hthetiot commented on #541
[code]

[2020-08-04 12:49] hthetiot commented on #554
should be fixed by 402baf44af7b905a01fe0c9a9be0b944f20c0909 aka 6.0.13-RC2

[2020-08-04 12:49] #554 closed

[2020-08-04 12:53] hthetiot opened #555 "add support for cordova-ios 6+"
# Please read first!
Please use [Public Google Group (mailing list)](https://groups.google.com/forum/#!forum/cordova-plugin-iosrtc) for general technical discussions and questions.

- [ ] I have used Google with the error message or bug in association with the library and Cordova words to make sure the issue I'm reporting is only related to iOSRTC.
- [x] I have provided steps to reproduce (e.g. sa

[2020-08-04 12:55] hthetiot commented on #541
Notice that debuging with @sboudouk we found that the issue was on swyft and here was the dirty fix 6e30d459bf2732a388d8325f34b03604986fc737 compare to clean 402baf4

[2020-08-04 12:56] hthetiot commented on #541
Last bug for 6.0.13

[2020-08-04 12:58] hthetiot commented on #551
Please test #task/7.0.0 or 7.0.0-RC4

[2020-08-04 12:59] hthetiot commented on #546
8.0.0-RC2

[2020-08-04 12:59] hthetiot commented on #551
Is that related #486, I wonder.

[2020-08-04 14:53] hthetiot commented on #541
Master tested succesfully with twilio 2.4.0
See test file here https://github.com/cordova-rtc/cordova-plugin-iosrtc-sample/blob/24f8755575395778b6959896f80e5eaf646d310f/www/js/index-twilio.js
https://github.com/cordova-rtc/cordova-plugin-iosrtc-sample/commit/24f8755575395778b6959896f80e5eaf646d310f

[2020-08-04 14:53] #541 closed

[2020-08-04 15:04] bkervaski commented on #551
I tested 7.0.0-RC4 and the same result.  I then added cordova-plugin-nativeaudio just to see if I could hack around the issue.

What happens is on initial app startup, the volume is low (ambient) and then at the *end* of the first ios-rtc call the volume is unpredictable based on what happened before the first ios-rtc call.

For example, if I play a nativeaudio loop, it plays at non-ambient (norma

[2020-08-04 21:35] sboudouk commented on #555
I can confirm that using cordova-ios 6.1 makes the plugin not work as intended.

Remote and local participant can hear and see each other, but when Remote detach his track, then attach it again to the room, a blackscreen is displayed.

Using cordova-ios 5.1 works as expected.

[2020-08-05 07:03] jit1402 commented on #550
Hello @hthetiot
I installed the both plug-in and i already give the permissions of Camera access and microphone access in info.plist but WKWebKit is not showing permissions of camera access and microphone access. its previously working fine with UIWebView but its not supporting with WKWebKit.
Can you please help me.
Thanks
Jiten.S

[2020-08-05 07:21] jit1402 opened #556 "iOS 13 WKWebKit didn't show permissions of camera access and microphone access"
Hello @hthetiot
I installed the both plug-in "cordova-plugin-wkwebview-engine" and "cordova-plugin-iosrtc".  i already give the permissions of Camera access and microphone access in info.plist but WKWebKit is not showing permissions of camera access and microphone access. its previously working fine with UIWebView but its not supporting with WKWebKit.
Can you please help me.
Thanks
Jiten.S

[2020-08-05 08:06] razam217 opened #557 "Target Integrity Error while running app on iOS Simulator"
# Please read first!
Please use [Public Google Group (mailing list)](https://groups.google.com/forum/#!forum/cordova-plugin-iosrtc) for general technical discussions and questions.

- [ ] I have used Google with the error message or bug in association with the library and Cordova words to make sure the issue I'm reporting is only related to iOSRTC.
- [ ] I have provided steps to reproduce (e.g. sa

[2020-08-05 10:12] hthetiot commented on #556
@jit1402 Please READ the issue posting requirement here and update your description above accordigly.
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/.github/ISSUE_TEMPLATE.md#please-read-first

Otherwise " the checkboxes above are not checked (which you do after the issue is posted), the issue will be closed, removing this checkbox will result in automatic closed issue."

[2020-08-05 10:17] hthetiot commented on #557
See https://github.com/cordova-rtc/cordova-plugin-iosrtc#ios--1331-device-support
[code]

Do you have a valid Apple Developer account to sign the WebRTC dynamic frameworks?

Did you previously changed the architecutre for release see ?
https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/docs/Building.md#strip-simulator-archs-usage

Do you have other plugin installed ?

Can you try to

[2020-08-05 10:27] hthetiot commented on #551
Yes via MANUAL_INIT_AUDIO_DEVICE (#503) that is part of 6.0.13, when you install the MANUAL_INIT_AUDIO_DEVICE value willl be false by default.
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/docs/iosrtc.md#iosrtcinitaudiodevices

Is that what you looking for @bkervaski ?

I also realize that we enforce the output here but we do not restore it on Peer or Media/Track Close for exa

[2020-08-05 10:28] hthetiot commented on #551
@bkervaski  ontrack() bug should be fixed on master and on 6.0.13-RC2 do you mind testing again with MANUAL_INIT_AUDIO_DEVICE and 6.0.13 (confirm if ontrack fixed).

[2020-08-09 08:08] numerized commented on #469
[code]
$ cordova --version
10.0.0
[code]

[2020-08-10 09:04] hthetiot commented on #469
@numerized

I never tried with Cordova 10, version 9 work perfectly. I think the error is due some data in your  config.xml such as the app name. Try running the sample app here: https://github.com/cordova-rtc/cordova-plugin-iosrtc-sample

Please fill a separate issue for your error if you do reproduce with sample or can provide steps to reproduce.

[2020-08-12 17:29] JMoli opened #560 "getSupportedConstraints is undefined"
# Please read first!
Please use [Public Google Group (mailing list)](https://groups.google.com/forum/#!forum/cordova-plugin-iosrtc) for general technical discussions and questions.

- [x] I have used Google with the error message or bug in association with the library and Cordova words to make sure the issue I'm reporting is only related to iOSRTC.
- [x] I have provided steps to reproduce (e.g. sa

[2020-08-14 16:27] shannah opened #561 "MediaStreams with same ID but different source should be distinct"
# Please read first!
Please use [Public Google Group (mailing list)](https://groups.google.com/forum/#!forum/cordova-plugin-iosrtc) for general technical discussions and questions.

- [x] I have used Google with the error message or bug in association with the library and Cordova words to make sure the issue I'm reporting is only related to iOSRTC.
- [x] I have provided steps to reproduce (e.g. sa

[2020-08-17 01:11] bil-ash commented on #459
Yes, it would be great to include a native implementation for android also. This would ensure that AV1 codec which uses lesser bandwidth can be used on android devices with webviews which do not support it(all webviews upto Q1 2020).

[2020-08-27 13:19] AlekseyPn opened #562 "getUserMedia not handle audio and video constraints fully"
#### Versions affected

* **Cordova version: latest**:
* **Cordova iOS version: 5.1.1**:
* **Plugin version: 6.0.12**:
* **iOS version: 13.6**:

## Description
Hi, I found what getUserMedia not handle this case, and in audio object not setted constraints.
getUserMedia handle one of mandatory or optional
`{audio:
optional: Array(2)
0: {label: "iPhone Микрофон"}
1: {sourceId: "Built-In Microphone"}

[2020-08-27 15:54] AlekseyPn commented on #562
UPD: I found error reason, it's throw from Flashphoner API by audioContext.createMediaStreamSource.
But getUserMedia not handle my case anyway :)

[2020-08-30 10:44] alexp25 commented on #116
Can the video element be hidden? I only want to show the frames into the canvas. Is this possible?

[2020-08-30 11:50] alexp25 commented on #38
Is it possible to hide the video tag from view?

[2020-08-31 15:55] numerized commented on #546
Hi Harold @hthetiot

testing it and having this at compile

<img width="791" alt="Screenshot 2020-08-31 at 17 54 17" src="https://user-images.githubusercontent.com/166829/91740059-0bed5d00-ebb3-11ea-9c64-04a6970aa9fd.png">

What should we do ?

[2020-09-01 08:35] hthetiot commented on #546
It looks to me the hooks was not executed, try removing the plug-in and add again.

Travis has no issue building branch 8.0.0:
https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/545

[2020-09-01 08:36] hthetiot commented on #562
iosRTC does not support audioContext.createMediaStreamSource from the iosRTC MediaStream

[2020-09-01 09:08] numerized commented on #546
already tried quite a few times this before reporting.
I can put previous versions without any problem.

I tried to update to Swift5 too, just to be sure.
Doesn't help.

I'll try with the demo project you have

[2020-09-01 09:20] numerized commented on #546
I tried with your IOS sample project, from scratch first install I get this:

<img width="258" alt="Screenshot 2020-09-01 at 11 19 08" src="https://user-images.githubusercontent.com/166829/91832055-2a039d80-ec45-11ea-8696-662f720119d4.png">

[2020-09-01 12:06] hthetiot commented on #546
@numerized can you fill a separate issue with information requested.
I'm not able to reproduce any of your issues.
Notice that if you use cordiva-ios 6+ you need to remove WKWebView Plugin cause its builtin now.

[2020-09-01 12:09] hthetiot commented on #546
@numerized  As you can see here Travis build without issue, meaning the issue in on your setup nothing else.
- https://travis-ci.org/github/cordova-rtc/cordova-plugin-iosrtc/jobs/723009924#L1824

[2020-09-01 14:00] hthetiot commented on #560
Fixed by #564 564

[2020-09-01 14:00] #560 closed

[2020-09-01 14:06] hthetiot commented on #546
That because you are using cordova-ios 6+
you need to remove to cordova-plugin-wkwebview-engine when you use cordova-ios 6+

[2020-09-02 07:40] #556 closed

[2020-09-02 07:40] #557 closed

[2020-09-04 14:35] irimiaionut commented on #491
Just tried branch task/RTCRtpSender-replaceTrack to replaceTrack. Web and android already working. When using iosrtc I get the following error. Couldn't find error source.

[code]

[2020-09-04 15:14] AleksandarTokarev opened #565 "IOS 13.6.1 Video Element Not blurring via CSS"
- [x] I have used Google with the error message or bug in association with the library and Cordova words to make sure the issue I'm reporting is only related to iOSRTC.
- [x] I have provided steps to reproduce (e.g. sample code or updated `extra/renderer-and-libwebrtc-tests.js` file).
- [x] I have provided third party library name and version, ios, Xcode and plugin version and adapter.js version i

[2020-09-04 16:25] AleksandarTokarev commented on #565
I Solved this by adding the invoking the refresh function for IOS
https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/docs/iosrtc.md#iosrtcrefreshvideos

[code]

[2020-09-04 16:26] #565 closed

[2020-09-04 17:19] hthetiot commented on #565
For the future may be we can call refreshVideo when video tag class is changed.

Thx @AleksandarTokarev for solving the issue by yourself.

[2020-09-04 17:20] AleksandarTokarev commented on #565
That would be great @hthetiot
Also maybe you guys can add blur as well (if possible) and put it on the front page of the documentation

[2020-09-08 22:31] numerized commented on #546
I checked in depth and I found that my project was on swift 4.0, switching it to swift 4.2 made it work.

[2020-09-09 09:50] thebalaa commented on #542
Followed the instructions but still unable to resolve this issue with capacitor.

I did `rm -rf iod` then `npx cap add ios` but still seeing the error:

[code]

Any ideas?

[2020-09-09 16:18] hthetiot commented on #542
Enable bitcode should be enough.

Glad you fixed your issue.

https://github.com/cordova-rtc/cordova-plugin-iosrtc/issues/7#issuecomment-106277889

[2020-09-09 16:19] hthetiot commented on #542
Also the hook should enable bitcode if not enabled mean the hook was not trigger on Cordova prepare

[2020-09-09 17:12] thebalaa commented on #542
I should have added that I'm using capacitor.

I'm fairly sure that latest release of cordova-plugin-iosrtc (6.0.13) causes missing symbols linking error when building for arm64 even though I checked the WebRTC binary itself and could see it had support for arm64. Not sure why.

[2020-09-10 11:25] zeijibashuai opened #566 "Video tags are very uncomfortable questions"
# My web version of the communication logic had a lot of problems because of the existing implementation methods! Can't you pass the media data to the SRC of the video tag? Now the video level is particularly high。
How can I solve it?

[2020-09-10 22:34] numerized commented on #546
now when it comes to publishing in the appstore we face this bug:

<img width="759" alt="Screenshot 2020-09-11 at 00 29 57" src="https://user-images.githubusercontent.com/166829/92817117-86de2100-f3c6-11ea-907c-c53df015e1fa.png">

I've obviously updated to latest Xcode version and I usually don't have problems.

I usually follow these steps before publishing to appstores:

[code]
which gives:
[cod

[2020-09-10 23:58] numerized commented on #546
I could rollback to 7.0.0 RC2.
Tomorrow I'll check and let you know

[2020-09-11 07:51] hthetiot commented on #546
@numerized please fill separate issue, this is Announcement, not hotline or bug report issue.

Finaly google is your friend:
- https://github.com/react-native-webrtc/react-native-webrtc/issues/141

The documentation is your friend also:
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/docs/Building.md#strip-simulator-archs-usage

[2020-09-11 09:17] hthetiot commented on #566
You did not follow the issue reporting requirement:
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/.github/ISSUE_TEMPLATE.md#please-read-first

Second what you are asking is totally unclear and all capse sucks.

Also if you dont know how to use WebRTC and use srcObject to set Peer Stream video this is not the right place to report such issue. See https://developer.mozilla.org/e

[2020-09-11 09:17] #566 closed

[2020-09-11 09:33] hthetiot commented on #566
Also src for video tag is deprecated even if we support it, next time before creating an issue follow instruction and look if you doing it properly.
https://www.fxsitecompat.dev/en-CA/docs/2017/url-createobjecturl-stream-has-been-deprecated/

[2020-09-11 09:40] numerized opened #567 "[8.0.0 RC2] Apple Store Submission - stripping simulator (i386/x86_64) archs won't work anymore"
- [X] I have used Google with the error message or bug in association with the library and Cordova words to make sure the issue I'm reporting is only related to iOSRTC.
- [X] I have provided steps to reproduce (e.g. sample code or updated `extra/renderer-and-libwebrtc-tests.js` file).
- [X] I have provided third party library name and version, ios, Xcode and plugin version and adapter.js version i

[2020-09-11 10:42] hthetiot commented on #567
Thank you @numerized I will check

[2020-09-11 10:53] hthetiot commented on #567
This works for me using the provided script after that fix, since V8 does not include i386 and armv7 anymore.

https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/545/commits/ded470fdb7c4ee62d5795cd0af52c64449ab63fe

List WebRTC architectures...
WebRTC: Mach-O universal binary with 1 architecture: [arm64:Mach-O 64-bit dynamically linked shared library arm64]
WebRTC (for architecture arm64):

[2020-09-11 10:53] #567 closed

[2020-09-11 10:58] hthetiot commented on #567
I confirm travis was failing silently on v8, V7 was ok.

V8 Prior ded470f

<img width="1005" alt="Screenshot 2020-09-11 at 12 57 00" src="https://user-images.githubusercontent.com/8635/92917092-6fd31980-f42e-11ea-973a-d306036e539c.png">

V7 still include i386 and armv7

<img width="1000" alt="Screenshot 2020-09-11 at 12 57 12" src="https://user-images.githubusercontent.com/8635/92917125-78c3eb00-f

[2020-09-11 11:00] hthetiot commented on #567
Fix confirmed on task/8.0.0 via https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/545

https://travis-ci.org/github/cordova-rtc/cordova-plugin-iosrtc/jobs/726232901#L1851

[2020-09-12 08:31] zeijibashuai opened #568 "The video tag does not support pausing, following elements to zoom in, and hierarchy issues"
#### Versions affected
@last

## Description
#### The implementation should now be native video:
- 1. It is above my page level and will block my Web page (for example, if I want to add the function of bullet screen, this video will completely block my function);
- 2. He will not follow the amplification or reduction of my video tags to follow the interaction, but the reality in a fixed area;

##

[2020-09-14 13:14] hthetiot commented on #568
@ zeijibashuai  You did not follow the issue reporting requirement:

https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/.github/ISSUE_TEMPLATE.md#please-read-first

We ask you exact version `@last` is not a valid version for each item we ask you to provide version.

Unclear what you mean, we do support video tag api

The other thing I mean is scrObject, thank you

Again we do support

[2020-09-14 13:15] #568 closed

[2020-09-14 13:16] hthetiot commented on #566
@zeijibashuai removing text to hide your unclear and invalide report issue, really ?

You are now banned!

[2020-09-14 13:17] hthetiot commented on #566
Restored original text from author that try to hide his shitty issue report.

[2020-09-14 18:33] henritoivar opened #569 "republishing Track fail using Twillio (Was Error: removeTrack() must be called with a RTCRtpSender instance as argument)"
- [x] I have used Google with the error message or bug in association with the library and Cordova words to make sure the issue I'm reporting is only related to iOSRTC.
- [x] I have provided steps to reproduce (e.g. sample code or updated `extra/renderer-and-libwebrtc-tests.js` file).
- [x] I have provided third party library name and version, ios, Xcode and plugin version and adapter.js version i

[2020-09-15 09:09] hthetiot commented on #569
@henritoivar thank you, will look into it.

[2020-09-15 09:16] hthetiot commented on #569
@henritoivar, this is expected error if removeTrack is not getting an iosRTC RTCRtpSender instance.
- https://developer.mozilla.org/en-US/docs/Web/API/RTCPeerConnection/removeTrack

It's probably an issue witht the way twilio-video.js manage sender here:
- https://github.com/twilio/twilio-video.js/blob/9d9d7a63434f28cb4090861d96250e1ef7103a0a/lib/signaling/localparticipant.js#L59

Thank to your fu

[2020-09-15 09:24] hthetiot commented on #569
Note: updated example with  missing `<script type="text/javascript" src="cordova.js"></script>`

[2020-09-15 12:15] shannah opened #571 "RTCPeerConnection.addTrack should return sender"
RTCPeerConnection.addTrack. should return the RTCRtpSender.

Currently I need to work around it with this:

[code]

[2020-09-15 14:34] hthetiot commented on #571
@shannah thank you, should be fixed by https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/572 see Testing instruction.

[2020-09-15 14:35] hthetiot commented on #571
Feel free to comment if that does not fix it, i will re-open.
Notice that this a SHAM not a SHIM, I may manage RTCRtpSender later on version 8+

[2020-09-15 14:38] hthetiot commented on #491
@irimiaionut I will look into it.
See issue is missing type property here i think https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/544/files#diff-d60c1f113017b14d32febffb7b73e125R2646

[2020-09-15 14:42] hthetiot commented on #491
@irimiaionut I fixed the error i think and also merged master in the branch, if you may give it a new shoot #544
Notice that renegotiation will be needed on negotiationneeded.

[2020-09-15 14:44] hthetiot commented on #569
I think this is related https://github.com/cordova-rtc/cordova-plugin-iosrtc/issues/571
@henritoivar You may test this PR (see instruction in description) - https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/572

[2020-09-15 14:50] #571 closed

[2020-09-16 09:52] henritoivar commented on #569
@hthetiot Thanks a lot. This seems to be a part of the solution.

The issue i have now is that unpublishing works, but trying to publish again does not.

I have it set up so that i have the example running on the browser with one token and on iOS with another token.
When i unpublish my video track from iOS then it also dissappears on the browser - this is good.
When i republish my video track from

[2020-09-16 11:07] henritoivar commented on #569
The following issue with black remote video is also present: https://github.com/cordova-rtc/cordova-plugin-iosrtc/issues/541

[2020-09-16 16:16] hthetiot commented on #569
arf, can you confirm @sboudouk ?

[2020-09-16 16:19] hthetiot commented on #569
replaceTrack require renegotiate, RTCRtpSender is a SHAM for now not a shim see
https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/544

you may try https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/544 that now include #572

[2020-09-16 16:24] sboudouk commented on #569
I did not get into this issue, probably because I am using twilio 2.4.

What version of cordova ios are you running @henritoivar ? Can you try downgrading your twilio version to 2.4.X to see if it fix the issues ?

I have no access to my workstation for now, will test it asap.

[2020-09-16 17:53] henritoivar commented on #569
@hthetiot I'm still having the same issue with unpublishing and republishing ( video not reappearing on the other side / or black)

But it seems i can now work around and avoid using unpublish/publish as i can now use replaceTrack (available in twilio using track.restart) to switch between front/rear camera.  Also it seems i can implement muting the video/audio track by using enable/disable track

[2020-09-16 19:01] hthetiot commented on #569
good to know @henritoivar

if you test its all on master @sboudouk

[2020-09-18 12:05] henritoivar commented on #569
@hthetiot @sboudouk

I also tested using cordova 10.0.0, cordova-ios 6.1.1. The following issues persist:
1. Video stream not visible on browser after unpublishing and then republishing video on iOS device (using toggleVideo)
2. Video stream hangs on browser after switching camera on iOS using track.restart

You can test it out aswell by cloning this repository: https://github.com/henritoivar/test

[2020-09-22 21:53] aspdev91 opened #574 "Black Bars around video stream and video stream is stuck when scrolling"
- [x] I have used Google with the error message or bug in association with the library and Cordova words to make sure the issue I'm reporting is only related to iOSRTC.
- [x] I have provided steps to reproduce (e.g. sample code or updated `extra/renderer-and-libwebrtc-tests.js` file).
- [x] I have provided third party library name and version, ios, Xcode and plugin version and adapter.js version i

[2020-09-23 01:00] aspdev91 commented on #574
I did some further digging and came across this on xCode when the video appears:

[code]

The dimensions in that last part seems a bit off..

[2020-09-23 10:19] hthetiot commented on #574
@aspdev91 The layout constraints warning have nothing to do with your issue see https://github.com/cordova-rtc/cordova-plugin-iosrtc/issues/422 that why i have hide your comment above.

If you want to update video location on scrool you need to call `cordova.plugins.iosrtc.refreshVideos`.

Here is an example to do that automaticly. We may add that by default later.
[code]

[2020-09-23 10:21] hthetiot commented on #574
@aspdev91 The black bar issue you have on capture can be related to this bug
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/570

I do recomand you try master until 6.0.14 is released and this but with it:
[code]

[2020-09-23 10:22] hthetiot commented on #574
Let me kow if this 2 thing works for you and i will close the issue.

[2020-09-23 10:24] hthetiot commented on #574
Notice that to get Image to canvas you need to use special iosrtc code see example here:
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/extra/renderer-and-libwebrtc-tests.js#L405

[2020-09-23 10:27] hthetiot commented on #569
@henritoivar  I wonder what unpublishTrack and publishTrack  does, we may need to shim better  MediaTrack to fix this issue and prevent your workarround.

Notice that the issue with track destruction is fixed on master via https://github.com/cordova-rtc/cordova-plugin-iosrtc/commit/cc5bafc0136886dc4e2cb4056290a6bb61221c1e and will be released as part of 6.0.14.

To test master:
[code]

[2020-09-23 10:28] hthetiot commented on #561
@shannah Do you us an MCU/SFU like Jisti ?
please provide Plugin version

[2020-09-23 10:30] hthetiot commented on #569
related https://github.com/cordova-rtc/cordova-plugin-iosrtc/issues/449

[2020-09-23 10:50] henritoivar commented on #569
@hthetiot Thanks, i'll give it a try.

Also something i came upon. Might be unrelated, but maybe something worth taking note of:

I was trying to track down why unified plan doesn't work with Twilio. Twilio sets a `isUnifiedPlan` flag to implement unified-plan specific track management: https://github.com/twilio/twilio-video.js/blob/c86e0001d3706e2c13b1914cffb2f08faae2285c/lib/signaling/v2/peercon

[2020-09-23 12:26] shannah commented on #561
No, I don't use Jisti.  This issue mostly affects the writing of "Samples" which connect two peer connections in the same browser.  Unfortunately this includes many of the samples on the [webrtc samples](https://webrtc.github.io/samples/) page - everything that involves a RTCPeerConnection.

I initially observed this issue in plugin version 6.0.12, but have done quite a bit of testing variations a

[2020-09-23 12:49] henritoivar commented on #569
@hthetiot after disconnecting there is still a large amount of MediaStream objects in cordova.plugins.iosrtc.mediaStreams.
![image](https://user-images.githubusercontent.com/5262399/94014531-56c65300-fdb4-11ea-94ef-9515bde478d4.png)

[2020-09-23 16:11] samgabriel commented on #569
We are experiencing the very same items on this thread.
We tried with
Twilio 2.7.2 and 2.4.0
iosrtc 6.0.13 and master
cordova-ios 5

In having more than two participants each with 2 tracks sometimes the video of one of them does not show.  Upon stopping and re-adding the track always gets a black screen. One huge problem is that the app after adding or removing tracks become completely unusable as

[2020-09-23 17:42] aspdev91 commented on #574
@hthetiot Thank you for the help on this.. This was a blocker for us.

The scrolling issue is resolved with the code you provided.

For the image canvas, I tried to run the test code and got this error in Safari debug tools:

[code]

For the black bar, I was on latest master when I made this post and I just pulled master again using your command. Unfortunately, the black bars are still there.

[2020-09-24 09:55] hthetiot commented on #491
<img width="933" alt="Screenshot 2020-09-24 at 11 54 14" src="https://user-images.githubusercontent.com/8635/94130237-b0825800-fe5c-11ea-9c49-09292301dd1e.png">

This kind of comment really make me not wanting to contribute anymore, im not pay for making this fixes, so may be you should say please and actually comment on the right issue for the fix.
This fix will be released once reporter have act

[2020-09-24 10:01] hthetiot commented on #569
@samgabriel

THIS is not a "thread" on a forum this is an "issue", please DO NOT start reporting unrelated issue about stream not been removed from memory and black screen, create separate issues.

Look at the title of the issue "Error: removeTrack() must be called with a RTCRtpSender instance as argument"

If people keep adding separate unrelated report to this issue, instead of looking for alrea

[2020-09-24 10:03] hthetiot commented on #569
@henritoivar

Please report separate issue @neeact already provided a fix we may have more to do to handle stream/track end properly.

[2020-09-24 10:10] hthetiot commented on #574
localVideoEl need to be your element and you need to propably do that in a setTimeout or after the video canplay event.

Please create separate issue that would help to keep issue scope.

[2020-09-24 10:11] hthetiot commented on #574
Did you use object-fix also it will depend the size of your video tag

[2020-09-24 10:18] henritoivar commented on #569
Regarding unpublishing and then republishing track:

I can see a WebSocket message going out that the track is published:
When doing this flow on Chrome:
![image](https://user-images.githubusercontent.com/5262399/94117977-91cc9300-fe55-11ea-81ea-3d5ba9bf654d.png)
When doing the same flow on iOS:
![image](https://user-images.githubusercontent.com/5262399/94118060-aa3cad80-fe55-11ea-96ce-43593b62771

[2020-09-24 10:28] hthetiot commented on #569
That fine Let keep it about republishing a track, still i will release original fix on 6.0.14 in soon.

[2020-09-24 10:34] hthetiot opened #575 "after disconnecting there is still a large amount of MediaStream objects in cordova.plugins.iosrtc.mediaStreams."
# Please read first!
Please use [Public Google Group (mailing list)](https://groups.google.com/forum/#!forum/cordova-plugin-iosrtc) for general technical discussions and questions.

- [x] I have used Google with the error message or bug in association with the library and Cordova words to make sure the issue I'm reporting is only related to iOSRTC.
- [x] I have provided steps to reproduce (e.g. sa

[2020-09-24 10:35] hthetiot commented on #569
see new separate issue https://github.com/cordova-rtc/cordova-plugin-iosrtc/issues/575
cc @henritoivar @samgabriel

[2020-09-24 10:36] hthetiot commented on #575
Original report https://github.com/cordova-rtc/cordova-plugin-iosrtc/issues/569#issuecomment-697616225
https://github.com/cordova-rtc/cordova-plugin-iosrtc/issues/569#issuecomment-697342729

[2020-09-24 10:38] hthetiot commented on #561
@shannah I see what you mand and i agree, I will handle that in 6.0.15 wil stream/track end issue by managing.

Related https://github.com/cordova-rtc/cordova-plugin-iosrtc/issues/575

cc @henritoivar @samgabriel

[2020-09-24 12:43] henritoivar commented on #569
@hthetiot
The issue might be because of the following missing implementation:
[code]
Twilio is utilizing clone in quite a few places. By definition it should return a MediaStreamTrack with a new id.

If i apply the same code in Chrome, then i get the same issue that the track is not republishing.

I tried something like this:
[code]
But i'm not sure that's the right way to implement that and if th

[2020-09-24 14:20] henritoivar commented on #569
Related: https://github.com/cordova-rtc/cordova-plugin-iosrtc/issues/474

[2020-09-24 15:43] hthetiot commented on #569
@henritoivar I'm looking at the IDs issues on media and track I Will handle clone also keep you posted.

[2020-09-24 19:00] aspdev91 commented on #574
@hthetiot The object fix resolved the black bars! Thanks!

After some tinkering, the canvas is working as well. Thanks @hthetiot

I have a follow up question on alternatives for the canvas as this adds performance overhead. I'll post it a separate issue.

[2020-09-24 19:00] #574 closed

[2020-09-24 22:50] hthetiot commented on #574
@aspdev91 glad it is solved for you, I plan to had SHIM to emulate Original Stream to Canvas in the future.

For object-fit CSS here is quick reference for people landing on this issue:
https://css-tricks.com/almanac/properties/o/object-fit/

[2020-09-24 23:37] samgabriel opened #576 "Black screen when a second iOS user connects to a Twilio room"
# Please read first!
Please use [Public Google Group (mailing list)](https://groups.google.com/forum/#!forum/cordova-plugin-iosrtc) for general technical discussions and questions.

- [x] I have used Google with the error message or bug in association with the library and Cordova words to make sure the issue I'm reporting is only related to iOSRTC.
- [x] I have provided steps to reproduce (e.g. sa

[2020-09-25 07:48] henritoivar commented on #569
@hthetiot Thanks a lot. Let me know if i can help anyhow.

[2020-09-25 11:01] akilude commented on #576
@hthetiot For your info, this happens in janus as well, when using ontrack. It does not occur when we use legacy onaddstream method.

[2020-09-26 11:41] hthetiot commented on #576
thank you @akilude this help.

[2020-09-28 06:50] decodeJarvis commented on #353
Thank you so much @hthetiot , you saved my day!
Thanks a lot for giving alternate solution

[2020-09-28 14:16] pasmat opened #577 "addTrack not called for all tracks"
I am using janus, and it relies on ontrack of RPCPeerConnection, but for some reason, it is not called for all tracks.

For some reason I receive 3 streams on single stream, and for the first two receive ontrack callback on RPCPeerConnection, but the last one doesn't.

It however receives onaddstream callback, and if I modify Janus to use it, it works perfectly.

For testing I have used janus' str

[2020-09-30 05:13] akilude commented on #577
Duplicate of #576

[2020-09-30 19:01] hthetiot commented on #577
@pasmat you did not follow the reporting instructions, you reported a bug while the previous bug reported was literally the same, this sucks, why are you wasting everyone time by not following the issue instructions. Try to look for similar issue next time.

https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/.github/ISSUE_TEMPLATE.md

[2020-09-30 19:01] #577 closed

[2020-09-30 19:03] hthetiot commented on #577
See comment here for duplicate: https://github.com/cordova-rtc/cordova-plugin-iosrtc/issues/576#issuecomment-698866473

[2020-10-05 14:33] pasmat opened #578 "iOS 14.0.1 crashes with bundled WebRTC.framework when calling (begin|end)GeneratingDeviceOrientationNotifications M69 and M75 but not M84"
# Please read first!
Please use [Public Google Group (mailing list)](https://groups.google.com/forum/#!forum/cordova-plugin-iosrtc) for general technical discussions and questions.

- [*] I have used Google with the error message or bug in association with the library and Cordova words to make sure the issue I'm reporting is only related to iOSRTC.
- [ ] I have provided steps to reproduce (e.g. sa

[2020-10-07 01:05] samgabriel commented on #576
@hthetiot  we were able to fix the black screen issue using moving   self.eventListenerForAddStream(currentPluginMediaStream!)  to the getPluginMediaStream method after line 594
https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/62648fd9688818289ee94a343436431458c2554d/src/PluginRTCPeerConnection.swift#L589-L594

I initially said that we were getting a crash on the simulator.
The crash on t

[2020-10-07 07:29] hthetiot commented on #576
thx @samgabriel i will apply the fix, alternativly feel free to make PR.
for crash on 14 see https://github.com/cordova-rtc/cordova-plugin-iosrtc/issues/578

[2020-10-07 07:34] hthetiot commented on #578
hello @pasmat you modifed RTCCameraVideoCapturer.m in your WebRTC build ?
can you provide a diff.

[2020-10-07 07:35] hthetiot commented on #578
can you try M72 and M84
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/475
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/545

[2020-10-07 14:51] samgabriel commented on #576
Hi @hthetiot I saw #578 but the crash is happening on the simulator running iOS 13.3, The #578  discusses a crash on 14.0.1 and mentions that 14 is ok.  When my coworkers connects with his iPhone version 14.0 his app is not crashing. He can share his video and it is visible on the desktop but it crashes the simulator and with M72 it shows the red box above.

[2020-10-07 14:55] hthetiot commented on #576
This part is unclear, please make PR so i can see your changes or provide diff.

[2020-10-07 15:20] samgabriel commented on #576
Hi @hthetiot please find the attached diff #579

[2020-10-08 06:30] agelito commented on #578
Hello @hthetiot I've tried M84 [#545](https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/545) and it doesn't crash on iOS 14.0.1 iPad Air 2.

[2020-10-08 18:03] samgabriel commented on #576
@hthetiot have you had a chance to check out the PR?

[2020-10-09 08:21] henritoivar commented on #569
@hthetiot Have you managed to look into this?

I'm considering having a go at fixing this. Any pointers are welcome.

[2020-10-10 16:04] manel-alonso opened #581 "Black screen on publisher"
# Please read first!
Please use [Public Google Group (mailing list)](https://groups.google.com/forum/#!forum/cordova-plugin-iosrtc) for general technical discussions and questions.

- [x] I have used Google with the error message or bug in association with the library and Cordova words to make sure the issue I'm reporting is only related to iOSRTC.
- [ ] I have provided steps to reproduce (e.g. sa

[2020-10-11 11:01] pasmat commented on #578
`Pasis-MacBook-Pro:Downloads pasimatalamaki$ diff webrtc-M69/sdk/objc/Framework/Classes/PeerConnection/RTCCameraVideoCapturer.m webrtc-M69\ 2/sdk/objc/Framework/Classes/PeerConnection/RTCCameraVideoCapturer.m
156,158d155
<   [RTCDispatcher
<       dispatchAsyncOnType:RTCDispatcherTypeMain
<                     block:^{
160d156
<                     }];
201,203d196
<   [RTCDispatcher
<       dispat

[2020-10-11 19:30] akilude commented on #581
Hi @manel-alonso ,this might be a duplicate of #576

[2020-10-13 04:00] namello-zmtp opened #582 "canvas drawImage(videoElem...) cause memory leak via RequestFrameAnimation"
# Please read first!
Please use [Public Google Group (mailing list)](https://groups.google.com/forum/#!forum/cordova-plugin-iosrtc) for general technical discussions and questions.

- [x] I have used Google with the error message or bug in association with the library and Cordova words to make sure the issue I'm reporting is only related to iOSRTC.
- [x] I have provided steps to reproduce (e.g. sa

[2020-10-15 09:46] AleksandarTokarev opened #583 "Video Sometimes Not Shown when using Apizee"
Hello,
We are seeing issues with the Video on various IPhone devices running on different IOS Versions (12-14 at the time)
When app is initially opened (from killed state) and a video call is established, the IOS video is OK and running.
After repeating the call with the app open several times, video starts to not show.
There are several states that i am seeing:
1. Video sometimes does not show on

[2020-10-15 11:27] fimdomeio commented on #582
From what I see the only method to get a frame into canvas right now is use render.save() to an image element and then load that image into canvas. Works but sound a very bad idea. Also if I do this repeatedly I get flooded with `THREAD WARNING: ['iosrtcPlugin'] took '85.138184' ms. Plugin should use a background thread.` and it becomes impossible to debug the app.

If anyone knows of a better way

[2020-10-15 22:27] calebboyd commented on #582
It's possible to capture the frame data from the existing buffer. But the image format is I420. We'd need to implement the conversion to use it in the browser. https://github.com/andyongg/yuv2image has an implementation of this that could be ported possibly

[2020-10-15 22:34] cah-dgreif commented on #569
We are testing cordova with both mediasoup and the new Azure Communication Services (ACS) and both clients run into issues because `clone` and `addTransceiver` aren't implemented.  With the number of new streaming platforms being released lately (ACS, Zoom, NVIDIA, Twilio, etc.) it's going to be critical that these modern interfaces are supported.

[2020-10-16 16:55] fimdomeio commented on #582
Looks like this fork https://github.com/PeterXu/cordova-plugin-iosrtc has cordova.plugins.iosrtc.MediaStream() that can use a canvas. Did not had the oportunity to fully investigate this week, but will try ASAP.

[2020-10-16 19:18] hthetiot commented on #582
@namello-zmtp This can already be done using existing iosRTC API, we could implement a SHAM/SHIM for canvas.drawimage but currently its not planned.

Example:
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/extra/renderer-and-libwebrtc-tests.js#L405

TLDR: only once video started playing via after "canplay" event.
[code]

@fimdomeio

It does and we may soon backport or colaborat

[2020-10-16 19:20] hthetiot commented on #506
Thank you @PeterXu, i dont know where to start, may be we can create a branch with a PR to start, add websocket then your canvas implementation, see how it goes.

[2020-10-16 19:26] hthetiot commented on #583
Sorry this is most likely related to Apizee usage of WebRTC itself that is not in the officially supported list of libraries.
We are investigating MediaStream recyclying issue that may be related to what you experience but we also found it itmostly depend the way you use WrbRTC and manage MediaStream (stopping them) and VideoMediaElement (empy them).

1. " I have provided steps to reproduce (e.g.

[2020-10-16 19:30] hthetiot commented on #583
Visibly they dont know how GetStats work since it does take a MediaStream or null... since 2014 (6 years ago):
- https://developer.mozilla.org/en-US/docs/Web/API/RTCPeerConnection/getStats

[2020-10-16 19:37] hthetiot commented on #576
@samgabriel sorry i missed the PR looking into ASAP, thank you for helping.

[2020-10-16 19:38] hthetiot commented on #576
@samgabriel sorry i missed the PR looking into ASAP, thank you for helping.

[2020-10-16 19:49] hthetiot commented on #581
@manel-alonso please
" I have provided steps to reproduce (e.g. sample code or updated `extra/renderer-and-libwebrtc-tests.js` file)."

1. Update your image with code to actual code, im not going to rewrite manually to test.
2. Provide actual OpenTok API usage to reproduce

[2020-10-16 19:53] hthetiot commented on #576
@samgabriel I did merge https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/579 on master and plan to release ASAP as part of 6.0.14. I'm waiting for https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/580#pullrequestreview-510756557 that i also d'like to include in 6.0.14, in case this is not merged by Sunday, I will release 6.0.14 with #579 anyway Sunday.

Can @akilude @samgabriel te

[2020-10-16 19:53] hthetiot commented on #576
Thank you again @samgabriel for your assistance.

[2020-10-16 19:58] hthetiot commented on #578
First, it does not crash for me at all on iOS 14.0.1 so fare on iPad Pro and iPhone 6 and 11 on 14.0.1.
Second, thank you @pasmat for the diff, i dit edit your comment to make the diff more readable, but its not clear for me, did you simply remove the RTCDispatcher to use main thread ?

[2020-10-16 20:03] hthetiot commented on #569
Cool story, that help NOT

Great, how much do you pay for iosRTC remind me already, may be a more contructive way to say that would have been "I really need this but i dont know how to code swift so i complain about it"

[2020-10-16 20:08] hthetiot commented on #581
most likely related to #576, that is fixed on master.
Closing for now @manel-alonso , try master if you can or wait for 6.0.14 release in next 72 hours, if you still have the issue please comment and provide missing "steps to reproduce" see https://github.com/cordova-rtc/cordova-plugin-iosrtc/issues/581#issuecomment-710511073

[2020-10-16 20:10] hthetiot commented on #578
Can you provide a modified `extra/renderer-and-libwebrtc-tests.js` file to reproduce ? you did not exactly provided it.

Notice I cannot reproduce this issue, can you also try cordova 9 for me.

[2020-10-16 20:15] hthetiot commented on #555
could be related to https://github.com/cordova-rtc/cordova-plugin-iosrtc/issues/576 that is suposed to be fixed in master, please try master

[2020-10-16 20:18] hthetiot commented on #569
Not yet, we focusing on #576 for 6.0.14 for now, however, i did technicaly fixed the "removeTrack() must be called with a RTCRtpSender instance as argument" as part of 6.0.14 and master.

[2020-10-16 20:27] hthetiot commented on #474
TODO "the specification states, that the associated MediaStreamTracks need to be cloned"

[2020-10-16 20:38] hthetiot commented on #583
Never heard about white screen before in my years of webrtc, i guess that Apizee MCU/SFU doing that...

[2020-10-16 20:39] hthetiot commented on #583
It will be inestigated once https://github.com/cordova-rtc/cordova-plugin-iosrtc/issues/575 that is most likely a duplicate

[2020-10-17 01:01] hthetiot commented on #569
Another off topic comment for @cah-dgreif, your comment is reflective of brogrammer that think they are owned by open source contributors their wish and get credit for copy paste in their source code what other produces, unless this person apologize with one repository without even one commit from him (https://github.com/cah-dgreif/ng2-daterangepicker/commits/master) I will ban him. I noticed also

[2020-10-17 01:25] hthetiot commented on #569
Fe

[2020-10-17 01:39] hthetiot commented on #569
Please create separate issue @henritoivar there is one for clone already.

[2020-10-17 02:34] dgreif commented on #569
@hthetiot As a heavy contributor to open-source, I can understand why my comment frustrated you.  My intent was to emphasize that @henritoivar is likely not the only user of this plugin that will be looking for these features.  It is definitely frustrating when "brogrammers" post entitled comments, and I apologize for giving you the impression that's what I was doing.  My coworkers, @calebboyd  an

[2020-10-17 09:37] AleksandarTokarev commented on #583
@hthetiot
Apizee = ApiRTC. This is stated in the "Who Uses It" section
https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/WHO_USES_IT.md

[2020-10-17 11:08] hthetiot commented on #569
@dgreif

The fact that you thinking making your own or fork instead of contribute via PR and meaning full comment is you own choice and right, but making that choice based on my comment is purely nonsense.

I will make is clear, I do not take paid work for iosRTC, this will prioritize issue for people that have money instead of helping people that can use this plugin for free to provide public or

[2020-10-17 11:24] hthetiot commented on #583
Apizee = ApiRTC. This is stated in the "Who Uses It" section
https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/WHO_USES_IT.md
I guess it should be supported by this plugin

In fact it does not implicitly make them support it simply that they use it.

Thank you for providing way to reproduce, let see if 6.0.14 fix your problem, if not we can try to address it in 6.0.15. please try ma

[2020-10-17 11:35] hthetiot commented on #582
Note: We can easily fix the warning "Plugin should use a background thread" for render.save.

[2020-10-17 11:54] hthetiot commented on #578
I think i reproduce now, but only with laster, not 6.0.13, Im checking again.

[2020-10-17 12:48] hthetiot commented on #578
Here is minor update on BuildWebRTCLib to support Xcode 12:
- https://github.com/react-native-webrtc/react-native-webrtc/pull/883

@pasmat did you have warning that where treated as errors, if not, what version of Xcode are you using?

[2020-10-17 12:54] hthetiot commented on #578
Updated difff from @pasmat
diff --git i/sdk/objc/Framework/Classes/PeerConnection/RTCCameraVideoCapturer.m w/sdk/objc/Framework/Classes/PeerConnection/RTCCameraVideoCapturer.m

[code]

testing fix now.

[2020-10-17 14:26] AleksandarTokarev commented on #583
I tried the latest master commit. This seems even more unstable for me now. Before the caller side was working OK, now with 6.0.14, that seems unstable as well.

[2020-10-17 15:32] dgreif commented on #569
@hthetiot

I'm getting conflicting impressions on whether or not you want to be paid 😅.

Again, I am sorry my comment came across as pretentious or entitled.  I was really just trying to add to the conversation by pointing out that Twilio isn't the only client that will need these features.  It is very likely that @calebboyd or I will add these features in a fork and open a PR in the near future.

[2020-10-17 15:33] hthetiot commented on #578
@pasmat can you test the PR there https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/585 (see instructions).
I confrimed the fix, but something odd is that existing application i have are working fine without this fix, only iosrtc-sample seem to be able to reproduce.

[2020-10-17 15:39] hthetiot commented on #583
arf thank you @AleksandarTokarev can you elaborate by what you mean by "even more unstable", this is not clear for me.
master is stable for me.

[2020-10-17 15:40] hthetiot commented on #583
Here is 6.0.13 vs master changes for references:
[6.0.13.diff.txt](https://github.com/cordova-rtc/cordova-plugin-iosrtc/files/5395948/6.0.13.diff.txt)

[2020-10-17 15:46] hthetiot commented on #576
Just to let you know, i want to also pass #585 in 6.0.14 to handle possible ios 14.0.1 crash; see #583
If you test #585 is also include #579 fix.
cc @pasmat @samgabriel @akilude @sboudouk

[2020-10-17 15:48] hthetiot commented on #583
I think your issue is only when you make multiple calls, and only relate to https://github.com/cordova-rtc/cordova-plugin-iosrtc/issues/575 that will be treated in 6.0.15

[2020-10-17 16:22] hthetiot commented on #569
You don't do PR for now anyway, only comments that distrup.

I judge people by there actions not by there words, contributions are always welcome.

Sure, only stupid people don't change their mind, I love to be proven wrong anyway.

[2020-10-17 16:24] hthetiot commented on #569
I only ban bad reporter and commenters, I always give them a chance to explain themselves. This days this is the only way I found to regular bad actors on open source project.

I will never bad a real contributor that do PR, contributors that make code are the most valuable actors.

[2020-10-17 16:26] AleksandarTokarev commented on #583
With the newest master version (which is supposed to be 6.0.14), the behavior is different as you can see in the video below.
Basically, the Remote Stream is not available at all (most of the time for both devices). After some calls, on the caller side, the Local Stream is not available as well
https://www.dropbox.com/s/ap7ibahzuacbbke/20201017_182151.mp4?dl=0

[2020-10-17 16:29] hthetiot commented on #569
@dgreif I did check the PR from your "team", I had to myself fix the indentation to complete the review in order to have a clean diff, I had to make a new PR to make things move faster, unfortunately too late for 6.0.14, can be part of 6.0.15

Once @calebboyd applied the review change (notably removing unused fonction he added) their is no reason for it not to be merged.

https://github.com/cordov

[2020-10-17 16:43] hthetiot commented on #583
Thank you @AleksandarTokarev that more clear to me, I will do what I can to fix this issue on 6.0.15

[2020-10-17 16:45] AleksandarTokarev commented on #583
@hthetiot
Here is a video of 6.0.11 behavior. Quite different than 6.0.14.
Here the Remote video is available first 2-3 times, but from 3-4th on, the Callee stream is not available at all
https://www.dropbox.com/s/qr0lx2vfxtevn12/20201017_184053.mp4?dl=0

[2020-10-17 21:18] hthetiot commented on #582
Its easy peasy in fact to add support for drawnimage if you understand how Javascript works.

Example:
[code]

I will make a PR for testing.

[2020-10-17 22:24] hthetiot commented on #582
Please try this PR see testing instructions:
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/587

[2020-10-17 22:25] hthetiot commented on #561
Please try this PR see testing instructions:
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/587

[2020-10-17 22:26] hthetiot commented on #561
Notice @shannah that your test was wrong even if the issue is correct:

This stop local video, causing both video to stop as expected in the sample because we send one video.

videos[1].srcObject.getVideoTracks()[0].stop();

After changes in #587, stoping remote video is not stoping local video anymore.

videos[0].srcObject.getVideoTracks()[0].stop();

[2020-10-17 22:26] #561 closed

[2020-10-17 22:27] hthetiot commented on #491
Please try this PR see testing instructions:

#587

[2020-10-17 22:27] hthetiot commented on #474
Please try this PR see testing instructions:

#587

[2020-10-17 22:27] #474 closed

[2020-10-17 22:28] hthetiot commented on #576
After you tried #585 if you still have the issue and you are not yet on iOS 14.0.1
Please try this PR see testing instructions: #587

[2020-10-17 22:29] hthetiot commented on #578
I'm closing for now, please comment if fix not working but it does for me.

[2020-10-17 22:29] #578 closed

[2020-10-17 23:05] hthetiot commented on #569
Please try this PR see testing instructions:

#587

[2020-10-17 23:07] hthetiot opened #589 "Implement RTCPeerConnection.addTransceiver"
#### Versions affected

* **Cordova version (e.g 7.1.0)**: N/A
* **Cordova iOS version (e.g 5.1.0)**:  N/A
* **Plugin version (e.g 6.0.12)**: 6.0.14
* **iOS version (e.g 10.2)**:  N/A
* **Xcode version (e.g 11.1 - 11A1027)**: N/A
* **WebRTC-adapter version  (e.g. 7.4.0)**: N/A
* **WebRTC Framework version (e.g. JSSip 3.1.2)**: N/A

## Description

Currently iosRTC DOES NOT support addTransceiver.

[2020-10-17 23:09] hthetiot commented on #583
@AleksandarTokarev can you try this PR https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/587
This , I think should change the behavior to a better result. Keep me posted.

[2020-10-17 23:12] hthetiot commented on #546
Updated to m87 @numerized see

Use WebRTC 4280 super fresh:
https://webrtc.googlesource.com/src.git/+log/refs/branch-heads/4280

Reference:
https://chromiumdash.appspot.com/branches

[2020-10-17 23:13] hthetiot commented on #546
note: I also restoted i368 and armv7

[2020-10-17 23:20] hthetiot commented on #555
@sboudouk I dont have any issue with 6.1.1, the otther black video you may have will be fixed on 6.0.15 see https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/587

[2020-10-17 23:20] #555 closed

[2020-10-18 00:14] hthetiot commented on #575
Please try this PR see testing instructions: #587

[2020-10-18 00:14] #575 closed

[2020-10-18 00:16] hthetiot commented on #469
Updated to M79

[2020-10-18 08:13] AleksandarTokarev commented on #583
I tried #587 @hthetiot , it loads the video on both sides all the time now.
Here is a video of how it works now.
https://www.dropbox.com/s/unc8e8v86u7gra5/20201018_100612.mp4?dl=0
One small comment which is not so important - but good if it can be addressed for better UI/UX - would be the black screen not to show initially (if it is possible - check the video in the comment).

Thanks a lot @htheti

[2020-10-18 09:13] hthetiot commented on #583
@AleksandarTokarev I think this PR will address the black screen background you see in your video. Will be merged soon.

https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/586

[2020-10-18 09:13] #583 closed

[2020-10-18 09:14] hthetiot commented on #583
Thank you for taking videos that was really useful to understand your issue, also nice UI.

Happy RTC.

[2020-10-18 09:29] AleksandarTokarev commented on #583
@hthetiot Is there a way to test #586  and #587 together before being merged into master?
Thanks a lot for all your help!!!!

[2020-10-18 09:31] hthetiot commented on #583
I can make a branch for you, give me a moment. Will notify you here.

[2020-10-18 09:43] hthetiot commented on #583
@AleksandarTokarev  Here is your branch (https://github.com/cordova-rtc/cordova-plugin-iosrtc/tree/AleksandarTokarev) with #586 and #587 together, notice that i have not tested #586 yet, you may try to set the background color of the video tags via CSS in your pages like this `video {background-color: purple; }` to test it.
[code]

How i did it, in case you want to do custom branch in the future:

[2020-10-18 09:44] hthetiot commented on #583
Feel free to add your company/app to https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/WHO_USES_IT.md  when you want :)

[2020-10-18 09:52] hthetiot commented on #425
6.0.14 is now released.
See changeslogs https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/CHANGELOG.md#version-6014

6.0.15 main PR is now on master.

[2020-10-18 09:56] hthetiot commented on #581
I released 6.0.14 that should cover some cases of #576
Please @manel-alonso try master, this PR #587 that landed should fix some of your issues:

[code]

[2020-10-18 09:57] hthetiot commented on #576
6.0.14 with #585 released and #587 landed on master.

[code]

[2020-10-18 10:21] AleksandarTokarev commented on #583
@hthetiot I tried the branch you created for #586 and #587 , it seems that the background-color stuff works fine, but the remote video is not available (as it was in the 6.0.14). Here is a video of that
https://www.dropbox.com/s/hzybgso1qmc51nz/20201018_121745.mp4?dl=0

[2020-10-18 10:40] hthetiot commented on #581
@manel-alonso vs @namello-zmtp avatar LOL

[2020-10-18 10:57] hthetiot commented on #583
Thank you @AleksandarTokarev, the version for you will actually be 6.0.15 aka master since I just landed #586 on master and released 6.0.14.

@calebboyd can you check the branch #586 and rebate on master, I suspect the issue is your "supervised" that break HTML over video.

[2020-10-18 11:10] hthetiot commented on #583
If you dont mind @AleksandarTokarev try master one most time to make sure we get same result as when you tested #587
Thank you, your testing help a lot.

[code]

[2020-10-18 11:10] AleksandarTokarev commented on #583
@hthetiot i tested the latest master (without the last commit u had made just now) and apart from the black screen initially, all looks good. Here is the commit that i tested with
![image](https://user-images.githubusercontent.com/6853997/96365783-43a06c00-1143-11eb-9215-c6104e95e1e9.png)

[2020-10-18 11:11] hthetiot commented on #583
Perfect, yes those commit are for README and sample and does not have impact for you.
I just fixed the jslint issue on render-and-libwebrtc-test.js ;)

[2020-10-18 11:13] AleksandarTokarev commented on #583
Thanks a lot for everything. If it is possible to fix the black screen in the future it would be great. Thanks a lot and let me know if i need to do some testing in the future :)

[2020-10-19 02:53] PeterXu commented on #506
This is good way and I will prepare a PR for it.

[2020-10-19 10:53] AleksandarTokarev commented on #583
@hthetiot We did some more thorough testing with our colleagues today and it seems that the problem still appears (But not as often). Before the changes -  after like 3rd time, the Callee video was not available in any sub sequent calls. Now this is not the case, which basically means maybe after 5-6 times, 7th maybe it wont appear (the Callee video), but after that it starts appearing again.

[2020-10-19 15:01] hthetiot commented on #583
Unfortunaly i do not reproduce using the iosrtc sample, what would really help to confirm this is an iosrtc issue would to create an index-apizee.js file in the sample to test the iosrtc sample with apizee.

See existing samples:
- https://github.com/cordova-rtc/cordova-plugin-iosrtc-sample/tree/master/www/js

Using JsSip and Local and EasyRTC i can make 20 calls without issues.

[2020-10-19 15:01] hthetiot commented on #583
Regarding yout black screen; you can also handle it by displaying a loader until you receive video event "canplay".

[2020-10-20 13:41] hthetiot commented on #506
You may merge master if you can, I landed a better track management in Peer injection @PeterXu

[2020-10-20 13:42] hthetiot commented on #506
https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/587

[2020-10-20 13:45] hthetiot commented on #589
Related: https://github.com/react-native-webrtc/react-native-webrtc/pull/773/files

[2020-10-20 14:55] GlausLivio commented on #491
I have tested replaceTrack in my application, sorry but it was not working for me.
After replaceTrack, I can still show front camera not back camera in local video view

[2020-10-20 15:00] GlausLivio opened #591 "JsSIP Audio/Video Mute question"
# Please read first!
Please use [Public Google Group (mailing list)](https://groups.google.com/forum/#!forum/cordova-plugin-iosrtc) for general technical discussions and questions.

- [ ] I have used Google with the error message or bug in association with the library and Cordova words to make sure the issue I'm reporting is only related to iOSRTC.
- [ ] I have provided steps to reproduce (e.g. sa

[2020-10-20 15:29] abardik commented on #591
I use jssip 3.4.6 in one of my projects, and mute/unmute works fine with iosrtc. As you can see in jssip's implementation of mute/unmute, it uses track.enabled to mute/unmute tracks, which is pure WebRTC API, not iosrtc's one. Anyway, RTCSession is jssip's class having nothing with WebRTC or iosrtc plugin, and therefore should not be implemented here.

Try to manipulate your localStream directly,

[2020-10-20 15:32] GlausLivio commented on #591
Thanks for your answer.
I will check it in my application.

[2020-10-20 15:33] GlausLivio commented on #591
For Android/broswer app, Can we use same code?

[2020-10-20 15:37] abardik commented on #591
Any client that supports WebRTC.

[2020-10-20 15:39] GlausLivio commented on #591
Thanks again

[2020-10-20 15:41] GlausLivio commented on #591
For Switch camera, could you help me again?

[2020-10-20 16:01] abardik commented on #591
It's complicated and depends on many things, such as what plan do you use (unified or plan-b), what approach do you use (replaceTrack, addTrack/removeTrack, etc), there are many ways to achieve this. It really depends, sorry. Try to use examples from MDN, it really helps:
https://developer.mozilla.org/en-US/docs/Web/API/MediaDevices/getUserMedia
https://developer.mozilla.org/en-US/docs/Web/API/RTC

[2020-10-20 16:05] samgabriel commented on #576
@hthetiot the Black screen and red screen issue in the screenshot above was actually also due to the version of WebRTC we updated our fork to version M84 and everything started working normally from iOS 14

[2020-10-20 16:27] GlausLivio commented on #591
Thanks very much

[2020-10-20 16:48] samgabriel commented on #576
@hthetiot we are going to test #585  and #587  without M84 then report back

[2020-10-20 17:05] samgabriel commented on #576
@hthetiot we just tested it from iOS 14 and we can see the video that was previously not displaying

[2020-10-20 17:26] samgabriel commented on #576
@hthetiot actually after updating the device with iOS 14 to version 6.0.14 the simulator is crashing again so definitely need the M84 version

[2020-10-20 21:58] samgabriel commented on #576
@hthetiot we tried to update the WebRTC to M84 but with this latest version no videos are showing up it is as if nothing is being published or received. any ideas?

[2020-10-21 06:43] GlausLivio commented on #591
I checked this document, I am now using replaceTrack function of RTPSender. but iosrtc video view  does not switch camera at that time. I checked iosrtc.js code but cannot find appropriate code for that.
How can I do that?
thanks

[2020-10-21 08:26] hthetiot commented on #576
Assuming you tested master.

[2020-10-21 08:27] hthetiot commented on #576
6.0.14 should not crash, you may check that you regenerated iOS, but 6.0.14 does not include black video fix, master or future 6.0.15 does.

[2020-10-21 08:28] hthetiot commented on #576
What did you test for M84 (task/8.0.0 branch), I updated to M87 this weekend.

[2020-10-21 08:28] hthetiot commented on #576
If you can just rest master that our target for this issue.

[2020-10-21 08:31] hthetiot commented on #591
ReplaceTrack just landed in master past weekend it is still a SHIM, and will be released with 6.0.15, don't ask when it will be released when related issues are closed or confirmed fixed by other reporters on other issues.

Please make sure to keep comments related to issues, this is not a forum, use Google group for that.

[2020-10-21 08:32] hthetiot commented on #591
Thank you @abardik , I will close this issue since this was the original issue topic.

[2020-10-21 08:32] #591 closed

[2020-10-22 05:53] abardik commented on #547
Hello @hthetiot, I have built the functionality of the bash script provided here into the [after_prepare](https://github.com/abardik/scripts/blob/main/after_prepare_2.js) hook. It can be used in iosrtc `plugin.xml` or (in my case) in the app's `config.xml`. Here is a build log:
[code]

But when I try to submit the resulted ipa to App Store, it rejects with the following two errors:
[code]

When I

[2020-10-22 17:01] mvaljento commented on #547
@abardik, I'm struggling with the same exact problem. Script seems to run (I'm logging out the results), but unable to submit the app via Transporter. I'm getting same errors as you. Are you using "after_prepare" hook?

This is my script which I run via the hook:

`module.exports = function (context) {

  const fs = require('fs');
  const path = require('path');
  const exec = require('child_proce

[2020-10-23 03:15] abardik commented on #547
@mvaljento Yes, I use after_prepare. I also tried after_compile and before_deploy, assuming maybe something else rewriting WebRTC binary after the after_prepare hook, but it seems like these two hooks are never fired on Ionic AppFlow. Please let us know if you make it works.

[2020-10-23 12:10] akilude commented on #576
@hthetiot Tried master, it seems to be fixed, works with addtrack/ontrack as well

[2020-10-23 15:02] #576 closed

[2020-10-23 15:03] hthetiot commented on #581
Closing, reopen if version 6.0.15 does not fix this issue.
Note: 6.0.15 will be released in coming hours.

[2020-10-23 15:03] #581 closed

[2020-10-23 15:06] hthetiot commented on #491
@GlausLivio that k you for testing.
ReplaceTrack should trigger `negotiationneeded` see implementation:
https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/js/RTCRtpSender.js

This should force your library to perform an ice restart and renegotiate to receive new stream

[2020-10-23 21:48] hthetiot commented on #491
Thank you again for testing, I understand this did not work for you, but can you confirm 1. you did not get an error, 2. You did update your locale stream to switch, You got negotiationneeded.

Also want version are you using master vs 6.0.14 ?

[2020-10-23 21:50] hthetiot commented on #491
https://github.com/cordova-rtc/cordova-plugin-iosrtc/commit/c0bfa9aa35ede70c5e5e4979250ec93dc1f8bc7d#diff-90a37269e2c73cda7b742c190542e775c6e2344c6f71e60ac1f1bf5b6511d6ca

Could be related to that change that landed on later and fix front/back due double front in the list

[2020-10-24 03:35] samgabriel commented on #576
@hthetiot sorry have been busy with other issues we will try master on the Monday and let you know. We tested with 6.0.14. You said you updated to M87 but the last commit on the lib/WebRTC shows updating to M69. Was that what you were referring to?

[2020-10-26 09:02] hthetiot commented on #116
6.0.15 support CanvasRenderingContext2D.drawImage on VideoElement with iosrtc MediaStream

https://github.com/cordova-rtc/cordova-plugin-iosrtc/commit/03e4a0db4bfbb5de14b613f978620f79322a105d

[code]

[2020-10-26 10:57] hthetiot commented on #589
Related: https://github.com/w3c/webrtc-pc/issues/2024

[2020-10-26 11:27] hthetiot commented on #425
6.0.16 released:
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/CHANGELOG.md#version-6015

should fix most of the back screen on tracks, provide Canvas Context drawImage, provide MediaStream/MediaStreamTrack Clone SHIM instead of SHAM.

[2020-10-27 18:35] samgabriel opened #592 "On more time; Using Twillio and 6.0.15 no videos remote videos are showing at ALL"
# Please read first!
Please use [Public Google Group (mailing list)](https://groups.google.com/forum/#!forum/cordova-plugin-iosrtc) for general technical discussions and questions.

- [X ] I have used Google with the error message or bug in association with the library and Cordova words to make sure the issue I'm reporting is only related to iOSRTC.
- [X ] I have provided steps to reproduce (e.g.

[2020-10-27 18:36] samgabriel commented on #592
@hthetiot  this is related to #576  not sure if we are doing something wrong but it seems completely broken now

[2020-10-28 01:40] samgabriel commented on #592
[iosrtc-6.0.15.txt](https://github.com/cordova-rtc/cordova-plugin-iosrtc/files/5449010/iosrtc-6.0.15.txt)
Incorrect log file was uploaded before. Here is the correct one

[2020-10-28 04:30] abardik commented on #547
I couldn't may it works, unfortunately. @hthetiot could you please add to 6.x+ the compiled version of libWebRTC without emulator architectures, like it was in 5.x `lib/libWebRTC-LATEST-Universal-Release.a`, to allow us to build App Store compatible ipa on Ionic AppFlow and similar build services? Thank you in advance.

[2020-10-28 08:31] hthetiot commented on #547
No you need to use https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/extra/ios_arch.js to remove the architectures. See https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/docs/Building.md#strip-simulator-archs-usage

It work with ionic on Travis. Regarding external Build Service support thye should have script capability like travis does:
- https://github.com/cordova-r

[2020-10-28 08:32] hthetiot commented on #547
That a bug on their side, if hook are not trigger it's their problem not our. Fill an issue on their side.

[2020-10-28 16:07] abardik commented on #547
I tried `ios_arch.js`, and @mvaljento tried it as well, as he explained above, but with the same result. The script does its job, extracts simulator architectures, but App Store rejects the final ipa with the following errors:
[code]

Ionic AppFlow has a script capability and runs `ios_arch.js` as an `after_prepare` hook.

[2020-10-28 17:50] gabrielenosso commented on #116
I just tried that but in Safari it gives me Type Error on "drawImage.apply(context, args);".

Any idea why?
In the debugger args seems correct: it's an array and the element 0 is a string "data:image...."

[2020-10-28 18:18] hthetiot commented on #116
@gefangenimnetz This is not made for Safari but for cordova, the img is not a string but an image tag loaded, also I have no idea if Safari support draw on video.

If you want really help with this issue please test with Cordova, you need to pass the proper argument (videoEl, 0, 0) but since you did not provided any details on what you exactly called it's impossible to know what to expect.

This s

[2020-10-28 18:26] gabrielenosso commented on #116
I am using Cordova, debugging the WKWebView with Safari.
Sorry, my message was not clear.

[2020-10-28 18:42] hthetiot commented on #116
@gabrielenosso looking into it one moment.

[2020-10-28 19:00] gabrielenosso commented on #116
To complete the information: I am using version 6.0.15.

Changing the line:
drawImage.apply(context, args);
To:
context.drawImage(img, 0 0);
works fine.

[2020-10-28 19:23] hthetiot commented on #592
....

[2020-10-28 19:27] hthetiot commented on #592
"@hthetiot we just tested it from iOS 14 and we can see the video that was previously not displaying"
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/issues/576

The problem is you said it was working for you, then said "tried to update the WebRTC to M84" without specific information on the branch used task/8.0.0 or 8.0.0-RC1 or 8.0.0-RC2....

And now you come back syaing its not working...

[2020-10-28 19:28] hthetiot commented on #592
"Using latest 6.0.15 no videos remote videos are showing at ALL" NO

"Using Twillio and 6.0.15 no videos remote videos are showing at ALL" YES

[2020-10-28 19:30] hthetiot commented on #582
Duplicate #116

[2020-10-28 19:31] hthetiot commented on #116
@gabrielenosso First, this issue is originaly closed.
Second, yes, I did pushed the fix on master already of img vs img.src.

Please comment on #582 not this issue.
Thank you.

Note: Regarding the background thread warning, I have a fix but it also create another error and also requestAnimationFrame will not be efficient with the current implementation.

[2020-10-28 19:32] hthetiot commented on #582
Fixed on master a98e6ada72138ef664d3a87f2d6631334edb1ecf

[2020-10-28 19:35] hthetiot commented on #582
Related https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/594

[2020-10-28 19:38] hthetiot commented on #592
@samgabriel I do ot pay for twillio, unless Im provided a api key for testing, and proper test to reproduce, i dont plan to spent more time on this.

[2020-10-28 19:38] hthetiot commented on #592
Please provide following informatio, if we ask for it there is a reason:

[code]

[2020-10-28 19:43] hthetiot commented on #582
[code]

Tested and working on master.

[2020-10-28 19:44] hthetiot commented on #582
cc @gabrielenosso

[2020-10-28 19:45] hthetiot commented on #582
[code]

[2020-10-28 19:47] hthetiot commented on #592
"@hthetiot actually after updating the device with iOS 14 to version 6.0.14 the simulator is crashing again so definitely need the M84 version"

No it does not, it work perferctly with 6.0.14 and IOS 14.0.1 as 6.0.15 does....
Not sure what and how you are testing.

[2020-10-28 19:51] hthetiot commented on #592
Its 2020 and Twilio still name all their stream with "default" instead of a clean UUID.
What a joke.

[2020-10-28 20:01] hthetiot commented on #592
To fix this issue, i need an twilio accoundSID and videoToken and authToken.
I will not pay twilio to fix an issue for an free open source package. That simple like that.

[2020-10-28 21:00] abardik commented on #547
@hthetiot I tried to remove different archs from libWebRTC in the after_prepare hook, and the script works properly successfully removing and repackaging the library with the differeny architectures. But the resulted ipa always contains the same size (~31MB) WebRTC file. It seems like something overwrites it after the simulator architectures already removed and before the library is copied to the

[2020-10-28 22:46] hthetiot commented on #116
#582 will be closed on 6.0.16 with the img fix. its on master already.

[2020-10-29 00:07] samgabriel commented on #592
@hthetiot I emailed you the API key and secret.  please find an email from sgabriel at brainfuse.com

[2020-10-29 00:15] hthetiot commented on #592
Received, thank you, i will look into it starting Friday night and perform a sprint on 6.0.16 to attempt to fix this last Twillio issue.

[2020-10-29 00:18] hthetiot commented on #547
Yes you need to add iOS platform after the architecture triming to update platform/ios content for binaries.

I may improve the script to update the already existing binary.

[2020-10-29 00:27] samgabriel commented on #592
So I spent sometime checking the logs last night it seems that in the previous versions there would be:
iosrtc:MediaStream emitConnected() and then that would fire the publication.on("subscribed")
and then call attachTrack above which adds the video.

[code]

But after the latest version
we get this  emitConnected and then nothing from Twilio.

[code]

[2020-10-29 01:09] abardik commented on #547
@hthetiot I tried this since it is obvious from the `.travis.yml` you provided earlier. But when I added the platform after the triming, the `after_prepare` hook has fired again and failed because there is nothing to trim already at that moment. I have to improve the script to check the existing archs in the library and avoid the second trimming. I will post the result here.

But this approach has

[2020-10-29 08:19] hthetiot commented on #547
note: Binaries are available here also https://github.com/cordova-rtc/iosrtc.webRTC.framework

[2020-10-29 10:45] gabrielenosso commented on #582
@hthetiot is this implementation performant?
I am asking cause you wrote yesterday that the current implementation was not.

If this is the case, this plugin is amazing and solves all problems on iOS, as you can have the video in a canvas and use it as a "common" DOM element.

[2020-10-29 11:08] fimdomeio commented on #582
@gabrielenosso I did not try this, but had tried before the
[code]
method. It did not seem performant at all. actually I could see the iphone killing the video for using too much resources.
I'm still going down the rabit hole with PeterXu fork which uses websockets to get the frames and send directly to a canvas. Seems to achieve a lot better performance.

[2020-10-29 11:10] gabrielenosso commented on #582
@fimdomeio If you can give me some more input, I could try to go deeper.

[2020-10-29 13:41] numerized opened #597 "Cannot read property '1' of null at getProjectName"
# Please read first!
Please use [Public Google Group (mailing list)](https://groups.google.com/forum/#!forum/cordova-plugin-iosrtc) for general technical discussions and questions.

- [X] I have used Google with the error message or bug in association with the library and Cordova words to make sure the issue I'm reporting is only related to iOSRTC.
- [X] I have provided steps to reproduce (e.g. sa

[2020-10-29 17:58] hthetiot commented on #597
Thx @numerized will fix asap

[2020-10-29 18:00] hthetiot commented on #597
@numerized just curious what MCU/SFU SIP server are hour using. I'm using Freeswitch.

[2020-10-29 18:11] hthetiot commented on #582
Try this tell us:
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/issues/582#issuecomment-718166983

[2020-10-29 18:12] hthetiot commented on #582
Yes but we have SHIM for that that what we use for now.

  canvasContext.drawImage(video, 0, 0);

[2020-10-29 22:24] hthetiot commented on #589
Related https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/cdfe684b4fd209ee9d942e5a4b6f02d295969f04/lib/WebRTC.framework/Headers/RTCPeerConnection.h#L118

See `didStartReceivingOnTransceiver:(RTCRtpTransceiver` and use of `RTCRtpTransceiver` that need to be implemented in PluginRTCConnection

[2020-10-30 01:52] IllusionVK commented on #592
Hey @hthetiot I just wanted to say thank you for your work on this.  We also are trying to use Twilio with iOSRTC (due to their size and scale they are the best choice for us) and so have been watching this and the previous thread from @samgabriel.  I'm not sure how we can help because you clearly have lots of skills in WebRTC area and we don't with native code..  i'm not sure if you have a way fo

[2020-10-30 14:48] hthetiot commented on #592
I plan do have a sprint this weekend but anyone that want to comple sample and what the reporter provided to reproduce using Safari debug on device (not emulator) and see where iosRTC shim does not provide or cause Twillio black screen. Some time it's an error that is hidden.

[2020-10-30 14:57] dgreif commented on #589
@hthetiot thanks for all the reference material.  I'm planning to start diving into this today.

[2020-11-03 03:46] stove654 commented on #592
Hi @hthetiot , thanks you so much for support fix plugin. i give you information bug on twilio

**Versions affected**

- Cordova version: 10
- Cordova iOS version: 6.1.0
- Plugin version: 6.0.15
- iOS version: 14.1
- Xcode version: 12.1
- WebRTC-adapter version: https://webrtc.github.io/adapter/adapter-latest.js
- WebRTC Framework version: twilio video 2.7.2

**File Index.html**
`<!DOCTYPE html>

[2020-11-03 04:00] IllusionVK commented on #592
Hey Harold @hthetiot, I asked Loi (@stove654) to do this work to try and help you. Please let us know if you need other things and we’ll see if we can help

[2020-11-03 07:51] IllusionVK commented on #592
And Harold @hthetiot  Loi created a quick repo to help get an app running faster.  Not sure if needed but here you go: https://github.com/stove654/demo-ios-rtc-twilio

[2020-11-03 09:19] GlausLivio commented on #491
I tested again, it was 6.0.14
Now, it shows local video correctly, when replaceTrack function called, local video is switched correctly.
but In remote side, video stream frozen. not working.
so 1. I did not get any Javascript side error
2. Yes, I got negtiationneeded

[2020-11-03 09:25] hthetiot commented on #592
Thank you, the sample in the issue work pretty well.

I did not have time to allocate to this issue, if any one want to give it a try in parallel. The issue is most likely due MediaStreamTrack and possibly Sender/Receiver related. It require to debug to determine the reason of the missing Sender or uncaught error if any.

[2020-11-03 09:27] hthetiot commented on #592
[Warning] 2020-11-03 – "03:54:53.189Z" – "|" – "WARN" – "in" – "[PeerConnectionV2 #1: c331e00f-b70e-42ed-aa59-ca8cadb8c668]:" (cordova.js, line 1413)

This is possibly the reason for the issue. I may have a fix for that.

[2020-11-03 09:29] hthetiot commented on #592
@stove654 thank you for your test, can you try with video only (no audio) to see if the error "The order of m-lines in answer doesn't match order in offer. Rejecting answer" is still present and if you receive video.

[2020-11-03 09:40] IllusionVK commented on #592
@hthetiot Loi has updated the example app (3-4 minutes after your messages here) so that it gets a twilio token to help with testing

[2020-11-03 09:47] stove654 commented on #592
@hthetiot i updated token from twilio, before it invalid sorry for it. but i try without audio. it return same problem. video not show in screen. can you pull new code on my repo and test again. just open app it will connect to twilio. i tested on
- web to web is ok
- web to ios: web is ok, ios not show video local and remote
- ios to ios: not show local and remote

[2020-11-03 13:38] hthetiot commented on #491
That progress, can you trigger a renegotiate?

[2020-11-03 17:11] samgabriel commented on #592
@hthetiot we never experienced that issue. I looked at the demo code and they are not forcing the use of plan-b . This issue looks like a unified plan mismatch.  @IllusionVK  I believe you need to add this line to the Twilio.Video.connect in order for it to work with ioswebrtc

[code]

[2020-11-04 08:24] stove654 commented on #592
Hi @samgabriel , i updated my code https://github.com/stove654/demo-ios-rtc-twilio. I try test now audio working well but video remote show black screen. i'm not saw any error log in debug safari. On your project, Can it work video remote?

[2020-11-05 14:16] numerized commented on #597
Hi @hthetiot, I'm just using a signaling server for the moment:
https://github.com/muaz-khan/RTCMultiConnection-Server

with
https://global.xirsys.net/

[2020-11-05 15:58] fimdomeio commented on #582
@hthetiot, @gabrielenosso, Trying the example above appears to work quite well in terms of framerate. I see a continuous memory increase (until app crashes), that appear to be caused by `canvasContext.drawImage(video, 0, 0)`;

[2020-11-05 19:16] samgabriel commented on #592
No it is not working now about the 6.0.15 update. It was working with issues on 6.0.14. You can use our fork which is working normally. it is a 6.0.14 plus the #579  and updating WebRTC to M84  https://github.com/Brainfuse/cordova-plugin-iosrtc/releases/tag/7.0.0

[2020-11-06 08:54] hthetiot commented on #582
See https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/594

I think there is a memory leaks...

[2020-11-06 19:42] samgabriel commented on #592
Hi @hthetiot just wondering if you had a chance to look into this issue?

[2020-11-08 12:25] hthetiot commented on #597
@ @hthetiot you can use Freeswitch to live stream on Youtube/Twitch/FB/Linkedin ;)

[2020-11-08 12:28] #597 closed

[2020-11-08 12:28] hthetiot commented on #597
Fix has landed on master see b8528e8

[2020-11-08 12:30] hthetiot commented on #582
memory leaks Related:
- https://stackoverflow.com/questions/19124503/uigraphicscontext-memory-leak
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/src/PluginMediaStreamRenderer.swift#L247

[2020-11-08 12:40] hthetiot commented on #582
@fimdomeio can you try this PR (see testing instruction), this should solve memory leak:
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/600

[2020-11-08 15:10] hthetiot commented on #592
No, I don't have the time for allocating a big debug session for now. Please don't ask again. You may try to debug yourself or ask help from other Twillio user until I have bandwidth to allocate.

[2020-11-08 15:13] hthetiot commented on #592
If so, you just have to found what was changed, I don't think it has anything to do with M84 BTW, also branch 7.0.0 is on M79, and finally from 6.0.14 to 6.0.15 I don't expect changes to be the real reason.

You can also try to apply commits from 6.0.14 to 6.0.15 to understand what changes caused it to break.

[2020-11-08 16:05] hthetiot commented on #592
Notice that https://github.com/Brainfuse/cordova-plugin-iosrtc/releases/tag/7.0.0 does not match 7.0.0 at all, it's still use M69, and only contains partial 6.0.14.

You cannot use M8x or M7x with that branch since the webRTC implementation changed.

Note: 7.0.x use WebRTC M7x and 8.0.x use m8x

[2020-11-08 16:21] hthetiot commented on #592
Try to upload a diff (txt file) of your work "6.0.14" compare to 6.0.14 actual tag and master, that may help.

[2020-11-08 16:34] hthetiot commented on #592
Also you use M69... NOT 84...
See your own git history: https://github.com/Brainfuse/cordova-plugin-iosrtc/commit/e274983094f7fce2149e624ecdd2f7090dfe8c66#diff-fad31137025bce8fb7bf842213c70f98560c9b163ae153732166b8ba8ce72d7c

[2020-11-08 16:46] hthetiot commented on #592
SEE PR for diff https://github.com/Brainfuse/cordova-plugin-iosrtc/pull/1/files?diff=split&w=1

[2020-11-08 16:51] hthetiot commented on #569
@henritoivar can you check #592

[2020-11-08 16:52] hthetiot commented on #592
That weird that you miss this fix:  https://github.com/cordova-rtc/cordova-plugin-iosrtc/commit/d8d9b7bc66482b98279c731a98b75182c3af3640#diff-16cedf80ade01c62bdd1ae931d0492330c0b62bf294c08c095ce2fab21a9298d

https://github.com/cordova-rtc/cordova-plugin-iosrtc/compare/task/8.0.0...Brainfuse:7.0.0#diff-1a65abd52bd140a16020d66ef172e1ba833c7ce0eb3fff54136c75fa62c31ae0R494

[code]

can you try to appl

[2020-11-08 17:05] hthetiot commented on #592
I dont understand how you can have m84 without swift modifications, that should not works:
- https://github.com/Brainfuse/cordova-plugin-iosrtc/compare/7.0.1...cordova-rtc:task/8.0.0

[2020-11-08 17:13] hthetiot commented on #592
Diff with laster vs 7.0.1 fork
[master.diff.txt](https://github.com/cordova-rtc/cordova-plugin-iosrtc/files/5506822/master.diff.txt)

[2020-11-10 10:34] numerized opened #601 "Fatal error: Unexpectedly found nil while unwrapping an Optional value: file XXXXXXX/PluginMediaStreamTrack.swift, line 123 (lldb)"
# Please read first!
Please use [Public Google Group (mailing list)](https://groups.google.com/forum/#!forum/cordova-plugin-iosrtc) for general technical discussions and questions.

- [X] I have used Google with the error message or bug in association with the library and Cordova words to make sure the issue I'm reporting is only related to iOSRTC.
- [X] I have provided steps to reproduce (e.g. sa

[2020-11-10 13:06] hthetiot commented on #601
Interesting, i will check it may be due some of the specific tests you did "testing and simulating a lot of bad network / network losses and airplane mode on and off between two iOS phones"

Still this error should not append, I will investigate.

[2020-11-10 13:07] hthetiot commented on #601
Related https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/src/PluginMediaStreamTrack.swift#L123

[2020-11-10 13:43] hthetiot commented on #589
[code]

[2020-11-10 13:45] hthetiot commented on #589
Other RTCPeerConnection property and methods that you can use are:
[code]

[2020-11-10 13:49] hthetiot commented on #592
pls @samgabriel @stove654 check previous msgs

[2020-11-10 13:52] hthetiot commented on #592
My issue with missing M84 header in a branch named 7.X reserfved for M7X is here:
- https://github.com/Brainfuse/cordova-plugin-iosrtc/compare/7.0.1...cordova-rtc:task/8.0.0

Still, if a regression was introduced that made it not working unless using Brainfuse branch then its in there.

[2020-11-10 15:59] dgreif commented on #589
Thanks for the additional info @hthetiot.  I started diving into the code for this yesterday, wrapping my head around all the changes needed.  Should make some good progress today.

[2020-11-10 22:48] samgabriel commented on #592
@hthetiot the tag that works for us is version 7.0.0 master and 7.0.1 was an attempt to use the cordova-ios-rtc master with the M84. 7.0.1 is broken. You are also comparing the current branch task/7.0.0 against our branch. But task/7.0.0 has more commits now.

In any case the issue is not our branch vs your branch. The issue is that 6.0.14 worked but master does not show any videos at all. Trust m

[2020-11-10 23:22] samgabriel commented on #592
@hthetiot regarding the previous comment about the DataTrack. The events are getting dispatched to the  web layer. However it seems that none of the twilio handlers are called. So that could mean that twilio never saw the track or the listeners that were added were somehow removed. or may be when clone or replace was called the listeners didn't get copied over. Bottom line is the emit method find

[2020-11-10 23:27] samgabriel commented on #592
@hthetiot also regarding test each commit. some commits didn't have the js file updated like this for example https://github.com/cordova-rtc/cordova-plugin-iosrtc/commit/aaf420d72f6168f51665991934a97206376aa9f7 is there an easy one line command to do cordova remove and cordova plugin add which will also repackage the js file? or how would you go about testing each commit?

[2020-11-11 00:51] samgabriel commented on #592
@hthetiot ok so we went and tested the various commits. Commit https://github.com/cordova-rtc/cordova-plugin-iosrtc/commit/39d33dadd08cf5f934bb274f71f69a816beefa53 is the last one that works. Next testable commit 830682f6a899538881d9bb7f8222bd5cde9d6514 (previous commits lead to build errors) does not work. Here is the diff https://github.com/cordova-rtc/cordova-plugin-iosrtc/compare/39d33dadd08cf

[2020-11-11 08:13] hthetiot commented on #592
@ samgabriel

`npm run build`will compile all js/*.js files to create www/cordova-plugin-iosrtc.js

See https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/package.json#L32

[2020-11-11 18:32] samgabriel commented on #592
@hthetiot yeah i figured this out but it was not starting. In anycase all the commits in between didn't have a js file change. So it is still a valid test. So the problem happens because of one of these changes https://github.com/cordova-rtc/cordova-plugin-iosrtc/compare/39d33dadd08cf5f934bb274f71f69a816beefa53...830682f6a899538881d9bb7f8222bd5cde9d6514

Let me know if I can get you any more info

[2020-11-11 18:37] neeact opened #603 "Audio not working when connecting iOS <> iOS"
# Please read first!
Please use [Public Google Group (mailing list)](https://groups.google.com/forum/#!forum/cordova-plugin-iosrtc) for general technical discussions and questions.

- [x] I have used Google with the error message or bug in association with the library and Cordova words to make sure the issue I'm reporting is only related to iOSRTC.
- [x] I have provided steps to reproduce (e.g. sa

[2020-11-11 18:47] numerized commented on #601
thanks Harold

[2020-11-11 19:02] samgabriel commented on #592
@hthetiot After writing the previous comment, I was able to find the problem. The issue is this change in https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/830682f6a899538881d9bb7f8222bd5cde9d6514/src/PluginMediaStream.swift#L21-L26 if the code is changed to
[code]

And in https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/830682f6a899538881d9bb7f8222bd5cde9d6514/src/PluginMediaStre

[2020-11-12 08:57] hthetiot commented on #601
#602 fixed your issue @numerized ?

[2020-11-12 09:00] hthetiot commented on #603
OnTrack is more future proof.

Also you may want to check iosRTC audio output APIs like cordova.plugin.iosrtc.turnOnSpeaker

https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/docs/iosrtc.md#iosrtcturnonspeaker

[2020-11-13 07:37] mattkhaw commented on #603
@neeact The audio might be muted. Just try to turn on the speaker and see what happens.

@hthetiot I've tried ontrack before on iOS. It just doesn't work because Safari doesn't have that event. May I know which version of iOS has ontrack event?

[2020-11-13 08:12] oscarvadillog commented on #449
Hey @hthetiot, any update on this? ❤️

[2020-11-13 09:05] neeact commented on #603
@mattkhaw we are using the speaker on/off api but this is a different thing - no audio whatsoever is exchanged between the devices (but the audio tracks are there.

We will be working on this issue today full time to try to understand what's happening (this is the only issue remaining that is preventing us from publishing our app, so it's critical or us) and I will keep this post updated with the

[2020-11-13 09:59] hthetiot commented on #603
not sure but try https://github.com/webrtcHacks/adapter#webrtc-adapter

[2020-11-13 10:03] hthetiot commented on #592
Thank you @samgabriel after reading some of the diff i suspected it might be the issue.
Let me review your comment and make a PR now.

[2020-11-13 10:12] hthetiot commented on #592
you are back on next release 6.0.16
Can you test this PR: https://github.com/cordova-rtc/cordova-plugin-iosrtc/issues/592

TLDR

Fix #592

# Testing

To test `bugs/MediaStreamUUID` branch
[code]

[2020-11-13 10:15] hthetiot commented on #582
please confirm the fix #600 solve your issue @fimdomeio
I need this to release 6.0.16 we waiting for you.

See https://github.com/cordova-rtc/cordova-plugin-iosrtc/issues/582#issuecomment-718166983
cc @ namello-zmtp @gabrielenosso

[2020-11-13 10:17] hthetiot commented on #601
Please @numerized I need you to test this PR to release 6.0.16 thx.

TLDR

# Testing

To test `bugs/PluginMediaStreamTrack.eventListener` branch
[code]

[2020-11-13 12:28] hthetiot commented on #449
lol nope @oscarvadillog

[2020-11-13 12:32] hthetiot commented on #603
If you did not have the issue prior 6.0.14+ you may try that PR https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/604

[2020-11-13 14:53] neeact commented on #603
Update:
after further testing we realize that the problem has to do with the application **_receiving_** the call going from background to foreground releases the audio.

Scenario is as follows:

2 iOS devices (A & B), both are online (with app loaded & active)
iOS device (A) ---> calls ---> iOS device (B)
iOS device (B) answers call
call is established. both peers have 2 tracks with video & audio

[2020-11-13 15:29] neeact commented on #603
Update:
when the app goes to foreground (and audio is released), nothing is printed in the XCode log...
so something must be happening down in the iOS dungeons.

[2020-11-13 16:08] neeact commented on #603
Probably after call is established we need to reload the CDVWebViewEngine - will try this now.

[2020-11-13 16:14] fimdomeio commented on #582
@hthetiot On it. Just stuck on xcode update and a not so fast internet connection. will give feedback ASAP.

[2020-11-13 18:19] neeact commented on #603
@hthetiot is there any function that is called when the app comes from the background to the foreground? (or from inactive to active)?
txs!

[2020-11-13 23:25] dgreif commented on #589
@hthetiot sorry for the delay, I took a day off and then had to rework this a couple times to get it as close to spec as possible.  I'm very close, but hit an issue when compiling that I can't find a fix for.  I'm guessing it's related to the webrtc header files (maybe related to missing `RTC_EXPORT` on `RTCRtpTransceiverInit`), but I don't use swift enough to know what might be causing this:

![i

[2020-11-14 10:49] hthetiot commented on #589
No need to apologise, take all the time you need.

Regarding `RTCRtpTransceiverInit` not sure I can help without running the PR myself feel free to push a PR with Work in progress.

Another point I want to raise is you may check that task/8.0.0 branch since it contains a more recent version of WebRTC.

[2020-11-14 13:26] fimdomeio commented on #582
From my testing #600 does not fix the leak.
In the next few days I'll be posting a sample project so we can all be sure we're looking at the same code. It's pretty much the same as the example posted above just fixing some minor bugs.

[2020-11-15 14:06] dgreif commented on #589
The `8.0.0` header file for transceivers _does_ include the [`RTC_OBJC_EXPORT ` annotation for `RTCRtpTransceiverInit`](https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/task/8.0.0/lib/WebRTC.framework/Headers/RTCRtpTransceiver.h#L34-L35), so hopefully that means it's properly set up for use.

If you want to try debugging it a little in v6, you can add this line to any of the bridge method

[2020-11-16 02:51] mattkhaw commented on #603
I'm using the same adapter but I need to check whether it is the latest version or not. The library might be updated with this. I'll check it out.

[2020-11-16 02:53] mattkhaw commented on #603
For that, I think your only detection method is through Cordova's pause/resume functions.

[2020-11-16 09:32] hthetiot commented on #603
There is supposed to be cordova events for that.

But on the background audio side, do you use background-mode plugin here https://github.com/katzer/cordova-plugin-background-mode

The iosRTC sample does use it to allow audio when app is minimized in background on iOS.

[code]
https://github.com/cordova-rtc/cordova-plugin-iosrtc-sample/blob/master/www/js/common.js#L654

[2020-11-16 10:31] numerized commented on #601
I'll test this tonight thanks

[2020-11-16 12:52] fimdomeio commented on #582
My sample test project is at https://github.com/fimdomeio/iosrtc-example

And the leak:
<img width="1652" alt="Captura de ecrã 2020-11-16, às 10 53 05" src="https://user-images.githubusercontent.com/705133/99254558-71440800-280a-11eb-89ac-dbf7765d7151.png">

We got to the point where we realised that the memory leak disapears if in src/PluginMediaStreamRenderer.swift on the save function
https:/

[2020-11-16 13:49] hthetiot commented on #582
This help, keep you posted @fimdomeio

[2020-11-16 15:47] MeherBa commented on #603
Hello, how can test [this](https://webrtc.github.io/samples/src/content/getusermedia/volume/) with cordova-rtc/cordova-plugin-iosrtc?

[2020-11-16 16:59] samgabriel commented on #592
@hthetiot we already tested that and it works for incoming tracks but for outgoing tracks they are not showing up on the other side.

[2020-11-16 18:11] dgreif commented on #589
@hthetiot I confirmed it builds successfully when rebased on the 8.0.0 branch.  Based on the 8.0.0 requirement, and the fact that I used typescript for the front end files, I'm not sure exactly how I should PR this.  Would you like me to do it against the 8.0.0 branch and include everything in master + typescript?

[2020-11-16 20:00] hthetiot commented on #589
@dgreif we could step 1 release Typescript in 6.1.0, step 2 rebase master in tasks/8.0.0 then merge your Transceiver.

Did you try 7.0.0.

[2020-11-16 20:01] hthetiot commented on #592
That may be a separate issue.

[2020-11-17 12:35] neeact commented on #603
Dear all,
thank you so much for your inputs - really helpful.

This issue is gone now.
We did a refactor of the call flow specifically for iOS.
Despite we don't know exactly what was causing the issue, let me explain the changes we did:

The call flow that we were using and that was causing the audio not working between iOS devices was divided in 2 steps:
 - step 1: device A calls device B. Call i

[2020-11-17 12:35] #603 closed

[2020-11-17 15:03] hthetiot commented on #589
We can do that.

[2020-11-17 23:22] samgabriel commented on #592
@hthetiot  there is also another issue with the stop method i added the comment to the pull request

[2020-11-18 02:01] samgabriel commented on #592
@hthetiot Regarding the Local Stream not showing while debugging I noticed that twilio calls clone which works as expected but then MediaStreamTrack_setListener is called twice for the original MediaStreamTrack and the cloned one. Not sure if this is the issue but that is what I have found so far.

[2020-11-18 08:06] hthetiot commented on #592
Ok thank you for debug, i will investigate and let you know when the PR is updated.

[2020-11-18 17:57] #601 closed

[2020-11-18 17:58] hthetiot commented on #601
Merge #602 on master.

[2020-11-19 03:39] samgabriel commented on #592
@hthetiot I was able to find the root cause for the cloned local tracks not being visible on the other side. Can you please checkout the code in https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/605 and let me know if anything else that needs to be done.

Thanks
Sam

[2020-11-19 08:13] MeherBa commented on #603
@hthetiot can you give a try with [Big blue button](https://test.bigbluebutton.org/) please? i'm unable to make it working.

[2020-11-19 08:46] hthetiot commented on #592
@samgabriel congratulation and thank you.
I have reviewed the PR and I'm fine with your changes.
I will test your PR and if all goes well i will merge on master.

Thank you for your contribution, I'm glad you taken the time and understand what was the issue and assist youself

[2020-11-19 09:01] hthetiot commented on #603
@MeherBa first you are out of topic, create a separate issue please next time. Second i tested with FS and SIP.js and BBB use FS (Freeswitch) and it works perfectly.

Second, I'm not at your disposal to test stuff :)

[2020-11-19 09:03] hthetiot commented on #589
@dgreif This PR will land on master soon and may impact your Transceiver implementation depending how you coupled it with tracks.

https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/605

[2020-11-19 09:36] hthetiot commented on #582
I changed issue title cause 6.0.14 has drawImage(video) support, but its not usable via RequestFrameAnimation due memory leak. I need to release #605 first via 6.0.16

[2020-11-19 11:46] hthetiot commented on #592
Merged #605  on master

Related #576

[2020-11-19 11:48] hthetiot commented on #592
@samgabriel can you test master, i will myself make some test with Cordova-plugin-iosrtc-sample and extras/*-tests.js

Then I will ask other menber of the community to test master or even RC before making changelogs and publish.

We can then release 6.0.16

[2020-11-19 11:49] hthetiot commented on #576
The last know Twillio issue should have been fixed on #605

Can you test @akilude we kept Janus fix in place also.

[2020-11-19 11:50] #569 closed

[2020-11-19 11:51] hthetiot commented on #569
The last know Twillio issue should have been fixed on #605 that has landed on master target is 6.0.16

Can you test @sboudouk  @henritoivar  @dgreif  we kept Janus fix in place also.

[2020-11-19 12:19] hthetiot commented on #592
Feel free to make PR and add your company name or project here , last goes top.
https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/WHO_USES_IT.md
@samgabriel

[2020-11-19 17:25] samgabriel opened #606 "Local stream not being sent after MediaStream release"
# Please read first!
Please use [Public Google Group (mailing list)](https://groups.google.com/forum/#!forum/cordova-plugin-iosrtc) for general technical discussions and questions.

- [x ] I have used Google with the error message or bug in association with the library and Cordova words to make sure the issue I'm reporting is only related to iOSRTC.
- [ x] I have provided steps to reproduce (e.g.

[2020-11-19 19:21] akilude commented on #576
Hi @hthetiot will test this weekend, BTW, apple is adding GUM support to wkwebview https://youtu.be/BkJ_NzFLqXo?t=3717

[2020-11-19 22:28] dgreif commented on #576
I updated to iOS 14.3 beta 2 and can confirm that gUM and WebRTC work flawlessly without the plugin. Thanks for sharing the fantastic news @akilude!!  For anyone else trying it out, you will want to add `<preference name="AllowInlineMediaPlayback" value="true" />` to your `config.xml` if you don't have it in there already.

[2020-11-20 08:30] #606 closed

[2020-11-21 00:27] numerized commented on #601
testing as we speak, I'll know more about it next week

[2020-11-23 11:00] hthetiot commented on #592
@samgabriel can you test master and close the issue if fixe is confirmed.
Also make sure to make PR with 'npm run build' result to update www/ build in the future, i did updated on master the www/ build aleady and prepared CHANGELOGS.
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/CHANGELOG.md#version-6016

[2020-11-23 11:03] hthetiot commented on #582
memory leaks for video to canvas wil be addressed in 6.1.1

[2020-11-23 12:37] hthetiot commented on #422
[code]

[2020-11-23 14:55] c3bola opened #610 "unsupported architectures"
App Store Connect Operation Error
Unsupported Architectures. The executable for X.app/Frameworks/WebRTC.framework contains unsupported architectures '[i386, x86_64]'.

[2020-11-23 15:12] cah-dunn commented on #610
https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/docs/Building.md#apple-store-submission

[2020-11-23 15:25] #610 closed

[2020-11-23 15:26] hthetiot commented on #610
@c3bola see documentation link provided above by @cah-dunn

Thx @cah-dunn

[2020-11-23 20:55] akilude commented on #576
@hthetiot tested latest master, Janus streams work well, but remote peer to peer video streams are black. This issue occurring with master, on 0.6.15 it works fine.

[2020-11-24 04:23] RSATom commented on #482
@hthetiot maybe it's dumb question, but I'm newbie in using iosrtc plugin so can't understand possible obvious thing - are getCapabilities|getSettings was implemented in iosrtc only as empty stubs just to avoid exceptions on runtime or I should search real implementation somewhere else?

[2020-11-24 06:26] samgabriel commented on #592
@hthetiot i confirm it is fixed

[2020-11-25 10:55] numerized commented on #601
seems to work well!

[2020-11-25 10:56] hthetiot commented on #601
Thx @numerized master I'll be released as 6.0.16 in the next 24 hours i think.

[2020-11-25 16:19] samgabriel commented on #592
@hthetiot i confirm it is working

[2020-11-25 16:19] #592 closed

[2020-11-25 20:28] hthetiot commented on #482
Comment on closed issue is a sine @RSATom please create separate issue. But to answer this methods are SHAM (fake) for now.

[2020-11-26 10:02] dileeprp13 opened #611 "remote video problem with kurento server"
In iOS remote video is not getting displayed and the media tracking also fails so that when remote peer disconnects the video element not removing

[2020-11-26 12:50] hthetiot commented on #611
@dileeprp13 why you did not report properly the versions and answser requirements?
Why would I help you since you decided that providing information requested was not necesarry.

https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/.github/ISSUE_TEMPLATE.md

[2020-11-26 12:50] #611 closed

[2020-11-26 12:51] hthetiot commented on #611
Also Kurento is not in active support in third party library.

[2020-11-27 11:43] hthetiot commented on #611
6.0.17 may solve some MediaStream issues. test master or wait for 6.0.17 release.

[2020-11-27 19:17] hthetiot commented on #589
@dgreif let me know if you want me to help. Feel free to push draft PR of work in progress.

[2020-11-27 19:35] hthetiot commented on #582
Try master or wait for 6.0.17 see #609

[2020-11-27 19:35] #582 closed

[2020-11-27 20:42] hthetiot commented on #551
@bkervaski can you test 6.0.16 and if still not fixed comment to reopen. See previous comments for fix master and releases.

[2020-11-27 20:42] #551 closed

[2020-11-27 20:48] hthetiot commented on #547
Related https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/558

[2020-12-02 18:09] DaveLomber commented on #491
Hi @hthetiot,

I have a quick clarification regarding current 'replaceTrack' implementation

Is it intended to have it work via 'onnegotiationrequired'?

I just checked the MDM documentation and it says the method works without additional negotiation - it just replaces a track and the receiver party started to get new track immediately, w/o additional logic

Could you please clarify it. Thanks

[2020-12-04 15:06] yohan-pannet-bbo commented on #547
Hi @abardik & @mvaljento
I'm using appflow too and was struggling with this issue too.
I've used the **before_plugin_install** hook (which is called before each plugin install) and add a condition around @mvaljento script:
`<platform name="ios">
    <hook type="before_plugin_install" src="cordova_hooks/before_iosrtc_plugin_install.js" />
</platform>`

`
module.exports = function(ctx) {

    if (ct

[2020-12-04 16:12] abardik commented on #547
@yohan-pannet-bbo Thank you for sharing this. @hthetiot Ionic AppFlow is the only option for former Phonegap Build (discontinued) users to build their projects without a massive refactoring. Maybe it's a good idea to add this solution to https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/docs/Building.md#apple-store-submission
Thank you.

[2020-12-04 17:16] sachakh commented on #583
Hello, I'm from Apizee. Thanks for checking this issue.
Looks like the problem is because remote stream object is released too early somewhere between Swift and JS.
Just to test I attached new stream to the global var here:
`PluginRTCPeerConnection:peerConnection(_ peerConnection: RTCPeerConnection, didAdd stream: RTCMediaStream)`
and it fixes the issue at first sight.

Need to continue this inves

[2020-12-05 15:35] blukis commented on #547
Using VoltBuilder (another PhoneGap Build alternative)... they don't support custom hooks, I believe, unless they're integrated into the plugin.  Any chance we could get this hook integrated into the plugin itself?

[2020-12-07 19:50] hthetiot commented on #611
If this issue is updated with required information  https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/.github/ISSUE_TEMPLATE.md it may be reopened.

[2020-12-07 19:53] hthetiot commented on #491
We may be able to deal with that more like the chrome implementation, for now the SHAM require to handle negotiationneeded to be used and yes renegotiate.

Once transceiver or ever if it take too much time it may be implemented without

[2020-12-07 19:54] hthetiot commented on #491
We may be able to deal with that more like the chrome implementation, for now the SHAM require to handle negotiationneeded to be used and yes renegotiate.

Once transceiver or ever if it take too much time it may be implemented without negotiationneeded and renegotiating that why I leave that issue open for now.

If someone can handle negotiationneeded what ever third party library used to see if

[2020-12-11 18:55] mosatch opened #614 "Malformed event dispatch on negotiationneeded"
Dispatch event is being called with a string and an event, but distpatchEvent just expects an event.

https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/2e0a6719e9e70c0f5810ed3780558e042409f6b9/www/cordova-plugin-iosrtc.js#L2816

[2020-12-11 21:57] mosatch commented on #614
#615

[2020-12-14 09:04] hthetiot commented on #614
See PR review here https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/615#pullrequestreview-551163452

[2020-12-15 18:07] hthetiot opened #616 "Bad video positioning when zooming"
Using iOSRTC 6.0.17 (master) if user zoom the positioning the video is invalid. The his apply to any iOS version.

To reproduce downloads Sylaps drop App Store join a room and pick to zoom on media settings.

See Capture attached.

![image](https://user-images.githubusercontent.com/8635/102254283-b9893f80-3f08-11eb-94b7-624609c78722.png)

[2020-12-15 20:05] danielehrhardt opened #617 "Ionic z-index < 0 No Video Visible"
# Please read first!
Please use [Public Google Group (mailing list)](https://groups.google.com/forum/#!forum/cordova-plugin-iosrtc) for general technical discussions and questions.

- [ ] I have used Google with the error message or bug in association with the library and Cordova words to make sure the issue I'm reporting is only related to iOSRTC.
- [ ] I have provided steps to reproduce (e.g. sa

[2020-12-16 21:21] danielehrhardt commented on #617
https://forum.ionicframework.com/t/make-webview-transparent/193686/6

[2020-12-16 21:21] #617 closed

[2020-12-17 01:21] Gregadeaux opened #618 "iOS 14.3 getUserMedia fails"
# Please read first!
Please use [Public Google Group (mailing list)](https://groups.google.com/forum/#!forum/cordova-plugin-iosrtc) for general technical discussions and questions.

- [x] I have used Google with the error message or bug in association with the library and Cordova words to make sure the issue I'm reporting is only related to iOSRTC.
- [x] I have provided steps to reproduce (e.g. sa

[2020-12-17 01:33] Gregadeaux commented on #618
Addition: Does not seem to be related to twilio-video at all. If you do `navigator.mediaDevices.getUserMedia` you get the error.

[2020-12-17 02:19] Gregadeaux commented on #618
`navigator.webkitGetUserMedia` does successfully execute inside this plugin though.

[2020-12-17 15:13] hthetiot commented on #618
please provide "I have provided steps to reproduce", you need to make sure you call "cordova.plugins.iosrtc.registerGlobals();" before loading twilio client javascript.

See registerGlobals:
https://github.com/cordova-rtc/cordova-plugin-iosrtc-sample/blob/master/www/js/common.js#L639

Then Inject twilio Client.
https://github.com/cordova-rtc/cordova-plugin-iosrtc-sample/blob/master/www/js/index-tw

[2020-12-17 15:18] hthetiot commented on #618
Justed tested iosrtc sample with index-local.js, no issue the issue is from bad twilio+iosrtc usage or new twilio+iosrtc issue.

[2020-12-17 15:28] Gregadeaux commented on #618
I will try and run the sample, but as stated in a comment, I have removed twilio from the test and am seeing the same error. I do not receive that error on lower versions of iOS with the same app. So it is unrelated to twilio.

This is what is in my app.component.ts constructor

[code]

[2020-12-17 17:57] hthetiot commented on #618
Let me recheck

[2020-12-17 22:03] hthetiot commented on #618
iOS 14.3 does bring getUserMedia support to WKWebview see https://bugs.webkit.org/show_bug.cgi?id=208667

We may need to perform better feature detection but over time you should not need this plugin to call egisterGlobals

You need to request the permission properly, must likely using dedicated iosRTC api may work see request permission api see https://github.com/cordova-rtc/cordova-plugin-iosrtc

[2020-12-17 23:31] hthetiot commented on #618
Tested Sylaps App on iOS 14.3 and works without changes from the store.

I think you just need to use the permissions API I mentioned prior.

Officials Apple note for 14.3 https://webkit.org/blog/11353/mediarecorder-api/

[2020-12-17 23:50] hthetiot commented on #618
Permissions capture on Sylaps ios and working on iOSRTC 6.0.16

![image](https://user-images.githubusercontent.com/8635/102557132-ca81ae80-40ca-11eb-8dae-d8a1b1f27148.png)
![image](https://user-images.githubusercontent.com/8635/102557137-ce153580-40ca-11eb-899d-e73066210fce.png)
![image](https://user-images.githubusercontent.com/8635/102557144-d1a8bc80-40ca-11eb-8762-9901178e3d79.png)
![image](htt

[2020-12-17 23:54] #614 closed

[2020-12-18 08:41] hthetiot commented on #618
@Gregadeaux , please confirm the issue with the sample, i confirmed using my app aka Sylaps for ios and it works see capture above.

[2020-12-18 08:43] hthetiot commented on #491
implementing "negotiationneeded" is part of Perfect negotiation in WebRTC:
https://blog.mozilla.org/webrtc/perfect-negotiation-in-webrtc/

Notice that @RSATom fixed a negotiationneeded bug here and its landed on master https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/619

[2020-12-18 11:25] SzymonWS commented on #618
I'm facing the same issue on iOS 14.3. My Ionic App uses 6.0.16 version of plugin. When I call `navigator.mediaDevices.getUserMedia({video: false, audio: true});`  I get an error:

What's interesting - when before getUserMedia I call requestPermisson function, I get info, that permission is approved.

What's also interesting - when I run my app on --debug, there is no problem. Problem occurs, on t

[2020-12-18 16:42] Qvadis commented on #618
Facing the same problem here since the last software upgrade (iOS 14.3).

We are not using twillio, but we are getting the getUserMedia error as well.

[2020-12-18 16:51] samgabriel commented on #618
Same here

[2020-12-18 17:11] samgabriel commented on #618
@hthetiot  you need to try to stop sharing and then start the sharing again that is when it happens. On the second call to getUserMedia

[2020-12-18 18:26] samgabriel commented on #618
@hthetiot this is not an iosrtc issue. I think apple screwed something up. even if we completely disable registerGlobals the problem still happens with the new builtin getUserMedia

[2020-12-18 21:28] pethessa commented on #618
We are seeing the same issue and see this on the device console (despite it saying in JS that permissions are granted). Has anyone filed a bug with apple, if so what is the tracker#?

![imgpsh_mobile_save](https://user-images.githubusercontent.com/15984930/102663028-014cd880-414e-11eb-972f-81268c0404c7.jpg)

[2020-12-18 22:14] samgabriel commented on #618
@pethessa no we haven't yet. Can you and post it here pls

[2020-12-19 09:17] IgorVNC commented on #618
Same issue

Going to try to request the permissions as explained here https://github.com/cordova-rtc/cordova-plugin-iosrtc/issues/618#issuecomment-747729234

[2020-12-20 10:00] hthetiot commented on #506
@PeterXu merged master here https://github.com/PeterXu/cordova-plugin-iosrtc/commits/master

[2020-12-20 15:16] SzymG commented on #618
I solved problem in my case. I've done everything as @hthetiot said, including _requestPermission_ etc, but it wasn't still working. My problem was, that I called registerGlobals() in app.component.ts, when app started. When I added _registerGlobals()_ also to the service, where i called _getUserMedia_ everything worked as I expected. App asked me for additional permission, but problem was solved.

[2020-12-21 08:49] IgorVNC commented on #618
Hmm,
tried to use permissions request but did not help - getting same as described here https://github.com/cordova-rtc/cordova-plugin-iosrtc/issues/618#issuecomment-748033871

[2020-12-21 09:47] IgorVNC commented on #618
As a side note (not a solutiuon to the issue):

I have rechecked the https://developer.apple.com/documentation/avfoundation/cameras_and_media_capture/requesting_authorization_for_media_capture_on_ios

'Verify and Request Authorization for Capture' section

There is a proper implementation of 'notDetermined' case:

[code]

which I think should be implemented in  'cordova-plugin-iosrtc' as well
@hth

[2020-12-21 10:18] IgorVNC commented on #618
I think the issue somehow related to secure https restrictions for getUserMedia,
as described here https://bugs.webkit.org/show_bug.cgi?id=208667#c63

[2020-12-21 10:29] AleksandarTokarev commented on #618
I am getting this error here on getUserMedia call.
[code]
We are using meteorjs + cordova.
@IgorVNC  i am not sure if this could be related to our issue,  but we get this prompt
![image](https://user-images.githubusercontent.com/6853997/102767412-d1851700-437f-11eb-875b-a4c7cc102f93.png)
After Allow, we get the error above.

[2020-12-21 11:05] IgorVNC commented on #618
Ok, I think I found a solution

and it's basically related to my above comment with Cordova secure access to 'getUserMedia' and to  @SzymG  comment  https://github.com/cordova-rtc/cordova-plugin-iosrtc/issues/618#issuecomment-748620749

While debuggin, I realized that the plugin's getUserMedia implementaton is not used https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/src/iosrtcPlug

[2020-12-21 11:05] hthetiot commented on #618
If you get permission issue it's most likely you are not using getUserMedia from iosRTC but from WKWebview, you need to make sure you call
registerGlobals prior using getUserMedia or directly use cordovaplugins.iosrtc methods in the plugins namespace.

See how he resolved his issue by changing registerGlobals call:
https://github.com/cordova-rtc/cordova-plugin-iosrtc/issues/618#issuecomment-748620

[2020-12-21 11:05] IgorVNC commented on #618
@hthetiot you are right,
just explained the same in https://github.com/cordova-rtc/cordova-plugin-iosrtc/issues/618#issuecomment-748915355

[2020-12-21 11:07] hthetiot commented on #618
[code]
Yes could be related to adapter.js check sample we inject adapter and library after registration of SHIM via registerGlobals.

See sample boostrap here: https://github.com/cordova-rtc/cordova-plugin-iosrtc-sample/blob/master/www/js/common.js#L630

[2020-12-21 14:59] hthetiot commented on #618
@Gregadeaux it has been confirmed that you need to make sure to call registerGlobals to expose SHIM at the right time.

Note on people that think this plug-in is not useless: you need to be on an https page, not the case with localhost unless debug. Meaning this plug-in is still useful.

[2020-12-22 13:17] numerized opened #621 "Deactivating an audio session that has running I/O. All I/O should be stopped or paused prior to deactivating the audio session"
# Please read first!
Please use [Public Google Group (mailing list)](https://groups.google.com/forum/#!forum/cordova-plugin-iosrtc) for general technical discussions and questions.

- [X] I have used Google with the error message or bug in association with the library and Cordova words to make sure the issue I'm reporting is only related to iOSRTC.
- [X] I have provided steps to reproduce (e.g. sa

[2020-12-22 19:58] samgabriel commented on #592
@hthetiot it looks like https://github.com/cordova-rtc/cordova-plugin-iosrtc/commit/62b81de77ec67ae84d0f8ca4c7317462e10c950d was not included in 6.0.16 would you be able to add that commit please. This is a real issue that breaks the project

[2020-12-23 08:52] hthetiot commented on #592
@samgabriel arf, can you confirm master if so I will release 6.0.17

[2020-12-24 00:51] samgabriel commented on #592
@hthetiot it is not on master i don't know how that happened. You can search for "inactive"

[2020-12-24 00:55] samgabriel commented on #592
@hthetiot nvm i removed that check for some reason on Nov 19th https://github.com/cordova-rtc/cordova-plugin-iosrtc/commit/c16dd97477a48c92538228c364093e56d12fedca#diff-1a65abd52bd140a16020d66ef172e1ba833c7ce0eb3fff54136c75fa62c31ae0

[2020-12-24 19:08] hthetiot commented on #592
Ok @samgabriel i will check next week

[2020-12-25 00:06] samgabriel commented on #592
@hthetiot oh no need to check I made a mistake. All Good

[2020-12-26 03:56] RSATom commented on #491
@hthetiot don't think #619 is my merit...

[2020-12-26 20:13] hthetiot commented on #491
Ye

Yeah I'm at confused with another merge/fix

[2020-12-27 17:28] numerized commented on #621
Hope you can help on this @hthetiot, it's really key in our business model, we can make a donation too.
Would love to be in touch with you directly sometimes to be guided to submit PRs.

[2020-12-28 09:07] hthetiot commented on #621
Thank you for report @numerized , I think the issue is that WebRTC.Framework controls the audio "recording" used for streaming, that also why you only get permissions once peer connect and not when stream start.

I will investigate the WebRTC.Framework source to see what can be done.

If you need help to make PR:
1. Fork this repository
2. Clone your fork
3. make a new branch
4. make changes and c

[2020-12-28 20:48] numerized commented on #621
ok I see, I can see track stops and then this `All I/O should be stopped or paused prior to deactivating the audio session.` I was trying a lot of little hacks to not stop tracks and make iOS think it's still going but no success so far.

[2021-01-02 19:26] numerized commented on #621
Hi Thierry, do you have a little idea where I can start to fix this ?
Really need to get this done in the next days all the previous attempts are not successful.
Any help is welcome.

[2021-01-04 15:36] hthetiot commented on #621
(my name is Harold not Thierry ;)

@numerized You need to get the WebRTC.Framework source code and make the fixes there.
You can find more information to build WebRTC.Framework here: https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/docs/BuildingLibWebRTC.md

I would also invite you to test M79 and M87 WebRTC build here, they may already include the fix you looking for:
- https://gi

[2021-01-04 15:51] hthetiot commented on #621
@numerized feel free to contact me at "hthetiot at sylaps.com" if you think you need consulting to implement your fix.

[2021-01-04 18:05] numerized commented on #621
Hi Harold,

(me and names...)

Thanks for your feedback, I'm going to try this next weekend once back to work!
I'll let you know if I need consulting on this one!

[2021-01-04 21:22] hthetiot commented on #621
@numerized I did merge master on #545 and #475 to get all the last fixes also on those WebRTC.framework updates.

[2021-01-04 22:39] numerized commented on #621
That's really cool, I'll let you know if those are solving our issue. Thanks

[2021-01-05 12:13] er1cAk opened #622 "TypeError in getDescription function - SIP.js implementation"
# Please read first!
Please use [Public Google Group (mailing list)](https://groups.google.com/forum/#!forum/cordova-plugin-iosrtc) for general technical discussions and questions.

- [x] I have used Google with the error message or bug in association with the library and Cordova words to make sure the issue I'm reporting is only related to iOSRTC.
- [x] I have provided steps to reproduce (e.g. sa

[2021-01-05 12:24] hthetiot commented on #622
How about using JsSIP instead of shitty SIP.js that is a fork of JSSip initialy.
JSSip work perferctly for me and If i recal you issue you have an SDH error that is similar to this issue on Sip.js (https://github.com/onsip/SIP.js/issues/864)

- https://groups.google.com/g/cordova-plugin-iosrtc/c/qS4xQdrN6es

[2021-01-05 12:27] hthetiot commented on #622
Note: can also be related to iOS 14.3 and the fact that you call iosrtc.registerGlobals to late or too early.

[2021-01-05 13:13] er1cAk commented on #622
Reproduced on iOS 13.3. I fixed the problem of calling iosrtc.registerGlobals to late or too early. It is not related to this problem.

[2021-01-07 05:26] The-Actual-Damien opened #624 "W3C"
[https://w3c.github.io/w3process/](https://w3c.github.io/w3process/)

[2021-01-08 11:50] simmunoz commented on #547
hi friends, i have the following problem since i update to xcode 12.3

"Building for iOS, but the built-in framework 'WebRTC.framework' was created for iOS + iOS Simulator"

[2021-01-08 15:17] dgreif commented on #547
@simmunoz I ran into the same problem yesterday and got it working again by following the steps here: https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/docs/Building.md#strip-simulator-archs-usage

[2021-01-08 16:23] simmunoz commented on #547
@dgreif

Thanks friend, but now I have the following errors :(

-  CompileSwift normal arm64 /Volumes/Externo/Proyectos/buildingclerk-movil/platforms/ios/BuildingClerk/Plugins/cordova-plugin-iosrtc/PluginEnumerateDevices.swift
-         CompileSwift normal arm64 /Volumes/Externo/Proyectos/buildingclerk-movil/platforms/ios/BuildingClerk/Plugins/cordova-plugin-iosrtc/PluginMediaStreamRenderer.swift

[2021-01-08 16:58] dunnky commented on #547
@simmunoz what does it show when you run `node ios_arch.js --list`?

To be clear, what you should have ran from @dgreif's suggestion is:
[code]

[2021-01-08 17:49] simmunoz commented on #547
node ios_arch.js --list
List WebRTC architectures...
WebRTC: Mach-O universal binary with 2 architectures: [arm_v7:Mach-O dynamically linked shared library arm_v7] [arm64]
WebRTC (for architecture armv7):        Mach-O dynamically linked shared library arm_v7
WebRTC (for architecture arm64):        Mach-O 64-bit dynamically linked shared library arm64
List WebRTC files...
-rwxr-xr-x   1 simonmunoz

[2021-01-08 23:35] numerized commented on #621
I've tried the latest

`cordova plugin add https://github.com/cordova-rtc/cordova-plugin-iosrtc#task/8.0.0 --verbose`

removed cordova ios and added back

The issue is still present.
I'll write you an email real quick

[2021-01-11 09:23] agelito commented on #589
@hthetiot @dgreif Hello, I've been trying to implement support for addTransceiver as well. I've made some WIP progress (based of task/8.0.0 branch) and wonder if any of you would like to take a look at it? I'm not very experienced with neither Cordova or WebRTC in general, but I've been trying to follow the existing code style and practices.

I don't want to step on anyone's toes (@dgreif ) but si

[2021-01-11 11:08] hthetiot commented on #589
thx @agelito feel free to make PR

[2021-01-11 11:44] agelito commented on #589
@hthetiot Thanks, I created this draft PR: https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/625

[2021-01-11 11:59] hthetiot commented on #624
@The-Actual-Damien   Or you stupid and cannot read, or even worse you disrespectful and past a link expecting maintener to figure out. Both case you are the type of person a qualify "Cancer or Open Source".

[2021-01-11 11:59] #624 closed

[2021-01-11 12:21] simmunoz commented on #547
@dgreif, please ..

it still does not work despite following the steps

**node ios_arch.js --list
List WebRTC architectures...
WebRTC: Mach-O universal binary with 2 architectures: [arm_v7:Mach-O dynamically linked shared library arm_v7] [arm64]
WebRTC (for architecture armv7): Mach-O dynamically linked shared library arm_v7
WebRTC (for architecture arm64): Mach-O 64-bit dynamically linked shared

[2021-01-11 15:52] dgreif commented on #547
@simmunoz sorry I can't help more.  Those stepped worked for me, but it looks like you are hitting a different issue now.

[2021-01-11 16:19] hthetiot commented on #547
This does not contains the actual error but the command that have errors, errors details should be below this lines.

Also, try iosRTC-sample app here to validate that your environnement is properly setup https://github.com/cordova-rtc/cordova-plugin-iosrtc-sample

Finally, without the actual errors is difficult to understand what is your issue, you need to provide iOS, Xcode versions (full versio

[2021-01-11 16:20] hthetiot commented on #547
Notice this issue is not supposed to be support for user that have build issue, create separate issue or your message will be hide/delete for out of topic.

[2021-01-11 16:26] simmunoz commented on #547
@hthetiot

perfect I will create a new theme with this problem, the truth is that I have this problem since updating to xcode 12.3

[2021-01-11 22:18] numerized commented on #621
I have found a workaround, therefore I'm closing this for now.

I now detect that the audio session has changed, when it changes I check how many people are on the call, if the number of people on the call is 0 and the room is in a recording, I stop and start gracefully another recording, then app does its magic and all works fine.

[2021-01-11 22:18] #621 closed

[2021-01-12 00:20] numerized commented on #551
Hello here,
the audio is still low volume at the end of a session and is ducking all other apps volume until we hard quit the app.
Thanks for your initial post @bkervaski
I tried to

[code]

not helping, I remember previously in6.0.12 all was ok back then.
I even downgraded because of this precisely.

[2021-01-12 00:22] numerized commented on #551
I'm on IOSRTC 8, I'll now try 6.0.16

[2021-01-12 00:50] numerized commented on #551
yeah I confirm the audio is still low volume at the end of a session on 6.0.16
I'm now going to try with 6.0.12

[2021-01-12 01:47] samgabriel opened #626 "xcode 12 now complains about unsupported architectures even for simulator"
# Please read first!
Please use [Public Google Group (mailing list)](https://groups.google.com/forum/#!forum/cordova-plugin-iosrtc) for general technical discussions and questions.

- [X ] I have used Google with the error message or bug in association with the library and Cordova words to make sure the issue I'm reporting is only related to iOSRTC.
- [ X] I have provided steps to reproduce (e.g.

[2021-01-12 02:18] samgabriel commented on #626
@hthetiot please checkout this pull request and let me know your thoughts. Thanks
Sam Gabriel

[2021-01-12 02:34] j4hangir opened #628 "Not implemented Error for MediaStreamTrack.getConstraints|applyConstraints"
According to the [changelog-6.0.12](https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/CHANGELOG.md#version-6012):

`Add Throw Error Not implemented for MediaStreamTrack.getConstraints|applyConstraints`

The library I'm using invokes `getConstraints` and throws an error with message "Error: Not Implemented" which I assume is this change. Is there a way to go around this, and is this

[2021-01-12 02:43] RSATom commented on #628
Did you try latest version? There is no `throw` there anymore.

[2021-01-12 02:53] j4hangir commented on #628
I'm using `^6.0.16`. Is that the only place an *Error: Not Implemented* occurs?

[2021-01-12 02:55] j4hangir commented on #628
Aren't these the unimplemented functions?

https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/190b697b8c849d08340425e4226c27c7d89c40d6/js/MediaStreamTrack.js#L77

[2021-01-12 02:56] j4hangir commented on #628
By latest did you mean https://github.com/cordova-rtc/cordova-plugin-iosrtc/tree/8.0.0-RC2 ?

[2021-01-12 03:05] RSATom commented on #628
Ah.. you are right. I've mix up with `getCapabilities`...

[2021-01-12 03:08] j4hangir commented on #628
I don't see the same wrappers in the newer branch, hopefully they're working now!

Will test.

[2021-01-12 03:13] RSATom commented on #628
No, I was wrong, `throw` is still there...

[2021-01-12 11:19] hthetiot commented on #622
Hum ok, do you set plan-b nd other settings properly? Like this https://github.com/cordova-rtc/cordova-plugin-iosrtc-sample/blob/master/www/js/index-jssip.js#L88

Please try to run the sample by updating www/index.html to use index-jssip instead of index-local.

[2021-01-12 17:36] simmunoz commented on #547
**thanks for your help, but your ego is not an valid answer for me**

[2021-01-12 18:17] hthetiot commented on #547
"thanks for your help, but your ego is not an valid answer for me"

First, you completely out of your mind,  if the issue was ego i would not even reply to you.

@simmunoz You did not provided the "actual" error message and you talk to me about ego? If you cannot make the difference between and error command result and and error message, we cannot help you and I suggest you change job.

Your issue

[2021-01-12 18:22] hthetiot commented on #547
@simmunoz is banned for 30 days disrespectful attitude toward the maintainer and creating noise and complaining instead of making productive comments.

[2021-01-12 18:48] Hackroro commented on #547
Where is the respect then? First you tell him that the problem is between the chair and the keyboard and now you ban him because he said that you have responded from your ego. Is it fair that you can insult him for free, if he comes for help?

I think your sense of sanity should be analyzed. Would you tell your mother that she doesn't know how to install an office, that the problem is between the

[2021-01-12 19:04] hthetiot commented on #547
@Hackroro read the message here again:   https://github.com/cordova-rtc/cordova-plugin-iosrtc/issues/547#issuecomment-758062149

I did provide information that the actual errors was not provided, i did suggest to try sample app for confirmation of plugins conflicts and environnement.

Having an issue between the chair and the keyboard is common, even for me, this should not be taken as an insult b

[2021-01-12 19:09] hthetiot commented on #547
@Hackroro you get ban also because I don't have time to deal with people that don't contribute in a meaningful way to the project and I here to take side or leave comments that simply don't provide any value to the project.

[2021-01-13 10:27] numerized commented on #618
I've successfully managed it by following @IgorVNC advice:
What I tried then is to call 'registerGlobals' right when a user press a 'call' button and it helped (!).

To be more precise, I've added registerGlobals() right before getUserMedia is required.

[2021-01-13 13:14] numerized commented on #618
Oh and make sure it is not called nowhere before, for example, I use RTCMultiConnection.js, the thing it that they added their own registerGlobals inside their lib, and therefore I had to remove the whole thing where they want to declare cordova.iosrtc for us.

[2021-01-13 15:40] j4hangir commented on #343
I am getting this error, the lib works fine in browser, yet throws this error in iOS.

[2021-01-13 16:07] j4hangir commented on #343
The iosrtc is already globally registered, just-in-case I also used a direct call, the error is still thrown.

[2021-01-13 16:24] j4hangir opened #629 "RTCPeerConnection.addTrack must be an instance of MediaStreamTrack"
Follow up from #343, getting the exact error:

The iosrtc is already globally registered, just-in-case I also used a direct call, the error is still thrown.

[2021-01-13 18:19] hthetiot commented on #629
Please update your issue to match required information and checkbox. https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/.github/ISSUE_TEMPLATE.md

Im pretty sure you have a conflicts between the SHIM and the real WebRTC.

Since I don't have this issue, you need to provide way to reproduce and all information required by issue template your did ignore on purpose.

[2021-01-13 18:21] hthetiot commented on #618
Good to know @numerized

[2021-01-13 18:23] j4hangir commented on #629
Sure I will update the issue.

P.s. That'd be good news if it's only a conflict, although I don't understand, on WebKit there's no WebRTC, how would that be?

[2021-01-13 18:23] hthetiot commented on #618
Related https://github.com/muaz-khan/RTCMultiConnection/issues/712#issuecomment-451124390

[2021-01-13 18:26] hthetiot commented on #618
Related https://github.com/apizee/ApiRTC-mobile/issues/15#issuecomment-750828422

[2021-01-13 18:32] hthetiot commented on #629
There WebRTC on WKWebview since iOS 13.
The gUM was missing now on ios 14.3 gUM is available, but will only works with https not cordova localhost, unless you know how to get cordova server on https ;)

[2021-01-13 18:35] hthetiot commented on #628
If you need quick fix just overide prototype of each function to implement a SHAM.

I will see if I can help and solve the SHAM (not SHIM) for next release.

[2021-01-13 19:05] abardik commented on #629
(off topic, sorry)

It's possible to serve Cordova app from the regular https server by adding the following to config.xml:

`<content src="https://example.com/path/"/>`

But to use Cordova API and plugins in your app also add this:

`<plugin name="cordova-plugin-remote-injection" spec="https://github.com/insideAppSupport/cordova-plugin-remote-injection.git"/>`

which will load Cordova and plugins

[2021-01-13 19:11] hthetiot commented on #629
You don't need all of ;) but I'm happy is that work for you and thx for sharing.

[2021-01-13 19:29] j4hangir commented on #629
That's one hell of a workaround for something apple doesn't care to fix 😒😀 good to know though, would be handy if all else fails 👍🏻

@hthetiot
I had followed the discussion on WebRTC implementing for WebKit on their website, but the thread was rather contradictory, it's good to know for certain what's implemented and what's not.

[2021-01-13 19:33] j4hangir commented on #628
I modified the JS to not call `getConstraints` and got that one through. I didn't even find a call to `applyConstraints` though and no sure what this method was supposed to return in the first place.

A SHAM most likely will suffice.

[2021-01-13 19:54] hthetiot commented on #628
Thank you @j4hangir i suspect webrtc-adapter

[2021-01-14 01:17] j4hangir commented on #629
Thanks @hthetiot for pointing me to the right direction, I confirm there was a conflict bw WebKit's implementation and iosrtc 👍🏻

[2021-01-14 01:17] #629 closed

[2021-01-14 12:33] hthetiot commented on #618
Finally found the issue, it look like webrtc-adater is overiding navigator.mediaDevices object even after registerGlobals, causing to use native getUserMedia instead of SHIM. Solution is to freeze navigator.mediaDevices to prevent webrtc-adater to overide.

[code]

[2021-01-14 12:39] hthetiot commented on #618
Fixed on master, please try master to confirm:
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/commit/8d45a81123beb1ecc1d5e4c6e4e4d8d58c10ba11

[code]

[2021-01-14 12:45] hthetiot commented on #628
See 7058105 for getConstraints/applyConstraints

[2021-01-14 12:45] #628 closed

[2021-01-14 12:47] hthetiot commented on #622
See https://github.com/cordova-rtc/cordova-plugin-iosrtc/issues/618#issuecomment-760168061

[2021-01-14 12:47] #622 closed

[2021-01-14 12:49] hthetiot commented on #618
Please @samgabriel @numerized @IgorVNC you may test master to confirm the fix our add line from 8d45a81 to see if that fix the issue.

Once confirmed i will release 6.0.17 https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/CHANGELOG.md#version-6017

[2021-01-14 13:15] hthetiot commented on #626
I need more time @samgabriel , for now following documentation works.
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/docs/Building.md#strip-simulator-archs-usage
I think i will merge after 6.0.17 release.

Thank you for your contribution.

[2021-01-14 15:03] hthetiot commented on #618
The fix is not perfect, will continue to test and improve.

[2021-01-14 16:02] neeact commented on #618
Same problem in our app on iOS 14.3.
Solved it by calling registerGlobals() right before requesting the getUserMedia.

@hthetiot should we also update the iosRTC stack to the latest release as you mention previously?
(just asking because it's working now with the above fix...)

[2021-01-14 16:22] neeact commented on #618
Just tested build 6.1.17 **without** calling registerGlobals() before getUserMedia and the problem persists...
When calling registerGlobals() before getUserMedia problem is solved.

[2021-01-14 16:33] hthetiot commented on #618
Thank you @neeact

I will get this bitch, i will keep you posted here.

[2021-01-14 16:34] hthetiot commented on #618
I want to move on, but i also want keep thing stable before updating webRTC.framework

6.1 will have some changes and I want to go to 7 and 8 right after. Check milestones for details.

[2021-01-14 16:53] neeact commented on #618
Thank you @hthetiot !

[2021-01-19 18:09] numerized commented on #618
Ok I'm now starting the 8d45a8

[2021-01-20 11:07] hthetiot commented on #618
alright, after much debugging, i conclude that `webrtc-adapter` override navigator.mediaDevices even if the `webrtc-adapter` is injected before or after calling registerGlobal, the initial workaround is to call every time `cordova.plugins.iosrtc.registerGlobals` every time before you call `navigator.mediadevices.getUserMedia`.

Here is the fix i tested for iosRTC
[code]
see: https://github.com/cor

[2021-01-20 17:35] hthetiot commented on #618
Once the fix is confirmed fixed on master by at least 2 users, i will release 6.0.17 the last 6.0.x, will follow 6.1 with Typescript, 7.0.0 with WebRTC 79 then 8.0.0 with WebRTC 84+, thr goal is to keep 6.0 as LTS then once 8.0 is stable push for migration. Look at milestones for details of the planned releases.

[2021-01-20 17:36] hthetiot commented on #618
Please @Gregadeaux can you test master, that you issue and lot of people helped, may be you can help confirm that fix :)

Cc @samgabriel please test, if confirmed you PR will land on master aka  6.1 after 6.0.17 release with that fix.

[2021-01-20 17:39] #491 closed

[2021-01-20 17:47] hthetiot commented on #506
PR is here https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/623

[2021-01-21 10:23] neeact commented on #618
Tested the below fix right after registerGlobals() and it works like a charm:

All the best,
-ct-

[2021-01-21 11:33] hthetiot commented on #618
Thank you @neeact

I also got a report by email that the fix is working, that enough for me I will release.

[2021-01-21 11:34] #618 closed

[2021-01-21 11:46] hthetiot commented on #618
Released on npm and git tag as 6.0.17 see CHANGELOGS.md for details:
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/CHANGELOG.md#version-6017

Next release is 6.1.0 see details:
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/milestone/21

[2021-01-22 23:28] numerized commented on #618
Hello there,

I'm on the latest version 6.0.17 and when I have a loss of wifi or network switch or simply I disconnect / reconnect the same call without relaunching the app I get this

`Attempting to change value of a readonly property.`

<img width="1116" alt="Screenshot 2021-01-23 at 00 27 20" src="https://user-images.githubusercontent.com/166829/105559543-c40dd480-5d11-11eb-8a91-68e6cc5dd3f5.pn

[2021-01-23 02:06] danielehrhardt commented on #576
Same Problem here.
with 6.0.15 it does work.
with 6.0.16, 6.0.17 it does not work

iOS 14.3

i am using RTC Multiconnection

[2021-01-23 11:45] hthetiot commented on #576
@danielehrhardt this issue is fixed and had nothing to do with Janus see #605, instead of commenting on a closed issue a problem that even look similar is not the same problem is a waste of time for me and does not respect the people that reported and respected the topic.

Crate a separate issue. Finally I'm not here to fix your issue and do all the work. You can make a diff between 6.0.15 and 6.0

[2021-01-23 11:47] hthetiot commented on #618
@numerized , before anything you should understand your usage of iosRTC, and here is simply appears you cann registerGlobals multiple time... I did not need to debug to understand that, it make sense, please try do a minimum of research before coming here and report a problem.

[2021-01-23 11:50] hthetiot commented on #576
Create separate issue, this issue is related to Twillio and is not closed.

[2021-01-24 08:59] mattkhaw opened #632 "Turning on speaker doesn't seem to transmit audio to remote party"
# Please read first!
Please use [Community Forum](https://github.com/cordova-rtc/cordova-plugin-iosrtc/discussions) for general technical discussions and questions.

- [x] I have used Google with the error message or bug in association with the library and Cordova words to make sure the issue I'm reporting is only related to iOSRTC.
- [ ] I have provided steps to reproduce (e.g. sample code or upd

[2021-01-24 15:36] derwaldgeist commented on #626
I have the opposite problem. If I try to run the app on a real device, the build breaks with this message:

```Building for iOS, but the embedded framework 'WebRTC.framework' was built for iOS + iOS Simulator.``
`

Would the script fix this problem, too? I am not talking about submitting the app to the store, as the documentation linked above refers to. I just want to start my app from Xcode.

[2021-01-24 16:12] nonbinaryinput commented on #626
Xcode 12.3

In my case I solved this problem by simply setting Validate Workspace to Yes in the Build Settings tab

![GGKrR](https://user-images.githubusercontent.com/77930636/105636173-54a9f900-5e67-11eb-8d58-23037a5a8c04.png)

[2021-01-24 16:49] hthetiot commented on #626
@derwaldgeist

Did you also remove and add platform after using the script ? I bet you did not...

@nonbinaryinput thx, never heard or had to use this setting before.
Could be realted to other plugins you may use.

[2021-01-24 16:55] hthetiot commented on #626
@derwaldgeist

Yes if you follow the documentation properly to generate DEVICE OR SIMULATOR, then you can replace the WebRTC.Framework directly but best is to remove and add platform again.

The documentation is clear about that and that always been like this and only people that dont follow the documentation prooperly have issue getting the right build:
https://github.com/cordova-rtc/cordova-plug

[2021-01-24 17:10] hthetiot commented on #626
Work for me on device (using --device) or simulator (using --simulator)  using latest iosrtc IF i remove and add ios platform AGAIN like the fucking doc is saying.

Here is the proof. No need "Validate Workspace" or "xcframework".

<img width="1625" alt="Screenshot 2021-01-24 at 18 08 33" src="https://user-images.githubusercontent.com/8635/105637758-5a0b4180-5e6f-11eb-897f-789f05e1772e.png">

[2021-01-24 17:14] hthetiot commented on #632
I cannot reproduce this issue using the sample application.
YOU DID NOT "provided steps to reproduce (e.g. sample code or updated extra/renderer-and-libwebrtc-tests.js file)."

Unless you do i will close this issue, see sample app here that works as expected:
- https://github.com/cordova-rtc/cordova-plugin-iosrtc-sample/blob/master/www/js/common.js#L579

[2021-01-24 17:16] derwaldgeist commented on #626
Yes, I did. But since I am using Meteor, this doesn't help. Even if I remove and re-add the platform, nothing happens. The framework still includes all architectures.

However, I found a solution to this now, developing my own Cordova plugin that applies the patches automatically:
https://github.com/guzzio/cordova-plugin-iosrtc-framework-patch

Adding this as a local Cordova plugin to Meteor worke

[2021-01-24 17:19] hthetiot commented on #626
You script does what removing and adding platform should do.
If the plugin is not updated on the plarform after add and remove that a Meteor issue.

We will not support Meteor, EVER. They have to support cordova plugin properly instead and handle remove/add platform as expected.

[2021-01-24 17:22] derwaldgeist commented on #626
I don't know what Meteor does under the hood, but quite obviously `meteor add-platform ios` is not the same as `cordova add ios`.

[2021-01-24 17:22] hthetiot commented on #626
@samgabriel

That not the case for me and Travis CI, it cannot complain about xcframework since it does not know about it.
Your PR is interesting, but for now if people actually follow the documentation there is no issue.

[2021-01-24 17:24] derwaldgeist commented on #626
Wouldn't switching to XCFramework solve the problem, so people don't have to apply the manual patches?

[2021-01-24 17:27] hthetiot commented on #626
That the goal of the PR https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/627

I dont even understand why you made this comment...
Please stop out of topic comment, you comment on this issue was not directly related to the issue, nor the error message nor the enviroment, using an existing issue to report an propblem is why we wasting so much time.

[2021-01-24 20:13] hthetiot commented on #626
See updated doc for Meteor: https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/docs/Building.md#meteor

[2021-01-24 20:49] hthetiot commented on #626
This isssue is misleading, properly building WebRTC using instructions work as expected, now yes it is manual and can be automated, but that does not mean it does not work when following the existing proceed that as been in place for years.

that why it’s “won’t fix” since their is no REAL issue. This does not mean it will not be automated using the PR mentioned, just that the issue Description is

[2021-01-24 22:05] hthetiot commented on #626
This PR will remove manual build step for developer https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/635

[2021-01-24 22:05] #626 closed

[2021-01-25 06:54] mattkhaw commented on #632
@hthetiot  Oh my bad, I didn't read thru on the 2nd option properly. I'll just provide a sample application when I'm done with some stuff here and at the meantime, I'll just try the sample code given in the link to see whether it helps or not.

[2021-01-25 08:21] hthetiot commented on #632
Thank you @mattkhaw for your understanding.
You can also make a super simple example.

[2021-01-25 09:34] hthetiot commented on #547
Fixed by https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/635

[2021-01-25 09:34] #547 closed

[2021-01-26 13:16] octopusjames opened #636 "VideoElement cannot play video stream"
Hello,

Recently I tried to rewrite an iOS SDK which invoke browser-based WebRTC APIs internally to invoke 'cordova-plugin-iosrtc' APIs internally. By now, some API works fine like I can join channel using RTCPeerConnection and publish local video stream using getUserMedia to a peer browser. Amazing plugin!

But `<video>` play cannot work, the `<video>` viewport always show its black background bu

[2021-01-26 13:48] hthetiot commented on #636
Give me a momment i will try to reproduce.
In the mean time, did you try `cordova.plugin.refreshVideos()`no need to call `observeVideo` it should be automatic.
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/docs/iosrtc.md#iosrtcrefreshvideos

[2021-01-26 13:49] hthetiot commented on #636
Got it!
Sinc eyou use iOS 14.3 and iosrtc Plugin version: 6.0.14, you need to update to 6.0.17 to solve that bug.

[2021-01-26 13:50] hthetiot commented on #636
related https://github.com/cordova-rtc/cordova-plugin-iosrtc/issues?q=is%3Aissue+is%3Aclosed

@octopusjames  Let me know if using cordova-plugin-iosrtc 6.0.17 solve your issue, prior 6.0.16 we have the issue you describe on ios 14.3+

[2021-01-26 16:11] sreplans commented on #250
I am seeing this same issue with the latest v6.0.16... I am connecting to a webrtc endpoint, and only specifying audio receive. Is the issue resolved for anybody else?
here is my debug log which shows: OfferToReceiveAudio=true; OfferToReceiveVideo=false;
`021-01-26 17:05:24.000354+0100 MyApp[13166:5048600] iosrtcPlugin#MediaStreamRenderer_close()
2021-01-26 17:05:24.000450+0100 MyApp[13166:5048600

[2021-01-26 17:56] hthetiot commented on #250
@sreplans 6.0.16 is not the latest, and 6.0.17 fix the issue you have.

Comment on closed issue is bad BTW.

[2021-01-26 17:58] hthetiot commented on #250
WKWebview supported WebRTC since 13, what it does not support is getUserMedia, since 14.3 is does support getUserMedia but only on https while cordova app are served on file:// or http://.

This plugin solve that and provide better battery consumption.

[2021-01-26 18:00] hthetiot commented on #250
Create new issue instead of commenting on old issue that have been fixed and does not reflect the current build.

[2021-01-27 04:11] octopusjames commented on #636
Thank you for the feedback!
I update plugin to 6.0.17 but it still can't work.
I noticed there is a difference between using 6.0.17 and 6.0.14. In 6.0.17 when stream attached to videoElement.srcObject the VideoElement's viewport disappear but in 6.0.14 it remains there with the black background shown.

I tried call with/without invoke refreshVideos() in 6.0.17, seems neither can work.

I don't cha

[2021-01-27 04:17] octopusjames commented on #636
And I can confirm getUserMedia works fine because I can publish video track and browser peer can see iphone's video

[2021-01-27 12:39] MusabBasheer commented on #636
@octopusjames  I think your issue related to video place please check if  z-index =-1 specified in video element or via (scss, css) the video will be placed below the wkwebview so it will be no visible.

[2021-01-27 12:43] hthetiot commented on #636
Good catch @octopusjames

Thx for helping.

[2021-01-27 14:14] octopusjames commented on #636
@MusabBasheer : thx, but I didn't write any css code or set z-index property in my html code, to make sure video element place on the top, I even add z-index=9999 in html, but still can't work.
![image](https://user-images.githubusercontent.com/38410643/106003237-f7bf7480-60ec-11eb-9b21-8b699b970543.png)
![image](https://user-images.githubusercontent.com/38410643/106003299-073ebd80-60ed-11eb-86d3-

[2021-01-27 14:22] MusabBasheer commented on #636
@octopusjames please view this link
https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/docs/videoCSS.md
I think you should remove the background attribute from the style and make the body background transparent.

[2021-01-27 14:30] hthetiot commented on #636
@octopusjames contact support<at>sylaps.com we can schedule a 10-15 min session to debug may be.
If you send you code by email i can also debug, if you wish.

[2021-01-27 15:02] octopusjames commented on #636
@MusabBasheer
Seems still can't work, I may try something else. But thank you all the same.

[2021-01-27 15:05] octopusjames commented on #636
Thanks Harold, I will write a email right now

[2021-01-27 15:07] octopusjames commented on #636
@hthetiot I should send the mail to support@sylaps.com or your mailbox?

[2021-01-27 15:19] hthetiot commented on #636
yes please use support@sylaps.com, sylaps.com that whos is paying for my time supporting iosrtc.

[2021-01-27 17:54] octopusjames commented on #636
At last...
I minimized my html code to leave only necessary tags, the video play works. I will check my html bugs tomorrow.
I also fallback plugin to 6.0.14 and video play can't work with getUserMedia throw an exception
![image](https://user-images.githubusercontent.com/38410643/106032559-96f36480-610b-11eb-8362-6a6b7ec84b85.png)
I think this may be the fixed issue in 6.0.17, as expected.
Thx for

[2021-01-27 17:54] #636 closed

[2021-01-27 18:13] hthetiot commented on #636
ahah well done @octopusjames
Happy RTC in China :)

Thank you for closing, and solving by yourself,.

[2021-01-27 18:15] hthetiot commented on #636
That correct, if you use ios 14.3+ you need 6.0.17+, that due the webrtc-adapter overiding iosrtc even if the SHIM is apply after the adapter.

[2021-01-31 23:05] hthetiot commented on #408
@DaveLomber Still not issue from you; I Did that improvement for Janus should be released via 6.0.18.
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/637

[2021-02-01 15:53] yuslielg commented on #422
Hi @hthetiot,

I'm experiencing the same issue in my project. I have tested your example project and remote video showing black screen instead of the video. You said that is because something wrong with TURN/STUN or SDP, but the servers are fine. Is there something else that cause the black screen??

I really appreciate your help.

[2021-02-01 20:09] hthetiot commented on #422
@yuslielg  This warnings does not cause black screen, so commenting the same issue again on this issue will not get it solved. I dont even understand why despite the comments above you come here to ask again. Beside wasting my time...

Please create dedicated issue will ALL THE REQUIRED information.

[2021-02-02 03:55] mattkhaw commented on #632
@hthetiot After playing around a few days, I think I know what's the problem. It might be caused by CallKit since I'm using this to handle the UI. Is there a simple example on how to use with CallKit? If you need to refer to the plugin, here's the link to it => [https://github.com/mattkhaw/cordova-plugin-callkit](https://github.com/mattkhaw/cordova-plugin-callkit).

From what I understand, it is d

[2021-02-02 08:14] mattkhaw commented on #632
@hthetiot  I think I've found the problem. It turns out that setting from AVAudioSessionModeVoiceChat to AVAudioSessionModeDefault solves the problem for no audio on remote device. Not sure why. As for feedback and echo loops, most likely is caused by the bottom speaker being too close to the mic. Just have to lower the volume down a bit.

I understand that there's some optimisations in terms of a

[2021-02-02 08:37] dileeprp opened #638 "Remote video not showing for kurento media server"
# YOU MUST read first!
Please use [Community Forum](https://github.com/cordova-rtc/cordova-plugin-iosrtc/discussions) for general technical discussions and questions.

- [x] **I have used Google with the error message** or bug in association with the library and Cordova words to make sure the issue I'm reporting is only related to iOSRTC.
- [ ] **I have provided steps to reproduce** (e.g. using sa

[2021-02-02 08:39] hthetiot commented on #632
Thx @mattkhaw do you think we should change from `AVAudioSession.Mode.voiceChat` to `AVAudioSession.Mode.default` ?
In my point of view we should not since `voiceChat` is made for calls, if people have loud speakers without headset may be the an expected behavior when noise cancelation is not enabled.

[2021-02-02 08:42] hthetiot commented on #638
@dileeprp can you try PR, see instruction for testing in the description:
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/637#issue-564746455

[2021-02-02 08:45] hthetiot commented on #638
@dileeprp I updated your issue to keep `Description`, `Expected results`, `Actual results` title and put the text on each settion otherwise it's not clear.

When you say their is not black video, what is the behavior exactly, there is no Remote MediaStream ?

[2021-02-02 08:47] mattkhaw commented on #632
@hthetiot To be honest, I'm not sure since this is the first time that I'm developing such an app. For normal voice calls (without video), yes, definitely use `voiceChat`. As for video calls, I'm not sure about this. Maybe the plugin can be modified like so, if speaker is enabled, use `default`, otherwise just stick to `voiceChat`. I've tried this method as well, it works the same. By doing it thi

[2021-02-02 13:00] hthetiot commented on #638
@dileeprp pls try the PR or master ASAP pls so we can close tht issue and release 6.0.18

[2021-02-03 03:54] hyejinlim opened #639 "permissions of microphone access not showing"
# YOU MUST read first!
Please use [Community Forum](https://github.com/cordova-rtc/cordova-plugin-iosrtc/discussions) for general technical discussions and questions.

- [x] **I have used Google with the error message** or bug in association with the library and Cordova words to make sure the issue I'm reporting is only related to iOSRTC.
- [x] **I have provided steps to reproduce** (e.g. using sa

[2021-02-03 10:18] hthetiot commented on #638
Closing issue because reporter is not replying.

[2021-02-03 10:18] #638 closed

[2021-02-08 10:19] hthetiot commented on #639
@ hyejinlim Permissions will not be requested if already approved, your logs show that requestPermission is true and therefor already approved. If you wan to re-trigger permission you need to uninstall the app, if user rejected persmion the only way is to go in Settings > YouApp to change permission or uninstall the app and re-install the app.

[2021-02-08 10:19] #639 closed

[2021-02-08 10:42] hthetiot commented on #638
@dileeprp people that create issue and do not reply when we try to help them....
Next time respect yourself and reply.

[2021-02-09 16:51] dileeprp commented on #638
Sorry for the late reply

I actually tried the pr but it's not working
The add track or stream was not working for the remote stream

On Mon, 8 Feb 2021, 4:12 pm Harold Thétiot, <notifications@github.com>
wrote:

[2021-02-09 17:18] hthetiot commented on #638
Did you try 6.0.18 on nom ?

On Tue, Feb 9, 2021, 17:52 dileeprp <notifications@github.com> wrote:

[2021-02-09 17:46] hthetiot commented on #638
You did not even provide "steps to reproduce", or kurento sample.
We can only help if you provide required information.

[2021-02-09 17:47] hthetiot commented on #632
Cannot reprocuce.
Closing for now.

[2021-02-09 17:47] #632 closed

[2021-02-10 10:45] hyejinlim opened #642 "ios not build after cordova-plugin-iosrtc"
# YOU MUST read first!
Please use [Community Forum](https://github.com/cordova-rtc/cordova-plugin-iosrtc/discussions) for general technical discussions and questions.

- [x] **I have used Google with the error message** or bug in association with the library and Cordova words to make sure the issue I'm reporting is only related to iOSRTC.
- [ ] **I have provided steps to reproduce** (e.g. using sa

[2021-02-10 11:47] hthetiot commented on #642
@hyejinlim

I think that because it fail to find or parse your ios Project:
- ./platforms/ios/.xcodeproj/project.pbxproj

could be due Cordova 9 automated test use cordova 8
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/.travis.yml#L11

To debug you need to add:

To thie line (L296) and file (plugins/cordova-plugins-iosrtc/extra/hooks/iosrtc-swift-support.js)
https://github.co

[2021-02-10 11:52] hyejinlim commented on #642
@hthetiot
my cordova plugin list

[code]

It worked in version 6.0.17.
I hope this problem is solved.

[2021-02-10 11:57] hthetiot commented on #642
LOL

if you help yourself i will help you.

try the next instructions 1,2,3 and 4 i asked you in previous comment (0 plugin is check now):
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/issues/642

[2021-02-10 11:57] hthetiot commented on #642
cc @hyejinlim see reply above

[2021-02-10 12:16] hyejinlim commented on #642
I got the console result below.

[code]

And after changing No. 4, the build was successful!!

[2021-02-10 12:19] hthetiot commented on #642
thx @hyejinlim for proper reporting and helping debuging and therefor fixing the issue and replying quickly.
For now this is your fix, i will makr PR and releaase 6.0.19 later at some point you can use master tp test if fix available befpre 6.0.19, i try to keep master as stable as possible.

[2021-02-10 12:20] hthetiot commented on #642
wait you edit from:

[2021-02-10 12:21] hthetiot commented on #642
The following build commands failed:
        CompileSwift normal x86_64 /project/platforms/ios/project/Plugins/cordova-plugin-iosrtc/PluginEnumerateDevices.swift
        CompileSwift normal x86_64 /project/platforms/ios/project/Plugins/cordova-plugin-iosrtc/PluginMediaStreamRenderer.swift
        CompileSwift normal x86_64 /project/platforms/ios/project/Plugins/cordova-plugin-iosrtc/PluginRTCAudio

[2021-02-10 12:22] hthetiot commented on #642
That you build failing:

try add and remove platforms:
I think you have some shit in buildSettings

try 6.0.17 but im pretty sure that not related.

[2021-02-10 14:43] hthetiot commented on #642
I rather not, for better tracking and also this time try to fill the issue with all requirements and if issue is well reported will help the same.

[2021-02-10 14:44] hthetiot commented on #642
You can also fork, patch and make a PR for this bug this will help a lot and you can assist the community.

[2021-02-10 14:51] hyejinlim commented on #642
@hthetiot

okay.

When you run the app after installing the plug-in, the following phenomenon appears.

-When connecting AirPods and listening to music, the sound quality of AirPods is degraded if you start an app with a plugin installed.

-I tried specifying a value in selectAudioOutput() or turnOnSpeaker(), but when I ran the app, the sound was cut off or not heard.

-The peculiar thing is that

[2021-02-10 14:58] hthetiot commented on #642
LOL

Mean create another issue ;)

[2021-02-10 14:59] hthetiot commented on #642
Last comment hidden please create proper issue.

See last comment:
https://github.com/cordova-rtc/cordova-plugin-iosrtc/issues/642#issuecomment-776754674

Try to provide code to reproduce and all information add ionic in the version info.

I play that game all day, don't try to abuse me.

[2021-02-10 15:01] hyejinlim opened #643 "sound quality is degraded after connected to Bluetooth"
# YOU MUST read first!
Please use [Community Forum](https://github.com/cordova-rtc/cordova-plugin-iosrtc/discussions) for general technical discussions and questions.

- [x] **I have used Google with the error message** or bug in association with the library and Cordova words to make sure the issue I'm reporting is only related to iOSRTC.
- [x] **I have provided steps to reproduce** (e.g. using sa

[2021-02-10 15:15] hthetiot commented on #643
Do you use background mode plugin  or callkit plugin?

[2021-02-10 15:19] hyejinlim commented on #643
i don't use both plugins.
The background I'm talking about means in ios the app is not completely closed.

[2021-02-10 15:26] hthetiot commented on #643
Trust me you need to use background plugin like that you can use webrtc when the app is minimized try that and it's not helping come back.

Look and try the sample app for reference:
https://github.com/cordova-rtc/cordova-plugin-iosrtc-sample/blob/master/www/js/common.js#L654

We need to reproduce also, this i don't do far with Sylaps on iOS (https://sylaps.com/api/download/ios)

[2021-02-10 15:38] hyejinlim commented on #643
I'll try the background mode.

And

Here's how I tested it:
1. Create an app that is authorized by the iosrtc plugin.
2. Connect AirPods and listen to music.
3. Run the app created in step 1.
4. Sound quality deteriorates.
5. When the app is in the background or completely closed, it returns to its original state.

Is there any other solution for this?

[2021-02-10 21:38] hthetiot commented on #643
be patiente now ;) i edited the issu with "Steps to reproduce" from you last comment, "Title" expect text bellow each of then "Expected results" and "Actual results" may help if "Description" unclear, i think you is ok, your choice to get more help better is the issue. Did yo reproduce on ipad and iphone and you did not provide ios version is that 14.4 ? and ionic ? (see edit issue version descrip

[2021-02-11 11:41] thedeephakani opened #646 "I am using this in iOS and it's not working"
Using iOSRTC, in iPhone 11 Xs with  OS 14.3.

navigator.mediaDevices.getUserMedia() alwase go to catch block and retun empty error block.

[2021-02-11 12:54] hthetiot commented on #646
cool story bro.
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/.github/ISSUE_TEMPLATE.md#you-must-read-first
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/discussions/634

[2021-02-11 12:54] #646 closed

[2021-02-14 03:50] hyejinlim commented on #643
yes ios version is 14.4 and ionic is 5.
It is said that modifying parts like AVAudioSession.sharedInstance().setCategory is helpful, but I can't find this part in the iosrtc plugin.

[2021-02-15 19:30] hthetiot commented on #643
@hyejinlim may be if you had use the search to find "setCategory" instead.... you will find it here:
https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/src/PluginRTCAudioController.swift#L55

[code]

[2021-02-15 19:31] hthetiot commented on #643
related https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/448

[2021-02-15 19:32] hthetiot commented on #643
find the right default value for `audioMode ` Apple doc:
- https://developer.apple.com/documentation/avfaudio/avaudiosession/mode/1616455-voicechat

[2021-02-16 10:08] hyejinlim commented on #643
Is Sylaps your app?
I installed Sylaps and tested it the same way, but this app stops the music altogether.
Did you specify selectAudioOutput() or turnOnSpeaker()?
If this is your app, can you comment out selectAudioOutput(), turnOnSpeaker()? And can you test it?