[2017-06-27 18:38] derMani commented on #293
Ok it's in Safari, but is it also part of the WebViews?

[2017-06-28 03:19] snakeman21 commented on #96
Any luck getting this resolved? Can't prevent the video element on my iPhone from rotating, even though any type of rotation is locked on my app. Somehow the video element is still able to flip.

[2017-06-28 06:33] saghul commented on #293
@derMani Yes.

[2017-06-28 07:23] coolvasanth opened #295 "Swift Language Version” (SWIFT_VERSION) is required to be configured correctly for targets"
I'm following each and every instruction that is mentioned for installing the cordova iosrtc plugin still I'm facing the below error after the **cordova build ios.**

**“Swift Language Version” (SWIFT_VERSION) is required to be configured correctly for targets which use Swift. Use the [Edit > Convert > To Current Swift Syntax…] menu to choose a Swift version or use the Build Settings editor to con

[2017-06-30 06:07] alexpell00 commented on #295
@coolvasanth can you link to the forum post.

[2017-06-30 17:16] snakeman21 opened #296 "Does this plugin support the type "rollback""
Can you call setLocalDescription and pass in { sdp:"", type:"rollback" }?

[2017-07-01 11:50] saghul commented on #296
I don't think it's supported even in libwebrtc yet: https://bugs.chromium.org/p/webrtc/issues/detail?id=4676

[2017-07-03 02:34] #296 closed

[2017-07-05 17:13] coolvasanth commented on #295
No I have not received any solution yet, which is badly affecting my product delivery ...

[2017-07-05 19:10] saghul commented on #295
Have you tried setting it in the Xcode project by hand? Go on the build settings option and set "Swift Language Version" to 3.

[2017-07-06 05:04] coolvasanth commented on #295
Ya tried that but getting 103 errors. Image is attached for better clarity.

![screen shot 2017-07-06 at 10 31 58 am](https://user-images.githubusercontent.com/8464864/27896273-88d74948-6236-11e7-83a5-1bc202efe404.png)

[2017-07-06 06:52] saghul commented on #295
You seem to be missing the bridging header.

[2017-07-06 06:52] #295 closed

[2017-07-06 07:36] coolvasanth commented on #295
Hi I have added even bridging header but no help.
![screen shot 2017-07-06 at 1 05 14 pm](https://user-images.githubusercontent.com/8464864/27900413-e52ea41a-624b-11e7-9397-c01e45947dab.png)

[2017-07-06 08:47] saghul commented on #295
Does it find the bridging header though? Is it the same error?

If you follow the instructions here https://github.com/BasqueVoIPMafia/cordova-plugin-iosrtc/blob/master/docs/Building.md to the letter is should work. Otherwise I honestly don't know what the problem could be :-S

[2017-07-06 14:06] starcwl opened #297 "The cpu usage is very high"
I found the cpu usage is always high, almost 100%, when connect to the other peer with audio and video enable.

I tested in iPhone6 and iphone7.

So, I want to know if this behavior is correct or if  I can reduce the cpu usage?

[2017-07-06 14:08] starcwl opened #298 "[Resolved] the local video not working after the app go to background mode."
Sometimes, when I switch the app to background mode, and make it front again, I found the local video became black. If I run the code in chrome in Android, It works alright.

[2017-07-06 14:20] saghul commented on #297
This is expected because the default codec (VP8) is implemented in software. H.264 can use hardware acceleration and will have a lesser impact.

[2017-07-06 14:20] #297 closed

[2017-07-07 01:56] starcwl commented on #298
my iosrtc plugin version is 4.0.2

[2017-07-07 05:39] magestican opened #299 "iOS 11 issues with video element sitting on top of video"
I have put a bounty on this, the requirements of the bounty are as follows :

**Title** : Hide native video controls for cordova-plugin-iosrtc on iOS 11 when video z-index -1

**Description** : Use any means available (objective-c/swift) to interact with the iOS 11 native video layer and disable native video controls.
Do this on an iOS app built using cordova and the cordova-plugin-iosrtc plugin.

[2017-07-07 06:47] saghul commented on #299
Is this an iOS 11 only issue? Can you reproduce it on iOS 10?

[2017-07-07 07:13] magestican commented on #299
This is an ios 11 only issue, I cant reproduce it on ios 10. I am using a
production app which works fine on ios 10 but shows this issue on ios 11
beta.

2017-07-07 16:47 GMT+10:00 Saúl Ibarra Corretgé <notifications@github.com>:

[2017-07-07 20:12] snakeman21 commented on #298
@starcwl @saghul I have the same problem. During a video chat, if I switch to background mode on the iPhone and bring it back to foreground, the local video turns black. Weirdly enough this problem never happens the first time I open the app. It only happens after the first time opening the app.

[2017-07-07 20:35] snakeman21 commented on #299
Why not just do an `if(parseInt(iosVersion) < 11)`  type of thing, since WebRTC is built into it ;)

[2017-07-08 18:35] snakeman21 commented on #298
Likely caused by this #140

[2017-07-08 21:30] saghul commented on #298
@snakeman21 I doubt they are related.

@starcwl I have no idea, sorry :-( Note that comparing Chrome on Android with the plugin on iOS is like comparing apples to oranges.

[2017-07-09 00:22] dmarcus1 commented on #140
@ibc @saghul Why don't you just create a patch that adds the setState method again?

- (BOOL)setState:(RTCTrackState)state {
    return self.mediaTrack->set_state(
        [RTCEnumConverter convertTrackStateToNative:state]);
}

[2017-07-09 11:03] saghul commented on #140
@dmarcus1 what is that supposed to accomplish?

[2017-07-09 13:23] dmarcus1 commented on #140
@saghul Take a look at [https://github.com/BasqueVoIPMafia/cordova-plugin-iosrtc/blob/1c543747697d24691c58ed3e6f82484fc2600dd2/src/PluginMediaStreamTrack.swift#L84](https://github.com/BasqueVoIPMafia/cordova-plugin-iosrtc/blob/1c543747697d24691c58ed3e6f82484fc2600dd2/src/PluginMediaStreamTrack.swift#L84)

Right now the MediaStreamTrack stop function is as follows:

[code]

When you call MediaStrea

[2017-07-09 13:27] dmarcus1 commented on #298
I was able to reproduce this bug, and fixed it by destroying all MediaStreamTracks after ending a video chat #140. The reason this bug happens is because the camera is never freed due to MediaStreamTrack.stop not working properly.

[2017-07-10 01:04] magestican commented on #299
After doing more investigation, this happens when I set -1 to the z-index of the video.

If I give a 1 z-index to the video however, the video renders on top of the UI.

Another thing I tried was to change the width and height of the video, if I give a height of 0px the watermark native control goes away, but when I call cordova.plugins.iosrtc.refrechVideos() this updates the native video rendered

[2017-07-14 16:46] saghul commented on #299
Sorry, I have no idea how to solve that currently.

-Saúl

[2017-07-15 18:14] ibc commented on #294
AFAIR the `onended` event is not fired (in browser's WebRTC) when calling `stop()` on a local or remote track.

[2017-07-15 18:16] ibc commented on #140
But calling `track.stop()` on the plugin may set to `nil` the native `rtcMediaStreamTrack` (regardless the associated JS `MediaStreamTrack` still exists). A PR doing that would make more sense IMHO.

[2017-07-15 18:17] ibc commented on #289
Others may also reply.

[2017-07-16 00:03] dmarcus1 commented on #140
Interesting idea. I didn't think of that, but it makes a lot of sense.

[2017-07-17 07:53] saghul commented on #289
The problem is that libwebrtc (which this plugin is based on) assumed nobody else was changing the AVAudioSession configuration other than itself, until M59.

Once we update the library, all those problems will (hopefully) go away, but it's not an easy feat.

[2017-07-17 07:53] saghul commented on #289
Oh, and no, we have no ETA for when the update will happen.

[2017-07-17 10:46] roeycohen commented on #164
this fix is making me problem while using jitsi.
it's seems like jitsi it expects the data inside the label without the extra uuid.

[2017-07-17 11:06] ibc commented on #164
Yes, I described where the problem is here: https://github.com/BasqueVoIPMafia/cordova-plugin-iosrtc/issues/268#issuecomment-308526620

In short, the fix in this issue produces another issue. I already described which work must be done in order to fix it, however I won't be able to do such a work in short term.

[2017-07-17 12:01] roeycohen commented on #268
can this help?
https://github.com/stobe1/cordova-plugin-iosrtc/commit/7e0c11ca83c380e68ba7de1c097e655cbcb39fd8

[2017-07-17 12:06] roeycohen commented on #164
i am talking about a new problem.
on lib-jitsi-meet.js library, the code is searching the remote sdp for the stream id and fails because the stream id is extended.
![code](https://image.prntscr.com/image/5b30ENFkT4C1y_gzUxhcPQ.png)

i think this problem problem in this issue is specific to Kurento as it didn't happen to me when i removed this fix.

[2017-07-17 13:41] ibc commented on #164
mmm, I still think that the `stream.id` problem you describe is 100% related to https://github.com/BasqueVoIPMafia/cordova-plugin-iosrtc/issues/268#issuecomment-308526620

[2017-07-17 16:01] roeycohen commented on #164
why would it? #268 talks about removing a stream and not activating it.
I did find this fix for #268:
https://github.com/stobe1/cordova-plugin-iosrtc/commit/7e0c11ca83c380e68ba7de1c097e655cbcb39fd8
and it seems to solve it.

still my problem is that the new ID format prevents identifying the ssrc stream id in lib-jitsi-meet.

[2017-07-19 15:37] ProximaHaiz opened #300 "iPhone SE iosrtcPlugin#MediaStreamRenderer issue"
Hi. I’m developing an app with video chat feature on Ionic 2.
We use iosRTC plugin for video conference on iOS. It works fine for iPhone 5s,6,6s, the connection is right, the switch between cameras is good.
The problem appears on iPhone SE when trying to switch between cameras. The local stream is changed to the new stream from the front or main camera, it is sent to receiver and is displayed perf

[2017-07-20 10:59] supryin commented on #300
It is quite urgent for us to find the reason for that bug. It seems like it has smth to do with the iosrtc.observeVideo(video) method. Any ideas are greatly appreciated! Thank you!

[2017-07-27 22:41] bartcich opened #301 "RTCPeerConnection.addStream fails with newest webrtc-adapter"
When using webrtc-adapter v 4.2.0 and above RTCPeerConnection.addStream fails with exception visible on screenshot:
![screenshot 2017-07-28 00 02 08 2](https://user-images.githubusercontent.com/3295025/28695073-52bc8adc-732d-11e7-9591-50e6c249ee40.png)

When downgrading webrtc-adapter to 4.1.1 everything works fine

[2017-07-28 08:09] coralieboucheron commented on #205
Hello, I downloaded version 4.0.2 of the plugin. I try to build my app with XCode 8.3.3 and when I do that, XCode asks me to convert to swift 3 and then the build fails. I followed all the steps described in the building section (including the hook, installing xcode locally with npm and re-adding platform). Can you tell me what did I do wrong please ? Thank you.

[2017-08-07 13:51] metehanm4 commented on #299
i have same problem at iOS 10.3 and 9.0 too

[2017-08-09 15:26] thomas-alrek opened #302 "Unable to build for iOS 10 with Xcode 8.3.3"
This plugin won't build for iOS 10 using Xcode 8.3.3.
I first get a warning, stating:

[code]

If I choose to switch to "Current Swift Syntax", it still won't build, and is complaining about missing declarations, and over 480 other compiler errors.

Is this not supported on iOS 10?

[2017-08-09 15:54] #302 closed

[2017-08-09 22:00] simonklitjohnson commented on #250
Has anybody come any closer to solving this? :-)

[2017-08-09 23:40] dobesv commented on #250
Apple has said they will support WebRTC in iOS 11, in the fall.  I guess we'll see if that comes with a better solution for this problem.

[2017-08-13 01:39] D-Marc1 commented on #299
This is a pretty tough issue to solve actually. If I knew what that new video overlay thing in iOS 11 was called, maybe I could disable it natively, but I couldn't find anything about it online. To make matters worse, this plugin might be necessary for iOS 11 after all, as `getUserMedia()` doesn't seem to work on the latest beta. Maybe the official release will, but there's no info on that anywher

[2017-08-16 07:15] markjrodrigues commented on #299
Bounty details available at https://www.bountysource.com/issues/46981175-ios-11-issues-with-video-element-sitting-on-top-of-video

[2017-08-17 11:01] VinceOPS commented on #299
@D-Marc1 Hi Daniel, I don't know if it helps, regarding what you said about getUserMedia:

https://github.com/eduardolundgren/tracking.js/issues/228

[2017-08-17 13:08] D-Marc1 commented on #299
@VinceOPS thank you. That may be the best solution after all. Didn't realize that's why it didn't work. I'm gonna load up iOS 11 on my phone again this weekend. I recall having an issue with navigator.mediaDevices.enumerateDevices() as well, but maybe there's something similar I can use instead. Using built in WebRTC on Safari would be awesome if everything works well.

[2017-08-19 02:45] D-Marc1 commented on #299
Ok so turns out all of these WebRTC functions work perfectly in both desktop and mobile Safari 11. However, they don't work in neither UIWebView nor WKWebView. They seem to be saying the same thing on [this Stack Overflow question](https://stackoverflow.com/questions/45055329/does-webkit-in-ios-11-beta-support-webrtc). Maybe the official release will have built-in WebRTC support, but this doesn't

[2017-08-19 22:24] D-Marc1 commented on #299
Pleased to announce that I figured out a solution. This is a perfect example of a problem that takes forever to come up with answer, but ends up being dead simple. Add
`<preference name="AllowInlineMediaPlayback" value="true" />` to your config.xml and add this attribute to your `<video>` tag like so: `<video playsinline>`.

I think this issue can be marked as resolved now.

[2017-08-21 00:58] magestican commented on #299
@D-Marc1 thats an awesome fix! Thank you for your time, @markjrodrigues will be assigning the bounty to you, make an account in bountysource if you please and give it to him.

[2017-08-21 01:13] D-Marc1 commented on #299
I was glad to help, since I'm in the same position as you. That would have sucked to have this problem happen in production when iOS 11 comes out. I really hope the web view will have built in WebRTC soon though.

Thank you so much for the offer guys! That's very generous. I just made an account and applied for the bounty.

[2017-08-21 23:10] markjrodrigues commented on #299
Thanks @D-Marc1 really appreciate the quick turn-around. I am approving the bounty now :)

[2017-08-21 23:12] magestican commented on #299
I am closing this issue, an entry in the repo documentation should be added.

[2017-08-21 23:12] #299 closed

[2017-08-21 23:18] markjrodrigues commented on #299
@D-Marc1 Can you please claim the bounty on https://www.bountysource.com/issues/46981175-ios-11-issues-with-video-element-sitting-on-top-of-video . I think you need to do this before I can approve.

[2017-08-21 23:25] D-Marc1 commented on #299
Just claimed it. Thank you so much for your generosity! More importantly, I'm so glad we'll be all be able to use this in iOS 11 without this annoying overlay.

I agree that this should added to the documentation in the CSS section, since this plugin will be unusable in iOS 11 without it. Maybe I'll send a pull request for it soon.

[2017-08-23 21:30] kilatib commented on #301
Hi, Bartcich

Unfortunately I have a same issue. How I can downgrade  webrtc-adapter to version 4.1.1

I had downgrade plugin to version 4.0.1 but no luck.
<img width="611" alt="screen shot 2017-08-23 at 15 19 36" src="https://user-images.githubusercontent.com/2750628/29639429-6a32005c-8863-11e7-8085-6fabeb5e30a6.png">

[2017-08-28 08:12] peili opened #303 "getStats() callback missing onGetStatsCallback"
I don't see a callback when using getStats().
e.g.

[code]

[2017-08-28 08:16] ibc commented on #303
Mailing list.

[2017-08-28 08:16] #303 closed

[2017-08-29 15:39] ostrichegret opened #304 "NSInvalidArgumentException, error after media stream accepted"
Hi,

I try to use sipML5 ( https://github.com/DoubangoTelecom/sipml5 ) and iosrtc with websocket hack on the readme and connecting to flowroute.com SIP Server, calling toll free number to test, but I got this strange error after doing call-audio command ( sip init and sip register works fine ):

When building the app, i got this strange debug info:
[code]

Error line
[code]

Error output
[code]

s

[2017-09-02 17:16] ostrichegret commented on #304
I use Sip.js and got the same error when i do this:

=====

[Log] Sun Sep 03 2017 00:13:55 GMT+0700 (WIB) | sip.invitecontext.mediahandler | acquiring local media (script.js, line 9011)
< undefined
[Log] Sun Sep 03 2017 00:13:56 GMT+0700 (WIB) | sip.invitecontext.mediahandler | acquired local media streams (script.js, line 9011)
=====

xcode error line
=====
NSData* jsonData = [NSJSONSerialization

[2017-09-04 09:51] ostrichegret commented on #304
The error changed to this after add the webrtc adapter:

[code]

[code]

[2017-09-04 09:51] #304 closed

[2017-09-04 10:07] ostrichegret opened #306 "iosrtc + sip.js + webrtc/adapter.js - Error and Crash"
Hi i got issues while trying to combine
iosrtc 4.0.2
sip.js: http://sipjs.com/download/sip-0.7.8.js
webrtc adapter: https://github.com/webrtc/adapter

index.html includes
[code]

device ready event
[code]

sipc.js
[code]

When using WebRTC adapter 4.x, i got this xcode crash:
safari debug
[code]

xcode debug on this line
[code]

xcode debug info
[code]

on webrtc adapter 5.x
i got this error ( saf

[2017-09-05 04:26] ostrichegret commented on #306
It was caused by xcode 8.0
Fixed after upgrading xcode to 8.3.3.

Thank you very much, great plugin

[2017-09-05 04:26] #306 closed

[2017-09-11 07:24] neethusr87 opened #307 "Swift Version Compiler error issue in Xcode 8.3.3"
After integrating the plugin to Xcode 8.3.3 build , It prompts for swift version conversion.Upgraded the swift version to the latest.
Getting Swift Compiler error

Please suggest how to resolve the issue

[2017-09-14 04:13] neethusr87 commented on #307
Issue resolved by importing the bridging header file

[2017-09-14 04:18] neethusr87 opened #308 ": Tried to do Video call from IOS device to Android. But not successful.  Call has reached to the receiver end in android phone No sound in iOS. However video is shown correctly"

[2017-09-14 04:19] #308 closed

[2017-09-14 04:23] neethusr87 opened #309 "Tried Video Call from IOS device video streaming works but sound is not working IOS 10.2.1"

[2017-09-19 10:22] marcin-stachowiak opened #310 "Cannot set volume level (iOS 9.3.5 and 10.3.3, Xcode 8.3.3)"
How I can set volume level from code? When I am using `setValue()` method from `MPVolumeView` class (https://developer.apple.com/documentation/mediaplayer/mpvolumeview) it does not work. It looks like audio from webrtc is played on different stream that `setVolume()` method can control.

I can control webrtc audio when I use `setActiveCategoryVolumeTo ()` method from private `AVSystemController` c

[2017-09-22 08:44] andrewhmoss opened #311 "No video shown in iOS 11"
I have an WebRTC app that uses this plugin which works fine on iOS9 and 10. But in iOS 11 I see no video.

I am aware of this issue: https://github.com/BasqueVoIPMafia/cordova-plugin-iosrtc/issues/299 but it I am not even getting as far as seeing any video controls. I have tried integrating the changes suggested in this issue (playsinline) but it makes no difference.

I do see something that belie

[2017-09-22 10:31] andrewhmoss commented on #311
I have also spotted this in the xcode console, which only appears for ios 11 devices:
`
[12149:81157] [MediaRemote] [AVOutputContext] WARNING: AVF context unavailable for MRAVOutputContextCreateIndependentRoutingContext`

[2017-09-22 10:55] ozgunlu opened #312 "Stopping "error" event propagation ..."
Hello,

I got that error from IOS 10. I am using RTCMultiConnection. I can view Iphone camera from connected android phone. But i can not see myself in Iphone. That player does not work and it gives an error like title.

My video like this - blob: http://localhost:8000/asdj4-f3gfdg-425sdfs-sdf45

It works on browsers and android. Only not workin on Iphone.
Also it is a inline video and i added pre

[2017-09-22 10:57] ibc commented on #312
Check the iosrtc js code. That's is not the cause of your issue.

[2017-09-22 10:57] #312 closed

[2017-09-22 15:47] andrewhmoss commented on #311
I got it working in iOS 11 eventually by adding a call to cordova.plugins.iosrtc.observeVideo()

I think the documentation for this function might need updated...

[2017-09-24 08:02] andrewhmoss commented on #311
Ok. Happy to close. I guess users with the same issue will probably hit this thread with a quick Google search.

[2017-09-24 08:02] #311 closed

[2017-09-25 07:24] lvyibao opened #313 "Does it Support on iOS11"
Dears,
  recently when i upgrade the iOS system to iOS11,when i run my iosrtc project on my device,but not show the media ,i have a question need you help to clarify;
1.Does this plugin can support on iOS11? or need to set some config?
if i misunderstand this ,also give us a direction and give us a advice.

[2017-09-25 07:28] ibc commented on #313
Questions in the mailing list, as the text you removed to write here states.

[2017-09-25 07:28] #313 closed

[2017-09-25 11:07] coolvasanth commented on #295
Hi @saghul ya it was the Bridging header mistake.I'm using this plugin in my ionic project. If anyone else using ionic project and facing the same issue then below is the solution.

- First goto project/tsconfig.json and set target as es5 ("target": "es5").
- Then open the project in Xcode. You will find it in project/platform/ios/project name.xcodeproj or project name.xcworkspace

- In Xcode navi

[2017-10-03 12:48] sashastg commented on #309
hey, had you found solution for this bug ?

[2017-10-04 06:23] jaulz commented on #307
@neethusr87 could you please describe what you did in detail?

[2017-10-04 08:55] menelike commented on #309
Is this not working for the subscriber or publisher?
Also, use a headset if you can't hear anything on the iOS subscriber client
*(to make the speakers work you'll have to do some additional steps)*

[2017-10-04 10:33] sashastg commented on #309
its works fine with headset.   what additional steps i need to do for make
it in speakers?

2017-10-04 11:55 GMT+03:00 menelike <notifications@github.com>:

--
Best regards,
Alexander

[2017-10-04 11:51] sashastg commented on #309
found solution, to make it works on IOS with speaker:
https://github.com/alongubkin/audiotoggle

[2017-10-09 07:52] mark-veenstra commented on #307
My best guess is that he now uses the hook, which will include this file:
https://github.com/BasqueVoIPMafia/cordova-plugin-iosrtc/blob/master/extra/hooks/iosrtc-swift-support.js

[2017-10-12 04:14] AMKaffiOS commented on #250
I wondered if the problem is now solved.(Requests microphone even if only listening),
I do not want to apply for microphone permission.

[2017-10-12 04:39] dobesv commented on #250
It's not solved.  You can follow the discussion in the WebRTC tracker issue I linked to earlier.  There was one person who seemed to have been able to compile a build of WebRTC which didn't request the microphone.

How exactly they did it ... or even how exactly to compile WebRTC in such a way that it can be used with this plugin ... is beyond me.

However, iOS 11 has been released, and I believe

[2017-10-12 13:12] phal0r opened #314 "Compatibility Issue with WebAudio API"
Hey Guys,

there were issues specific to older Versions of the Webview, which did not support WebRTC. iOS 11 Safari does support WebRTC, but support in Webview is limited as probably already know.

But since iOS 11 `createMediaStreamSource` is finally available in Web Audio API. I tried to connect the MediaStream from this plugin to a Web Audio graph via `createMediaStreamSource` and an exception

[2017-10-12 19:27] Klathmon commented on #250
Unfortunately Apple has disabled `getUserMedia` in WebViews outside of Safari.

So even though the code is there and works great in a safari tab, it will NOT work if you save a link to that page to your homescreen, nor if you are trying to do it inside a WebView like cordova (I tried and verified both UIWebView and WKWebView)

[2017-10-13 15:51] VinceOPS opened #315 "Support for facingMode as a video constraint"
Hi there,

First of all, thanks for this plugin which works beautifully.
I just faced an issue today (not having it with "real" WebRTC API on Android), with my media constraints. Indeed, I tried to use `facingMode` on the `video` track, to force the value to `'environment'` (rear camera), but it doesn't work on iOS.

Is there anything I could to to help? Should I simply update libwebrtc?
Thanks.

[2017-10-13 17:26] ibc commented on #314
No, it's not possible.  Exactly due the reason you have already exposed.

[2017-10-13 17:26] #314 closed

[2017-10-13 20:01] phal0r commented on #314
Ok, thank you for the clarification.

[2017-10-14 00:36] ljcp commented on #307
Same issue with Xcode 8.3.2, any insights on this?

[2017-10-28 23:48] dmarcs commented on #226
@apparition47 Try using my [iOS CallKit/Android ConnectionService plugin](https://github.com/WebsiteBeaver/CordovaCall)

[2017-10-31 16:28] BellesoftConsulting commented on #170
Has any of you been able to solve the green screen issue by recompiling the plugin with the latest libraries ? before going through the exercise, wanted to make sure is worth while ;)

[2017-11-02 08:46] overmindx1 opened #316 "get remote video in second offer"
Hello ,
I using iosrtc have problem on iOS to iOS,

when I send creatOffer to remote user , and remore user send answer then ice ... , but nothing show on remote video , but when I trigger creatOffer again , then  remote video get video show .

any ideas ?

I have add ' ios-websocket-hack.js' in my project .
my webrtc flow on android <=> android , android <=> iOS is working fine , but iOS <=> iOS

[2017-11-02 10:53] nickygiorgi opened #317 "TypeError when using iosrtc together with webrtc-adapter 5.0.6"
Hi there,

thanks for maintaining this plugin. My team and I are using it in our webrtc cordova application together with the webrtc-adapter package and have been happy with this so far. We are using the latest cordova-plugin-iosrtc 4.0.2.

Unfortunately we have now tried to upgrade the webrtc-adapter package from version 4.0.1 to version 5.0.6 (latest) and hit an issue while initializing an rtc p

[2017-11-02 13:00] BellesoftConsulting commented on #249
Anybody got this to work? I think if we fix this bug, it will take care of a few others, especially the h264 bug #170 .  I want to offer a USD $500 bounty to get both bug #249 and #170  resolved and pushed to the repo as a new installable npm build.

[2017-11-04 23:35] mragwa commented on #307
@neethusr87 can you tell us the solution ?

[2017-11-05 03:59] ljcp commented on #307
Just Follow this steps https://github.com/BasqueVoIPMafia/cordova-plugin-iosrtc/blob/master/docs/Building.md , and you will be ready to go ! , it worked for me !

[2017-11-05 04:34] fbernhard commented on #249
I am adding an additional USD 500 bounty on top of @BellesoftConsulting offer to get both #249 and #170 resolved and pushed to the repo as a new installable npm build. My bounty expires in 14 days.

[2017-11-06 20:29] mragwa commented on #307
@ljcp  Thank you it worked.

[2017-11-09 01:53] k13elle commented on #317
me too

[2017-11-09 23:21] ibc commented on #317
It seems that adapter.js does ugly stuff [here](https://github.com/webrtc/adapter/blob/master/src/js/common_shim.js#L21). It takes the `addEventListener` method from the PeerConnection prototype.

However, the `PeerConnection` exported by cordova-plugin-iosrtc does not directly implement such a method in its prototype but, instead, uses the [yaeti](https://www.npmjs.com/package/yaeti) module to ad

[2017-11-10 04:27] k13elle commented on #311
how to use `cordova.plugins.iosrtc.observeVideo()`?
i added element as parameter, but it's not work.

[2017-11-10 21:30] iisdan opened #318 "Unsupported Swift Version"
Swift code needs to be updated, plugin cannot be used anymore until that is completed.

![screen-shot-2017-11-10-at-4 28 40-pm](https://user-images.githubusercontent.com/2072523/32679470-8705b214-c634-11e7-87c1-c530d4df04c1.png)

[2017-11-11 08:24] gomosoft commented on #318
I am having the same error... Xcode 8 make migration to Swift 3 :)

[2017-11-11 08:43] gomosoft commented on #318
Finally I solve it doing this https://github.com/BasqueVoIPMafia/cordova-plugin-iosrtc/blob/master/docs/Building.md

[2017-11-13 15:16] realnumber commented on #107
@derMani I know I'm a bit late, but did you find out a way to preset AVCaptureSessionPresetLow?

[2017-11-14 12:21] BellesoftConsulting commented on #249
![Image of bueller](http://www.hrgurus.com.au/wp-content/uploads/2015/11/bueller-e1431195418441.jpg)
anyone? anyone? bueller?

 It must be possible...  @fbernhard  Should we double our bounties to get @saghul 's attention??

[2017-11-15 22:08] cremfert commented on #318
What did you do exactly? Thanks!

[2017-11-16 08:52] hardikifuturz opened #319 "Use of undeclared type 'RTCPeerConnectionFactory'"
Hello

![screen shot 2017-11-16 at 2 20 40 pm](https://user-images.githubusercontent.com/24889892/32882142-6475c15e-cad9-11e7-9b70-d5a6dffbcb9b.png)

Getting all errors after installing latest version on meteor js.

Xcode Version : 8.3.2
Meteor Version : METEOR@1.6

[2017-11-16 16:39] fbernhard commented on #249
@BellesoftConsulting,  @saghul

Yes, I am willing to double my bounty to a total of USD 1'000 to get both #249 and #170 resolved and pushed to the repo as a new installable npm build. My bounty expires in 14 days from now.

[2017-11-17 20:15] #318 closed

[2017-11-17 20:15] ibc commented on #319
Please, read the building documentation.

[2017-11-17 20:15] #319 closed

[2017-11-23 09:27] hilxm opened #320 "cordova-ios11, "getUserMedia" is undefined?"
in ios11 cordoa app:
navigator.getUserMedia  is undefined
navigator.mediaDevices.getUserMedia  is undefined
navigator.MediaDevices  is undefined
but is ok in ios11-safari and  ios9-cordova.
how to do this in ios11-cordova?

[2017-11-24 11:46] vertazzar commented on #140
@dmarcs can you provide the code that dereferences the tracks? i would like to fork it and make it work...

[2017-11-25 16:28] dmarcs commented on #140
@vertazzar I'm guessing you ran into the same issue I ran into where there's a problem with switching from the front to back camera after turning off the phone. As iosRTC stands right now, there's no way to use it in production because of that bug. I got it to work, but in a very hacky way. Iñaki probably won't accept it if you make a pull request because I added the method `freeCamera` which isn'

[2017-11-25 16:33] vertazzar commented on #140
@dmarcs thank you very much for the code, I will test it out tonight

generally I don't see the problem of adding a non-standard way of freeing the resources since the entire purpose of the plugin is to provide WebRTC for ios UIWebView. Writing some wrapper with few if-s like `` isCordovaIOS() `` is no big deal for the case where the bug cannot be fixed according to the standard RTC implementation

[2017-11-25 16:35] dmarcs commented on #140
@vertazzar Okay sounds good. Let me know if it works. If not you can try setting some variables above equal to nil which will definitely free your camera, but potentially cause other issues.

[2017-11-26 07:49] hilxm opened #321 "getUserMedia video width or heigh not work?"
I try many times to set the width or height of the video , but I get the video same size last.
Why?
Change the value below will change nothing :

cordova.plugins.iosrtc.getUserMedia({
  audio: true,
  video: {
    deviceId: 'com.apple.avfoundation.avcapturedevice.built-in_video:1',
    width: {       // ====>not work
      min: 320,   //====> not work
      max: 640   // ====>not work
    },
    f

[2017-11-26 22:13] vertazzar commented on #140
@dmarcs I have tested it and it seems that it's working without any problems. Even if I drop the call, and re-initiate the call

[2017-11-27 00:32] dmarcs commented on #140
@vertazzar That's good to hear 😃 Someone using my Cordova CallKit plugin also used it, and it worked.

[2017-11-28 05:32] naikus commented on #317
@ibc @nickygiorgi @k13elle  This is most likely a hack and there are better ways to do this and needs to be thoroughly tested:
[code]
A quick example http://jsbin.com/zezuho/edit?js,console

[2017-12-05 04:10] enraiser commented on #166
@Toumassa  I am using navigator.getUserMedia and I do get this error. Can you please help me. please...

[2017-12-07 09:23] naikus commented on #317
In this specific case of webrtc-adapter, The function will have to change a bit:
[code]

[2017-12-27 16:36] fuub commented on #140
I'm having this same issue, I've added the freecamera method in iosrtcPlugin.swift, how do I call it in javascript to release the camera?

[2017-12-28 00:24] dmarcs commented on #140
@fuub You need to add this function to [iosrtc.js](https://github.com/BasqueVoIPMafia/cordova-plugin-iosrtc/blob/d38fe4dabb6d433b20ec6fe4efd65fa86aa710a4/js/iosrtc.js). It allow you to call the swift function from javascript:
[code]
Hope this helps.

[2017-12-28 11:19] cobaltway commented on #318
I have the same problem. Any insight? Please re-open.

[2017-12-28 14:47] fuub commented on #140
Hello David,

Thanks for the quick response!

I was able to call the freeCamera function from javascript now, but after
calling it after the call is ended it is giving me the error on the image
below. Is this anything you know the cause?

[image: Inline image 1]

On Thu, Dec 28, 2017 at 12:24 AM, David Marcus <notifications@github.com>
wrote:

[2017-12-29 23:32] dmarcs commented on #140
@fuub Sorry but I can't see the image.

[2018-01-01 23:46] picarsite opened #322 "False WebView position when sliding and using it as background does not work"
Hello,
I'm using this plugin in combination with Vue.js and the Quasar Framework. I created a component which defines a simple video html:

`<video id="nbVideoEl" autoplay="autoplay" playsinline="true"></video>`
`	#nbVideoEl {
        position: absolute;
        z-index: -1;
		height: 100%;
		width: 100%;
		object-fit: cover;
	}`

I'm using this component, with that simple video element, in a slid

[2018-01-03 15:02] fuub commented on #140
I solved by calling the freecamera sooner and now it frees the camera.

but still didn't fixed my main issue, which is after the first call the
local video doesn't show up, or show up just minutes later of the ongoing
call, totally random. In the first call it always shows up perfectly.

Although it doesn't show up the local video, the video is being sent and
working fine, maybe it is some problem

[2018-01-03 21:20] reedspool commented on #307
Can this link and suggestion be added to the README? I'm sorry I'm unable to PR at this time. Thanks!

[2018-01-04 01:37] dmarcs commented on #140
@fuub I also had the problem of not being able to see the local video (The first call always worked perfectly for me too). See #298 for more details. The freeCamera method fixed that problem for me, but I only called it at the end of a call. I'm not sure why you have to call it earlier. That might be part of your problem. I would use xCode to analyze the webRTC variables, and see if you can get to

[2018-01-04 09:59] fuub commented on #140
Ok I will try to check webRTC variables, btw the previous image and the
error it gives when calling freecamera after call ending is this:
https://imgur.com/a/b4M9s

On Thu, Jan 4, 2018 at 1:37 AM, David Marcus <notifications@github.com>
wrote:

[2018-01-04 13:54] alkoschuster commented on #140
We also implemented the `freeCamera` function in our fork and it works splendid. We did however had to make one change. The first for loop in the function assumes there is at least 1 localStream which, for us, was not the case and it made the app crash. A small `if` around it fixed that problem. The final code we implemented is as follows:

[code]

[2018-01-04 14:15] fuub commented on #140
Hi Alko,

Did that change and now I get a similar error below:
https://imgur.com/a/UJyQb

On Thu, Jan 4, 2018 at 1:54 PM, Alko <notifications@github.com> wrote:

[2018-01-04 22:11] reedspool commented on #317
I have just now hit this same roadblock, so chiming in.

@naikus Did you or anyone test this solution? It's quite a big change for the plugin code, since it appears in every constructor.

@nickygiorgi Did you find an upgrade path? Did you have a serious issue with webrtc-adapter 4.0.1 that required an update? It seems I'm walking a similar path so any tips would be appreciated. Thanks!

[2018-01-05 08:30] naikus commented on #317
@reedspool  I did not pursue this further. We were working on a POC and meanwhile iOS 11 came with support for WebRTC so we used a web-only solution for iOS safari that worked for us.
But even with this approach, it seems the MediaStream (plugin) js class will need a different workaround because its created in a different way not via the new operator. Also the adapter uses (I guess) MediaStream (W

[2018-01-05 09:57] nickygiorgi commented on #317
@reedspool No, unfortunately we are still on 4.0.1 and not planning to update for the near future. We found the issue while trying to update most of the packages and plugins we use in our application but if there is no official fix for this we don't really have time to spend bringing in custom modifications and testing whether they work in all cases.

We don't have any particular issue with 4.0.1,

[2018-01-05 10:01] alkoschuster commented on #140
@fuub Don't know why this is happening on your end. You can probably find out more if you look at the debug data available, but just by looking at the code, maybe changing it to this will fix it for you:

[code]

[2018-01-05 14:21] fuub commented on #140
Thanks for the help Alko,

It doesn't give any error now with that code but also doesn't free camera :)

But I discovered something... if I use the code right before call ends it
is releasing the camera, and if I background the app and then foreground
it, it works again nicely. Only if it stays foreground on the second try
the local video doesn't work... Maybe it is a different issue afterall...

[2018-01-05 14:37] fuub opened #323 "getStats not working"
Hello,

I'm trying to get statistics for packet loss from getStats but the promise isn't returning anything, and i'm getting this error in xcode debug:

_2018-01-05 14:22:15.637181+0000 App[2547:1490340] error JSON.stringify()ing argument: TypeError: JSON.stringify cannot serialize cyclic structures.
2018-01-05 14:22:15.637736+0000 App[2547:1490340] iosrtcPlugin#RTCPeerConnection_getStats()
2018-0

[2018-01-05 16:05] reedspool commented on #317
@naikus @nickygiorgi Thank you for your responses. The info is very helpful, even if it's not a golden ticket. I am hoping to support IE8+ so this solution is looking important and daunting.

Nicky, do you use MediaStream with Adapter 4.0.1, or perhaps you are just using RTC for DataChannel? I attempted to downgrade to 4.0.1 but immediately got another incompatibility issue with MediaStream.

[2018-01-07 14:38] picarsite opened #324 "PluginMediaStreamRenderer is not called"
PluginMediaStreamRenderer is not called. iOS 11.2.1 (iPhone 5s) and macOS High Sierra 10.13.2.

My video element which is added to the DOM after the DOM is rendered initially:

[code]

I'm adding the stream to this video element:

[code]

But there is not any PluginMediaStreamRenderer notification in my log:

[code]
OnAddStream is called when the stream is assigned to the video element:
`2018-01-0

[2018-01-07 16:26] hthetiot commented on #323
@fuub  Could be related to #305

[2018-01-10 17:25] sysnajar commented on #324
Hi , I 've had the same pain :).
I want to use only the local video rendering , here's how I've made local video display correctly.

 video.src = URL.createObjectURL(stream);   // set up src attribute once stream is ready
 cordova.plugins.iosrtc.observeVideo(video); // tell the plugin to handle your video tag manually

[2018-01-16 07:41] krishnaclouds commented on #193
Any Solution? Facing black video problem even in Android too!!

[2018-01-19 15:12] diex78 opened #325 "Modified as suggested, but still no video in iOS 11"
I have an WebRTC app that uses this plugin which works fine on iOS9 and 10. But in iOS 11 I can hear audio between devices but can't see video (neither local or remote).

I have added the changes suggested in other issues (playsinline in video tag, preference AllowInlineMediaPlayback=true) and i have also added a call to cordova.plugins.iosrtc.observeVideo() with no luck.

In console I receive thi

[2018-01-20 09:46] glardaro commented on #325
Hi,

I have the same issue.
I tried connecting an iOS 10 to an iOS 11 also: on iOS 10 I have audio and video working (I see the local video and the streamed video) and on iOS 11 have audio, but no video (neither local or streamed).

Any advice?

[2018-01-22 14:49] a-curci commented on #325
same issue here. Anybody can provide some help?

[2018-01-22 19:17] gmaruzz commented on #325
me too

[2018-01-27 10:33] keshrev commented on #325
hi,
was facing issue with video element while streaming, got it working by following steps.

- added     <preference name="AllowInlineMediaPlayback" value="true" /> in config.xml and  playsinline/ webkit-playsinline to video tag.
- got to cordova-plugin-iosrtc folder inside plugins folder and open src>PluginMediaStreamRenderer.swift file and replace
`
             if zIndex == 0 {
		self.webView.s

[2018-01-29 08:57] gmaruzz commented on #325
Keshrev, I tried to implement your solution, without success.
Can you please give more details, or step by step?
Many thanks in advance!

[2018-02-02 13:53] cdcv opened #326 "Error: Failed to get access to local media. Error name was TypeError. Continuing without sending a stream."
Installed plugin using latest version, latest cordova (8.0.0) & ios platform (4.5.1), and using webhook, build for iOS using XCode 9.1
When attempting to initiate webRTC (for a video call), got the error above.
No idea what the origin is.
If this is something do do with browser security, content security policy, etc, is there an example of the configuration required?  I'd suggest adding the line(s

[2018-02-04 23:43] streak7 commented on #324
i've did a bit of research but i couldn't find a solution yet. the xhr request in the handleVideo function (cordova-plugin-iosrtc.js) has a problem. with the xhr response type 'blob' the event 'onload' will never raised and so the rendering of the stream never starts. mayb a security 'feature' in ios 11?

[2018-02-05 08:14] picarsite commented on #324
Are you using a framework like Angular, React or Vue.js?

[2018-02-05 08:28] streak7 commented on #324
no. i'm using plain cordova. started debugging with a naked cordova app with plugins whitelist, ios-camera-permissions, iosrtc and swift-support.

i've tested some debug-code inside the plugin-scripts and i've compared with ios10. same app works with ios10 without any error.

ios11
the type 'arraybuffer' instead of 'blob' is causing an event 'blob' not. modifying the stream filename from 'blob:fil

[2018-02-05 17:56] kyle9292 commented on #325
I'm getting the same error and only dealing with audio streams.

[2018-02-13 05:50] keshrev commented on #325
@gmaruzz  @kyle9292 sorry for the late reply was busy in some personal work,  till date I din't get the error mentioned by @diex78, I implemented iosrtc successfully for both video and Audio calls and its working fine. I just followed these steps.

-  ionic cordova plugin add cordova-plugin-iosrtc
- Go to cordova-plugin-iosrtc/extra/hooks/ folder then copy iosrtc-swift-support.js file and put in y

[2018-02-15 02:46] Psiloscop commented on #193
Is it possible to remove black lines on a video stream?

[2018-02-27 13:24] HugoHeneault commented on #247
Hi @logidelic

Did you manage to get it fixed? I am reproducing this issue on 3rd try every time.
I'm looking through the logs but everything seems to be fine :(

@saghul Any ideas/updates here?

[2018-02-27 13:42] HugoHeneault commented on #247
My issue isn't with video, only audio. But I assume it's the same kind of issue.

[2018-02-27 14:31] nickmendes commented on #247
@HugoHeneault , what is your issue ? Youre in a call and if you lock ios device you loose connection ?

[2018-02-27 14:33] HugoHeneault commented on #247
@nickmendes So I start and stop a first call. It works.
Then I start another, it's still working.
Then I start a 3rd one, and then, I have no sound even if everything seems to be fine (I have no errors, go the IceCandidates and descriptions and streams...)

[2018-02-27 14:47] HugoHeneault commented on #247
@logidelic Thank you for your fast reply. I'll try to find a solution and come back here for anyone having the same issue if I find something...

Right now I'm trying this fork that might fixe some issues with streams not stopping: https://github.com/mark-veenstra/cordova-plugin-iosrtc

Related: https://github.com/BasqueVoIPMafia/cordova-plugin-iosrtc/issues/140

[2018-02-27 15:05] HugoHeneault commented on #140
@saghul @ibc What do you think of what was done [here](https://github.com/mark-veenstra/cordova-plugin-iosrtc) by @alkoschuster ?

Right now my solution is force the user to kill and restart the app after the calls... :(

[2018-02-28 09:02] Psiloscop commented on #299
Is there any way to hide crossed-out-play icon presented in the screen above?

[2018-03-12 16:12] gabrielpotumati opened #327 "wowza webrtc"
This plugin can just be a player and integrate with wowza webrtc?

[2018-03-12 20:38] bmariusz commented on #300
Did you manage to fix it? @supryin @ProximaHaiz

[2018-03-13 15:37] bmariusz commented on #325
Same issue here, @keshrev solution didn't fix it. Tested with IPhone 5s

[2018-03-13 17:31] keshrev commented on #325
@bmariusz, can u share your error report or code to rectify the issue.

Thanks,

[2018-03-14 08:14] bmariusz commented on #268
Did any of you guys manage to fix it? @magestican @ibc @saghul @justindujardin

[2018-03-14 08:56] bmariusz commented on #325
Actually, I've mange to fix it. `element.srcObject` generated this issue. You need to use `window.URL.createObjectURL` instead @diex78.
[code]

[2018-03-17 05:40] ostrichegret commented on #223
@saghul Hi saghul, do you have a cordova push notification plugin that can display call screen like whataspp when the phone screen is off and locked?

I can only find the notification bar push notification.

Thank you.

[2018-03-20 03:50] cdcv opened #328 "iOS video not working: errors with not allowed to load local resource and MediaStream"
I have followed the instructions provided and created a video chat app.  It works correctly in browser and Android cordova.
On iOS cordova, the self-video displays (so webRTC is working somewhat), but peer video does not display (on either the iOS device or a chrome web browser peer that works with non-iOS peers).
The following errors are produced:
Not allowed to load local resource: blob: blobint

[2018-03-21 08:47] phillx commented on #328
Hello @cdcv , could you provide more informations ?

iOS Version,
XCodeVersion,
etc. ?

Actually i had hard times with webRTC at iOS and finally all working :)

[2018-03-21 14:55] cdcv commented on #328
Versions should be close to 'the latest of everything'.
XCode 9.1.
iOS 11.0.3.
Building with Cordova 7.1.0, iOS platform 4.5.4.
Thank you for your help.

[2018-03-21 21:45] azachar commented on #328
I have the same issue when I change a front camera to a back one.

[2018-03-22 02:33] phillx commented on #328
@cdcv @azachar ok cool, I gonna in next day max two prepare for you briefing of my solution, because I had same and it have been long process :)

[2018-03-26 13:59] narasimham123 opened #329 "How to get the video call when my app in background mode?"

[2018-03-26 14:00] ibc commented on #329
No.

[2018-03-26 14:00] #329 closed

[2018-03-26 14:10] narasimham123 commented on #329
Mo means

[2018-03-26 14:11] ibc commented on #329
Foo

[2018-03-29 12:39] krish-dev opened #330 "Conflict with Cordova File plugin (cordova-plugin-file)"
The native video layer is not rendered if cordova-plugin-file is available into a project.

[2018-04-08 14:38] jbolthouse commented on #328
@phillx  - Did you ever have a chance to prepare your briefing to this solution? I am really curious about how you got through it.

[2018-04-10 06:35] #330 closed

[2018-04-12 14:09] rhammouda commented on #328
Same issue for me

[2018-04-20 19:59] Barlocker-Garrett commented on #328
I have the same error, but I am only using audio `Not allowed to load local resource: blob:blobinternal:///6386b5f2-39f6-4739-ae0d-457944a779fd`
XCode 9.3
iOS 11.3
Building with Cordova 7.1.0, iOS platform 4.5.4

[2018-04-27 12:00] DaGLiMiOuX opened #331 "AddTrack function not found"
Hi there.

I'm using a 3rd party Javascript library that uses the new PeerConnection `addTrack(track, stream)` function to work with the PeerConnection.

It used to work with a previous release of that Javascript, because they were using `addStream` function. It is not a problem to change them manually and customize the Javascript, but I would like to know if there is any PR already or a job in yo

[2018-04-30 07:50] #331 closed

[2018-04-30 07:51] ibc commented on #331
The WebRTC API implementation in cordova-plugin-iosrtc is too old.

[2018-04-30 08:17] DaGLiMiOuX commented on #331
So there is no update? I tried to update adapter.js WebRTC from 3.1.5 to 6.1.5, but still giving the same error.

Will it be updated in a near future?

[2018-04-30 08:33] DaGLiMiOuX commented on #331
I'm a web developer and I would like to help as much as I can (if possible) even when I don't know Objective-C nor Swift. We need it for our project and all goes bad when we are talking about Apple (iOS) and WebRTC.

Sorry if this is a bit off-topic, but why I cannot assign the stream to the html video tag? I tried using ``playsinline``, but is not working as expected. When I open the app and it c

[2018-05-08 18:54] jjahifi commented on #328
This type of problems are not related to the plugin. It is an inherent feature of the Cordova platform iOS. iOS requires you to explicitly allow media sources.

Adding "media-src * blob" to the <meta ... > should be sufficient.

I would suggest you to close the issue because it is not related to the plugin.

[2018-05-09 14:25] azachar commented on #328
Hello,
I did this as first obvious step but it did not work.

Any idea how to proceed?

Cheers,
Andrej

Sent from my iPhone

[2018-05-09 14:52] jbolthouse commented on #328
The only advice I can give is whether you are in a framework or not, reach
as far up through the parent as possible before your gum call. In my case
it was top level frame in the DOM before it worked.

On Wed, May 9, 2018, 7:25 AM Andrej Zachar <notifications@github.com> wrote:

[2018-05-17 14:52] derMani opened #332 "Fullscreen getUserMedia / localvideo with 1280x720 and 640x480 on different devices not working"
# Problem

- It's not possible to see a fullscreen 1280x720 video with z-index:-1 on the iPhone 6-10
- It's not possible to see a fullscreen 640x480 video with z-Index:-1 on the iPhone 5s / SE

# Testing situation

Simple webApp with two buttons for starting the own camera in a fullscreen local video stream with two choices: 640x480 or 1280x720

# Expected Result
- Either the 640x480 or 1280x720 s

[2018-05-17 15:36] jrx-fsj commented on #332
I faced the same problem and don't know the exact source of the problem, but it's something related to float parsing between javascript and swift. I applied a workaround in iosrtc plugin to round those floating numbers for the sizes before sending to native code.

I have the plugin forked and with that workaround applied here:
https://github.com/jaraxasoftware/cordova-plugin-iosrtc

If you prefer

[2018-05-17 16:29] derMani commented on #332
Ah I was on that exact same route now (while debugging the code).

It's a conversion problem from float to double, I think the 0 value is taken, after the conversion fails.

The elements must be doubles inside of the swift code. Since all iPhones out there currently are 64 bit, it's not really a problem?

Fix PluginMediaStreamRenderer.swift this way and replace the occurrences of float with double

[2018-05-20 17:25] eivindml opened #333 "Error when loading the plugin in a custom cordova view, in a native app"
Hi,

while trying to load the plugin in a cordova web view, in a native app, I get this error:

[code]

Both cordova and the plugin loads fine, but when trying to make the call i get this error. Trying to add it through the `CDVViewController`.

[2018-05-22 17:57] farsadf commented on #325
Same issue here,
I've already tried things above, is there any workaround for this?!
Running on iOS 11.3.1, cordova-ios 4.5.4, ionic 4.7.0

[2018-05-22 22:26] sergei202 commented on #325
@farsadf:  We had *a lot* of native iOS issues, but we finally got it to work.  There is light at the end of the tunnel!

The major things that helped us:
 - Making sure iosrtc and SimpleWebRTC load BEFORE you try to use them (`setTimeout()`)
 - Use `observeVideo()` for the local video
 - Make sure your video elements/divs are not positioned absolute

[2018-05-23 05:56] farsadf commented on #325
@sergei202 Thanks for your tips, I'm not using SimpleWebRTC (I'm using this library to capture raw video)
I've looked at the ionic structure the parent of video element is positioned absolutely, does it hurt?!
I've didn't know the usage of ``observeVideo()``, BTW I added it right before I attach the stream to the video element.
I'm posting the portion of code which handles stream assignment.

[cod

[2018-05-27 17:45] eivindml commented on #170
@BellesoftConsulting Did you try this? I have the same issue.

[2018-05-27 21:17] BellesoftConsulting commented on #170
nope, did not get it work :(

On Sun, May 27, 2018 at 1:45 PM Eivind Lindbråten <notifications@github.com>
wrote:

[2018-05-30 16:21] menelike commented on #328
Has anyone come up with a solution on this?
I've tried every possible CSP configuration, none of them worked.

Thanks a lot!

[2018-05-30 17:03] jjahifi commented on #328
There are several issues related to this. On is the meta-definition. The second is the requirements of the newest iOS-versions.

I have been using a meta like
	<meta http-equiv="Content-Security-Policy"
	      content="media-src * blob:;
		       default-src 'self' gap://ready file://* *;
		       style-src 'self' 'unsafe-inline';
		       script-src 'self' 'unsafe-inline' 'unsafe-eval';

[2018-06-06 01:00] isaax2 commented on #13
it works with the plugin mentioned by, @oscarvadillog

just call it after the audio session was established, for example for a working test, copy and paste after your videocall was established in safari's console.

cordova.plugins.audioroute.overrideOutput('speaker',
  function(success) {
    // Success
    alert("success");
    console.log("success",success);
  },
  function(error) {
    // Error

[2018-06-08 07:00] its-Aman commented on #328
I got it working by following code

Put following code in your index.html

`
  <meta
    http-equiv="Content-Security-Policy"
    content="
           media-src * blob: ;
 		       script-src 'self' 'unsafe-inline' 'unsafe-eval';
 		       connect-src * blob: http: https: 'self' 'unsafe-inline' 'unsafe-eval'
           http://*/* https://*/* https://*:*
  ">
`

And in your ts file, cast the stream

[2018-06-08 08:30] azachar commented on #328
Yes, of course, it will work when you turn on CSP. But this is not acceptable on any production ready app, it is super unsafe!

[2018-06-08 14:10] cah-dunn commented on #328
@azachar The interesting part is that this library worked fine without any CSP specified on the iOS 10 SDK, but is now failing with the iOS 11 SDK. Seemingly, Apple added some new rules that require you to include _some_ CSP, even if it's a relatively useless CSP.

[2018-06-13 02:45] KiritoBeater opened #335 "iOS 11.4 MediaStream is not Blob"
[code]
Maybe determine the system version for this

[2018-06-14 10:13] fuub opened #336 "App is crashing with the latest iOS @autoreleasepool"
App was working fine and in some of the latest updates it stopped working with the error in the image attached.

I can't really find any information since this error is not specific, can someone please help on how to debug or has any idea of what can be causing it?

![screen shot 2018-06-14 at 11 07 34](https://user-images.githubusercontent.com/18593037/41406264-d214ec14-6fc3-11e8-8c29-d53bfde16ea

[2018-06-15 15:42] jjahifi commented on #336
Did the problem appear after xcode upgrade or after iOS upgrade? Can you point out the specific update?

Have you tried different build settings?

[2018-06-18 09:28] fuub commented on #336
Hi jjahifi,

It seems to have started with iOS update 11.3.

Nothing on xcode was changed, I tried activating all exception breakpoints and zombies to give more information but no luck...

[2018-06-22 15:42] hesrun opened #337 "Action html block z-index top of the video"
![image from ios](https://user-images.githubusercontent.com/4364096/41785760-3cea69a4-764c-11e8-80e6-0aa5e07e8f68.png)
We have made sure that the video falls over HTML WebView.
I make to big video z-index: -1 and make transparent body and html.
Block with actions btns i make with high z-index 10, 99, 1000 and 9999 and 99999.... ((((
But the block with the buttons is not active, but they are visibl

[2018-06-24 14:12] l7s commented on #268
Hi, sorry can't do PR (as got only internal git repos behind firewall), but here is patch which fixes the issue for us:

[code]

Regards,
Chris

[2018-06-24 22:56] tanzeelrana opened #338 "XCODE 9 SWIFT VERSION ISSUE - Update to Swift 3.2 needed !"
https://stackoverflow.com/questions/46338588/xcode-9-swift-language-version-swift-version

I am seeing the above error if i use this plugin with my new ionic project

Steps to reproduce :

ionic start myApp tabs
cd myApp/
cordova plugin add cordova-plugin-iosrtc
ionic cordova platform add ios

and then ....

open the project in xcode
try to build and run the project

[2018-06-24 22:56] tanzeelrana commented on #338
do i need to Convert your source code from Swift 2.0 to 3.2 using Xcode 8 and then continue with Xcode 9 (Swift 3.2 or 4).

??

[2018-06-26 09:28] fuub commented on #336
Hi @jjahifi I don't think downgrading cordova makes sense, since everything was working, and I didn´t update it.

I tested with different javascripts libraries and the error seems to happen when I get any SIP response from the sip server, being in a REGISTER or an INVITE.

It is the only clue I got..

[2018-07-06 09:56] soulfly commented on #338
The same at my side as well,
Can't use the library with Xcode9

@ibc do you still support the library?

[2018-07-06 09:59] ibc commented on #338
No, sorry, I don't have time.

[2018-07-06 10:02] soulfly commented on #338
:(((

so looks like Xcode 9.4 is completely broken because it does not support Swift less than 3.3 anymore

[2018-07-06 10:04] ibc commented on #338
That's sad, but that does not provide free time to me.

[2018-07-06 10:53] soulfly commented on #338
This is that exact moment when I feel like I hate open source ;-D
and I also hate Apple because they did not add the WebRTC support for iOS WebView...

Well, need to think how to prepare a PR and also find free time for it ;-D

[2018-07-07 04:38] menelike commented on #338
Indeed, Apple once again...

But beside of that I could build this project with `Version 9.4.1 (9F2000)`, but I'm not using ionic.

[2018-07-07 16:38] soulfly commented on #338
Hi @menelike ,
you mean you built it from src code?

At my side, I have a simple WebRTC Web application, and now trying to run it under Cordova.
I have Xcode 9.4.1 installed which supports Swift 3.3 and newer, but can't run my project  - it says it can't build it because this lib is built with older Swift version

[2018-07-09 12:36] soulfly commented on #338
Thx @menelike , I tried it one more time and by some reason it works now..

I guess I made a mistake with  **hooks/iosrtc-swift-support.js** - did not set up it properly and this was a case

@tanzeelrana I have Xcode 9.4.1 and successfully run it. Maybe you have similar case with hook?

[2018-07-10 14:56] dianasotirova commented on #338
Hi, @soulfly, I am experiencing the same error with XCode 9. Can you describe how did you succeed running the plugin?

[2018-07-10 15:18] soulfly commented on #338
@dianasotirova

This is probably you did not follow the Building Steps of **cordova-plugin-iosrtc**

https://github.com/BasqueVoIPMafia/cordova-plugin-iosrtc/blob/master/docs/Building.md

and did not setup properly a hook **hooks/iosrtc-swift-support.js**

With this hook it should work without any issues, because it adds Swift 3.0 settings which this plugin supports well

I had this error because

[2018-07-11 08:12] dianasotirova commented on #335
Hi,

I guess stream should be MediaStream not Blob. When I try to use the stream with audioContext I got error:

"webkitAudioContext.createMediaStreamSource must be an instance of MediaStream"

[2018-07-11 08:16] dianasotirova commented on #338
@soulfly, thank you very much. Indeed, the problem was the hook was not running, because I had problems with some other plugins. Running successfully the hook fixed the problem.

[2018-07-13 07:39] pa1rjp commented on #309
@neethusr87 can you help me out with code that you are using for video calling, i am dead stuck doing vidoe calling using iosrtc. As i am getting blob type data from the device and i am expecting mediastream type data.
Just want to know how were you able to achive video calling.
Thank you in advance, please share your code.

[2018-08-01 08:57] 4i-helpynet commented on #317
We get the same error with the latest adapter.js
@naikus which file shoud be updated with your code?

[2018-08-01 12:09] naikus commented on #317
@4i-helpynet I wrote this function in iosrtc.js, but this does not seem to work with MediaStream.js class since it does not use a "new" operator. You'll have to test this thoroughly

[2018-08-05 19:45] ActNotSign opened #339 "library not found for -lWebRTC-LATEST-Universal-Release"
How to fixed it?

ld: warning: directory not found for option '-L/Users/erwa/code/app/biuworld_app/platforms/ios/demo/Plugins/cordova-plugin-iosrtc'
ld: library not found for -lWebRTC-LATEST-Universal-Release
clang: error: linker command failed with exit code 1 (use -v to see invocation)

[2018-08-06 09:33] LabDeve opened #340 "Local video isn't working on iPhone 8 / iPhone X"
I've used this plugin a lot on iPhone 5/6/6 plus etc, but I can not make it work with iPhone 8 and iPhone X (iOS 11 / 12 beta).
I can not understand the problem because no error is shown, neither from the js console nor from the xCode debugger ...
In practice, on the iPhone 8 / X the local video remains black (even on the other peer), while the remote video (the received) works.

[2018-08-11 11:45] Chaitanya1010 commented on #171
Is there any update on this? I'm facing the same issue with swift 3.3 and IOS target version 9 on Xcode 9.4.1.
I'm using Ionic to build the application with the quickblox's WebRTC.

[2018-08-14 19:50] derwaldgeist commented on #340
Same problem here. Instead of the local video, I see a strike-through play icon.

Interestingly, the same plugin works in my older app version which is still on the app store. This version had been built with Xcode 8.3, if I remember correctly.

But if I try the very same now with the iPhone X and the most recent Xcode version, it doesn't work anymore.

[2018-08-15 03:27] mattlin4567 commented on #340
I got similar problem. I'm using ApiRTC & Ionic with iosRTC.

Running on iPhone SE/6s can't see anything but audio. and the opposite(Android) can see the media of iPhone.

I also noticed that when the call establish the video on iPhone just show a second.

so I think maybe the autoplay is broken.

[2018-08-15 14:19] derwaldgeist commented on #340
I've found out that my problem was related to the Chrome browser I used as the peer for testing. It only happened if Chrome was initiating the session, not if the iPhone was initiating. And the same problem occurs in a connection between Chrome and Firefox. Seems as if something has changed in Chrome (again).

[2018-08-25 11:30] bearinld004 opened #341 "What is this thing calling (method definition)?"
https://github.com/BasqueVoIPMafia/cordova-plugin-iosrtc/blob/master/src/PluginRTCPeerConnection.swift#L220

I cant seem to find this defintion anywhere, in the webrtc code base, in the static lib?
Why is it called shorthanded like

[code]
instead of
[code]

the header file shows
[code]

[code]

[2018-08-27 06:28] bearinld004 commented on #341
nm swift 3 does some weird translation steps.. weird

[2018-08-27 06:28] #341 closed

[2018-09-07 11:01] rooz121359 opened #342 "who wrote the documentation?!"
why the documentation of this plugin is so difficult to understand? has it been written by a robot?

At times it makes absolute no sense whatsoever.

The documentation seems to be incomplete and keeps jumping from one section to another and it doesn't no explain what just happened in the previous section!

[2018-09-07 11:27] rooz121359 commented on #342
You are more than welcome and fuck you too. prick..

[2018-09-07 11:41] ibc commented on #342
Fucking bastard and poor stupid boy.

[2018-09-07 11:44] rooz121359 commented on #342
is that your name you knob-head?! get stuffed bitch.... get off my back now and learn some English if you are trying to communicate properly with people you sack of shit...

[2018-09-07 11:48] ibc commented on #342
Hey, poor bastard and ignorant, you are blocked, piece of shit.

[2018-09-07 12:01] rooz12345678 commented on #342
@ibc hey Cunt. go fuck yourself and maybe learn some proper English as well while you are at it bitch..

Now you can block me again bitch...

A word of advice for you: Never mess with people like me you son of a whore... We will fuck you up and spit you out like you never existed you good for nothing bellend.

Bye bye bitch... toe rag...

[2018-09-10 15:57] d1bug commented on #325
@sergei202 ,I had many problem with this plugin.
1.The getUserMedia method return blob,but ios app tip that blob is null
2. 'exc_bad_access' when init the RTCPeerConnection,i suspend thread then the  app crashed

[2018-09-10 15:59] d1bug commented on #325
@sergei202
2018-09-10 23:58:26.782158+0800 咘咘[262:9826] localURI:blob:blobinternal:///c134beed-a36a-4351-9eac-feee6654fcd4
2018-09-10 23:58:26.783507+0800 咘咘[262:9826] 本地不存在文件:(null)

so my camera not work successed.

[2018-09-10 16:33] d1bug commented on #239
libsystem_pthread.dylib`thread_start:
    0x181367b0c <+0>: bl     0x181368fec               ; _pthread_start
    0x181367b10 <+4>: nop
Thread 0x0x13bee9b10 (13): EXC_BAD_ACCESS (code=1, address=0x9403)

[2018-09-18 06:57] jituumaria commented on #250
help
 open live camera streaming from web-view in react native

[2018-09-26 20:03] kpwa opened #343 "RTCPeerConnection.addTrack must be an instance of MediaStreamTrack"

[2018-09-26 20:39] ibc commented on #343
Cool. Thanks for the info. Saludo.

[2018-09-26 20:39] #343 closed

[2018-10-02 10:17] kpwa commented on #343
can u pliz check on my query above?

[2018-10-02 15:49] 4i-helpynet commented on #340
For our tests on iPhone SE / iOS 11.4 / Janus WebRTC server / iosRTC / Angular 6 app, the video stream receiving by the webRTC server started AFTER the app goes background, and call back to foreground. Audio is received immediately, but the video appear on both side only after this back / foreground change. It's visible on logs too, at the first try, the video receiving isn't started, but after go

[2018-10-04 09:42] kpwa commented on #343
updates please?

[2018-10-04 09:44] kpwa commented on #335
RTCPeerConnection.addTrack must be an instance of MediaStreamTrack

facing the same issue, how did you get around this?

[2018-10-04 12:16] 4i-helpynet opened #344 "Local video start after app comes back to foreground"
[IOS] 11.4
[iosRTC] 4.0.2
[Webrtc server] Janus
[App framework] Angular 6

PROBLEM / BUG: Local audio start immediately, local video start only after the app come back to foreground from background, till it's blank screen. WebRTC serve rstart to receive video after this too.
(No any error messages in logs)

Question: There is a way to stop and restart video track after the connection established?

[2018-10-04 12:54] dianasotirova commented on #335
@kpwa, finally we used another plugin - cordova-plugin-audioinput.

[2018-10-08 08:55] aman5537jains opened #345 "Iosrtc remote video sometime works and sometime not work"
Remote video working android to android perfectly
Remote video working android  to browser perfectly
Remote video working in android but not working sometime in iosRtc Cordova .

[2018-10-08 09:20] #345 closed

[2018-10-10 06:14] alaanasreng opened #346 "Video Not Appear in IPhone"
Hello Sir,

Videos For Local And Remote Stream Not Appear in Video Element on iPhone but the stream work correctly to another devices

I am showing video elements in a div with z-index

I try:
cordova.plugins.iosrtc.refreshVideos();
cordova.plugins.iosrtc.observeVideo(videoElem);

is there any solutions?

Best Regards

[2018-10-10 10:18] webintoit commented on #346
TPC.onaddstream happens before the remote description set. Try to queue the handler like here:
https://github.com/jitsi/jitsi-meet/blob/master/react/features/base/lib-jitsi-meet/native/RTCPeerConnection.js

Or just delay it.

[2018-10-16 08:13] DasPartyEinhorn commented on #346
I have the same problem with iOS 12.

why should queueing `onaddstream` help? Not even the local video is shown, and to show this `onaddstream` is not called.

I guess the problem is somehow connected with attaching the stream to the video tag.
Or do I miss something?

[2018-10-23 07:52] DasPartyEinhorn commented on #346
@alaanasreng you solved this problem some how?

[2018-10-23 08:41] webintoit commented on #346
I have working IOS12 app. The steps to make it work is pretty  complex.
Easiest way to do it, is something like this:
[code]

Also. Depending on your signaling,  check for `remoteDescription` presence before `createOffer / answer` .
Simple self delaying is hacky, but can be helpful.
[code]

[2018-10-23 12:21] franShila opened #347 "cordova-plugin-iosrtc with sip.js 0.11 IOS APP"
Hi!!

I need your help please!! Urgent!!

I am developing a webrtc call/videocall app bases on ionic/Angular JS technologies. The app works with sip.js for call actions over PBX server. For IOS integration with WebRtc, app works with cordova-plugin-iosrtc.  When I try connect with PBX to call or received call, app throws errors on two possible use mode of cordova-plugin-iosrtc with sip.js

A) When

[2018-10-23 14:50] menelike commented on #347
see https://github.com/BasqueVoIPMafia/cordova-plugin-iosrtc/blob/master/docs/iosrtc.md#iosrtcregisterglobals

your jsep must be an instance of `RTCSessionDescription` e.g. `new RTCSessionDescription(jsep)`, a similar issue is discussed here https://github.com/meetecho/janus-gateway/issues/1422

[2018-10-31 03:28] Bernard-Ip commented on #140
@alkoschuster @dmarcs

I tried to use the freeCamera function on iosrtc plugin. I added the function to iosrtcPlugin.swift, and also added function:
freeCamera() {
exec(null, null, 'iosrtcPlugin', 'freeCamera', []);
} to iosrtc.js

When calling cordova.plugins.iosrtc.freeCamera(), it said freeCamera function is undefined.

Could anyone point me to the right way of using the function? Thanks.

[2018-11-06 04:00] TaiJinYuan commented on #345
same issue here. Does anyone have solved this?
android and browser is working perfectly, but on iOS, I can't get the remote video. Only black screen.
If anyone have solution, then please help me.
Thank you.

[2018-11-12 14:52] fbernhard commented on #346
We had a similar problem (videos on iOS were just black but appeared for the other party in the browser). For us the solution was to Math.round() the following two lines:

https://github.com/BasqueVoIPMafia/cordova-plugin-iosrtc/blob/master/js/MediaStreamRenderer.js#L284
https://github.com/BasqueVoIPMafia/cordova-plugin-iosrtc/blob/master/js/MediaStreamRenderer.js#L285

i.e. change them to

[code]

[2018-11-24 17:31] Bobisback commented on #335
@dianasotirova Do you have a guide by chance on how to use audioinput with a webrtc or RTCPeerConnection implamentation?

I just need to stream peer to peer audio, and just realized that the navigator.medidevices does not work on ios 11, but clearly people have worked around this issue. Just really hard to put all the pieces together. Any clues?

[2018-11-26 14:00] dianasotirova commented on #335
@Bobisback, I needed the audio to save it in a file and didn't use RTCPeerConnection, so I don't know how to use audioinput plugin for webrtc.
Anyway, this plugin works fine with webrtc. You just need to call RTCPeerConnection.addStream(...) as the sample in the README.md and it should be fine.

Hope this will help you.

[2018-12-03 21:48] cah-dunn commented on #344
@4i-helpynet https://github.com/BasqueVoIPMafia/cordova-plugin-iosrtc/pull/348 may solve your problem.

[2018-12-03 21:49] cah-dunn commented on #346
@alaanasreng @fbernhard see https://github.com/BasqueVoIPMafia/cordova-plugin-iosrtc/pull/348

[2018-12-04 09:46] fbernhard commented on #346
@cah-dunn Thank you!

[2018-12-04 14:30] pabloFuente commented on #345
We are experiencing right now a similar issue. There are some interesting details that I am always able to reproduce:
- First remote received video usually ends up being a black screen.
- This only happens for streams with both audio and video tracks. If the received video has no audio track, then it is always received OK (this is strangely similar to Safari browser politics for restricting autopl

[2018-12-04 14:34] pabloFuente opened #349 "First remote video reception is a black screen. Rest are fine"
We are experiencing right now an issue related to remote video reception. It is very concrete:

- First remote received video usually ends up being a black screen.
- This only happens for streams with both audio and video tracks. If the received video has no audio track, then it is always received OK (this is strangely similar to Safari browser politics for restricting autoplay capabilities in vid

[2018-12-04 16:38] pabloFuente commented on #349
Got it working. This issue is related to some kind of timing problem in the ICE negotiation for the received videos. Basically, adding a timeout in the `setRemoteDescription` part only when the faulty conditions are met (ios cordova app and first recevied media stream).

[code]

Now first recevied video works 100% of the times.

[2018-12-04 16:38] #349 closed

[2018-12-05 17:56] Bobisback commented on #347
@franShila I am trying to build a audio based peer to peer app with ionic and angular. Any chance I could pick your brain on how you guys did it, and what is the current state of your project?

[2018-12-06 09:04] 4i-helpynet commented on #344
Hi all

Possible solution: https://github.com/BasqueVoIPMafia/cordova-plugin-iosrtc/pull/348

Othervise, with a lot of trying, it's look like this problem solve with a bunch of other workarounds explained here: https://github.com/BasqueVoIPMafia/cordova-plugin-iosrtc/issues/346
and using of wkview cordova plugin, and set the video size to fix width, height, where after the iosrtc refresh, the retu

[2018-12-10 13:01] yangbinlovegis opened #351 "I want set the video tag back to some popUp window what should I do?"

[2018-12-11 06:34] yangbinlovegis commented on #309
I use this way ,but still sometimes it does't work on ipad ; when I press home button make my app minimize , and press my app maximization the sound come back

[2018-12-11 07:57] yangbinlovegis opened #352 "remote audio sometimes work , sometimes not work, just on ipad, iphone is ok; when I press the home button minmize and maxmize it is working; otherwise it's not working"

[2018-12-13 13:31] ibc opened #353 "Looking for new maintainers"
It is obvious that both @saghul and @ibc, maintainers of the **cordova-plugin-iosrtc**, no longer contribute to this project. We no longer use it professionally, we have other projects to maintain and the lack of time makes it impossible for us to participate in this project anymore.

So we are looking for new maintainers for **cordova-plugin-iosrtc**.

### TODO

Here a list of tasks that IMHO thi

[2018-12-16 05:38] Bobisback commented on #338
any idea how to make this hook work in an ionic project? I am getting the same issue, and I am not sure how to make sure the hook runs in an ionic project. Any ideas?

[2018-12-16 05:40] Bobisback commented on #338
@soulfly or @dianasotirova any ideas on my above issues? What is the correct way to setup the hook with an ionic project?

[2018-12-17 09:35] DaveLombardo commented on #338
@Bobisback seems yes,
I was getting the same. Can't comment on the proper steps for setting web hook,  everything is covered here
https://github.com/BasqueVoIPMafia/cordova-plugin-iosrtc/blob/master/docs/Building.md

but I can say the following as a summary:

- every time I start again use this lib, I face this issue. Every single time
-  then I played with the web hook and suddenly it started wor

[2018-12-17 09:36] soulfly commented on #338
@Bobisback seems yes,
I was getting the same. Can't comment on the proper steps for setting web hook,  everything is covered here
https://github.com/BasqueVoIPMafia/cordova-plugin-iosrtc/blob/master/docs/Building.md

but I can say the following as a summary:

- every time I start again use this lib, I face this issue. Every single time
-  then I played with the web hook and suddenly it started wor

[2018-12-17 10:49] cnjack commented on #353
good news~

[2018-12-17 11:51] Bobisback commented on #338
Thanks for the comment, I am using code 10.1 as well. I have been following the steps in the building.md file. I am just not sure where to put the hooks folder in the ionic project. Any chance you could tell me where you put your hooks folder at @soulfly?

Thanks,
Bob

[2018-12-17 12:11] Bobisback commented on #338
I am also getting tons of swift compiler errors when I try to build the project in xcode. Like 29 of them. Is it possible to actually just convert the swift code over to the newer version? Is converting swift code an automated process?

[2018-12-17 12:44] #352 closed

[2018-12-17 12:45] #351 closed

[2018-12-17 12:46] #339 closed

[2018-12-17 12:47] #335 closed

[2018-12-17 12:47] #333 closed

[2018-12-17 12:50] #321 closed

[2018-12-17 12:51] #316 closed

[2018-12-17 12:51] #310 closed

[2018-12-17 12:52] #294 closed

[2018-12-17 12:54] ibc commented on #250
@jituumaria

Yes, sure, working on it for free for you right now.

[2018-12-17 16:50] jjahifi commented on #353
I am willing to participate in the effort of maintaining this plugin. I do, however, use only a part of WebRTC functionality in my projects. Handling video on iOS is something I don't currently do and developing/testing video related issues is something I am unlikely to have time for.  For that reason  additional people are needed.

[2018-12-28 00:30] Bobisback commented on #338
For the record i fixed this by putting the following in the file Bridging-Header.h in the ios project.

[code]

[2019-01-03 06:45] Yagnik13 commented on #333
i have same issue

please look into that

ERROR: Method 'getUserMedia:' not defined in Plugin 'iosrtcPlugin'
2019-01-03 12:09:25.242916+0530 Video Conferencing[715:188226] -[CDVCommandQueue executePending] [Line 142] FAILED pluginJSON = ["iosrtcPlugin1688276400","iosrtcPlugin","getUserMedia",[{"audio":true,"video":true}]]
2019-01-03 12:09:25.345889+0530 Video Conferencing[715:188438] [BoringSSL] F

[2019-01-17 08:22] krneticz commented on #353
@ibc @saghul guys do you have a ballpark idea how much time it is for somebody working full time on this just to update it so that it works with the latest Xcode/ iOS/adapter.js (see this https://groups.google.com/forum/#!topic/cordova-plugin-iosrtc/T0pPCV46p9w)? Are we talking about days, weeks or months? Do you know anybody who would consider paid work contract to do it? We have two production a

[2019-01-17 10:22] saghul commented on #353
I'd say it a week of work. Alas I don't know who you could talk to.

[2019-01-18 09:35] micaelgallego commented on #353
@krneticz in our team we could try to update it. Please send me a private to openvidu [at] gmail.com for details

[2019-01-18 11:04] ibc commented on #353
Hi Micael, do you mean also maintaining the full project?

[2019-01-18 11:05] ibc commented on #353
Note that upgrading libwebrtc is not enough. The exposed API must be modernized to transceivers, etc.

[2019-01-20 15:33] jjahifi commented on #353
@micaelgallego I will be happy to participate in the maintenance effort if your team can take the main responsibility. But, as I wrote earlier, I use only a part of the WebRTC api.

[2019-01-22 10:06] MatthewTrout commented on #140
@Bernard-Ip if you're just doing as I was, modifying the content in the xcode project  to test it out, if you do a cordova build you'll find that the contents of the plugin's `.js` will be replaced, so double check that your changes are still there..

[2019-01-22 21:16] micaelgallego commented on #353
We don't have any experience with iOS development and it can be very difficult for us to improve this library.

If someone else leads the process, we can help to test it.

[2019-01-25 06:58] jjahifi commented on #353
We are currently evaluating the possibility of moving to full native on both iOS and Android. If we decide not to do that, then I am willing to take the lead. Before taking the lead I have to get some positive policy decisions from our own organisation. Before those decisions I am unable to commit myself. I can promise participation before those decisions, but taking over is something else.

I'll

[2019-01-25 10:08] kklindic commented on #338
Fix explained here https://github.com/BasqueVoIPMafia/cordova-plugin-iosrtc/pull/334#issuecomment-457521904

[2019-01-28 14:41] Worien opened #354 "Can I use this plugin to make work getUseMedia in the native app for WKWebView?"
Can I use this plugin in some way to make wkwebview stub getUserMedia?

[2019-01-28 14:43] ibc commented on #354
Foo

[2019-01-28 14:43] #354 closed

[2019-01-30 17:41] NickMendes commented on #328
Has anyone got it working even by using custom <meta> tag ? Im stuck with the following error.

[2019-01-30 17:44] ibc commented on #353
Hi guys, thanks for your replies. Although there is people interested in helping here, the project obviously needs a leader (or team) that can deal with every aspect  of the lib, including audio, video, new WebRTC API, iOS related stuff, etc.

[2019-01-31 15:57] cah-dunn commented on #328
I think the `Not allowed to load local resource blob:...` errors are actually just red herrings. The issue I had was solved with https://github.com/BasqueVoIPMafia/cordova-plugin-iosrtc/pull/348. However I still see those errors even though everything is functioning correctly.

[2019-01-31 16:58] Worien opened #355 ""js/adapter-latest.js" is unavailable"
From README:

In case you'd like to expose the API in the global namespace like regular browsers you can do the following:

// Just for Cordova apps.
document.addEventListener('deviceready', function () {
  // Just for iOS devices.
  if (window.device.platform === 'iOS') {
    cordova.plugins.iosrtc.registerGlobals();

    // load adapter.js
    var script = document.createElement("script");
    s

[2019-02-03 07:49] syonip commented on #328
@cah-dunn I tried to incorporate this change but it doesn't make the video show.
using `window.URL.createObjectURL(stream);` does show the video, although when scrolling the page it stays static, I guess that is a different issue.

[2019-02-04 12:46] Worien commented on #355
But adapter should be included in the webrtc ios cordova plugin? It is webrtc related class. Am I wrong?

[2019-02-04 12:57] ibc commented on #355
No, It shouldn't.

[2019-02-04 16:02] cah-dunn commented on #328
@syonip if you're on the latest version (v4.0.2) the `srcObject` issue should be fixed (e.g. you shouldn't have to use `createObjectURL`) since https://github.com/BasqueVoIPMafia/cordova-plugin-iosrtc/pull/270.

You might need to call [`refreshVideos`](https://github.com/BasqueVoIPMafia/cordova-plugin-iosrtc/blob/master/js/iosrtc.js#L72) manually to update the positioning after a scroll.

[2019-02-06 05:43] WesUnwin commented on #347
Hi guys, I ended up writing a custom SDH which allowed me to use SIP.js 0.12.0 with a set of cordova based mobile apps.

It allowed me to fix this issue:

"setLocalDescription() must be called with a RTCSessionDescription instance as first argument"
caused by the default SDH passing in an object that is similar but not quite a RTCSessionDescription object into pc.setLocationDescription()/setRemote

[2019-02-07 11:25] Worien commented on #324
video.src = URL.createObjectURL(stream); // set up src attribute once stream is ready
cordova.plugins.iosrtc.observeVideo(video); // tell the plugin to handle your video tag manually

This lines of code makes getUserMedia work, but can I use cordova.plugins with remote loaded url?

[2019-02-17 08:15] jjahifi commented on #353
We have decided to stay with Cordova for some time at least. Hence we have interest in keeping this library usable and up-to-date.

I have looked at the implementation of the library and upgrading/maintaining it does not look too complicated. Hence I am willing to participate in the effort. Unfortunately my interests are quite strictly limited to those WebRTC features we are using. In addition, I

[2019-02-28 16:27] MatthewTrout commented on #353
As previous comments, unlikely to be able to lead the project, but am certainly up for contributing. Am using this in a cordova project, and will need to support this for some time..

[2019-03-05 13:16] alaanasreng opened #357 "Is getSenders implemented in plugin?"
The original WebRTC has function called: getSenders

like here https://developer.mozilla.org/en-US/docs/Web/API/RTCPeerConnection/getSenders

is it implemented in plugin?

[2019-03-05 13:18] ibc commented on #357
No. It's not.

[2019-03-05 13:18] #357 closed

[2019-03-05 14:18] alaanasreng commented on #357
Sorry for many questions.

if i want to change camera device, can i implement this?

[2019-03-05 14:20] ibc commented on #357
The project is looking for maintainers and there is a public mailing list for usage questions.

[2019-03-14 04:27] taufpate commented on #347
Hi @WesUnwin do you have a guide, an example app or how to? i use sipjs 0.12 too with ionic 3 and i cant make it work :(

[2019-03-14 23:13] WesUnwin commented on #347
@taufpate there is a quick quide/example on the README, simply use the custom SDH by setting the sessionDescriptionHandlerFactory UA configuration property, before constructing the SIP.js user agent:

const config = {};

...
config.sessionDescriptionHandlerFactory = CordovaIOSSDH.factory;
...

const UA = new SIP.UA(config);`

[2019-03-25 08:02] AmrAlmagic commented on #338
@soulfly  thanks alot for your attention works well with me now.
@Bobisback
i did that in config.xml under platform ios
`<hook src="iosrtc-swift-support.js" type="after_platform_add" />`
and in the root of project add iosrtc-swift-support.js file

[2019-03-25 10:05] Bobisback commented on #338
For some reason I could not get this to work. I will try again

[2019-03-26 07:02] madlursourabh007 commented on #262
Hello guys,

Even I am also facing same issue. other peer i am able to see streaming. But on ios mobile i am not able play video. PluginMediaStreamRenderer.swift class file is not firing.

[2019-04-04 09:48] nadeemkhan commented on #333
add @objcMembers in your iosrtcPlugin.swift see below example it's working just tested on swift 5

@objcMembers
 class iosrtcPlugin : CDVPlugin

ref - https://stackoverflow.com/questions/50437591/problems-using-iosrtc-plugin-in-hybrid-cordova-ios-app

[2019-04-04 15:45] oscarvadillog commented on #353
Anyone with experience with Swift? I can support in the JavaScript side.
An update of the Swift version would be nice... come guys!

[2019-04-22 21:03] san40511 commented on #338
You need install xcode version from october 2018. Current xcode version thorow an error

[2019-04-22 21:04] Bobisback commented on #338
I actually got the hook to work the second time I tried. Not sure what I was missing the first time.

[2019-04-22 21:04] san40511 opened #358 "Now compile on swift 4"
Plugin not build on newest xcode version. Xcode required swift 4 but plugin has a lot of swift 3 code

[2019-04-22 21:05] ibc commented on #358
Probably, yes.

https://github.com/BasqueVoIPMafia/cordova-plugin-iosrtc/issues/353

[2019-04-22 21:05] #358 closed

[2019-04-22 21:07] san40511 commented on #338
which xcode version are you using? 10.2?

[2019-04-22 21:08] Bobisback commented on #338
Looks like 10.1 right now.

[2019-04-22 21:27] san40511 commented on #338
if you will update plugin will crash

[2019-04-25 09:09] florindumitru commented on #338
With xcode 10.2 I need to use Swift 4+ so I get a lot of errors in iosrtc plugin !

[2019-04-25 09:12] san40511 commented on #338
correct. you need to use older xcode version. I tried to move pugin to swift 4 but it doesn't work anyway.

[2019-05-03 23:46] eugeny-evheniy commented on #298
I also got same error.
how can I fix it?
I implemented freeCamera function, and called it after end call.
but not fixed this issue.

[2019-05-03 23:47] eugeny-evheniy commented on #298
@dmarcs Please help me. I tried several times, but not working.

[2019-05-04 02:36] avspeed commented on #324
Did anyone find a solution to this issue ? @Worien @streak7  @sysnajar  I can stream locally, but cannot get the remote streams to display at all. Works fine on Android

[2019-05-04 20:57] avspeed commented on #324
in my case I had to disable the adapter and he renderer started working for remote streams

[2019-05-05 08:50] jjahifi commented on #353
I have finally got the permission to take an active maintainer/lead role. There are, however, some caveats.

- The time I can use for this is limited. Fast reactions should not be expected.
- I am not familiar with some of the tools used (we use other tools in-house), which makes some things a bit slow in the beginning.
- **Contributions from others are absolutely necessary!** I am unlikely to dev

[2019-05-22 03:49] qjw2bqn commented on #340
@LabDeve
I have the same problem with you. But some friends like @4i-helpynet  say that they can see the video, but just can't switch the camera before and after.
I am using openvidu, an open source project openvidu-ionic, at https://openvidu.io/docs/tutorials/openvidu-ionic/
Have you solved this problem?

[2019-05-24 10:44] saghul commented on #353
Thanks for volunteering @jjahifi ! Some thoughts:

Understandable!

Can you elaborate on the tools? We don't use anything exotic here IIRC.

Sure, nobody expect a single person to fix all problems, but your second stement is unacceptable. which it's undertandable that areas you are using get more attention, breaking APIs or otherwise working code is not acceptable.

Understandable!

Cheers,

[2019-05-28 05:39] jjahifi commented on #353
Ah, bad wording from my part. What I intended to write is something like that an API may break without any action from my part, but due to changes in tools or in iOS. The most common reason that comes to mind is that Apple changes something in iOS or in Xcode and the code of the plugin requires corrective action. If the change is in something that we do not use, then such a change may break an API

[2019-05-28 07:25] saghul commented on #353
Understood, thanks for the clarification!

In that case, feel free to start sending PRs and as soon as a couple land we'll give you the commit bit.

@ibc How about we create a "dev" branch where all this new work goes and merge back to master and release once it's ready?

[2019-05-28 08:27] ibc commented on #353
"dev" branch created.

[2019-05-30 08:16] paulfreeman commented on #353
I've been researching this for a client of mine.  Would it be better to replace the libwebrtc static lib with the dynamic library from the native build process at https://webrtc.org/native-code/ios/ ?   Building the  static lib seems not to be documented, and blog articles describing the process are several years old.  Presumably the dynamic lib would expose the same headers, so it would then be j

[2019-05-30 09:00] ibc commented on #353
Probably, but this issue is about looking for maintainers.

[2019-05-30 09:09] paulfreeman commented on #353
Sure, apologies.

[2019-06-03 15:00] valentinyaroshinsky commented on #347
@WesUnwin  Dear Wesley, can you share the full cordova example with your SDH for iOS?

[2019-06-03 23:33] hthetiot commented on #353
I originally wanted to simply fork via GitHub repo and use cordova plugin spec attribute with fix for Xcode 10.2 Swift 4.2 requirement provided via @albanonm (https://github.com/BasqueVoIPMafia/cordova-plugin-iosrtc/pull/356) but cordova plugin spec did not work on all cordova/npm version or platform, even without "git+http" and using "http://github..." in package.json and confix.xml it still ende

[2019-06-05 18:49] #275 closed

[2019-06-05 23:27] valentinyaroshinsky commented on #306
@ostrichegret  do you have full demo example to try?

[2019-06-07 03:13] WesUnwin commented on #347
I wish I could, unfortunately all of the full examples I've helped developed using this are incorporated into commercial, closed source applications (Such as the freeconference.com iOS application).

[2019-06-07 03:21] WesUnwin commented on #347
One thing I wanted to mention (which is sort of mentioned above), is this is not at all an issue with SIP.js, it's really due to certain environments like cordova-plugins-iortc having slightly different or outdated webrtc implementations (and missing things like getReceivers(), and requiring RTCPeerConnection getLocalStream/setRemoteStream to be passed a RTCSessionDescription and not anything else

[2019-06-19 14:37] valentinyaroshinsky commented on #347
@WesUnwin Wesley, it looks like we added your SDH , but we have an issue  with getting media device:
User doesn't approve access to media devices.
cordova.js:1509

Can you assist?

log details:

[Log] Wed Jun 19 2019 17:01:00 GMT+0300 (EEST) | sip.invitecontext.sessionDescriptionHandler | net39vgplu31bneo322us4b0vdgf4l | SessionDescriptionHandlerOptions: {"constraints":{},"peerConnectionOptions":{

[2019-06-21 01:23] WesUnwin commented on #347
Not sure where your getting "cordova.js" from, put the error message is telling you its calling getReceivers() which is a WebRTC RTCPeerConnection function not supported on cordova iosrtc. If you look at the custom SDH, it actually avoids( in all places) calling getReceivers when its undefined like so:

`      if (this.peerConnection.getReceivers) {
        this.peerConnection.getReceivers().forEa

[2019-07-17 13:41] ibc commented on #353
I don't think this is getting any success, am I wrong?

[2019-07-17 14:34] saghul commented on #353
Looks like @hthetiot did the work, right?

[2019-07-17 14:42] jjahifi commented on #353
It seems that I cannot live to my promise on maintaining this. Too much other work. Therefore I would definitely like somebody else having the main responsibility. I am likely to be a bit busy in the near future also. Therefore hthetiot or somebody else is likely to be a better maintainer.

I am sorry for this, but sometimes you cannot influence your employers priorities.

[2019-07-23 05:15] osnoww opened #360 "Video renders in landscape, but not portrait orientation"
I am using the latest version of this plugin

If a video call is started in landscape mode, the call is successful on a variety of Apple phones and OS versions
if the call is started in portrait mode, the call fails. The console log contains error messages like
"failed to bind EAGLDrawable: <CAEAGLLayer: 0x60000271a480> to GL_RENDERBUFFER 1
Failed to make complete framebuffer object 8cd6"

[2019-07-25 03:28] hunter2806 opened #361 "Local and remote video do not display all the time. PluginMediaStreamRenderer is not initialized"
Having problems displaying the video. Sometimes video is not shown but the streams are working and the other peer can see the video. Upon checking the logs, PluginMediaStreamRenderer is not initialized when video is not displayed.

[2019-07-25 22:31] BboyEcuachi commented on #338
Is there an option to not downgrade xcode?

[2019-07-26 07:12] DaveLomber commented on #338
There is a fork somewhere in issues comments with Swift 4.2 support

Works very good

[2019-07-26 17:56] BboyEcuachi commented on #338
Do you mean this one https://github.com/simplyrtc/cordova-plugin-iosrtc-simplyrtc ?

I already tried to do it but I still have some errors with the swift versions, specifically "Command CompileSwiftSources failed with a nonzero exit code".

You made it work? please help :)

[2019-07-26 17:59] DaveLomber commented on #338
No,

this one
https://github.com/albanonm/cordova-plugin-iosrtc

it's the same plugin, but + a commit with Swift 4.2 support

[2019-07-29 11:09] AmrAlmagic commented on #13
solved with me by using this plugin [cordova-plugin-audioinput](https://github.com/edimuj/cordova-plugin-audioinput) .

PS: in case of make a video call after remote stream added  make

[2019-07-29 11:10] AmrAlmagic commented on #13
solved with me by using this plugin [cordova-plugin-audioinput](https://github.com/edimuj/cordova-plugin-audioinput) .

PS: in case of make a video call after remote stream added make

[code]

[2019-08-09 14:13] saghul commented on #353
@hthetiot Hey there! Looks likeyou've doing some good work. Care to send a PR?

[2019-08-10 20:15] hthetiot commented on #353
@saghul sure I will do that, but will it be merge, I don't like make PR that stay open. It prevent me to sleep :)

[2019-08-10 20:39] hthetiot commented on #353
@ibc @saghul would you consider moving this repository to non-profit affiliated Github organisation such as https://github.com/simplyrtc if I decide to maintain it. I could have forked to a for-profit such as Sylaps or other company I work for in the space but it's not the way I see open-source.

For example Priologic refuse to make EasyRTC non-profit affiliated despite them not contributing or ma

[2019-08-10 20:58] hthetiot commented on #353
Here is the changes in a PR with v4.0.3 ready @saghul, please consider request above.
- https://github.com/BasqueVoIPMafia/cordova-plugin-iosrtc/pull/362

If you enable travis-ci.org on BasqueVoIPMafia you will also get a nice continuous integration.

[2019-08-11 07:53] saghul commented on #353
I took a quick look and everything looks ok, thanks! I'll enable travis tonight.

As for the location, I don't have a strong preference TBH, but just FYI "BasqueVoIPMafia" is not a for profit organization of any sort, it's just us, a bunch of mates.

@ibc WDYT?

[2019-08-11 11:50] hthetiot commented on #353
Works for me then.

Let me know if you interested for me to maintains this repository, I would need to be able to manage issue and release on NPM in order do to that overtime.

I really like to keep someone around from the original team to peer review before releases/merge major changes, I would definitely try to follow @ibc TODO listed here overtime https://github.com/BasqueVoIPMafia/cordova-plug

[2019-08-11 13:00] hthetiot commented on #282
Using getUserMedia constraints.(video|audio).deviceId and getting values from `cordova.plugins.iosrtc.getMediaDevices` to get the deviceId and using webrtc-adapter v7.2.1+ works for me.

I think this PR can be closed unless i missed something.
cc @saghul

[2019-08-11 20:50] hthetiot commented on #360
I do not reproduce this issue.
Can you provide the iOS version used.

<img width="910" alt="Screen Shot 2019-07-23 at 11 19 04 AM" src="https://user-images.githubusercontent.com/8635/62839463-6951fb80-bc8a-11e9-80df-39b9a71d3f1c.png">
<img width="443" alt="Screen Shot 2019-07-23 at 11 19 16 AM" src="https://user-images.githubusercontent.com/8635/62839464-69ea9200-bc8a-11e9-8e0e-b2ef87e69cf4.png">

[2019-08-11 20:58] hthetiot commented on #353
I did a PR with following changes #363
Thank you @saghul for review.

[code]

* Add Harold Thetiot in package.json contributors and README.md  Maintainers

Here is my next tasks I would do next is I become officialy maintainer.
- Remove README `LOOKING FOR NEW MAINTAINERS` notice.
- Fix video positioning on positioning computation (to avoid specific css).
- Use the latest libwebrtc code.

cc @ibc

[2019-08-11 21:17] saghul commented on #353
Sounds like a good plan! I'll take another look tomorrow and merge. Thanks a lot for your work!

[2019-08-12 06:35] ibc commented on #353
Hi Harold, amazing work. BTW @saghul is doing a great job modernizing the JS API exposed by react-native-webrtc (moving from old stream based API to senders/receivers and transceivers, etc). You may want to take a look to his recent changes in order to modernize cordova-plugin-iosrtc if you wish.

[2019-08-12 06:50] ibc commented on #353
@hthetiot may I know your NPM username?

[2019-08-12 06:58] ibc commented on #353
This repo has been moved to https://github.com/cordova-rtc/cordova-plugin-iosrtc. @hthetiot you have been invited to that organization.

I need your NPM username (to grant you NPM admin access in the package) and also your Google account to give you admin access to the cordova-plugin-iosrtc mailing list.

[2019-08-12 07:46] hthetiot commented on #353
My NPM username is `hthetiot` also :) I will make a pre-release on old iosrtc-simplyrtc
fork npm to be sure it works properly.
- https://www.npmjs.com/~hthetiot

Thank you @icb for trusting me with your project, it mean a lot coming from you.

I will look into react-native-webrtc and make a PR soon, I already have experience with ChromiumEmbedded build for OBS ;) I may try to make Travis build Web

[2019-08-12 07:50] hthetiot commented on #353
Note: travis-ci.org request for `cordova-rtc` sent to owner (via GitHub Application Setting)
Cc @saghul

[2019-08-12 08:34] ibc commented on #353
Thanks @hthetiot. Sorry, I forgot to add you as admin. I accepted Travic-ci in the meanwhile.

Also added to NPM so you should be able to publish now.

Thanks a lot!

[2019-08-12 09:20] saghul commented on #353
Let’s close this then!

[2019-08-12 09:20] #353 closed

[2019-08-13 10:32] hthetiot commented on #360
It may be related to the style of the video tag that you use in portrait causing the issues.
Can you share the CSS applied to the video tag you use in portrait? @osnoww

[2019-08-13 10:35] hthetiot commented on #338
Swift 4.2 is coming to cordova-plugin-iosrtc 5.0.0 see merged PR for details https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/363

[2019-08-13 10:37] hthetiot commented on #338
@DaveLomber not sure how you for with simplyrtc fork.
Will ping you to test 5.0.0RC1 when available to confirm.

[2019-08-13 10:39] saghul commented on #338
I think we can close this now.

[2019-08-13 10:39] #338 closed

[2019-08-13 11:05] hthetiot commented on #338
You may get an error if you dont add `UseModernBuildSystem=0` on ios.
"ionic cordova build ios -- --buildFlag="-UseModernBuildSystem=0

[2019-08-13 13:45] hthetiot opened #364 "Release cordova-plugin-iosrtc@5.0.0"
First will be testing cordova-plugin-iosrtc#beta in order to release a stable  `cordova-plugin-iosrtc@5.0.0`, I will release first an `cordova-plugin-iosrtc@5.0.0.beta.1` on NPM for testing.

# Tasks

- [x] Rename GitHub organisation `BasqueVoIPMafia` to `cordova-rtc` in various location
- [x]  Confirm new automatic hook is trigger and Swift 4.2 support on cordova add plugin using cordova 7+ and i

[2019-08-14 10:29] hthetiot commented on #364
https://travis-ci.org/cordova-rtc/cordova-plugin-iosrtc/jobs/571752554#L1254

<img width="909" alt="Screen Shot 2019-08-14 at 12 28 17 PM" src="https://user-images.githubusercontent.com/8635/63014519-054c5480-be8f-11e9-966e-8f196b93d9b1.png">

<3 Travis.

cc @ibc

[2019-08-14 11:53] hthetiot commented on #347
JsSIp@3.3.7 works for me using webrtc-adapter@7.2.9 i do not recommend sip.js "fork"
- https://jssip.net/documentation/3.3.x/getting_started/

[2019-08-14 11:55] hthetiot commented on #344
Closing cause https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/348 got merged
Feel free to re-open if needed @4i-helpynet

[2019-08-14 11:55] #344 closed

[2019-08-14 12:00] hthetiot commented on #336
Closing for inactivity, feel free to re-open if you get more information.
Please provide iOS and cordova version.

[2019-08-14 12:00] #336 closed

[2019-08-14 12:01] hthetiot commented on #332
Fixed by #348 to my understanding, closing.

[2019-08-14 12:01] #332 closed

[2019-08-14 12:03] hthetiot commented on #326
You need to add permission in your .plist file, the new incoming version of the plugin does that.
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/commit/11081cba7ef3ce8f54c75587545650a9d8314269#diff-53f390d375398624afe1cfe1125f42bf

[2019-08-14 12:04] hthetiot commented on #326
Example for reference add this to config.xml for previous version:
[code]

[2019-08-14 12:07] hthetiot commented on #328
Yes if you have CSP meta or header you may need to add `media-src * blob:`.
Will add documentation in the future.

[2019-08-14 12:09] hthetiot commented on #325
@d1bug  its a free plugin, many people dont have problem, and there is always a solution, if you prefer you can implement Native WebRTC by yourself.

[2019-08-14 12:10] hthetiot commented on #325
I'm closing this issue due inactivity and since `createObjectURL` is deprecated and `srcObject` is the right way to attache the video stream.

[2019-08-14 12:10] #325 closed

[2019-08-14 12:12] hthetiot commented on #323
Fixed in master via  https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/363, will be released in 5.0.0 stable.
https://github.com/cordova-rtc/cordova-plugin-iosrtc/commit/c96d604c1537354d01926e994a799d3f7f8f28da
https://github.com/cordova-rtc/cordova-plugin-iosrtc/commit/c96d604c1537354d01926e994a799d3f7f8f28da

[2019-08-14 12:14] hthetiot commented on #324
Certainly due old webrtc-adapter version work version webrtc-adapter@7.2.9
Also `onaddstream` is deprecated use onaddtrack

- https://developer.mozilla.org/en-US/docs/Web/API/MediaStream/onaddtrack

[2019-08-14 12:16] hthetiot commented on #317
update to last webrtc-adapter@7.2.9 it works great.

[2019-08-14 12:19] hthetiot commented on #309
I'm aware of this issue, you need to use cordova-plugin-audioroute plugin from @saghul  but you need to call `cordova.plugins.audioroute.overrideOutput` after the call started.

- https://github.com/saghul/cordova-plugin-audioroute

Will work on a fix in the future.

[2019-08-14 12:20] hthetiot commented on #307
Fixed via hook and new Swift 4.2 support is coming on 5.0.0

[2019-08-14 12:20] #307 closed

[2019-08-14 12:21] hthetiot commented on #301
Use webrtc-adatpter@7.2.9 works great.

[2019-08-14 12:21] #301 closed

[2019-08-14 12:23] hthetiot commented on #289
[code]

[2019-08-14 12:31] kilatib commented on #301
thank you !

[2019-08-14 12:31] hthetiot commented on #253
I don't think we should add API that are not in WebRTC spec.
Will leave open for now anyway.

[2019-08-14 12:34] hthetiot commented on #170
Fixed long time ago to my knowledge.

[2019-08-14 13:02] hthetiot commented on #309
https://github.com/cordova-rtc/cordova-plugin-iosrtc/issues/289#issuecomment-315688414

[2019-08-14 15:55] hthetiot commented on #364
codova plugin install result in, meaning `xcode` need to be on dependencies not devDependencies.

[2019-08-15 04:12] cpgb85 commented on #364
when will this be ready?

[2019-08-15 09:27] hthetiot commented on #364
@cpgb85 it will be ready when it will be ready. I'm testing to be sure.

It's technically ready if you use following to install. (cordova 8+ required)

[2019-08-15 09:29] hthetiot commented on #364
Added test scripts to  to test PluginMediaStreamRenderer features and local libwebrtc RTCPeerConnection.

- https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/extra/renderer-and-libwebrtc-tests.js

Test Result on iOS 12.3.1 using iPhone 6:

![BC18C72A-2327-4BF9-BF18-BF28AAB2B2F4](https://user-images.githubusercontent.com/8635/63086327-ee216b80-bf4f-11e9-8453-bca78d0d9055.png)

[2019-08-15 09:51] hthetiot commented on #337
I confirm click works on element above the video tag.
you need html and body to have background transparent and  video zIndex to be -1.
See test script for reference:
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/extra/renderer-and-libwebrtc-tests.js#L112

[2019-08-15 09:51] #337 closed

[2019-08-15 10:00] hthetiot opened #368 "Github Security Alerts lodash.template >=4.5.0"
Source is following packages, on devDependencies impacted, waiting for `gulp-header` and `gulp-derequire` update.

[code]

CVE-2019-10744 More information:

Source: https://github.com/lodash/lodash/pull/4336

[2019-08-15 10:02] #323 closed

[2019-08-15 10:04] hthetiot commented on #326
That probably because you use `peerConnection.addStream(localStream);` without passing a proper MediaStream from getUserMedia.

See test script for usage reference:
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/extra/renderer-and-libwebrtc-tests.js

[2019-08-15 10:04] #326 closed

[2019-08-15 10:20] hthetiot opened #369 "Possible iOS 13 issue on bringSubviewToFront"
@banditdevelopment reported a possible issue on iOS 13, We need to confirm

Source:
- https://github.com/simplyrtc/cordova-plugin-iosrtc-simplyrtc/issues/4#issue-455741527

Last change:
- https://github.com/simplyrtc/cordova-plugin-iosrtc-simplyrtc/blame/1a7bd996638eb2a82b13c373c1bf10616543cc93/src/PluginMediaStreamRenderer.swift#L193

Possible fix
- https://stackoverflow.com/questions/26850501/sw

[2019-08-15 10:21] hthetiot commented on #364
@ibc @saghul I think I'm ready to publish, do you want to publish beta first?

[2019-08-15 10:36] hthetiot commented on #364
Published on NPM https://www.npmjs.com/package/cordova-plugin-iosrtc
Closing issue.

[2019-08-15 10:36] #364 closed

[2019-08-15 10:51] hthetiot commented on #361
[code]

[2019-08-15 10:51] #361 closed

[2019-08-15 10:53] hthetiot commented on #361
That my be another issue but works for me when i hide and show via style.display

[2019-08-15 10:53] hthetiot commented on #360
will test and confirm.

[2019-08-15 13:01] banditdevelopment commented on #369
Upon closer examination, it appears as though what I was actually doing was reverting this part of a [commit](https://github.com/simplyrtc/cordova-plugin-iosrtc-simplyrtc/commit/11081cba7ef3ce8f54c75587545650a9d8314269#diff-d70c63d9377ee3067943b8ec4cf9fda5) to make the plugin compatible with Swift 4.

However, I just tested my project (using Xcode 10) with that commit change intact and it built ju

[2019-08-15 14:50] hthetiot commented on #369
Thank you @banditdevelopment feel free to try v5 should be stable:
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/issues/364#issuecomment-521597197

Closing issue for now.
Thank you again for taking the time to test.

[2019-08-15 14:50] #369 closed

[2019-08-15 15:04] hthetiot commented on #353
v5.0.0 has been released, thank you to all for warm welcome.
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/issues/364

I have tagged all the issue, started libwebrtc update via rebase of
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/366

Happy RTC to all.

[2019-08-15 17:03] hthetiot commented on #360
Can you try With latest v5 @osnoww

[2019-08-15 17:05] hthetiot commented on #340
Closing due openvidu update.
See https://github.com/OpenVidu/openvidu-tutorials/issues/33#issuecomment-512176132

[2019-08-15 17:05] #340 closed

[2019-08-15 17:10] hthetiot commented on #300
Closing for inactivity from reporter and also it look to me cause of the loop cycle is the code above itself.

[2019-08-15 17:10] #300 closed

[2019-08-18 05:36] hthetiot commented on #328
We can close this issue cause #270 fix the issue.
@cah-dunn I did regenerate `cordova-plugin-iosrtc.js` in v5.0.0 if you want to confirm the final fix.

[2019-08-18 05:37] #328 closed

[2019-08-18 05:42] hthetiot commented on #322
@picarsite you want to call `refreshVideos` on requestAnimationFrame or touch event.

See video tag animation example in test script:
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/extra/renderer-and-libwebrtc-tests.js#L96

[2019-08-18 05:43] hthetiot commented on #322
Feel free to re-open this issue if you still have the problem.

[2019-08-18 05:43] #322 closed

[2019-08-18 05:45] hthetiot commented on #324
@avspeed thank you, I think you right #270 may be broken by webrtc-adapter, I will investigate.

[2019-08-18 05:46] hthetiot commented on #324
Yes could be due CSP error.

[2019-08-18 08:06] menelike opened #370 "Description doesn't need to be an instance of RTCSessionDescription"
This error originally popped up in https://github.com/meetecho/janus-gateway/issues/1422

when they deprecated `new RTCIceCandidate` and `new RTCSessionDescription` and use the plain object instead. As a result, this plugin throws an error because of explicit checks like in

https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/d46ca8f0a792fa67e06dae0f766419ba7025086d/js/RTCPeerConnection.js#L

[2019-08-22 20:31] hthetiot commented on #370
We try to match WebRTC 1 spec, for me I think this should be WebRTC-adapter to deal with legacy. But I will investigate, PR welcome.

[2019-08-25 20:55] hthetiot commented on #370
RTCSessionDescription is now the standard i dont think we should support plain object, this is WebRTC adapter to support old API not iosrtc. Also i dont see the point with Janus since its a server and third party component, they have to support the standard, i dont see why we would expose deprecate API to let third party use deprecated API themselves.

@saghul what do you think?

[2019-08-25 21:04] hthetiot commented on #370
@menelike you said:
[code]
Why I would make iosrtc with more edge case where janus.js could be more standard and migrate to non deprecated API ?

Some comment explained to you the solution, it is not iosrtc job to fix your deprecation migration.
- https://github.com/meetecho/janus-gateway/issues/1422#issuecomment-432695266
- https://github.com/meetecho/janus-gateway/issues/1422#issuecomment-432689

[2019-08-25 21:12] hthetiot commented on #370
See cause of deny here:
- https://github.com/meetecho/janus-gateway/issues/1422#issuecomment-524663968

[2019-08-25 21:20] hthetiot commented on #370
[code]

[2019-08-26 05:55] menelike commented on #370
I initially also wanted janus to follow the specs https://github.com/meetecho/janus-gateway/issues/1422#issuecomment-432683891, but I got corrected by https://github.com/meetecho/janus-gateway/issues/1422#issuecomment-432689394

https://w3c.github.io/webrtc-pc/#rtcsessiondescription-class clearly describes the constructor. But https://developer.mozilla.org/en-US/docs/Web/API/RTCSessionDescription/

[2019-08-27 08:43] davidian78 commented on #324
I also have this issue, and looked a bit into it.. While I'm not 100% sure on the why, the reason for this is that the MutationObserver is not called when the srcObject attribute of a video tag is changed. I don't know if this is a WkWebView issue, or sthing else, so this might be just a symptom, that the MutationObserver is not called in this case.. but it is called if you modify the src or hidde

[2019-08-30 15:34] EternallLight opened #375 "[master] Outgoing video stream is no longer working on iOS 13 and Xcode 11 beta"
Hello,

I've just installed iOS 13.1 Beta on my iPhone and noticed that outgoing video is no longer working. After upgrading plugin to the latest version (previously used version is 4.0.2), the issue is still remaining. This does not seem to be a renderer issue, because I can see incoming video streams; the issues reproduces only for outgoing streams. A black square appears in place where should b

[2019-08-30 15:41] EternallLight commented on #375
I just noticed that 13.1 beta was added just yesterday, so I'm going to rollback to 13.0 and check if it works there.

[2019-08-30 16:22] EternallLight commented on #375
Unfortunately, on iOS 13.0 the problem is remaining  :(

[2019-08-30 17:34] homerlex commented on #317
@hthetiot  - You state that webrtc-adapter@7.2.9  works great.  Are you implying it fixes the problem that @nickygiorgi originally reported?

TypeError - undefined is not an object (evaluating 'nativeAddEventListener.apply')

I am using iosrtc 5.0.0 and I am getting the same error with webrtc-adapter@7.2.9.

I considered trying iosrtc@4.0.1 but it has a dependency on Swift 3 which is no longer sup

[2019-09-02 09:07] hthetiot commented on #375
@EternallLight Some other user have not the same issue using iOS 13
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/issues/369#issuecomment-521632342

Would you mind trying to use this simple test script (should with with a basic cordova init app)
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/extra/renderer-and-libwebrtc-tests.js

I will upgrade to iOS 13 in coming days

[2019-09-02 09:33] EternallLight commented on #375
Hi @hthetiot,

I have tried the test script and had no positive results – both video frames are rendered as black squares.

[2019-09-02 09:53] hthetiot commented on #375
@EternallLight Thank you, I will upgrade one of my device to iOS 13.
Unfortunately we would need to know why it does that, any clue is welcome.
cc @banditdevelopment

[2019-09-02 09:55] hthetiot commented on #375
@EternallLight Are you using Xcode 11 ? Please provide exact version (currenly I'm using XCode Version 10.3 - 10G8)

[2019-09-02 09:56] EternallLight commented on #375
@hthetiot, yes, it's Version 11.0 beta 6 (11M392r)

[2019-09-02 10:00] hthetiot commented on #375
May be @saghul have some clue
- https://github.com/react-native-webrtc/react-native-webrtc/issues/674#issuecomment-521142030

[2019-09-02 10:02] hthetiot commented on #375
@EternallLight XCode 11 beta 7 is available
- https://developer.apple.com/documentation/xcode_release_notes/xcode_11_beta_7_release_notes

[2019-09-02 10:04] EternallLight commented on #375
@hthetiot, wow, that must be fresh. I installed beta 6 on Thursday and it was the latest one. Got to upgrade, thanks

[2019-09-02 10:34] hthetiot commented on #375
Thx @EternallLight will keep you posted on my discovery on my side.

[2019-09-02 10:49] hthetiot commented on #375
Added Xcode 11 on travis and task/ios-13 branch to start debugging.
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/376

[2019-09-04 17:51] GlausLivio opened #377 "RTCPeerConnection.getSenders() does not work"
With newest webrtc api, we need to implement getSenders, addTrack, RemoveTrack in RTCPeerConnection.
Do you have any plan for it?
and will be update webrtc library to latest version?

[2019-09-04 19:00] hthetiot commented on #377
Yes see PR WIP here, 10 days ago.
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/373

[2019-09-04 19:00] #377 closed

[2019-09-04 19:02] hthetiot commented on #377
Also for webrtc library to latest version see WIP, 21 days ago.
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/366

[2019-09-04 19:03] hthetiot commented on #377
Next time @GlausLivio you may look at open issues and PR before creating an new issue.
That will avoid unnecessary triage for me.

[2019-09-04 19:05] hthetiot commented on #268
Will make PR @l7s thx.

[2019-09-04 20:45] hthetiot commented on #375
@EternallLight Can you see if you have proper hooks triggered on Xcode 11+
See Error in comment https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/376#issuecomment-527140490

You should see something like that:

<img width="1113" alt="Screen Shot 2019-09-04 at 10 31 46 PM" src="https://user-images.githubusercontent.com/8635/64289990-8619e000-cf65-11e9-9854-ba963fc605d5.png">

Make sure to r

[2019-09-04 21:36] #368 closed

[2019-09-04 21:41] hthetiot commented on #375
I dont think cordova 7 or 8 support Xcode 11 I dont even think cordova 9 does support Xcode 11.
@EternallLight Can you tell me the cordova version you use ?

See WIP https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/376#issuecomment-528097790

[2019-09-05 12:14] EternallLight commented on #375
@hthetiot
I've just created a brand new cordova/ionic project to test this from scratch. It's running on Cordova 9.0.0 (cordova-lib@9.0.1) and cordova-ios 5.0.1 which seem to be the latest. I also installed the latest version of cordova-plugin-iortc from Github that includes your commits made 14 hours ago. `ionic cordova run ios` ends with ** ARCHIVE SUCCEEDED ** and ** EXPORT SUCCEEDED ** and fre

[2019-09-06 12:30] Skorpeo opened #380 "TypeError: undefined is not an object (evaluating 'nativeAddEventListener.apply')"
Hi I am trying to use this library.

- Cordova 9.0.0,

- XCode 10.1.

-  Using adapter.js version [7.3.0 ](https://webrtc.github.io/adapter/adapter-7.3.0.js) (Also tried 7.2.9)

I get error:

`TypeError: undefined is not an object (evaluating 'nativeAddEventListener.apply')` adapter.js:2662 (For 7.2.9 its adapter.js:2556).

I see this error in safari web inspector console using simulator.  On nati

[2019-09-06 17:22] EternallLight commented on #375
By the way, not sure if it will be helpful, but there's another plugin in my project that was broken by breaking API changes in iOS 13: https://github.com/j3k0/cordova-plugin-openwith/issues/67
What if there's some changes in the API that is used for camera stream capturing as well?

[2019-09-09 22:24] hthetiot commented on #380
Hum I do not reproduce that issue using the following test scripts.
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/extra/renderer-and-libwebrtc-tests.js

Can you provide an modifier test scripts of more details on how this error is triggered ?

[2019-09-09 22:26] hthetiot commented on #380
webrtc-adapter source link for reference:
- https://github.com/webrtcHacks/adapter/blob/master/release/adapter.js#L2660

[2019-09-09 22:28] hthetiot commented on #380
The reason is most likely because iosrtc does not expose "addEventListener" on "RTCPeerConnection" object, the issue is that it's going to require development to SHIM it.

Can you tell me what event you are using ?

https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/js/RTCPeerConnection.js

[2019-09-09 22:33] hthetiot commented on #380
Hum correction we do implement using yaeti see `EventTarget.call(this);` and `this.dispatchEvent(event);`
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/js/RTCPeerConnection.js#L36

- https://github.com/ibc/yaeti#yaeti
- https://github.com/ibc/yaeti#usage

[2019-09-09 22:37] hthetiot commented on #380
I will try to reproduce later and update the test script if needed.
In the meantime you can use good old myPeer.event = callback.
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/extra/renderer-and-libwebrtc-tests.js#L198

[2019-09-09 22:41] hthetiot commented on #380
related https://github.com/ibc/yaeti/pull/5/files

[2019-09-09 23:52] Skorpeo commented on #380
Please see pull request #381 for fixes. Couple notes:

- Adapter version 7.3.0 has calls to `new MediaStream()`.  Plugin uses `window.Blob()` as `MediaStream` proxy.  Currently `window.Blob()` is not subclassable, as such we can not create a MediaStream with constructor that conforms to webrtc media stream.  Only option is to edit adapter.js to replace calls to `new MediaStream()` to newly created

[2019-09-09 23:54] Skorpeo commented on #347
Please see Pull Request #381 and issue #380 .  Tested with jssip and adapter730-ios.js in pull request.

[2019-09-09 23:58] Skorpeo commented on #317
Please see issue #380 and pull request #381 for fixes :)

[2019-09-10 18:26] hthetiot commented on #380
Thank you @Skorpeo that fantastic that you PR on the issue you reported.
Let me review that and we can release.

[2019-09-10 18:36] hthetiot commented on #317
@homerlex my bad, It does work with the adapter 7+ when you do not use addEventListener and use object.evenName = callback instead.

Thanks to @Skorpeo this will be fix on next release 5.0.2 once his PR review changes processed.

Thank you @homerlex for your comment.

[2019-09-10 18:42] hthetiot commented on #347
@Skorpeo not totally the same issue here, the PR for fix is more this one.
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/373
See @WesUnwin comment. https://github.com/cordova-rtc/cordova-plugin-iosrtc/issues/347#issuecomment-504254322

However as said using JsSIp@3.3.7 in favor or sip.js (fork of JSsip) does not cause the getReceivers issues for me so fare.

It's mostly ready for get

[2019-09-10 18:49] hthetiot commented on #268
Will also investigate this comment
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/issues/164#issuecomment-315798369

[2019-09-10 18:56] hthetiot commented on #282
Should be fixed by https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/374/files#diff-fca8d66f1ded96a88bd8bec01423cf9bR100

[2019-09-10 19:02] hthetiot commented on #375
I still think its Xcode 11 issue, would you mind trying Xcode 10+ and run on ios 13.
I will leave that issue open and try to look into Cordova 9 and Xcode 11 support.

[2019-09-10 19:15] EternallLight commented on #375
@hthetiot I couldn't run it from Xcode 10 – it says that no support files for iOS 13 found. I'm gonna check if there's a way to fix this and push app to an iOS 13 device from 10th Xcode.

[2019-09-10 19:40] Skorpeo commented on #347
@hthetiot ok understood.   I haven't looked at the references you show, but w/r/t MediaStream creation check out my comment re: MediaStream constructor in my pr if it helps...

[2019-09-11 08:18] EternallLight commented on #375
Today, I've installed our production app from the AppStore on two devices with iOS 12.4 and 13.0, and tested – as expected, the outgoing video looks good on iOS 12.4, but there's a black view instead on iOS 13. I'm going to make a test build with the very latest version of the plugin and try it out on both devices now

[2019-09-11 10:15] EternallLight commented on #375
Just rebuilt the app with the yesterday's Xcode which by the way is no longer beta. Unfortunately, no changes

[2019-09-11 12:06] myhhx commented on #375
Sorry, my English is not good.
This problem does not appear when the screen is horizontal.
The reason may be that the underlying library is too old.
My solution is
Use sfsafariviewcontroller on ios13
It also has a cordova plugin
Maybe you will meet
And iosrtc once it is connected to iosrtc will crash
Can be solved by deleting h264 in sdp

不好意思，我的英文不好
这个问题，横屏的时候不会出现
原因可能是底层的那个库太老了
我的解决方方法是
在ios13上用

[2019-09-11 12:51] EternallLight commented on #375
@myhhx

I confirm.
Have you managed to fix it on cordova-plugin-iosrtc by switching to SFSafariViewController?

[2019-09-11 12:59] myhhx commented on #375
@EternallLight

Using SFSafariViewController is actually using safari's webrtc implementation.
In other words, your js application code can be run on safari without changing it.
At this time, it has nothing to do with cordova-plugin-iosrtc.

用SFSafariViewController实际上用的是safari的webrtc实现
也就是说你的js应用代码不用改就可以在safari上跑
这时已经和cordova-plugin-iosrtc没有关系了

[2019-09-11 14:18] myhhx commented on #375
@EternallLight

To fix it, I guess I need to recompile the latest webrtc library, which has a lot of work to do.

要修复它，我估计需要重新编译最新的webrtc库，这有许多工作要做

[2019-09-11 16:44] EternallLight commented on #375
@myhhx
You mean libwebrtc? There's an instruction for that: https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/docs/BuildingLibWebRTC.md

[2019-09-13 07:29] #370 closed

[2019-09-13 07:35] hthetiot commented on #375
To recompile libwebrtc we need to finish this PR , https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/366, has @myhhx said it's lot of work.

This comment provide lot of insight in what we need to do:
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/issues/375#issuecomment-530350559

This comment is also a great solutions:
"Using SFSafariViewController is actually using safari's webrt

[2019-09-13 15:16] hthetiot commented on #377
Done https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/373

[2019-09-13 15:31] hthetiot commented on #324
Thank you for details @partnerparticle I will look into it on next release 5.0.3 I have too much changes in 5.0.3 already, right now calling `cordova.plugins.iosrtc.observeVideo(video)` or refreshVideo works.

[2019-09-13 15:45] hthetiot commented on #164
@roeycohen you wrong https://github.com/stobe1/cordova-plugin-iosrtc/commit/7e0c11ca83c380e68ba7de1c097e655cbcb39fd8 and https://github.com/BasqueVoIPMafia/cordova-plugin-iosrtc/issues/268#issuecomment-308526620 does the same but the later is cleaner.

[2019-09-13 15:45] hthetiot commented on #164
Note: I hate MCU and SFU there are bad.

[2019-09-13 15:51] hthetiot commented on #268
@l7s Thank you I made a PR and confirmed the fix, will be on 5.0.2
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/383

[2019-09-13 15:51] #268 closed

[2019-09-13 15:51] hthetiot commented on #164
Fixed by https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/383

[2019-09-13 16:20] hthetiot commented on #266
nope

[2019-09-13 16:20] #266 closed

[2019-09-13 16:21] hthetiot commented on #259
I dont experience this on 5.0.0 after swift 4.2 changes.
You may re-open if you still experience the issue after release of 5.0.2

[2019-09-13 16:21] #259 closed

[2019-09-13 16:25] hthetiot commented on #249
@fbernhard still on for this offer ?
I would make invoice and make result open source.
I'm the current maintainer now.

[2019-09-13 16:30] hthetiot commented on #140
related but not directly
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/383

[2019-09-13 16:31] hthetiot commented on #116
Related https://github.com/cordova-rtc/cordova-plugin-iosrtc/issues/253#issuecomment-276363853

[2019-09-13 16:35] hthetiot commented on #52
Might be possible after 5.0.2 release.

[2019-09-13 16:40] hthetiot commented on #286
see WIP #384

[2019-09-13 16:40] hthetiot commented on #315
see WIP #384

[2019-09-13 16:41] hthetiot commented on #282
see WIP #384

[2019-09-13 16:41] hthetiot commented on #287
see WIP #384

[2019-09-13 16:42] hthetiot commented on #360
Cannot reproduce

[2019-09-13 16:43] #360 closed

[2019-09-13 16:44] #309 closed

[2019-09-13 16:49] hthetiot commented on #140
What a fucking mess, I will consider implementing MediaStreamMediaStreamTrack Stop instead.
freeCamera does not make sense in WebRTC land.

[2019-09-13 17:03] osnoww commented on #360
Hi Harold, we ended up rebuilding some of the legacy code in the cordova
plugin to allow the latest webrtc lib to be used. Once we have cleaned it
up and can document and build an example project, we will release back to
open source. (This is several months away at least).

On Fri, 13 Sep 2019 at 17:43, Harold Thétiot <notifications@github.com>
wrote:

[2019-09-13 17:12] fbernhard commented on #249
Hi Harold,

Congrats to becoming the maintainer of this project!

Unfortunately, my offer is not valid anymore. We are moving away from Ionic
apps to a pure browser web app.

Best regards,

Fabian

On Fri, Sep 13, 2019, 18:25 Harold Thétiot <notifications@github.com> wrote:

[2019-09-15 12:33] hthetiot commented on #249
@fbernhard Thank you for reply.
I do understand.

I'm will work on libwebrtc upgrade when i have time and I already started exposing RTCPeerConnection.addTrack|remoteTrack for version 6.0.0 inside release 5.0.2

[2019-09-15 12:35] hthetiot commented on #360
Thank you @osnoww that a great news.
I hope you can make a PR, let me know if you want to give me a patch and do the cleaning for you.

Here is the initial draft and I have exposed RTCPeerConnection.addTrack|removeTrack already for the future migration in 5.0.2 next release.
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/366

[2019-09-15 12:37] hthetiot commented on #324
@partnerparticle can you share a snippet of your changes for me to possibly release this fix on 5.0.2 or the next release depending the time  you provide the sample changes.

[2019-09-15 12:50] partnerparticle commented on #324
@hthetiot I don't have a fix for this, I was only trying to find the root cause of the problem. My modifications in videoElementsHandler.js were just to serve this investigation and it's something that works "just for me", it's not a general solution.
I would love to hear another opinion on my hunch, though, if anyone else thinks that the root cause might be WkWebView. The srcObject attribute is s

[2019-09-15 15:29] hnlpower commented on #353
Any update on "addTransceiver" support? I was trying to use this plugin with mediasoup v3 and it fails on that.

[2019-09-15 17:10] hthetiot commented on #353
@hnlpower do you think a closed issue, that as nothing to do with your topic is the best way to ask this question?

This kind of feature will require libwebrtc upgrade.
Please create proper issue if you want this to be properly reported. Improper issue will be closed, be assured to describe the API and their usage if you want the feature request be properly handled.

[2019-09-16 15:03] hthetiot commented on #249
Done https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/385

[2019-09-16 22:29] hthetiot opened #386 "5.0.2 possible issues"
It look like there is some issue with 5.0.2 changes, I'm investigating.
Currently local stream works and render but not remote streams.

I recommend to keep using 5.0.1 for now.

[2019-09-17 08:23] hthetiot commented on #386
A fix is on his way, look like the issue is related to RTCPeerConnection and MediaStream changes.

[2019-09-17 09:12] hthetiot commented on #386
Good news, after debugging I found that the issue was related to RTCPeerConnection.setRemoteDescription|setLocalDescription callback usage instead of promise, fixing the third party library to use Promise for this APIs calls.

[2019-09-17 09:25] hthetiot commented on #386
Closing for false positive.
See CHANGELOG.md "Remove callback based API"
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/commit/c7cca8b4bae72950eceb89372e07db412a384e91#diff-4ac32a78649ca5bdd8e0ba38b7006a1eR3

[2019-09-17 09:29] #386 closed

[2019-09-17 09:29] hthetiot commented on #386
Going back to #385 :)

[2019-09-17 09:32] hthetiot commented on #116
Done here:
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/385

Example:
[code]

[2019-09-17 09:33] hthetiot commented on #52
Can be done on 6.0.0 I think.

[2019-09-17 19:58] hthetiot opened #389 "The app's Info.plist file should contain a NSBluetoothAlwaysUsageDescription"
@CSantosM look like your recents change require NSBluetoothAlwaysUsageDescription in Info.plist.

Example:
[code]

Should be added here:
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/plugin.xml#L33

Note: I sent you an invite for the repository.

[2019-09-17 20:24] hthetiot commented on #389
see 256f081c974c1cb4ba6280891f273ba334858e76

[2019-09-17 20:24] #389 closed

[2019-09-18 14:18] CSantosM commented on #389
Hello @hthetiot .

I very much appreciate this invitation and I would glad to accept it if it weren't for the fact that due to my work I don't have the necessary time to collaborate and contribute in a constant way. Maybe in the future I can be a contributor to this repository.

Thanks again, we are in contact.
Best regards.

[2019-09-18 17:59] hthetiot commented on #389
Ok thank you for feedback.
Your contribution will always be welcome.
Feel free to create issues if you need me to address specific problems.

If you use iosrtc for your professional or personal project feel free to add it so the WHO_USES_IT.md
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/WHO_USES_IT.md

[2019-09-18 18:03] hthetiot commented on #324
@partnerparticle I dont experience any issue using WkWebView and srcObject = stream.
Note that src = URL.createObjectURL() has been deprecated on incoming 5.0.3 and that the recommendation is to use stream.stop to actually stop the transmission not only the rendering.
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/commit/56d502cb407484e6d3ffce71e87fe7939abb9e0b

I'm closing that issue beca

[2019-09-18 18:31] partnerparticle commented on #324
@hthetiot I am glad that for you is working, although for me is not (with the iOS and device that I mentioned). I understand that this is open source and I have no demands here, I was just happy to find this open issue thinking is related to mine.
Maybe I should also mention that I am using Ionic 4, don't know if that is also pertinent information.
Just to clarify my use case, I am not stopping th

[2019-09-19 13:20] hthetiot commented on #324
Dear @partnerparticle,

Yes we non longer support `video.src = URL.createObjectURL(stream)` because since 5.0.2 MediaStream are actual MediaStream and not Blob anymore (no more Blob prototype pollution anymore) and therefor since 5.0.2 `video.src = URL.createObjectURL(stream)` will fail, that why on 5.0.3 I completely removed `video.src` support https://github.com/cordova-rtc/cordova-plugin-iosrtc

[2019-09-19 13:21] hthetiot commented on #324
Closing cause fixed on next incoming 5.0.3 release.

[2019-09-19 14:39] partnerparticle commented on #324
Great to hear that @hthetiot , thanks for confirming, and finding a work around.
I will also test your changes.
Thank you for pursuing it, and not giving up 👍

p.s. I read the Changelog only after I wrote my reply, and saw what you meant by removing the video.src observe, but did not edit my reply :)

[2019-09-19 15:45] Skorpeo opened #391 "using npm build error"
![image](https://user-images.githubusercontent.com/10620160/65259605-986f4e80-db0d-11e9-97a2-05ad8345c0a1.png)

[2019-09-20 07:05] hthetiot commented on #391
Hum That weird I build with success, can you provide your iOS target and Xcode version please. Will look into that. Cc @CSantosM

[2019-09-20 07:35] hthetiot commented on #391
@Skorpeo I do not reproduce this error on build using target 10.2 and up 12.4.
Are you using Xcode 11 or Targeting iOS 13 ?

Please provide more information so we know what version of iOS or Cordova require this changes.

See my build results without the change:

<img width="1145" alt="Screen Shot 2019-09-20 at 9 30 48 AM" src="https://user-images.githubusercontent.com/8635/65308214-dad67100-db89-

[2019-09-20 07:38] CSantosM commented on #391
I'm not 100% sure but i think my set up is **Xcode 10.2.1** and **iOS target upper than 10**. I can check the next monday and confirm it.

[2019-09-20 07:58] hthetiot commented on #391
Do not reproduce using Xcode 10.3 and Target 12.4.

<img width="819" alt="Screen Shot 2019-09-20 at 9 31 06 AM" src="https://user-images.githubusercontent.com/8635/65309802-1de61380-db8d-11e9-9b23-90e3384d54fc.png">
<img width="572" alt="Screen Shot 2019-09-20 at 9 57 19 AM" src="https://user-images.githubusercontent.com/8635/65309804-1de61380-db8d-11e9-8442-38dcd917a4fa.png">

I merged on the ios

[2019-09-20 08:04] Skorpeo commented on #391
XCode 10.1 tried with target 10 and 12.  I can try to update xcode...

[2019-09-20 08:12] hthetiot commented on #375
@EternallLight Could you try this branch
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/385#issue-317821094

Note you need to setup the build manually cause the hook fail:
-  https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/docs/Building.md#xcode

Let me know if that fix iOS 13 build. @banditdevelopment mentioned to me he did build successfully on iOS 13 in the past.

[2019-09-20 08:14] hthetiot commented on #391
Thank you @Skorpeo keep us posted.
Still should be fixed with 3686e5b and 5.0.3 will be released in next 48 hours.

To use Master version you can do that:
[code]

[2019-09-20 08:16] hthetiot commented on #391
Closing the issue cause change made, but @Skorpeo let us know if was related to you environment that can help us to understand.

[2019-09-20 08:16] #391 closed

[2019-09-20 08:17] hthetiot commented on #391
see Requirements for Xcode and cordova version:
- https://github.com/cordova-rtc/cordova-plugin-iosrtc#requirements

[2019-09-20 08:18] #116 closed

[2019-09-20 08:47] Skorpeo commented on #391
ok i need xcode to stay open right now but will check it out when possible

[2019-09-20 09:56] hthetiot commented on #52
Can be done on 5.0.4+ since 5.0.3 support MediaStream (Native and Plugin)

[code]

[2019-09-20 15:34] hthetiot commented on #375
iOS 13 is a mess apparently:
- https://www.forbes.com/sites/gordonkelly/2019/09/19/apple-ios13-upgrade-problems-iphone-11-pro-max-xs-max-xr-update/amp/

I think we will wait 13.1 like DOD recommend:
- https://www.inc.com/jason-aten/ios-13-is-here-but-department-of-defense-is-telling-people-not-to-upgrade-yet-should-you.html

[2019-09-23 08:12] EternallLight commented on #375
@hthetiot
I've tested the branch you suggested both on iOS 13 Beta and iOS 13 Release and can confirm that it is working. And yes, I added `#import "cordova-plugin-iosrtc-Bridging-Header.h"` to the bridging header manually because it wasn't there after removing and adding the platform.
Thank you very much for working on this issue!
Can I use this branch for my project as a temporary solution or is

[2019-09-24 13:39] hthetiot commented on #324
I do not experience this issue.
Can you test this scripts and compare your WEbRTC API usage.
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/extra/renderer-and-libwebrtc-tests.js

The error you get is possibly from `rtcMediaStream.addAudioTrack` can you provide the Xcode and iOS target you use.

- https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/9c3439af01a28535f1d89b88

[2019-09-24 14:07] hthetiot commented on #324
Questions:
- Do you use webrtc-adapter ?
- Are you sure you dont use URL.createObjectURL() anywhere?
- Can you share you peer.addTrack usage
- Can you make sure you dont use Callnacks and only promise even in your third party library.
- Can you run the following script (https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/extra/renderer-and-libwebrtc-tests.js) inside the Safari debugge

[2019-09-24 14:08] hthetiot commented on #324
Here is the diff of js/ iof 5.0.1 vs 5.0.3 for reference
[5-0-1-vs-5-0.3.diff.txt](https://github.com/cordova-rtc/cordova-plugin-iosrtc/files/3647613/5-0-1-vs-5-0.3.diff.txt)

[2019-09-24 14:11] hthetiot commented on #324
I suspect the issue is near this:

[2019-09-24 14:12] hthetiot commented on #324
Can you show how you add Stream to PeerConnection.
Test scripts does following:
[code]

[2019-09-24 14:28] hthetiot commented on #324
I found something weird in your logs:
[code]
There is 4 tracks here instead of 2

[2019-09-24 14:37] partnerparticle commented on #324
I only had time to run your latest snippet (getUserMedia...), and got this:

`2019-09-24 16:34:52.464390+0200 iosrtc app[931:202256] iosrtc registerGlobals() +0ms
2019-09-24 16:34:52.464465+0200 iosrtc app[931:202256] iosrtc:RTCPeerConnection new() | [pcConfig:{"iceServers":[]}, pcConstraints:] +0ms
2019-09-24 16:34:52.464546+0200 iosrtc app[931:202256] iosrtcPlugin#new_RTCPeerConnection()
2019-09

[2019-09-24 14:40] hthetiot commented on #324
Ok, thank you, it appear that you get "ERROR: video track not added" and "ERROR:  audio track not added" cause it's already added to the same localStream.
I confirm I have the same error but that do not prevent the stream and remote stream to be received.

Beside this errors, what symptom do you get ?

[2019-09-24 14:47] partnerparticle commented on #324
No video, audio in the app (local or remote).
But if this works for you, then it might be an issue in one of my layers, that handles the streams due to something different compared to the 5.0.1 plugin.

[2019-09-24 14:52] hthetiot commented on #324
I'm loking into it, will keep you posted.

[2019-09-24 15:55] hthetiot commented on #324
Dear @partnerparticle,

1. I confirm that  "ERROR: video track not added" and "ERROR: audio track not added"  was false positive due MediaStream.create called by getUserMedia causing existing tracks on the Media to call addTrack. In order to prevent that false positive error that was not preventing rendering or actual MediaStream creation I have changed MediaStream.create see 6651ef488112b4cf49455

[2019-09-24 16:00] hthetiot commented on #324
One last thing.
If you want to test 5.0.3 or master to see if the iosRTC is working. you can try the following scripts.
[code]

Should result in the following:

![20190924_175828](https://user-images.githubusercontent.com/8635/65528687-2162fd00-def5-11e9-82ff-3143ef98f04b.jpg)

[2019-09-24 16:00] #324 closed

[2019-09-24 16:02] hthetiot commented on #52
Done and tested
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/js/MediaStream.js#L293
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/extra/renderer-and-libwebrtc-tests.js#L169

[2019-09-24 16:02] #52 closed

[2019-09-24 16:05] hthetiot commented on #140
`calling localStream.stop()` or `localStream.getTracks().forEach(function (track) { track.stop() })` work on 5.0.2+ and has been tested again on 5.0.4.

See used test scripts with localStream global used to call stop functions.
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/extra/renderer-and-libwebrtc-tests.js

[2019-09-24 16:05] #140 closed

[2019-09-24 16:23] partnerparticle commented on #324
Thank you, I will check and let you know. We can also move this to a new issue if needed, I suppose it has nothing to do with the original issue. But I don't mind conversing here either, if it does not bother you.

[2019-09-24 16:48] hthetiot commented on #324
I'm fine for now keeping it there, until we find the real reason.
I'm heading 0 issue open with #385 :)

[2019-09-24 16:58] hthetiot commented on #375
@myhhx we confirmed using recent webrtc-lib in PR https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/385#issue-317821094 does fixe the iOS 13 issues so fare.
Feel free to test using instructions.

Thank you @EternallLight for testing, Will notify of #385 changes here.

[2019-09-24 17:06] EternallLight commented on #375
@hthetiot thanks for the update

[2019-09-25 08:41] smanuel commented on #375
Hi there,

The "selectAudioOutput"  javascript function calls "selectAudioOutputEarpiece" or "selectAudioOutputSpeaker" respectively which are now missing. Does it need to call "setOuputAudioMode" with parameters, instead?

[2019-09-25 12:50] partnerparticle commented on #324
@hthetiot , thank you for the detailed analysis and assistance.
1. no more addTrack errors
2. we have indeed callbacks, thanks for the debug lines, we are working on removing those, and see how it goes after .
Will let you know

[2019-09-25 18:29] Qwedir commented on #375
Hi? can someone help me.
Install this plugin via capacitor and have error:
'AppKit/NSOpenGLView.h' file not found
when try to build project in file RTCNSGLVideoView.h line 32

[2019-09-25 20:16] hthetiot commented on #324
good to hear that callback debug helped :)

[2019-09-26 12:24] partnerparticle commented on #324
After rewriting the callbacks to promises, we got video/audio, so all good on this front. And also srcObject finally works as it should, thank you again :)
Additional question: did something change in enumerateDevices()? I used to select videoDevices[0] for back camera, and now that gives me front camera video. If I select videoDevices[1], then I get back camera video.
From the enumerateDevices lo

[2019-09-26 12:29] partnerparticle commented on #324
`2019-09-26 14:27:15.369901+0200 iosrtc app[1466:340632] iosrtcPlugin#enumerateDevices()
2019-09-26 14:27:15.370180+0200 iosrtc app[1466:340686] PluginEnumerateDevices#call()
2019-09-26 14:27:15.559690+0200 iosrtc app[1466:340686] - device [uniqueID:'com.apple.avfoundation.avcapturedevice.built-in_audio:0', localizedName:'iPhone Microphone', audio:true, video:false, connected:true]
2019-09-26 14:2

[2019-09-26 17:19] hthetiot commented on #375
@Qwedir wrong issue create another please and no we don't support capacitor

@smanuel this are experimental feature of version 6.0.0, if the function are missing it's because you did not properly remove and add iOS platform. Alternatively you pass selectAudioOutput("earpiece") or selectAudioOutput("speaker").

Too both of you @Qwedir and @smanuel stop poluting issue with unrelated topics if you co

[2019-09-27 09:29] hthetiot commented on #375
@EternallLight I found why the hook what not called on Xcode 11, it's related to cordova-io they fixed it on 5.0.1 see PR https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/376#issuecomment-535863756

[2019-09-27 15:30] hthetiot commented on #324
@partnerparticle Can you report this issue with enumerateDevices in a separate issue (simply copy past what you said), I will check this one separately and attempt to fix for 5.0.4. Thank you for the feedback

[2019-09-27 21:04] pethessa commented on #375
Also confirming commit 33e35d2 fixes outgoing video on iOS 13. But had to change deviceIDs used for front and back camera.

[2019-09-28 10:10] hthetiot commented on #375
@pethessa please fill a separate issue, I will look into a fix before 5.0.4 release

[2019-09-29 07:55] crapthings commented on #375
i use this liowebrtc for our app, but there's no getUserMedia with ios.

https://github.com/lazorfuzz/react-liowebrtc

so i install cordova-plugin-iosrtc to make getUserMedia working but the rest still use liowebrtc.

[code]

its working fine on ios 12, but after testing on 13

the console print
TypeError: undefined is not an object (evaluating 'this.pc.addStream.bind')

[2019-09-29 08:55] partnerparticle opened #392 "[Resolved] enumerateDevices index order is reversed"
In 5.0.1 the result of video devices from calling enumerateDevices was 0 for back camera and 1 for front camera.
In 5.0.3 (I skipped/did not test with 5.0.2) these indexes got reversed.
Is this on purpose, or an unwanted side effect?

From the logs it seems that first the indexes are correct (`iosrtcPlugin#enumerateDevices()`), then in the log of `osrtc:enumerateDevices getMediaDeviceInfos()` they

[2019-09-29 08:57] partnerparticle commented on #324
Sure, thank you. See #392

[2019-09-30 09:16] partnerparticle commented on #392
log from 5.0.1, you can see the difference

[iosrtc_enumerateDevices_5.0.1.txt](https://github.com/cordova-rtc/cordova-plugin-iosrtc/files/3669868/iosrtc_enumerateDevices_5.0.1.txt)

[2019-09-30 10:13] hthetiot commented on #392
The change that cause the "issue" is the following: https://github.com/cordova-rtc/cordova-plugin-iosrtc/commit/558fcf31c6165e5701303e83bea9f523b6f55aec#diff-5a0cc8b323d62f1b113d553a63024544

But technically nowhere in WebRTC Spec it claim that front camera should be first in `navigator.mediaDevices.enumerateDevices` array and `com.apple.avfoundation.avcapturedevice.built-in_video:0` always been b

[2019-09-30 10:16] hthetiot commented on #375
@pethessa  see dedicated issue https://github.com/cordova-rtc/cordova-plugin-iosrtc/issues/392

[2019-09-30 10:27] hthetiot commented on #375
@crapthings please make sure you actually have the issue with the topic of the issue or create another issue, I'm getting tired of people using the open first issue to report their specific problem unrelated to the issue and will start to delete unrelated comment if that continue.

Secondly you need to use `cordova.plugins.iosrtc.registerGlobals()` to expose the WebRTC SHIM that not new #RTFM, nex

[2019-09-30 10:36] hthetiot commented on #324
For last comment see https://github.com/cordova-rtc/cordova-plugin-iosrtc/issues/392#issuecomment-536497520

[2019-09-30 10:38] hthetiot commented on #315
Note: We should add MediaDeviceInfo.getCapabilities support in the future and navigator.mediaDevices.getSupportedConstraints support instead to properly handle facingMode (https://www.w3.org/TR/mediacapture-streams/#dom-inputdeviceinfo-getcapabilities, https://www.w3.org/TR/mediacapture-streams/#media-track-supported-constraints)

[2019-09-30 13:45] pethessa commented on #375
@hthetiot I totally agree with keeping issues focused and not introducing new bug reports in these comments. The other two comments you reference would be better moved to new issues.

However, we had (and likely many others have) spent significant time troubleshooting iosrtc for iOS 13 so I felt it was important to confirm to you and followers of this thread that someone else had confirmed it fixe

[2019-09-30 19:13] hthetiot commented on #375
@pethessa your issue had nothing to do with iOS 13, it's a change in the order of the array that should be handled by the developper normally (issue #392), see this comment for the fix to help people that don't sort the devices by labels that will be released on 5.0.4 outside of iOS 13 related  fixes https://github.com/cordova-rtc/cordova-plugin-iosrtc/issues/392#issuecomment-536497520

[2019-10-01 18:10] hthetiot commented on #253
See https://github.com/cordova-rtc/cordova-plugin-iosrtc/issues/116#issuecomment-532142297

[2019-10-01 18:11] #253 closed

[2019-10-02 23:46] tmyers97 opened #396 "Video not playing on negative z-index"
Hi,

The plugin works perfectly whenever the z-index is positive. However, setting it to -1 to be behind the webview for html overlay makes it so that video element does not load the video. The stream success callback and even the onloadmetadata still fires but all that shows is a blank container with a play button.

I suspect this has something to do with the strict rules of iOS. Does anybody els

[2019-10-03 03:18] #396 closed

[2019-10-03 05:41] abardik opened #397 "[Resolved] Failed to build with a lot of swift notes, warnings and errors (Phonegap Build)"
I use iosrtc in Phonegap Build project and now try to upgrade the plugin from 4.0.2 to 5.0.*, but it failed with a huge amount of swift notes, warnings and errors. I set cli to 9.0.0 (cordova-ios 5.0.1), also tried cli 8.1.1 (cordova-ios 4.5.5), but result is the same.

The amount of warnings and errors is just huge. So, I copy just some of them here:

[code]

And some errors:

[code]

Please, giv

[2019-10-03 08:45] hthetiot commented on #397
I would get you are not using the required iOS target  10.2 that why you get this error.
See requirements https://github.com/cordova-rtc/cordova-plugin-iosrtc

Finally the warning are only warning and do not cause issues.
Make sure to remove and add iOS platform to trigger the hook on iOS.

[code]
Note: I use master in the example above so you can get the last version as 5.0.4 will be released soo

[2019-10-03 08:49] hthetiot commented on #397
Note, when you create an issue we ask you iOS and Xcode version on the template, make sure to provide it next time. https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/ISSUE_TEMPLATE.md

[2019-10-03 08:55] abardik commented on #397
@hthetiot I can not use any of those commands in Phonegap Build. I just can modify config.xml. And for 4.0.2 it works fine:
[code]
But when I change spec to 5.0.* I got all those errors.
Is it possible to use 5.0.* with Phonegap Build like previous versions?
Thanks.

[2019-10-03 08:57] abardik commented on #397
I did not provide iOS and xCode version because I don't use them. I use Phonegap Build:
https://build.phonegap.com

[2019-10-03 09:00] hthetiot commented on #397
https://build.phonegap.com

 Ok, I see, well you still need to target iOS 10.2 + if you want to use 5.0.1+ to use new AVAudioSession  API.

[2019-10-03 09:03] hthetiot commented on #397
Note: not sure it is the case, but you should not commit platforms/ios in your source, so it can be added and trigger the hook that does setup the min platform.
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/extra/hooks/iosrtc-swift-support.js#L120

[2019-10-03 09:06] hthetiot commented on #397
Note: We going to migrate to cordova@5+  to solve some hook issues, that may be related to why you dont get the hook fully trigger see https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/376/files

[2019-10-03 09:08] hthetiot commented on #397
https://build.phonegap.com

That change nothing actually,  you can still run this command locally to update config.xml then push to get phonegap to build. We use Travis here to fully build the IPA and it's free and works great on 5.0.1+ and using last Xcode 10 and 11.

Closing the issue for now, if you comment i will continue to assist you.

[2019-10-03 09:15] abardik commented on #397
Phonegap Build shows the following:
![image](https://user-images.githubusercontent.com/5060020/66114116-30544a00-e59c-11e9-840c-6569888eaf89.png)
So, I thought, that ios 5.0.1 is exactly what this plugin requires.
Thank you for the info, I'll try to make it working.

[2019-10-03 09:41] hthetiot commented on #397
@abardik Thank you.

Keep us posted, I may add documentation if you find what the right way to have 5+ build on phonegap build, I still think the reason you have this error is because your ios Target is below 10.2.

May be your target is higher like iOS 13 and this API also changed, but people have built on iOS 13 succesfully so i doubt it, this may help us if you find the used target in your logs

[2019-10-03 09:46] hthetiot commented on #397
I confirm they did rename `bringSubview(toFront:)` back to `bringSubviewToFront` after iOS 10.2 on swift 4.2+.

<img width="928" alt="Screen Shot 2019-10-03 at 11 45 47 AM" src="https://user-images.githubusercontent.com/8635/66116652-606b0f80-e5d3-11e9-928f-88b2cf67f444.png">

[2019-10-03 09:54] hthetiot commented on #397
<plugin name="cordova-plugin-iosrtc" spec="https://github.com/cordova-rtc/cordova-plugin-iosrtc#master" />

If you can run cordova command localy.

[2019-10-03 10:15] abardik commented on #397
I tried some combinations of:
[code]
But still got those errors:
[code]

[2019-10-03 10:47] hthetiot commented on #397
10.2 not 10.1 @abardik

[2019-10-03 10:49] hthetiot commented on #397
See original comment on changes and 10.2 requirements
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/374#issuecomment-528044457

[2019-10-03 10:51] hthetiot commented on #397
Note: we can confirm that the issue if you try to use 5.0.0 that still support ios target 9

[2019-10-03 10:54] abardik commented on #397
I tried all of them: 10.1 and 10.2 with latest #master, and 9 with 5.0.0 and 5.0.1. The same result.

[2019-10-03 11:24] hthetiot commented on #397
Sorry man cannot help you more.
The issue is the target version you can simpy confirm that by looking at this comment.
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/374#issuecomment-528044457

Try to provide you full build logs so we can see the target version and Xcode version.
Try to purge build cache if there is any.

Version 5 does work on last Xcode otherwise other people would

[2019-10-03 11:28] hthetiot commented on #397
See Adbobe support for iOS target.

Example:
[code]

https://community.adobe.com/t5/Air/available-in-XCode-causes-Undefined-symbols-error/m-p/9353855

Keep me posted, Sorry i cant help you more.
Travis or local build is the best, it's clear phonegap is not using latest required Xcode 10.3 (10G8) anyway.

[2019-10-03 13:06] hthetiot commented on #397
"Changing the swift language version from "3.3" to "4.1" solved the issue for me."

That the proof that you are not using swift 4.2 @abardik

[2019-10-03 15:45] hthetiot commented on #396
Thx for closing this issue, by yourself i think you needed to make the html and body transparent if I'm correct.

[2019-10-03 18:57] abardik commented on #397
@hthetiot You were right, and I just didn't know how to configure Phonegap Build properly (never met issues like this before). It's done, finally, with the following preferences in config.xml:

[code]

I think, it would be helpful to add a note about Phonegap Build with this config to the Installation part of README.

Thank you for the support and useful advices.

[2019-10-03 21:12] hthetiot commented on #397
I'm really happy you figured out.
I will update the documentation on 5.0.x and possibly look into cordova-plugin-add-swift-support to include what they do inside the plugin.xml and iosrtc hook (https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/extra/hooks/iosrtc-swift-support.js) to avoid the usage of an extras plugin like you did to set the swift version.

Thank you for your contri

[2019-10-03 21:13] hthetiot commented on #392
Note: Will leave that issue open until 5.0.4 release to avoid duplicate reports and let the community know about the issue.

[2019-10-03 21:32] abardik commented on #397
For the case, 5.0.1 can be compiled with the same config (it's regarding the breaking changes in WebRTC API in 5.0.2+ where old-API-style data channels and media connections are not working anymore).

[2019-10-03 22:44] hthetiot commented on #397
@abardik I have added throw error on API Callbacks usage to help migration over Promise based WebRTC API see Changelogs preview for 5.0.4

- https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/CHANGELOG.md#version-504

See original changes on 5.0.2

- https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/CHANGELOG.md#version-502

For details about the callbacks issue see:
-

[2019-10-03 22:46] hthetiot commented on #397
@abardik Please to add topics to this issues, it will confuse people and I requested on other issues to others that topic of issue been respected. Feel free to create other issue if needed. I will assist as I proven today but respecting the topic is important for me. Thank you.

[2019-10-03 23:47] hthetiot commented on #298
Fix confirmed on #385

[2019-10-04 01:56] abardik commented on #397
@hthetiot Yes, I read about new API. Just mentioned it here in the context of 5.0.1 config for Phonegap Build.

[2019-10-04 05:54] abardik commented on #375
@hthetiot May I ask when you plan to make this fix with updated libwebrtc available to install? I just installed #master, but this bug still exists on iOS 13.1.2 (iPhone 7, iPhone XS). It would be great if you could provide even temporary solution to fix it before you publish 6.0.0. Thanks!

[2019-10-04 09:04] hthetiot commented on #203
Fixed by https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/367 @menelike

[2019-10-04 09:24] #392 closed

[2019-10-04 09:37] hthetiot commented on #375
@abardik To test iOS 13+ support you can use the task/libwebrtc-update branch like that

[code]

OR in your case with Phonegap build.

[code]

I'm in the process of going from WebRTC M54 to M69 it will take time as there is lot of changes and a new WebRTC build processs, I may release WebRTC M54 as part of 5.0.x once rtcDTMFSender restored in order to accelerate iOS 13+ support but M69 will be par

[2019-10-04 11:53] hthetiot opened #398 "[Announcement] cordova-plugin-iosrtc Version 5.0.4 notes"
Hello cordova-rtc users,

I have released cordova-plugin-iosrtc 5.0.4

# Changelog Version 5.0.4
- Fix MediaStream.create false positive "ERROR: video track not added" and "ERROR: audio track not added" cause the rtcMediaStream already has them internaly trigger by getUserMedia.
- Detect deprecated callbacks usage and throw Error instead of been silent to assist 5.0.1 to 5.0.2 migration from WebRT

[2019-10-04 12:02] hthetiot commented on #398
Special thank to following community members for their help:
@saghul @CSantosM @EternallLight @myhhx @partnerparticle @SejH @rec0pt

Special thank to @OpenVidu and @Sylaps companies to allow their employees to contribute back to this open-source project. We hope to see more organization join this project.

Happy RTC.

[2019-10-04 12:32] partnerparticle commented on #392
You are right, there is no such spec. I was using indexes, because on Android the labels are empty when I call enumerateDevices, I could not filter by any info, so I relied on indexes being the same (using reverseArray on android to get the desired camera always on index 0).
If one can count on label being provided by this plugin, then as you suggested, a more future proof approach would be to use

[2019-10-04 14:31] abardik commented on #375
@hthetiot Unfortunately, there is one error when building #task/libwebrtc-update on Phonegap Build:
[code]
I use the same config as for 5.0.2+:
[code]

[2019-10-04 15:28] devjva opened #400 "Compiler error Use of undeclared type 'RTCPeerConnectionFactory"
[code]
  (Use of undeclared type 'RTCPeerConnectionFactory')

what am I doing wrong?
I just added the plugin but in the swfit compiler many errors appear.
someone help me?

[2019-10-04 15:56] abardik commented on #375
@hthetiot I forked #task/libwebrtc-update to temporary comment those two lines with errors in PluginRTCAudioOutputController.swift and now can confirm that this branch fixes iOS 13 bug.
Thank you.

[2019-10-04 19:49] hthetiot commented on #400
Did you read the instructions to report issue?
What version of Xcode and Cordova, iOS Target etc...?
You most likely did not read the reporting instructions.

The reason you have this issue is mostly likely you did not remove and add iOS platform or your environment does not trigger the hook.

Also you issue topic sucks be more explicit and give more details and then only someone will may help you

[2019-10-04 19:53] hthetiot commented on #400
RTFM and once you actually followed instructions and provided the information of you environment you may solve your problem or get assistance.

Check requirements:
- https://github.com/cordova-rtc/cordova-plugin-iosrtc#requirements

Read doc:
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/docs/Building.md

Provide requested information on issue creation.
[code]

Cc @devjva

[2019-10-04 19:54] #400 closed

[2019-10-05 14:22] hthetiot commented on #375
How about WebRTC 69 Support with Renderer Canvas Capture also included ?
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/399

Can you test this PR with M69 to confirm it works on iOS 13+ ?
cc @pethessa @EternallLight @myhhx @abardik

[2019-10-05 14:25] hthetiot commented on #375
Thank you.

@abardik  If you have error in PluginRTCAudioOutputController? please report those on original PR. Please. But my guess if you have environnent that do not match requirements, because it works perfectly for me and travis and other people.

[2019-10-05 14:31] hthetiot commented on #315
Done here https://github.com/cordova-rtc/cordova-plugin-iosrtc/commit/43dba8dca2c5830ca54e79f957937f266a4bea6b

[2019-10-05 14:31] #315 closed

[2019-10-05 14:31] hthetiot commented on #287
Done here https://github.com/cordova-rtc/cordova-plugin-iosrtc/commit/43dba8dca2c5830ca54e79f957937f266a4bea6b

[2019-10-05 14:31] #287 closed

[2019-10-05 14:34] hthetiot commented on #282
"{ optional: [ { sourceId: deviceId } ] }"
This not not in the spec:
- https://www.w3.org/TR/mediacapture-streams/

[2019-10-05 14:34] #282 closed

[2019-10-05 14:34] hthetiot commented on #249
Fixed by https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/399

[2019-10-05 14:34] #249 closed

[2019-10-05 14:35] hthetiot commented on #170
No sure but should be fixed by M69 PR https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/399

[2019-10-05 14:35] #170 closed

[2019-10-05 14:36] hthetiot commented on #397
The current case of using phonegap and not adding platform after the plugin should be resolved by this PR. https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/402

[2019-10-05 14:36] #397 closed

[2019-10-05 17:11] #298 closed

[2019-10-05 18:03] pethessa commented on #375
@hthetiot #399 (8db4bc) compiles on Xcode 11.0 and runs on iOS 13.1.2 for me. I'm only testing basic connection, video & audio as we use. Haven't tried any of the canvas capture.

[2019-10-06 08:59] hthetiot commented on #375
Thank you @pethessa

[2019-10-06 09:17] hthetiot commented on #375
@abardik Stop reporting false positive here, or talking about fork, you are out of topic again (Xcode 11 and iOS 13 target is the topic) and making false assumption and comments that are unrelated and misleading to others despite you thinking they are relevant they are absolutely not.
I already asked you to stop 2 times.

1. You are not using XCode 11 or even Xcode 10.3 when you use phonegap build

[2019-10-06 09:45] hthetiot commented on #375
@pethessa you can find sample for canvas API here for version 6.0.0:

You can get the reference to the video element renderer using HTMLVideoElement.render then use save function with callback (Me change to promise soon).
[code]
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/task/libwebrtc-update-m69/js/MediaStreamRenderer.js#L114
- https://github.com/cordova-rtc/cordova-plugin-iosrtc

[2019-10-06 09:47] hthetiot commented on #247
Fixed by https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/399/commits/0545c18c7376e18ca825410ff3f2572ec20de6cc

[2019-10-06 09:47] #247 closed

[2019-10-06 09:48] hthetiot commented on #286
Almost there will be fixed soon and released for 6.0.0
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/task/libwebrtc-update-m69/src/PluginRTCVideoCaptureController.swift#L307

[2019-10-06 09:52] hthetiot commented on #289
I will implement AVAudioSession.interruptionNotification here
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/task/libwebrtc-update-m69/src/PluginRTCAudioController.swift#L64

Will be fixed via #399 on 6.0.0

[2019-10-07 14:58] devjva opened #403 "TypeError: originalMediaStreamTrack is not a function"
#### Expected behavior

Ataching audio...

#### Observerd behavior

Permission of audio denied and  originalMediaStreamTrack is not a function

#### Steps to reproduce the problem

I added the plugin, changed callbacks to promises
Just tried to get a call using sipML5.

#### Platform information

IOS 12.4.2

* **Cordova version**:

Cordova iOS 5.0.0

* **Plugin version**:

iosrtc 5.0.4

* **iOS ve

[2019-10-07 14:59] devjva commented on #403
2019-10-07 10:46:48.743184-0400 App WBR[394:17847] iosrtcPlugin#new_RTCPeerConnection()
2019-10-07 10:46:48.743668-0400 App WBR[394:17847] PluginRTCPeerConnection#init()
2019-10-07 10:46:48.743922-0400 App WBR[394:17847] PluginRTCPeerConnectionConfig#init()
2019-10-07 10:46:48.744635-0400 App WBR[394:17847] PluginRTCPeerConnectionConfig#init() | adding ICE server [url:'stun:stun.l.google.com:19302

[2019-10-07 18:50] hthetiot commented on #403
Thank you will check ASAP @devjva

[2019-10-07 18:51] hthetiot commented on #403
I plan to restore promise, here is a snippet for you in the mean time @devjva

[code]

[2019-10-07 19:00] hthetiot commented on #403
@devjva Did you have that problem before or after restoring the callbacks yourself ?
I think based on the error that the issue if from the restoration of the callback you made.

I cannot reproduce the "originalMediaStreamTrack is not a function. (evaluating 'arg[0] instanceof originalMediaStreamTrack')" see capture bellow on real device:

<img width="924" alt="Screen Shot 2019-10-07 at 8 59 10 PM"

[2019-10-07 19:01] hthetiot commented on #403
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/js/MediaStreamTrack.js#L54
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/js/MediaStream.js#L49

[2019-10-07 19:09] hthetiot commented on #403
If you can try that @devjva to see of the SHIM is here:

Here is my results:
<img width="436" alt="Screen Shot 2019-10-07 at 9 07 56 PM" src="https://user-images.githubusercontent.com/8635/66340970-9814e700-e946-11e9-9677-cfd2b9dba854.png">

Using the PatchPromiseToCallback above I was able to use JsSIP and SIP.js

[2019-10-07 20:23] hthetiot commented on #170
Confirmed H264 support on #399 via FreeSwitch and jssip

[2019-10-07 21:09] hthetiot commented on #403
I dit a PR that restore callbacks for getUserMedia|enumerateDevices RTCPeerConnection.prototype.createAnswer|createOffer|setRemoteDescription|setLocalDescription|addIceCandidate support for JsSIP, SIP.js and sipML5. It will be released on 5.0.5 (See PR instruction for testing).
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/404

I do not reproduce the error `originalMediaStreamTrack i

[2019-10-07 22:02] hthetiot commented on #375
I think M69 is ready for iOS 13, I tested many WebRTC third party library and even fixed know WebRTC implementation issues and the closed of all legacy issues or not most of them and implemented all features request at once (Yes Even Canvas support for video) via #399 PR (About 6K lines changed) this will be release for 6.0.0 next weel while #402 and #404 will be part of 5.0.5  maintenance release

[2019-10-07 22:07] hthetiot commented on #403
For callback support changes see this commit 815bc38bf438af8273f1dbdeeec84bb95b438a1e

[2019-10-07 22:09] hthetiot commented on #403
Closed until more information and a way to reproduce the issue is provided.
@devjva Please provide https://github.com/cordova-rtc/cordova-plugin-iosrtc/issues/403#issuecomment-539160190 information and try #404 PR (See test instruction in PR) let me know if that fix your issue.

 I'm closing the issue but that do not mean I will not try to help you, just that i cannot reproduce your problem since

[2019-10-08 11:22] hthetiot commented on #400
Look like you did compile removing  and adding platform, the need to add platform after the plugin will be fixed by #402

Thank you @devjva your feedback was decisive to make this more easy for new users.

[2019-10-08 11:23] hthetiot commented on #250
This one is not that easy.

See status of related issue:
- https://bugs.chromium.org/p/webrtc/issues/detail?id=5873&q=ios%20microphone&colspec=ID%20Pri%20M%20ReleaseBlock%20Component%20Status%20Owner%20Summary

[2019-10-08 20:50] cah-dunn commented on #360
I'm now experiencing this issue after iOS 13 (specifically, iOS 13.1.2)

[2019-10-09 16:24] hthetiot commented on #403
@devjva if you dont reply to this, I will not support you much anymore....

[2019-10-09 18:41] cah-dunn commented on #360
It appears to be fixed by https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/399

[2019-10-09 18:48] hthetiot commented on #360
Yes @cah-dunn I can confirm on iOS #399 works fine, but the fact is I did not change anything beside calling Renderer every 500ms.

- https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/task/libwebrtc-update-m69/js/MediaStreamRenderer.js#L45

Al alternative to it would be this:
[code]

[2019-10-09 18:54] hthetiot commented on #360
May be this get trigger on #399 rotate but I have not check yet:

https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/src/PluginMediaStreamRenderer.swift

[2019-10-09 18:56] hthetiot commented on #360
@osnoww check #399 it's M69 if you have above M75 please let me know I can take your change and integrate them may be.

[2019-10-09 18:59] hthetiot commented on #360
Confirm "func videoView(_ videoView: RTCVideoRenderer, didChangeVideoSize size: CGSize) {" can call on orientation change. cc @cah-dunn

[2019-10-09 20:08] cah-dunn commented on #360
@hthetiot I did a good amount of debugging with `master` and I think it was likely an issue with the old `libWebRTC-LATEST-Universal-Release.a` and updating to M69 fixed it. This specific issue actually caused issues in Safari after iOS 13 Beta 4 and had to be fixed in WebKit (https://bugs.webkit.org/show_bug.cgi?id=185448#c23). Could be unrelated, but very coincidental.

I can confirm that the vi

[2019-10-09 23:26] hthetiot commented on #360
@cah-dunn Thank you for great feedback, much apreciated.

[2019-10-09 23:35] hthetiot commented on #403
#404 in on master will be released on 5.0.5 for helping you and others with Callbacks Support.

[2019-10-10 14:28] osnoww commented on #360
Hi All,
Since I raised this issue originally, I have worked with a Metal/iOS expert to fix the most serious issues with the webrtc Cordova plugin - the iOS component now uses Metal and the plugin is modified to allow the use of the current webrtc lib (the old plugin version had some hacks that I understand required older versions of webrtc. We aim to get the updated code pushed in the next couple

[2019-10-10 14:37] devjva commented on #403
I will test now.
tks for your reply

[2019-10-10 17:00] EternallLight commented on #375
@hthetiot

I've just checked the _task/libwebrtc-update-m69-optional-peer-constraints_ branch, it's working for me

[2019-10-11 08:37] hthetiot commented on #289
Related: https://bugs.chromium.org/p/webrtc/issues/detail?id=8126#c35

[2019-10-11 08:56] oscarvadillog commented on #375
I am testing `task/libwebrtc-update-m69` and `task/libwebrtc-update-m69-optional-peer-constraints`  branches over iOS 13.1.2, XCode 11.1(11A1027) and webrtc-adapter 6.4.8 and I have problems with the outgoing video. My third party library is [janus.js](https://github.com/meetecho/janus-gateway/blob/v0.7.4/html/janus.js)

[code]

[2019-10-11 10:19] hthetiot commented on #286
webrtc-adater does

NOT (lower case `f`):

[2019-10-11 11:32] hthetiot commented on #286
Fixed here ed59cdc48c23eb6e24f4d8fc67c710c70c736e70 and also on master here 621e88e02d6d3f6e7deea4c3acb89614453b11b4

[2019-10-11 11:32] #286 closed

[2019-10-11 11:37] hthetiot commented on #289
This works.

[code]

[2019-10-11 11:37] #289 closed

[2019-10-11 15:34] oscarvadillog opened #408 "Janus and cordova-plugin-iosrtc"
#### Platform information

* **Cordova version**: 8.1.2
* **cordova-ios**: 4.5.5
* **Plugin version**: 5.0.4 (master branch)
* **iOS version**:  13.1.2
* **Xcode version**: 11.1(11A1027)
* **webrtc-adapter**: 7.3.0
* **janus.js** [0.7.4](https://github.com/meetecho/janus-gateway/blob/v0.7.4/html/janus.js)

I'm testing the plugin with the lastest version of Janus (0.7.4) and I'm having an issue wit

[2019-10-11 20:45] hthetiot commented on #408
Thank you for reporting the issue @oscarvadillog I'm going to look in what I can do for you.
I have worked on WebRTC unified-plan support today that might help.

I will come back to you as soon as I find something.

[2019-10-13 21:59] hthetiot commented on #408
@oscarvadillog I think found why you only had only audio and no video track.

See fix c189656a98f73bbbdb9aea18f2fe65295127116e, the issue was that when using addTrack and  when providing a stream argument, the stream was not properly added to the RTCPeerConnection, resuting in create of localStreams for the RTCPeerConnection only the first time, but then was ignored for the second track.

 I'm now

[2019-10-13 23:54] oscarvadillog commented on #408
@hthetiot thank you for your support!
Despite the fix, I still have the issue that the [onicecandidate](https://github.com/meetecho/janus-gateway/blob/v0.7.4/html/janus.js#L1754) event is never called. It seems that ICE candidates are not negotiated.

[code]

[2019-10-14 08:45] hthetiot commented on #408
Ok will continue to test using Janus Echo test.

[2019-10-14 09:17] oscarvadillog commented on #408
@hthetiot I've disabled unified plan in janus library ([setting always to false](https://github.com/meetecho/janus-gateway/blob/v0.7.4/html/janus.js#L384)) and now ICE candidates are negotiated properly.
The audio is working now. However, the event [config.pc.ontrack](https://github.com/meetecho/janus-gateway/blob/v0.7.4/html/janus.js#L1780) is never called, and therefore I never have Remote Track

[2019-10-14 09:20] hthetiot commented on #408
@oscarvadillog Master does not support UnifiedPlan (WebRTC M54) but this branch does task/libwebrtc-update-m69-unified-plan #407 aka M69.

However, it look like webrtc-adapter is overiding addStream causing issue into iosrtc addTrack.

Can you try `cordova.plugins.iosrtc.registerGlobals();` after webrtc-adapter load or disabling webrtc-adapter on iosrtc. I'm looking into a solution.

<img width="6

[2019-10-14 09:59] oscarvadillog commented on #408
@hthetiot  I've tried to load **webrtc-adapter** before `cordova.plugins.iosrtc.registerGlobals()` and I get the same behavior.

[2019-10-14 10:52] oscarvadillog commented on #408
@hthetiot I think the problem is that janus.js library uses [ontrack ](https://github.com/meetecho/janus-gateway/blob/v0.7.4/html/janus.js#L1780)event and iosrtc (master) is using **onaddstream**

https://developer.mozilla.org/en-US/docs/Web/API/RTCPeerConnection/onaddstream

[2019-10-14 11:49] oscarvadillog commented on #408
Below whe Janus started using the **ontrack** event:
https://github.com/meetecho/janus-gateway/pull/942

[2019-10-14 12:11] hthetiot commented on #408
I got that fare using janus echo.

But it trigger "Janus stopped receiving our video"

<img width="836" alt="Screen Shot 2019-10-14 at 2 09 31 PM" src="https://user-images.githubusercontent.com/8635/66750251-49a6a180-ee8c-11e9-9a0e-a2a28aaa56df.png">

Using this scripts:
[code]

[2019-10-14 12:49] oscarvadillog commented on #408
@hthetiot thanks!
Using the `libwebrtc-update-m69-unified-plan` the **onremotestream** isn't triggered either.
It's stucking on this [line](https://github.com/meetecho/janus-gateway/blob/v0.7.4/html/janus.js#L2479)

[2019-10-14 15:07] oscarvadillog commented on #408
@hthetiot I was using your Janus Echo script and the `libwebrtc-update-m69-unified-plan` branch.
When I run the script from a current browser works properly.
<img width="896" alt="EchoJanus" src="https://user-images.githubusercontent.com/4169970/66761787-ff7dea00-eea4-11e9-986e-5d49102a5144.png">

However, when I try to run it on a iOS 13.1.2 device (iPhone 7), the application closes just before t

[2019-10-14 16:15] oscarvadillog commented on #408
@hthetiot I've tried to use an old janus.js library [(v.0.2.4)](https://github.com/meetecho/janus-gateway/blob/v0.2.4/html/janus.nojquery.js) with `task/libwebrtc-update-m69` branch and it works well for me over iOS 13. Maybe it can be a workaround until unified-plan support (6.0.0). What do you think?

[2019-10-14 16:24] oscarvadillog commented on #375
@hthetiot are you planning to merge `task/libwebrtc-update-m69` into master?

[2019-10-14 19:19] oscarvadillog commented on #408
What a pity, only the Echo demo is working with the old library.
In the videoroom demo I can join to the room but I don't see the remote video, only the local one.
I think that to use an old Janus library is not a good idea. I'm gonna keep trying with the latest version of janus.js

[2019-10-14 20:46] hthetiot commented on #408
I'm not sure why the Nslog crash if you comment line 747 it goes through.
Keep me posted we going to find what wrong, this issue make iosRTC better once fix because it cover more WebRTC use cases.

[2019-10-14 20:47] hthetiot commented on #408
I'm in the process to implement proper RTCSender and shim RTCTranceiverwill do a PR tomorrow.

[2019-10-14 23:45] hthetiot commented on #375
@oscarvadillog Only after 5.0.5 is released https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/CHANGELOG.md#version-505 and only once unified plan branch validated https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/407 and remaining tasks on https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/399 are close and tested/reviewed by the community like @cah-dunn

[2019-10-14 23:48] hthetiot commented on #408
[code]

Please try again last unified plan branch and let me know, there is important changes in it, that will land in 6.0.x

[2019-10-15 07:44] oscarvadillog commented on #408
@hthetiot Using last unified plan branch I get the following error:

<img width="935" alt="error-unified" src="https://user-images.githubusercontent.com/4169970/66810835-541a7700-ef30-11e9-8c19-b2e4bb1d4ee7.png">

[2019-10-15 08:32] hthetiot commented on #408
@albanonm  Arf same issue with NsLog and streamId, I will remove now.

[2019-10-15 08:36] hthetiot commented on #408
Checking now. Keep you posted.

[2019-10-15 08:49] hthetiot commented on #408
Sorry About that @oscarvadillog I did some mistakes it's fixed now on master and m69 banches.
See ecb9255c0bc7ed0c90334be4a80190ca1e01b294

[2019-10-15 08:56] hthetiot commented on #408
Here is the last result on janus echo tes for me.
<img width="967" alt="Screen Shot 2019-10-15 at 10 50 36 AM" src="https://user-images.githubusercontent.com/8635/66816491-71544300-ef3a-11e9-943d-962db89bc169.png">

[2019-10-15 09:04] oscarvadillog commented on #408
@hthetiot it's working the janus echo for me too.
Checking videoroom...

[2019-10-15 10:14] oscarvadillog commented on #408
It seems that the videocall is working properly on both sides using latest janus.js, adapter 6.4.0 and `task/libwebrtc-update-m69-unified-plan` branch.

![videocall](https://user-images.githubusercontent.com/4169970/66822817-4cb19880-ef45-11e9-8892-c561190ae194.JPG)

Checking more demos...

[2019-10-15 14:50] jesseer9 commented on #375
Newbie question here, apologies if the answer is stated somewhere else.

I'm working on a POC , using IONIC and trying to get WebRTC working so that we don't have to go to the React Native route.  Our app is a video collaboration tool.

Which branch can I use to test WebRTC?  Using IOS 13 and Xcode 11A1027.

Thanks in advance!

Jessee

[2019-10-15 15:13] hthetiot commented on #375
You may want to try to use #master (5b32d7108ea029b1b9c85a5ebd91b6025c725b1f this at date contains incoming 5.0.5) that will be released next, there is some know issue using 13 iOS with local freezing video on orientation changes and for some other  no local video for some people.

This is being fixed that contains a new unpatched WebRTC.framework M69 version via #399 aka #task/libwebrtc-update-m6

[2019-10-15 15:18] hthetiot commented on #408
@oscarvadillog Thank you a lot for testing.
I may tag here for 6.0.1 of unified-plan and keep RTCRtpTransceiver.js SHIM/SHAM for another PR
Note: https://blog.mozilla.org/webrtc/rtcrtptransceiver-explored/

[2019-10-15 15:26] hthetiot commented on #375
Quick update #407 look pretty stable I think. (Thanks @oscarvadillog that tested Janus.js)
- 757c36c72df553b69403ed423994584b7e665be6

@jesseer9
If you looking for basic WebRTC samples usage, I sugegst
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/extra/renderer-and-libwebrtc-tests.js

[2019-10-15 15:42] #398 closed

[2019-10-15 16:15] hthetiot commented on #375
Now ca067c07404225f4ff5310f30ad60f4308cfc3d2

[2019-10-15 16:50] hthetiot commented on #375
Sorry moving fast @jesseer9 here master is 6.00:
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/CHANGELOG.md#version-600

5.0.5 been released:
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/CHANGELOG.md#version-505

[2019-10-15 16:56] jesseer9 commented on #375
That is fast!  Thanks @hthetiot !

My demo is using capacitor (and cocoapods) and having trouble compiling.  Trying to figure if I need to bridge headers.  Haven't had any luck finding documentation on mix and matching from both.

Jessee

[2019-10-15 17:08] hthetiot commented on #375
@jesseer9
See https://github.com/cordova-rtc/cordova-plugin-iosrtc/issues/398 Other Section

[2019-10-15 17:11] hthetiot commented on #408
Closing for now but 6.0.0 is on master not 6.0.1 with unified plan and using `task/libwebrtc-update-m69-unified-plan`.

https://github.com/cordova-rtc/cordova-plugin-iosrtc/issues/408#issuecomment-542142072

Please comment on this issue only if using UnifiedPlan or Janus MCU/SFU

[2019-10-15 17:20] jesseer9 commented on #375
@hthetiot I'd be willing to take a stab, if I can find some documentation :)

Jessee

[2019-10-15 17:28] hthetiot commented on #375
I will only close that issue  aka #375 via master with https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/CHANGELOG.md#version-600

if @EternallLight @myhhx @cah-dunn @pethessa Say it's ok, I will close and release master (cd1a545a5bdbc6afec50713068833433dc89a1b7) as 6.0.0

I will make an issue `Announcement] cordova-plugin-iosrtc Version 6.0.x notes ` like for 5.0.x (https://github.

[2019-10-15 17:34] hthetiot commented on #400
https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/docs/Building.md#building-steps

[2019-10-15 23:11] oscarvadillog commented on #408
@hthetiot Videoroom demo is failing.

[code]

[2019-10-16 06:41] hthetiot commented on #408
But @oscarvadillog Echo demo is ok?
If video room failing can you make sure you have also TURN setup

[2019-10-16 06:43] hthetiot commented on #408
Make sure you did not have false positive on echo and displayed yourself (local vs peer stream/tracks)

[2019-10-16 07:45] oscarvadillog commented on #408
@hthetiot Echo and Videocall is working well, I watch the **remote** stream correctly.
I think it's a problem with the video codec negotiation.

[code]

[code]

[2019-10-16 09:23] hthetiot commented on #408
But check this WebRTC options also if Janus expose them
[code]
More: https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/src/PluginRTCPeerConnectionConfig.swift#L26

I'm confuse @oscarvadillog  What is the difference  bettween `Videocall` "working well," (one to one?) Videoroom demo "Videoroom demo is failing." (one to many) pls ?

I'm not sure, I got H264 in and out from FreeSwitch t

[2019-10-16 11:27] oscarvadillog commented on #408
@hthetiot Echo and Videocall works well because are using H264, just like what happens to you from FreeSwitch. However, Janus videoroom needs to set the codecs in the [configuration of each room](https://github.com/meetecho/janus-gateway/blob/master/conf/janus.plugin.videoroom.jcfg.sample#L16).

I'd like to be able to use the VP8 codec whenever possible. The plugin (m69) should allow it, shouldn't

[2019-10-16 14:29] oscarvadillog commented on #408
@saghul @ibc could you please give us your opinion here? Why isn't it working with VP8? Thanks in advance!

[2019-10-16 15:15] RobertY9 opened #409 "MediaStreamTrack enabled = false doesn't pause the audio"
#### Expected behavior
Setting enabled to false on MediaStreamTrack should mute the audio
#### Observerd behavior
Appears to do nothing audio continues
#### Steps to reproduce the problem

[code]

#### Platform information

* **Cordova version**:9.0.0
* **Plugin version**:6.0.0
* **iOS version**: 12.2
* **Xcode version**:10.2

[2019-10-17 17:58] hthetiot commented on #409
Will check that keep you posted.

[2019-10-18 06:05] oscarvadillog commented on #408
@hthetiot can you run [this test](https://github.com/cordova-rtc/cordova-plugin-iosrtc/issues/408#issuecomment-542655463) and check if only h264 codec is sent in the SDP offer?
Do you have any idea why not send vp8?

Will try to review this point. Did you choose WebRTC M69 framework for some special reason?

[2019-10-18 11:38] hthetiot commented on #409
I do not reproduce this issue.

Following does disable the receiving audio on other peer side properly.
[code]

[2019-10-18 12:35] hthetiot opened #410 "Crash on SetRemoteDescription when closed"
#### Expected behavior

Not crashing.

#### Observerd behavior

Crash

[code]

#### Steps to reproduce the problem
Crash on SetRemoteDescription when disconnected.
Set IceCandicate on closed peer.

#### Platform information

* **Cordova version**: 5
* **Plugin version**: 6.0.0
* **iOS version**:  12.2
* **Xcode version**: 11

[2019-10-18 13:33] oscarvadillog commented on #410
Why do you need to call `setRemoteDescription()` when the PC is closed?

[2019-10-18 14:58] hthetiot commented on #410
@oscarvadillog I dont, but it should not crash ;)

[2019-10-21 10:13] hthetiot opened #411 "Unable to run 6.0.0 on Emulator"
#### Expected behavior

Able to run on Emulator

#### Observerd behavior

[code]

#### Platform information

* **Cordova-iOS version**: 5.0.1
* **Plugin version**: 6.0.0
* **Xcode version**: 11

[2019-10-21 11:20] hthetiot commented on #411
Look like the issue is related to this merge d5b0992a26387b382df77517e448967eecb396f9

[2019-10-21 15:02] hthetiot commented on #411
Fixed by #412

[2019-10-21 15:02] #411 closed

[2019-10-21 15:15] #410 closed

[2019-10-21 15:17] hthetiot commented on #409
I tested again remote and local stream get muted.
You may want to add a breakpoints here to check it is called.
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/src/PluginMediaStreamTrack.swift#L81
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/js/MediaStreamTrack.js#L65

[2019-10-21 15:17] #409 closed

[2019-10-21 16:36] RobertY9 commented on #409
So debugging the file you linked the first time everything looks correct but nothing is muted. I can see the self.rtcMediaStreamTrack.isEnabled becomes false.

If I set enabled = false a second time, at the start of the function self.rtcMediaStreamTrack.isEnabled is true and once again it is changed to false. Audio is still not muted.

It almost like something is changing it back true. Audio is mu

[2019-10-22 08:26] hthetiot commented on #408
@oscarvadillog I will look into it, keep you posted

[2019-10-23 18:45] menelike commented on #408
I can confirm that `VP8` is missing in the result of `createOffer()`.

The test is rather simple:
[code]

The sdp will only contain `H264`. Tested with https://github.com/cordova-rtc/cordova-plugin-iosrtc/commit/cd1a545a5bdbc6afec50713068833433dc89a1b7

[2019-10-23 21:17] oscarvadillog commented on #408
@menelike Yes, ofc we can close this issue (originally it was) and open a new one about the VP8 deprecation.

[2019-10-23 22:23] oscarvadillog opened #415 "VP8 is missing in the result of createOffer()"
#### Expected behavior

That the VP8 codec be included in the SDP.

#### Observed behavior

VP8 is missing in the result of createOffer(). The sdp will only contain H264.
I manually manipulated the SDP to include VP8 instead of H264 but it didn't work. I watched several streams and the video elements blink :(

#### Steps to reproduce the problem

Simple test:
[code]

#### Platform information

* *

[2019-10-23 22:23] #408 closed

[2019-10-23 22:24] oscarvadillog commented on #408
@menelike @hthetiot  VP8 issue here https://github.com/cordova-rtc/cordova-plugin-iosrtc/issues/415

[2019-10-24 07:50] hthetiot commented on #408
Thank you @oscarvadillog can you test the new WebRTC.framework build here to see if VP8 is supported #412

[2019-10-24 09:12] oscarvadillog commented on #408
@hthetiot is still needed this test or we go directly to https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/416 ?

[2019-10-24 09:19] hthetiot commented on #408
@oscarvadillog Yes if you can test #416, I will merge in master, I have tested it via #412 but i d'like to see if m69 master build work also, otherwise i will merge #412 and #416 today I think.

[2019-10-24 09:20] hthetiot commented on #415
#416  Results in VP8, VP9 and H264 being available now.

const pc = new RTCPeerConnection(null);
pc.createOffer({
offerToReceiveAudio: true,
offerToReceiveVideo: true,
}).then((v) => console.log(v.sdp))

[2019-10-24 09:21] hthetiot commented on #415
Thank you @oscarvadillog and @menelike for helping testing and for quick debug.

[2019-10-24 15:04] hthetiot commented on #415
I want to release #416 on master but we need more testing and possible exclude VP9 to avoid performance issues if needed.

[2019-10-24 21:38] oscarvadillog commented on #415
I've tested #416 and it's working well for me using VP8. Well done @hthetiot ❤️
I also think it would be nice to exclude VP9 to prevent performance issues.

[2019-10-25 00:12] hthetiot commented on #415
I moved H264 on preferred, I will try to see how to exclude VP9

[2019-10-25 09:38] hthetiot commented on #375
@cah-dunn Done

[2019-10-25 20:24] hthetiot commented on #375
I plan to release 6.0.0 in next 72 hours but I need help to test iOS 13 on real device, I have only an iPhone 6 and iPad Mini 3 both not eligible to iOS 13, I would nee confirmation that master is ok on iOS 13 on real device that would help me. If you need VP8 you can try #416 if you need Unified Plan test #407, I plan to merge this 2 on 6.0.0 potential demo the demand of the community.

[2019-10-25 21:35] EternallLight commented on #375
I've got iPhone 7 which is a little newer :) Will test the master branch once 6.0.0 is released

[2019-10-28 09:18] DaveLomber commented on #375
Tested the latest master.
Had a call between iOS and Web Chrome.
At both sides we use 'lib-jitsi-meet'

iOS local video works fine, I can see it at both sides iOS & Chrome

But, have an issue with remote video stream from Chrome - it's simply a black video element is displayed

Our test case:
1. setup audio call between iOS & Chome
2. Enable video at Chrome side

In Xcode logs I can see the follow

[2019-10-28 10:02] hthetiot opened #420 "Failed to publish on appStore"
#### Expected behavior

Be able to distribute on AppStore

#### Observerd behavior

ERROR ITMS-90087: "Unsupported Architectures. The executable for My.app/Frameworks/WebRTC.framework contains unsupported architectures '[x86_64, i386]'."

ERROR ITMS-90209: "Invalid Segment Alignment. The app binary at 'My.app/Frameworks/WebRTC.framework/WebRTC' does not have proper segment alignment. Try rebuildin

[2019-10-28 10:20] hthetiot commented on #420
See solutions here:
- https://github.com/react-native-webrtc/react-native-webrtc/blob/master/Documentation/iOSInstallation.md#appendix-b---apple-store-submission

[2019-10-28 10:28] hthetiot commented on #420
This solutions also:
- http://ikennd.ac/blog/2015/02/stripping-unwanted-architectures-from-dynamic-libraries-in-xcode/

[2019-10-28 11:28] hthetiot commented on #420
See #421

[2019-10-28 11:33] hthetiot commented on #375
@DaveLomber Try #416 see "Testing" section in the PR description.
I do not reproduce this issue even without #416
Do you know if you force codec ?
What version of Chrome are you using ?
Also Chrome do not support video resultion 1080x960 can you try with GetUserMedia with specific resolution (See #418 for fix)

[2019-10-28 11:46] hthetiot opened #422 "Warning [LayoutConstraints] Unable to simultaneously satisfy constraints."
I need help to fix this warning, this is not cuasing real issue but would be cleaner without the warning.

See source:
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/src/PluginMediaStreamRenderer.swift#L53

#### Expected behavior

Satisfy constraints without warning.

#### Observerd behavior

[code]

#### Steps to reproduce the problem

Establish peer connection with video.

##

[2019-10-28 11:49] DaveLomber commented on #375
Thanks, I will try the mentioned branch

we do no force it, use default logic

OS X,  77 ver

We simply use:

[code]

I upgraded to the master branch cause we got an issue with iOS 13.
Previously with iOS 12 our current code worked well

[2019-10-28 11:59] hthetiot commented on #375
@EternallLight did you had time to test iOS 13 ?

[2019-10-28 12:06] EternallLight commented on #375
@hthetiot Yes, I tested with the test script you provided on a clear Ionic app – it worked ok in both portrait and landscape modes.
Unfortunately, I had issues with integrating the latest version of the plugin with our main app. We have multiple app extensions and have to handle custom changes in cordova build scripts – otherwise it'd add the WebRTC framework to the extension target. Once I get it