[2019-10-28 12:07] hthetiot commented on #375
@DaveLomber ideal+min+max  is not supported yet, see WIP #419
[code]

Try this first:

[code]

[2019-10-28 12:33] DaveLomber commented on #375
@EternallLight  I do not have any issues with local iOS stream, it is displayed well, even with these constrains
The issue we face is with remote video stream from Chrome - it's black at iOS side.
Do you think by changing this constraints at Chrome side can help make it displayable at iOS side?

[2019-10-28 12:40] hthetiot commented on #375
@DaveLomber Please create dedicated issue. I do not reproduce this issue.
The main reason this issue exist is for "Rendering local stream on iOS 13", you are out of getting out of topic.

Also you are using MCU/SFU (jitsi) that can be the reason "Real" peer to peer do not have this problem. Also do you use TURN ?

[2019-10-28 13:05] hthetiot commented on #375
@EternallLight Can you fill a separate issue, the hook is supose to handle multiple extensions.
See https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/extra/hooks/iosrtc-swift-support.js#L202

[2019-10-28 13:06] hthetiot commented on #375
I'm closing for now since @EternallLight said it's ok and he is the original reporter.

PLEASE ONLY COMMENT if pure iOS 13 issue and you do Peer To Peer only (No MCU/SFU here see #416 for MCU/SFU janus/jisti and co.)

[2019-10-28 13:07] #375 closed

[2019-10-28 13:09] DaveLomber commented on #375
@hthetiot I can confirm as well that a local video stream started working well under iOS 13 with the master branch

Re constraints - I think either jitsi-lib or adapter.js converts it into supported format, so hence no issues with it at my side

Re remote video stream is showing as black square - will file a separated issue

Thank you 👍

[2019-10-28 13:10] #420 closed

[2019-10-28 13:14] EternallLight commented on #375
@hthetiot
The initial issue has been solved. Thank you very much for your help!
Regarding the hook, I'll do some debugging and file an issue as you suggested

[2019-10-28 14:03] DaveLomber commented on #375
@hthetiot  btw, not sure what's changed
but this MR fixed my issue https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/416
So I can finally see a remote Chrome video stream at iOS side 🥇

[2019-10-28 14:42] hthetiot commented on #250
Fix confirmed on master

getUserMedia({video: true, audio: false})

[2019-10-28 14:42] #250 closed

[2019-10-28 15:50] dobesv commented on #250
@hthetiot What was the fix?  Did they add WebRTC support for WebView ?

[2019-10-28 18:10] hthetiot commented on #409
I will check again @RobertY9 But i do not reproduce your behavior.
You may have another script (WebRTC adapter that alterate the enabled value)

Do you see `MediaStreamTrack_setEnabled ` get called here:
https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/src/iosrtcPlugin.swift#L800

[2019-10-28 18:39] hthetiot commented on #409
I have triple checked @RobertY9 , even setting enabled=false before peer connection does mute local stream. You most likely have somewhere it does enabled = true or you are not targeting the right stream. Please Provide full reproduction and i will re-re-re-re-check.

[2019-10-29 09:22] hthetiot commented on #375
@DaveLomber VP8 and VP9 support if you use jisti you do MCU/SFU make sure to mention it when you give feedback. (This PR with VP8 support was made for Janus support, will be merge soon)

[2019-10-29 11:05] hthetiot opened #425 "[Announcement] cordova-plugin-iosrtc Version 6.x.x notes"
Hello cordova-rtc users,

I have released cordova-plugin-iosrtc 6.0.0

# Changelog Version 6.0.0

* Use WebRTC M69
* Use WebRTC.framework
* implement PluginRTCVideoCaptureController with MediaTrackConstraintSet
* Replace the libwebrtc static lib with the dynamic library from the WebRTC.framework build process using M69 ([PR #399](https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/399) by @h

[2019-10-29 14:31] #415 closed

[2019-10-29 18:43] hthetiot opened #426 "Crash on iOS 13 on media stream end"
On ios 13.1.1 the app will crash when stoping MediaStream.

#### Expected behavior

#### Observerd behavior

#### Steps to reproduce the problem

#### Platform information

* **Cordova version**: 7.1
* **Plugin version**: 6.0.0
* **iOS version**:  13.1.1
* **Xcode version**: 11.1

[2019-10-30 09:55] DaveLomber commented on #426
Was just going to report the same..

Happens only when end video call (works fine with audio calls)

From my understanding, this is a new Xcode assertion, which says we are not allowed to touch UI not in UI thread.

[2019-10-30 11:38] akilude commented on #360
@hthetiot  the issue still persists when using the plugin (version 6.0).

Occurs when using the below css:
`min-width: 100%;
min-height: 100vh;`

Simplest fix is to not specify min-width and min-height css.

[2019-10-30 11:42] hthetiot commented on #426
@saghul I think this is similar to some issues you had on `jitsi-meet-ios-sdk` in past weeks and you may have fixed it on already on `react-native-webrtc`. Can you assist me or pointing me into the right direction, please?

This look similar to this issue that you mentioned as been fixed on jitsi-meet-ios-sdk v2.4.0 : https://github.com/jitsi/jitsi-meet/issues/4717#issuecomment-544424013

Should w

[2019-10-30 11:43] hthetiot commented on #426
Look also similar to this one:
- https://github.com/react-native-webrtc/react-native-webrtc/issues/702

[2019-10-30 12:39] hthetiot commented on #426
@DaveLomber I have a fix, doing now. (It's a mistake I made)

[2019-10-30 12:49] hthetiot commented on #426
@DaveLomber Can you try master for me ?

[code]

[2019-10-30 13:13] DaveLomber commented on #426
@hthetiot I can confirm it works well after the fix
Thank you !

[2019-10-30 14:16] hthetiot commented on #426
Sorry @saghul ignore my comment :)

[2019-10-30 14:23] hthetiot commented on #425
Released 6.0.1 with minor fix for crash on stop MediaStream
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/CHANGELOG.md#version-601

[2019-10-30 15:05] hthetiot opened #428 "gulp-util is deprecated - replace it"
gulp-util is deprecated - replace it, following the guidelines at https://medium.com/gulpjs/gulp-util-ca3b1f9f9ac5

# CVE-2019-10744 More information
critical severity
Vulnerable versions: < 4.5.0
Patched version: 4.5.0
Affected versions of lodash are vulnerable to Prototype Pollution.
The function defaultsDeep could be tricked into adding or modifying properties of Object.prototype using a constr

[2019-10-30 15:11] hthetiot commented on #428
Related https://github.com/twada/gulp-derequire/issues/3

[2019-10-30 18:10] hthetiot commented on #360
Do you call refreshVideos on rotate ?
Please provide full example, this issue has been close because I do not reproduce.

[2019-10-30 18:11] hthetiot commented on #360
Note: this has nothing to do with Metal anyway.

[2019-10-31 21:01] andrewvmail opened #429 "PluginGetUserMedia#call() video is always true using JsSip"
Working with sipjs the video constraint checks always results to true  event though i set it to false or nothing, results in getUserMedia is asking for video all the time

https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/src/PluginGetUserMedia.swift#L29

[code]
![Screen Shot 2019-10-31 at 1 58 47 PM](https://user-images.githubusercontent.com/2431354/67985663-95747d00-fbe6-11e9-8df2

[2019-10-31 22:24] andrewvmail opened #430 "DTMF stopped working"
https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/src/PluginRTCDTMFSender.swift#L41

https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/src/PluginRTCDTMFSender.swift#L21

To get it working I have to
[code]

Then another change of this
[code]
the duration and interToneGap type doesn't match the expected type of insertDtmf now
dumping the defaults i get 100, 70 but it sh

[2019-11-01 11:31] akilude commented on #408
Hi @hthetiot , i'm facing issues with using janus video room with the plugin

**Scenario:**
- Using janus video room plugin , join one by one on 3 seperate devices, one device is an iphone with iosrtc 6.1 and 2 more on different devices
- call cordova.plugins.iosrtc.refreshVideos() after each remote stream is added

**Outcome:**
Later remote videos streams override the previous videos streams

**P

[2019-11-01 12:32] hthetiot commented on #408
@akilude thank you.

I think iosRTC can mitigate that technically, but I also think that Janus should actually make unique streamId, because doing a mapping or peerID and StreamID will still be limited if one peer as twice the same streamID.

Can you create a separate issue with tht same description of your initial comment as this issue you commented on was about codec and not streamID.

[2019-11-01 12:36] hthetiot commented on #430
@andrewvmail can you make a PR please if you have a solution already that would make it easier for everyone. Thank you.

[2019-11-01 12:38] hthetiot commented on #429
Thank you @andrewvmail I will fix that, keep you posted.

[2019-11-01 12:57] hthetiot commented on #430
See fix here https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/431
Thank you for proper reporting. We may still use a new rtcRtpSender once Unified-Plan merged.
Do you know if insertDtmf should use a new AudioTrack or the existing one, according to spec/doc ?

[2019-11-01 13:01] hthetiot commented on #429
@andrewvmail Can you tell me the exact passed to getUserMedia ?
That would help me to fix the Javascript here https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/js/getUserMedia.js#L52 on top of the TypeScript here https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/src/PluginGetUserMedia.swift#L29

[2019-11-01 13:02] akilude opened #432 "Janus Video Room - video streams get overridden."
### Expected behavior
When using Janus Video Room, when 2 or more remote users publish and join the room one after the other, the videos display the respective video streams.

#### Observed behavior
All remote videos render one remote user's stream, the scr of the videos of the others get overridden.

#### Steps to reproduce the problem

1. On an iOS device using this plugin, join a janus video ro

[2019-11-01 13:02] akilude commented on #408
Done, thanks.

[2019-11-01 13:03] hthetiot commented on #429
Can you provide `sipUserAgent.call` from JsSip you are using, alternativly you can pass mediaStream to it to get the stream from GetUserMedia.

[2019-11-01 13:09] hthetiot commented on #429
@andrewvmail I do not reproduce this issue doing this with JsSip 3.1.2
- https://cdnjs.cloudflare.com/ajax/libs/jssip/3.1.2/jssip.min.js
[code]

[2019-11-01 13:13] hthetiot commented on #429
Will test with SipJS bad fork but JSSip original implementation works great (SipJS is what i consider a bad fork of JSSip BTW).

[2019-11-01 13:14] hthetiot commented on #429
Same work for me with SipJS sipUserAgent.invite that they renamed from sipUserAgent.call from original JSSip.

var sipSession = sipUserAgent.invite(callUri, {
        //mediaStream: localStream,
        mediaConstraints: {
            video: false,
            audio: true
        },

[2019-11-01 13:22] hthetiot commented on #429
<img width="994" alt="Screen Shot 2019-11-01 at 2 16 44 PM" src="https://user-images.githubusercontent.com/8635/68027574-041f0c80-fcb3-11e9-89e6-9964868d0468.png">
LOL there is no mediaConstraints  in this source code https://sipjs.com/download/sip-0.15.6.min.js

[2019-11-01 13:38] hthetiot commented on #429
@andrewvmail  Ok this is not a iosrtc issue, simply poor documentation and improper options passed to invite SipJS.

[code]

Result in proper constraints passed to getUserMedia.

<img width="939" alt="Screen Shot 2019-11-01 at 2 34 13 PM" src="https://user-images.githubusercontent.com/8635/68028320-ee124b80-fcb4-11e9-81de-893a840a6002.png">

My personal solutions is not to use SipJS and use SIPJS

[2019-11-01 13:38] hthetiot commented on #429
@andrewvmail Re-open if you still have issue after using proper SIPJS options to invite.

[2019-11-01 13:38] #429 closed

[2019-11-01 13:40] hthetiot commented on #430
This will be released on 6.0.2, Please test the PR to confirm the fix (I did test myself and it works BTW). but double test is always better.

I'm Closing for now.

[2019-11-01 13:40] #430 closed

[2019-11-01 13:50] hthetiot commented on #429
related https://github.com/onsip/SIP.js/issues/731

[2019-11-01 21:09] hthetiot commented on #432
@akilude  I think it may be wontfix due spec you explained on https://github.com/meetecho/janus-gateway/issues/1847

It look Janus have a fix already in the pipe to respect StreamID to be unique. Here https://github.com/meetecho/janus-gateway/pull/1459

Tell me what you think @akilude , but we really on internal WebRTC StreamID on Unified-Plan a lot, I think it would be a mistake to create a wrapp

[2019-11-02 04:03] akilude commented on #432
@hthetiot i just tried the unified branch of janus with the unique ids for streams and am facing some issues as the onremotestream of janus.js is not being called which i think is because they changed their api to track based, will check if it i need to make some changes and get back to you.

Thank you.

[2019-11-03 09:41] andrewvmail commented on #430
Confirmed this works

[2019-11-03 09:47] andrewvmail opened #433 "Test is not running completely negotiationneeded only trigger using addTrack"
Trying to run the test from the main README.md I had to modify one thing to get pc1 and pc2 to talk to each other.

The negotiationneeded event wont run with
[code]
But runs fine with this line uncommented.
[code]

[2019-11-03 10:00] andrewvmail commented on #429
@hthetiot confirmed using test harness from readme works i can see that video can be turned off  will take your advice and switch to jsip thanks for the insight!

[2019-11-03 18:41] akilude commented on #432
Hi @hthetiot , testing just the janus videoroom demo on the  janus unified plan branch, janus does indeed provide unique stream ids, but they do this by giving us tracks instead of streams, for example all video tracks for all peers are given id "janus1" , all audio tracks are given ids "janus0".

we create the media stream on the client side

`var stream = new MediaStream();`
`stream.addTrack(aud

[2019-11-03 23:29] hthetiot commented on #433
@andrewvmail Can you try #407 ?

[2019-11-03 23:33] hthetiot commented on #433
Related https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/407/files#diff-c2d6f2eadab962f9eb2b06e637f81b2eR630

https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/src/PluginRTCPeerConnection.swift#L578

[2019-11-04 10:41] waliu opened #434 "WebRTC.framework error"
#### Expected behavior

#### Observerd behavior

#### Steps to reproduce the problem

#### Platform information

* **Cordova version**:9.0.0
* **Plugin version**:6.0.1
* **iOS version**: 13.1
* **Xcode version**:11.1

I upload the apple store, the prompt is 32 library, the actual should be 64 library.

![image](https://user-images.githubusercontent.com/23111924/68114955-3f7b3e80-ff32-11e9-8a17-5d0

[2019-11-04 10:53] DaveLomber opened #435 "'stop() not implemented' obsolete warning"
The following log is printed when call `PluginMediaStreamTrack.stop()`

`2019-11-04 12:50:00.301935+0200 VNCtalk[2919:707839] PluginMediaStreamTrack#stop() | stop() not implemented (see: https://github.com/cordova-rtc/cordova-plugin-iosrtc/issues/140`

Since the issue is closed for today - do we still need to print this warning?

[2019-11-04 21:56] hthetiot commented on #434
Please read and and use the tools to publish to the store.
https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/docs/Building.md#apple-store-submission

[2019-11-04 21:56] #434 closed

[2019-11-04 21:58] hthetiot commented on #434
I don't understand this part, if you change WebRTC.framework it will not work properly.

@waliu you need to remove x86 and 32 bit version using the tools to publish to the store. Add a comment here if you still have issue.

https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/docs/Building.md#apple-store-submission

[2019-11-04 22:00] hthetiot commented on #435
No we dont, This is already fixed in #407 that will be released on 6.0.3 if all goes well.

[2019-11-04 22:02] #435 closed

[2019-11-04 22:05] hthetiot commented on #434
@waliu we still use WebRTC.framework version M69, using WebRTC.framework version GoogleWebRTC (1.1.27828) will not work. Overtime I will upgrade to M75.

[2019-11-05 01:14] waliu commented on #434
Thank you

[2019-11-05 08:44] hthetiot commented on #433
related https://bugs.chromium.org/p/webrtc/issues/detail?id=1565

[2019-11-05 09:24] hthetiot commented on #433
@andrewvmail see #436 436

[2019-11-05 09:52] hthetiot commented on #433
@andrewvmail If you run this in the chrome browser (https://example.com) you will see on Chrome that nor `pc2.addtrack` or `pc2.addStream` will trigger if `pc1.addTrack` does not have a stream seconds arguments.

Therefor it is normal that negotiationneeded does not trigger.
Test by yourself on Chrome and Firefox. using script bellow.

1. Without addTrack `stream` argument.
[code]

2. With addTrac

[2019-11-05 09:52] akilude commented on #432
@hthetiot according to the creators at Janus, the id's of streams, tracks need to be unique only within the same peer connection.

https://groups.google.com/forum/?fromgroups#!topic/meetecho-janus/MgVcVa6KyBs

[2019-11-05 10:00] hthetiot commented on #433
Fun fact without webrtc-adatper Chrome will not trigger pc2.addTrack anyway.

[2019-11-05 10:01] hthetiot commented on #433
I will revert ##436 partially cause we should not addTrack MediaStream by default.

[2019-11-05 10:29] hthetiot commented on #433
Related #437 437

[2019-11-05 10:29] #433 closed

[2019-11-05 10:31] hthetiot commented on #425
Released 6.0.2 with UnifiedPlan and insertDtmf fix
https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/CHANGELOG.md#version-602

[2019-11-05 10:33] hthetiot commented on #433
6.0.2 contains partial fix:
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/commit/0eeb642f956aad760828c583e0a4664484f9ad85

[2019-11-05 10:33] hthetiot commented on #433
@andrewvmail can you test 6.0.2 and confirm, thank you.

[2019-11-05 11:52] hthetiot commented on #432
@akilude Ok I will look into that.

[2019-11-05 16:36] soulfly opened #438 "`iosrtc.enumerateDevices()` call causes AVAudioSession to reset to its default settings"
Today I fought with a strange issue

By some reason, after upgraded to iOS 13 plugin version support, a switch audio output option stopped working in our app. Every time a user switches to speakerphone, it works ok, but only for some short period of time, then the audio output returns to earpiece.

After deep debugging, I noticed that every call to `iosrtc.enumerateDevices()` resets the audio sess

[2019-11-05 17:12] hthetiot commented on #438
@soulfly thank you, I will look into it.

[2019-11-05 18:33] hthetiot commented on #438
@soulfly Can you test this PR #439
If all good will be released in 6.0.3 tomorrow with #437

[2019-11-05 18:35] #438 closed

[2019-11-05 18:36] hthetiot commented on #433
#437 will make it match browser implementation

[2019-11-05 20:24] soulfly commented on #438
I can confirm it works this way
@hthetiot  thank you 🥇

[2019-11-05 21:25] andrewvmail commented on #433
Oh actually confirming now README.md snippets copy pasted fine. But I think thats with the recent change that will be reverted.

[2019-11-06 09:42] hthetiot commented on #433
@andrewvmail You actually helped find a bug, where no stream with addTrack would have prevented the track to not being added. Thx

[2019-11-06 09:43] hthetiot commented on #433
Only the default MediaStream on addRrack will be reverted in favor of #436

[2019-11-06 12:33] hthetiot commented on #425
Released 6.0.3 with RTCPeerConnection.prototype.addTrack with no stream fix and AVAudioSession to reset to its default settings on enumerateDevices
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/CHANGELOG.md#version-603

[2019-11-06 12:33] hthetiot commented on #438
@soulfly Released on https://github.com/cordova-rtc/cordova-plugin-iosrtc/issues/425#issuecomment-550289546

[2019-11-07 20:58] soulfly opened #440 "enumerateDevices: no way to detect Front/Back camera device"
We use `enumerateDevices` to get a list of devices, then save front & back camera devices ids to easily switch between cameras later.
But as we see, it's not always easy to detect front & back devices, as the order of video devices can be diff on diff devices

If we check a `getAllVideoDevices ` method - we can see it always inserts a front camera device at the beginning of the array, which should

[2019-11-08 09:42] CSantosM opened #442 "getReceivers method doesn't return RTCRtpReceiver array"
Hi @hthetiot , updating the plugin in OpenVidu I have seen the following bug:
#### Expected behavior
According with [WebRTC API](https://developer.mozilla.org/en-US/docs/Web/API/RTCPeerConnection/getReceivers), The RTCPeerConnection.getReceivers() method returns an array of **RTCRtpReceiver** objects, each of which represents one RTP receiver. Each RTP receiver manages the reception and decoding o

[2019-11-08 10:03] hthetiot commented on #442
Hello @CSantosM I have a work in progress on #423 can you check it, fell free to fork the branch and make corrections if needed and I will review and merge and release.

[2019-11-08 10:06] hthetiot commented on #440
@soulfly I will see what I can do.

[2019-11-08 10:54] kpwa opened #443 "Agora web sdk support"
Can you please add support for agora web sdk

[2019-11-08 11:08] menelike commented on #432
@akilude

Can you test if changing

https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/4dc28f651efcfb6223e77dd0e6f541c1e4316bc2/src/PluginMediaStream.swift#L20

to

[code]

solves your issue? Though I have absolutely no idea if this breaks other parts of the code.

[2019-11-08 12:43] hthetiot commented on #443
No @kpwa if you want something to be supported you need to provide at least documentation, it not my job to look for it for you and why it's currently not supported. If it's currently not supported their is a big chance that because they don't follow standard WebRTC API.

Add information and I may consider fixing or adding support if justified.

[2019-11-08 12:43] #443 closed

[2019-11-08 12:49] hthetiot commented on #443
We don't assist development or supporting paid WebRTC solutions or product. If you want them to support iosRTC you may contact and pay them or request them to implement proper WebRTC API usage so it work with iosRTC. If you already pay them I would suggest to contact their support instead of us.

Supported Alternatives Free and open source WebRTC solutions:
- https://github.com/cordova-rtc/cordova

[2019-11-10 04:28] kpwa commented on #443
i am able to retrieve the local media but, i am facing an issue when publishing this media:
Error: Argument 1 ('track') to RTCPeerConnection.addTrack must be an instance of MediaStreamTrack @ adapter.js:2310

version am using:
https://cdnjs.cloudflare.com/ajax/libs/webrtc-adapter/7.3.0/adapter.js

[2019-11-10 10:11] hthetiot commented on #443
@kpwa thank you , this is a good start to see if that the issue is from iosRTC side.
There is could of work in progress around addTrack Such as #442 that may be fix some of the issue of supporting agora. The current may issue behind this is probably related to Webrtc-adapter addTrack that we override to support Webrtc-adapter internal. Keep a look on the iosRTC repository and if we change certain

[2019-11-10 10:37] hthetiot commented on #443
So @kpwa the more you provide information that more iosRTC can help.
If it's not an instance of MediaStreamTrack can you help us find why ?

[2019-11-10 10:38] hthetiot commented on #443
@kpwa  I knew I had seen that someone where before ahahah

https://github.com/cordova-rtc/cordova-plugin-iosrtc/issues/343#issuecomment-424861932

Cc @ibc

[2019-11-11 10:38] CSantosM opened #444 "Black remote video in 6.0.x on reconnected to the session"
Hello @hthetiot
I updated **codova-plugin-iosrtc** in OpenVidu (2.11.0) to last version but the behaviour is not the same.

With **5.0.6** version, all work as expected. However, using **6.0.3** version, something is broken.

Since **6.0.0** this issue is repeated.

#### Observerd behavior

The first time the userBrowser is connected  works, when the userBrowser leave the session and rejoin, fails

[2019-11-11 11:50] CSantosM commented on #444
I have discovered some Error logs that it could helps

[code]

[2019-11-12 16:34] oscarvadillog commented on #444
Similar bug using Janus
[code]

Testing PR https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/445

[2019-11-13 19:21] maxkunitsa commented on #420
Hi @hthetiot  and thank you for your commitment!
I do everything according to your instruction, but i receive this:

[code]

and this

`ld: warning: ignoring file Chanty/Plugins/cordova-plugin-iosrtc/WebRTC.framework/WebRTC, missing required architecture x86_64 in file Chanty/Plugins/cordova-plugin-iosrtc/WebRTC.framework/WebRTC (2 slices)
Undefined symbols for architecture x86_64:
  "_OBJC_CLASS_

[2019-11-18 01:34] kpwa commented on #443
Yes i have been trying to sort this for a while. Hopefully you can shine some light on this problem. I have tried all above fixes as you recommended above but with no luck, the problem persists.

[2019-11-18 12:34] hthetiot commented on #440
@soulfly I think I will fix order for front to be always first and add suffix "(Front|Back)" to label what do you think ?

[2019-11-18 12:40] soulfly commented on #440
@hthetiot  at least one of them will be fine,
but both will be ideal 👍

[2019-11-18 12:59] hthetiot commented on #440
@soulfly Can you check #446 will be released today if you validate.

[2019-11-18 13:00] hthetiot commented on #155
Related #440
cc @derwaldgeist

[2019-11-18 13:02] hthetiot commented on #444
@CSantosM @oscarvadillog  I don't reproduce the issue myself, I do close peerConnections and mediaStream before making a new call and I don't have issue with switch Camera on renegotiate. I somewhat think this is PR is more a workaround more than a fix as this previous MediaStream should be cleaned and therefore exiting MediaStream not overrided.

I think the real fix would be to find where MediaS

[2019-11-18 13:02] hthetiot commented on #444
Note: I need to use PeerConnection.Id +MediaStream.id to avoid MediaStream.id colision also i think it will also solve the issue for janus.

[2019-11-18 13:04] CSantosM commented on #444
Hello @hthetiot , you must cancel the PR because it don't solve this issue .

I've tried to fix it completely, however I was not able to do it. The issue is still reproducing with that "fix".

[2019-11-18 13:58] hthetiot commented on #444
I'm working on  fix, can you call `cordova.plugins.iosrtc.dump()` once you reproduce.

[2019-11-18 14:17] hthetiot commented on #444
@CSantosM Check this one #447 447

[2019-11-18 16:27] CSantosM commented on #444
Ok @hthetiot

I have test the fixes on **task/stream-track-uuid** branch and the problem looks like solved.

I have not used `cordova.plugins.iosrtc.dump()` because I was not able to reproduce the issue.
Great update :)

[2019-11-18 17:16] hthetiot commented on #444
@CSantosM great news, thank you for testing again.

[2019-11-18 17:18] hthetiot commented on #432
u@menelike this is not a good idea, because doing so will append UUID on existing valid UUID, this is a bad workarround not a fix.

[2019-11-18 17:18] hthetiot commented on #432
@menelike this is not a good idea, because doing so will append UUID on existing valid UUID, this is a bad workarround not a fix.

[2019-11-18 17:27] hthetiot commented on #432
@menelike, please stay out of the issues and PR you are not the reporter, you are not helping desptite what you think. Instead this should be the real fix #447

[2019-11-18 17:27] hthetiot commented on #432
@akilude @oscarvadillog can you test this PR and let me know if that fix your issue (See testing instructions).
- generate unique PluginMediaStream and PluginMediaStreamTrack, keep original streamId/trackId for internal calls #447

[2019-11-18 17:37] hthetiot commented on #422
Any iOS developer can help here ?

References:
- https://stackoverflow.com/questions/17803801/unable-to-simultaneously-satisfy-constraints
- https://stackoverflow.com/questions/11664115/unable-to-simultaneously-satisfy-constraints-will-attempt-to-recover-by-breakin/30096600
- https://developer.apple.com/library/archive/documentation/UserExperience/Conceptual/AutolayoutPG/DebuggingTricksandTips.htm

[2019-11-19 15:13] derMani opened #449 "stream.getVideoTracks()[0].enabled should blank off the stream?"
#### Expected behavior
getVideoTracks()[0].enabled
#### Observerd behavior

#### Steps to reproduce the problem

#### Platform information

* **Cordova version**:
* **Plugin version**:
* **iOS version**:
* **Xcode version**:

[2019-11-19 15:52] derMani opened #450 "NSLog causes crash , if facingMode === 'user'. Ideal and exact values are ignored"
I tried to use the facing mode and observed some interesting behavior:

It only works with

`{video:{facingMode:'environment}}
`

It will crash with

`{video:{facingMode:'user'}} `

If we try to use:

`video.facingMode.ideal` or `video.facingMode.exact`, the "user mode" will always be selected.

If we just use

`video.facingMode = 'user' `

the app will crash

![Bildschirmfoto 2019-11-19 um 16 41

[2019-11-19 17:24] hthetiot commented on #449
We would need to clear the texture buffer to be blank instead of last frame.

Im not consider that a bug. I will see what I can do.

[2019-11-19 17:26] hthetiot commented on #450
Thank you @derMani I will look into that and fix it on next release 6.0.4

[2019-11-19 17:28] hthetiot commented on #450
It's kind of weird as facingMode is a string in environment like it is in user. I will try to find what going on and improve exact and ideal support.

[2019-11-19 17:32] derMani commented on #449
Cool and thanks! Hint: In previous versions (< 5.x) the video was black when enabled was set to false.

Maybe you can somehow reuse the code there.

[2019-11-19 17:51] hthetiot commented on #449
@derMani this part of the implementation did not change, WebRTC.framework did however, so that might be where the issue lies. Thx for input.

[2019-11-20 13:19] akilude commented on #432
thanks @hthetiot , i currently don't have an iphone to test, will test and report back as soon as i get one.

[2019-11-20 14:14] hthetiot commented on #450
@derMani This PR should fix the issue #451

Note: replacing  NSLog "%s" by "%@" did also fix the NSLog crash.

[2019-11-20 14:15] hthetiot commented on #450
Let me know if #451 works and i will release on 6.0.4 @derMani

[2019-11-20 14:39] hthetiot commented on #432
@akilude Thank you for update, keep me posted.

[2019-11-20 14:41] hthetiot commented on #432
Note for @akilude should work on emulator with audio send only but will receive videos from janus.

[2019-11-20 20:21] derMani commented on #450
Hmm, I don't know if I am doing this correctly, but I replaced all files from 6.0.3 with the changed files from #451 :

On Page load, I am getting an  error message in the dist js file:

`Error: Cannot find module 'cordova/exec'`

[2019-11-21 09:29] hthetiot commented on #450
@derMani That not going to work as cordova manipulate the iosrtc.js plugin and add line on top and end of the file.

I have added instruction on the PR #451 description for you to test.

Note: I found out that if you use webrtc-adater facingMode is not working cause they overrride getUserMedia and ignore it.

[2019-11-21 13:39] akilude commented on #432
@hthetiot thank you, it's working properly on the emulator, i will get an iphone tomorrow and report back when i test on an actual device.

[2019-11-21 20:11] hthetiot commented on #432
Thank you @akilude you QA is really valuable.

[2019-11-21 20:16] hthetiot commented on #450
merged #451 on master will test master then release 6.0.4

[2019-11-21 20:16] #450 closed

[2019-11-21 20:16] hthetiot commented on #444
merged #447  on master will test master then release 6.0.4

[2019-11-21 20:16] #444 closed

[2019-11-21 20:17] hthetiot commented on #440
merged #446 on master will test master then release 6.0.4

[2019-11-21 20:17] #440 closed

[2019-11-21 20:17] hthetiot commented on #432
merged #447 on master will test master then release 6.0.4

[2019-11-21 20:17] #432 closed

[2019-11-21 21:07] hthetiot opened #452 "Upgrade WebRTC.framework from M69 to M75"
Upgrade WebRTC.framework to M75
See: https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/docs/BuildingLibWebRTC.md

[2019-11-21 21:09] hthetiot commented on #155
merged #446 on master will test master then release 6.0.4

[2019-11-21 21:15] hthetiot commented on #443
@kpwa I can only help you if you provide more information.
Please provide a sample script to reproduce then I can help.

If you get this

That probably mean the getUserMedia is overrided by Agora is bad, try `cordova.plugins.iosrtc.getUserMedia` instead.

Again please provide example to reproduce your issue.

[2019-11-22 11:06] hthetiot commented on #425
Released 6.0.4 with Generate unique PluginMediaStream and PluginMediaStreamTrack (Janus multi remote peer stream support), Fix Callbacks support for getUserMedia by @onerinas and other minor fixes.

- https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/CHANGELOG.md#version-604

[2019-11-22 13:19] akilude commented on #432
@hthetiot , just an update, It works on the physical iphone as well. Thank you.

[2019-11-25 16:27] oscarvadillog commented on #432
Sorry for the delay. Tested on iPhone 7 and it works properly. Thanks @hthetiot 😄

[2019-11-26 09:41] smuddy opened #454 "Webrtc-adapter mediaConstraints.video.facingMode does not select correct camera"
#### Expected behavior
Hi, I'm using the plugin to get AR.js to work in cordova-ios.
With some adjustment on the AR.js code the video is loaded and should show the environment camera.

#### Observerd behavior
But I only get the selfie camera selected.

#### Steps to reproduce the problem
I used the bootstrap code to patch the global API, then started AR.js. The code in AR.js is:
[code]

Are there

[2019-11-26 10:21] smuddy commented on #454
Here the constraints translated by the webrtc adapter:
[code]

video:0 seems to be the correct camera, it is labeled with: "Rückkamera (Back Camera)"

[2019-11-26 10:29] hthetiot commented on #454
@smuddy yes WebRTC adapter corrupt the facingMode and I can do nothing about that.

The solution could be to call iosrtc registerGlobals after adapter load or to not use adapter or call Cordova.plugins.iosrtc.getUserMedia directly.

Can you test to later to confirm the issue is from webRTC-adapter that ignore facingMode.

[2019-11-26 10:40] hthetiot commented on #454
Note: @smuddy if you need to render video to canvas for AR.js you going to need to use videoEl.render.save function.

See example:
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/extra/renderer-and-libwebrtc-tests.js

[2019-11-26 10:46] hthetiot commented on #454
Possible solution is for iosRTC to implement getSupportedConstraints but I'm not sure it will be enough.

https://github.com/webrtcHacks/adapter/pull/371/files

[2019-11-26 10:57] smuddy commented on #454
#### with werbt adapter
I think, I found the problem in the getUserMedia.js.
[code]
But the adapter writes the sourceId to constraints.video.mandatory.sourceId.

#### without etc adapter
The constraints inside getUserMedia.js are the original constrains from the AR.js call. But:
[code]
The Browser evaluates ` (constraints.video.facingMode.ideal === 'string')` as false, so the facing mode is not pa

[2019-11-26 11:01] hthetiot commented on #454
WebRTC adapter delete facingMode and use enumarateDevice in the end to find the match.

<img width="462" alt="Screen Shot 2019-11-26 at 11 59 11 AM" src="https://user-images.githubusercontent.com/8635/69624145-69f97c80-1044-11ea-8af9-b8a4e3639700.png">

<img width="771" alt="Screen Shot 2019-11-26 at 12 00 40 PM" src="https://user-images.githubusercontent.com/8635/69624152-6d8d0380-1044-11ea-85c7-

[2019-11-26 11:03] hthetiot commented on #454
I will fix that ASAP. Thx

[2019-11-26 11:04] hthetiot commented on #454
See https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/js/getUserMedia.js#L169

[2019-11-26 11:16] hthetiot commented on #454
@smuddy I have re-tested and I think it actually works with webrtc-adapter, it does look via  enumerateDevice for device with label "back" when facingMode = enviroment and remove original facingMode.

[2019-11-26 11:23] hthetiot commented on #454
Missing typeof released on 6.0.5
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/CHANGELOG.md#version-605

[2019-11-26 11:26] smuddy commented on #454
Hm, after reinserting the adapter, the sourceID was placed in `constraints.video.optional[4]`, but the code only `reads constraints.video.optional[0]`.

But if it works without the adapter, I won't use it.
Without the adapter and the original AR.js Code (facingMode: 'environment') it works perfectly.

**Very much thanks for your help!!!**

One last question:

AR.js places the video and the canvas

[2019-11-26 11:27] hthetiot commented on #454
@smuddy Thank you.
Can you provide a dump of "constraints.video.optional[4]" from adapter may be I can handle the case.

[2019-11-26 11:29] hthetiot commented on #454
Side by side is ok, but you cannot render native video and have canvas above unless you use `z-index: -1` and body and html transparent.

https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/docs/videoCSS.md#video-css

[2019-11-26 11:34] smuddy commented on #454
Ah ok, the z-indices are set correctly by AR.js.

Sure:
[code]

[2019-11-26 11:58] hthetiot commented on #454
@smuddy I have implemented a fix to handle webrtc-adapter multiple video.optional constraints values and added support for maxHeight and maxWidth. This should work with adapter also now.
- d83f12b56d6557b7da61d11703179d19ef74ecc8

For testing master you can do the following:
[code]

[2019-11-26 11:58] #454 closed

[2019-11-26 13:25] benembery commented on #422
@hthetiot do you know a way to work around this?

The latest updates have fixed a lot of bugs (thanks for that) but, I unfortunately get this error and black screen with the remote video streams.

[2019-11-27 15:51] hthetiot commented on #432
Thank you @oscarvadillog

[2019-11-29 08:36] akilude commented on #432
I'm having issues with streams not going out in janus video room, i have made lots of changes to the code, will revert the changes and test and report back whether the error is in my code or introduced in the new version.

[2019-11-29 09:36] oscarvadillog commented on #432
@akilude it's working properly for me with Janus videoroom (tested with 3 peers)
- Janus 0.7.4
- cordova-plugin-iosrtc 6.0.5
Let us know when you review your code please 👍

[2019-11-29 12:02] akilude commented on #432
It was caused due to me using a canvas as the source for the stream using captureStream, the plugin is working fine, sorry for the confusion.

[2019-11-29 12:03] oscarvadillog commented on #432
Great!

[2019-12-05 10:48] CSantosM commented on #442
I've quickly tested this issue.
In principle, the problem is fixed.

[2019-12-09 10:02] florindumitru opened #456 "Video is not working in portrait mode anymore starting with ios 13 version 4.0.x"
Hi,

For some reason starting with ios 13 videos is not working anymore in portrait mode. Video is ok only if you rotate the phone in a landscape otherwise is no stream.

OS: iOS 13+
Cordova - 7.1.0
Plugin - 4.0.2

Thank you.

[2019-12-09 12:43] hthetiot commented on #456
Well @florindumitru  if you use Plugin version 4.0.2 you simply need to migrate to 6.0.x iOS 13 support has been fixed on 6.0.x only.

[2019-12-09 12:44] #456 closed

[2019-12-09 12:46] florindumitru commented on #456
Hi,
It's a way to migrate without updating to latest cordova version, because in my situation updating cordova is not an option.

[2019-12-09 12:49] hthetiot commented on #456
@florindumitru 6.0.x still support Cordova 7.x we will not fix version 4.0.x

[2019-12-09 12:53] florindumitru commented on #456
@hthetiot I understand that what I mean is that I cannot run Cordova platform remove ios because are a lot of things that are platform-dependent that will not allow me to do that. So the question is how I can update to 6.0.X without doing that?

[2019-12-09 13:35] hthetiot commented on #456
No in the documentation we say that you don't need anymore to add and remove again, you probably looking at old documentation.

If you cannot remove iOS and add it again you probably made change to iOS generated Cordova platform, we cannot help you because you should not do that.

Have you even tried to do that before complaining:

[2019-12-09 13:37] hthetiot commented on #456
I don't understand why it's to iosRTC to solve your upgrade issues, more than 400 people did not have problem upgrading, you may want to try before coming back and ask for help.

[2019-12-09 13:38] hthetiot commented on #456
On day or another you will have to upgrade Cordova iOS, you cannot complain about not supported iOS 13 and at the same time not wanting to update plugin or cordova, that ridiculous.

[2019-12-09 13:40] hthetiot commented on #456
Read the fucking Readme.md

[2019-12-09 13:45] florindumitru commented on #456
Pff...are you serious ?? I think YOU should read your own Readme.... Was no complain was just a simple question about how I can upgrade without removing ios(AS YOU WRITE IN YOUR README) if you don't know english is your problem but be nice and do not say things that you don't understand..and be respectful. If you don't want to answer or you don't know just say that without all above bullshit.

[2019-12-09 15:13] hthetiot commented on #456
Have you even tried to do that before complaining: (plugin)

cordova plugin remove cordova-plugin-iosrtc
cordova plugin add cordova-plugin-iosrtc@6

[2019-12-09 15:18] hthetiot commented on #456
I did remove `Remove the iOS platform and add it again` to avoid confusion with new version 6.
c8fe819b7f7a3cd68df21e7ef4cc6fb07329fe54

The readme was not updated because if you use old corova version 7.0.x it may still be needed. We only support 7.1.x now so I removed it.

Also I'm not the one that wrote this, it's open-souce and I'm not the only one contributor.

<img width="1487" alt="Screen S

[2019-12-09 15:20] hthetiot commented on #456
If you dont know how to make proper cordova app and hardcode changes in platform/ios generated files that not my problem. I'm nice if I want to be.

[2019-12-09 15:32] hthetiot commented on #456
Installation is not upgrade.... Also you are now banned :) Enjoy.
Any contibutor and reporter gain my respect only by the way the report, contribute and write in the first, you lost that respect as soon as you started being anoying.

[2019-12-10 15:32] CSantosM commented on #442
Hello @hthetiot

I tested the RTCRtpRceiver branch in detail and something weird happens.
I think the issue #444 has an influence on this.

The remote video is balck adding the track through addTrack method.

[code]

[2020-01-16 01:28] hatinfotech opened #458 "setRemoteDescription() failed: Failed to set remote answer sdp: The order of m-lines in answer doesn't match order in offer"
#### Expected behavior
setRemoteDescription() failed: Failed to set remote answer sdp: The order of m-lines in answer doesn't match order in offer
#### Observerd behavior

#### Steps to reproduce the problem
caller Register > caller Invite > callee answer > caller error 488 > caller hangup
#### Platform information
iOS
* **Cordova version**:5.0.4
* **Plugin version**:6.0.5
* **iOS version**: 13
*

[2020-01-16 08:42] hthetiot commented on #458
Hello @hatinfotech

This issue is most likely caused by `Unified-Plan` that is now the default behavior of iosRTC.
To confirm this is the issue you can install iosRTC version 6.0.1.
To fix this issue with 6.0.5+ you can force the `sdpSemantics` of the PeerConnection to `plan-b`.

Example or RTCPeerConnection config options:

[code]

What make me think the issue is "Unified-Plan" is the following r

[2020-01-16 08:45] hthetiot commented on #458
Other related issue https://github.com/aws/connect-rtc-js/issues/33#issuecomment-453649692

[2020-01-16 08:47] hthetiot commented on #458
@hatinfotech Let me know if using `Plan-B` fix your issue, but on the long run you will need to migrate to `Unified-Plan` on you SIP Server (FreeSWITCH 1.6+ does support Unfied-Plan to my knowlege).

[2020-01-16 17:17] hatinfotech commented on #458
Hi @hthetiot,

Thanks so must !
 Your answer is really helpful.

I try downgrade plug to 6.0.1 and it worked
And iosrtc 6.0.5 worked with sipjs config

[code]

Thanks and best regards !

[2020-01-16 17:17] #458 closed

[2020-01-17 00:36] hthetiot opened #459 "Add Native Android WebRTC support"
On Android this plugin does not provide WebRTC but relly on WebView WebRTC implemation instead.

Let make a Android WebRTC custom binding :)

[2020-01-17 00:41] hthetiot commented on #459
After M75 update and will include getDisplayMedia cause Fuck Google.
- https://github.com/webrtc/samples/issues/1189
- https://bugs.chromium.org/p/chromium/issues/detail?id=1038244#c2

[2020-01-17 00:44] hthetiot commented on #422
@benembery That as nothing to do with that issue.
You get black screen it's because you have something wrong on TURN/STUN or SDP.

(Note: unrelated comments on issue lead to ban)

[2020-01-17 00:45] hthetiot commented on #442
I will take over @CSantosM keep you posted.

[2020-01-29 19:42] jospete commented on #422
@hthetiot  I took a look at the debug view hierarchy and it looks like the constraints for the bottom toolbar button(s?) are all over the place.

![Screen Shot 2020-01-29 at 1 34 55 PM](https://user-images.githubusercontent.com/17754439/73391137-02a6b580-429d-11ea-8e2d-2a0afb7dcb95.png)

I'll see if I can easily fix the conflicting constraints.

[2020-01-30 23:56] hthetiot commented on #422
Thank you @jospete for insight. You help would be welcome, feel free to past some solutions here or make a PR. The 6.0.7 is around the corner it would be nice to have this warnings/errors fixed.

[2020-01-31 13:44] kovacs-tamas opened #461 "undefined is not an object (evaluating 'tracks.id')"
I have problems with the latest version of the plugin 6.0.5. I can't get it work, because i always get the following error message

`TypeError: undefined is not an object (evaluating 'tracks.id')`

I've tested the available devices, it works well.

    navigator.mediaDevices.enumerateDevices()
        .then(function (devices) {
            devices.forEach(function (device) {
                consol

[2020-01-31 13:49] kovacs-tamas commented on #461
I've made another print-screen about the console output also [http://www.tamas-kovacs.com/webrtc-issue2.png](url)

[2020-02-01 10:28] numerized commented on #425
Hello, what's the catch with not being compatible with Capacitor ?
Capacitor is so amazing. :))

[2020-02-01 16:21] oscarvadillog commented on #425
Hello Kévin,
What are the advantages to use Capacitor instead of Cordova? Can any
cordova plugin be used with Capacitor? I guess not, but where's the error?
Thanks

El sáb., 1 feb. 2020 a las 11:28, Kévin Perrée (<notifications@github.com>)
escribió:

[2020-02-02 14:23] hthetiot commented on #425
@numerized Make a PR and we can support it, we simply dont have time to support yet another cordova clone like ionic. If Capacitor is that great why it fail to support basic Cordova plugins.

[2020-02-02 14:26] hthetiot commented on #461
@kovacs-tamas I will check, in the meantime can you test Master ?

To test `master` branch
[code]

[2020-02-02 14:34] hthetiot commented on #461
I do not reproduce this issue with this plugin only using this script:
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/extra/renderer-and-libwebrtc-tests.js#L68

Can you enable debug an capture the console for this line so we can see the value of dataFromEvent:
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/dist/cordova-plugin-iosrtc.js#L263

Enable debug:

[2020-02-05 08:22] numerized commented on #425
Hmm I'm in contact with Capacitor creators they are willing to help.

From this article:
https://ionicframework.com/blog/announcing-capacitor-1-0/

How is Capacitor different from Cordova?
In spirit, Capacitor and Cordova are very similar. Both manage a Web View and provide a structured way of exposing native functionality to your web code.

Both provide common core plugins out of the box for acce

[2020-02-05 13:47] kovacs-tamas commented on #461
Hello, thanks for your quick reply and sorry for my delay. I can happily confirm, it works well with the  master branch :)

[2020-02-05 15:03] hthetiot commented on #461
Thank you @kovacs-tamas I will release master as 6.0.6 in the next 48 hours.

[2020-02-05 15:03] #461 closed

[2020-02-08 14:11] hthetiot commented on #461
@kovacs-tamas 6.0.6 just got released if you want to confirm it fix your issue.
Thank you again.

[2020-02-10 13:04] oscarvadillog opened #462 "Datachannel Label in Janus.js"
#### Observerd behavior
I'm using the plugin with the latest version of janus.js and I've detected a problem when receiving messages through the datachannel.

It seems that the data channel is opened properly and the plugin receives the messages, even the method [emitReceivedMessage(...)](https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/src/PluginRTCDataChannel.swift#L264) is execu

[2020-02-11 19:10] hthetiot commented on #462
Yet another Janus related issue.... Last time was all streamId named "janus"...

@oscarvadillog Can you give me more details about the "crash in the janus.js" if you could give a sample script to reproduce.

Note: Don't take my first phrase personaly, personaly I don't like of use Janus that why :)

[2020-02-12 13:41] oscarvadillog commented on #462
@hthetiot please try to use the following script to reproduce the issue:

[code]

[2020-02-12 21:18] hthetiot commented on #462
Thank you @oscarvadillog I will look into it when I have a moment, their is other active member is the community that will may also looks into it.

Keep you posted.

[2020-02-17 14:39] hthetiot commented on #462
event.target is not defined.
<img width="589" alt="Screen Shot 2020-02-17 at 3 39 20 PM" src="https://user-images.githubusercontent.com/8635/74663261-b7950980-519b-11ea-8c5a-43339c40dc8f.png">

[2020-02-17 16:01] hthetiot commented on #462
Here is a funny one event.target is readonly.

<img width="541" alt="Screen Shot 2020-02-17 at 4 58 48 PM" src="https://user-images.githubusercontent.com/8635/74669245-0b592000-51a7-11ea-9544-04f93fb310e1.png">

[2020-02-17 16:03] hthetiot commented on #462
<img width="957" alt="Screen Shot 2020-02-17 at 5 03 16 PM" src="https://user-images.githubusercontent.com/8635/74669436-67bc3f80-51a7-11ea-996a-512aff1de70d.png">

Ok I have a fix I will make PR now.

[2020-02-17 16:11] hthetiot commented on #462
@oscarvadillog Can you test this PR (see instructions)
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/463

[2020-02-17 16:25] hthetiot commented on #462
@oscarvadillog  Will be released on 6.0.7 once you confirm the fix.
Thank you.

[2020-02-17 16:25] #462 closed

[2020-02-17 22:03] oscarvadillog commented on #462
It works like a charm - you rocks @hthetiot ❤️

[2020-02-18 12:04] hthetiot commented on #425
@numerized
1. Please dont get out of topic on existing issue, create dedicated issue or PR.
2. I will not work on adding support for Capacitor PR are welcome.
3. No need to copy paste lengthy text from a link to advertise something like you did, this is what i call issue polution and symptomatic of lazy developer that just copy paste, link is enought we can click the link and read by ourself.

Not

[2020-02-18 12:07] hthetiot commented on #425
Released 6.0.7 with minor fix for Event.target that fix Datachannel support for Janus.js
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/CHANGELOG.md#version-607

Thank you to @oscarvadillog for reporting and testing.

[2020-02-19 20:24] derMani opened #465 "iOS 13.3.1 iceConfig: Setting turn server causes 40s timeout"
Hi,

we are experiencing a few issues with the ice server configuration since 6.0.x

Problem:

if we set the turn servers, we'll have to wait for a long timeout, until the

`iceconnectionstatechange`

event fires and the `iceconnectionstate` is set to completed.

If no turn servers are set, we can immediately get the possible candidates and we get a quick completed event.

If turn servers are set,

[2020-02-20 07:19] numerized commented on #425
Ok cool I'll open an issue.

[2020-02-20 10:39] hthetiot commented on #465
Thank you @derMani for reporting your issue.

1. Can you tell me what type of turnserver you are using (Coturn, rfc-turnserver, third-party) ?
2. Did you test your TURN setting using Trickle ICE tools (including that it goes through TCP) ?https://webrtc.github.io/samples/src/content/peerconnection/trickle-ice/
3. I see that you are forcing TCP, It is not recommanded, you may need to set `iceTransp

[2020-02-21 16:06] derMani commented on #465
Hi, thanks for the quick answer.

Looks like the turn server we are using is on:

`COTURN 4.5.0.7`

I have removed the` ?transport=tcp`  parameter, but I am still getting the timeout.
I've also tested this with "relay only" which did unfortunately not help.

We did also a test with twilio and their turn servers, but again - still getting the timeout.

So I can reproduce with two different turn ser

[2020-02-22 11:55] hthetiot commented on #465
Thank you @derMani I will investigate and comeback to you.

I wonder if it's related to `isNegotiating` workaround (see comment in the code).

- https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/src/PluginRTCPeerConnection.swift#L620

[2020-02-22 12:36] aveeday opened #466 "iOS 13.3.1 failed to run device but run on emulator"
I create new Cordova project, add this lib, run on simulator and it works
But when I run on device the app opens for 1 second and then closes.

Xcode shows next error:
[code]

#### Platform information

* **Cordova version**: 9.0.0
* **Plugin version**: 6.0.7
* **iOS version**: 13.3.1
* **Xcode version**: 11.3.1

[2020-02-22 17:46] hthetiot commented on #466
I do not reproduce that issue you may have a conflicting plugin, can you provide the list of plugins you have installed you may also check that you build cordova using `--device` parameter.

Alternatively you may want to Try to strip architecture to keep device only, that will be needed to publish on the store anyway.
See: https://github.com/cordovatrtc/cordova-plugin-iosrtc/blob/master/docs/Build

[2020-02-22 17:50] hthetiot commented on #466
Please confirm the hook is running properly by searching for following logs when you build

[code]
Source: https://travis-ci.org/cordova-rtc/cordova-plugin-iosrtc/jobs/651944285#L535

[2020-02-23 12:29] aveeday commented on #466
No difference between ```cordova run --device``` and ```cordova run```  with plugged in device.
I run all commands from strip-simulator-archs-usage and it not helped to run on device.
Finally I created a new sample project and it also not work on device, but works on emulator.
Hook is running properly, I see logs.

I found discussion of problem with device on 13.3.1 and any frameworks: https://git

[2020-02-23 14:17] aveeday commented on #466
Solved this issue after 2 days of experimenting. Thank for comments.

Need to add to documentation a new requirement:
From iOS 13.3.1 to run on device you need to have apple developer paid account for signing. (with personal team an app can not be started on device but will work on emulator)

[2020-02-23 20:11] hthetiot commented on #466
Thank you @aveeday if you want to run an app on device you need pay account, most people with apple development experience know that, but I will had comment on readme to avoid new comer to fall in the same trap.

I'm just you learned a lot from this anyway ;)

[2020-02-25 17:09] hthetiot commented on #465
Hello @derMani, I do not reproduce this candicate timeout issue.

I have tested the sample Trickle Ice Cordova application you sent me using the Turn Server credentials you provided by email on my side on iOS 12.4.5 on iPhone 6 with Wifi and it does works, see capture below.

![Image from iOS (1)](https://user-images.githubusercontent.com/8635/75269431-2b1cc380-57f9-11ea-91f9-38a3665a094d.png)

I

[2020-02-25 17:18] hthetiot commented on #466
See https://github.com/cordova-rtc/cordova-plugin-iosrtc/commit/6942814535e510b2336ae47cba6db79ac54431f1

[2020-02-25 17:31] derMani commented on #465
I tested this on multiple networks, even LTE only.

I am on iOS 13.3 with an iphone xs.
Is this iOS 13 related ?

[2020-02-25 19:31] #466 closed

[2020-02-25 19:34] hthetiot commented on #465
We made a debug session with @derMani and we confirmed that it does Ice gathering timeout on iOS 13.3.1 using TURN.

If any other user can confirm that when using a TURN server they do experience issue with iOS 13.1.1 that would help.

On my side I only have an iPhone 6 and iPad Mini 3 that cannot be upgraded to iOS 13, therefor I cannot test iOS 13 on device.

I will try borrow an iOS 13 device i

[2020-02-25 19:35] hthetiot commented on #465
Clould be related: https://github.com/coturn/coturn/issues/249

[2020-02-25 19:38] hthetiot commented on #465
Cloud be related: https://bugs.chromium.org/p/chromium/issues/detail?id=984553&q=component%3ABlink%3EWebRTC%3ENetwork&can=2

[2020-02-25 19:41] hthetiot commented on #465
This comment is interesting:
[code]
Source: https://bugs.chromium.org/p/chromium/issues/detail?id=982793#c16

[2020-02-25 19:53] akilude commented on #465
We use both STUN and TURN on ios 13.2 , haven't faced this issue.

Using latest plugin version 6.0.7, built with xcode 10.2

[2020-02-25 20:35] hthetiot commented on #466
@aveeday strip arch should also have worked.
https://github.com/react-native-webrtc/react-native-webrtc/blob/master/Documentation/iOSInstallation.md#appendix-c---library-not-loadedcode-signature-invalid

[2020-02-25 20:46] #452 closed

[2020-02-25 20:51] hthetiot commented on #425
@oscarvadillog Can you test master I want to release 6.0.8 new fix regarding Janus non unique remote stream to fix addStream|addTrack regression from 6.0.4 see https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/467 for actual changes.

This will be the last major changes for 6.0.x as we are ready to merge WebRTC M75 on master via https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/455

[2020-02-25 20:53] hthetiot opened #469 "[Announcement] cordova-plugin-iosrtc Version 7.0.x notes"
Hello cordova-rtc users,

I will released cordova-plugin-iosrtc 7.0.0 but in the mean time 7.0.0-RC4 is available for testing.

The current work in progress is on the branch https://github.com/cordova-rtc/cordova-plugin-iosrtc#task/7.0.0 and the PR is https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/475

# Changelog Version 7.0.0

* Update to WebRTC.framework M79
* Remove WebRTC.framework

[2020-02-26 02:24] hthetiot commented on #469
WebRTC M75 Release Notes:
https://groups.google.com/forum/m/?utm_medium=email&utm_source=footer#!msg/discuss-webrtc/_jlUbYjv-hQ/mCtjlVyjAgAJ

[2020-02-26 10:19] hthetiot commented on #465
Thank you @akilude, @derMani and I think it's a iOS 13.3.1 related issue.
I asked @derMani to test m75 by email to see if that solve the issue.
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/issues/469

[2020-02-26 14:10] hthetiot commented on #465
I have a device on 13.3, I will test now, then upgrade to 13.3.1 to see if that related to the iOS update.

[2020-02-27 00:36] hthetiot commented on #465
Unfortunately @derMani  I do not reproduce the issue on iOS 13.3.0 and 13.3.1 using iPhone 11 Pro using 6.0.8.

I did test 13.3.0 then upgraded to 13.3.1 did not change anything both worked.

Here is 13.3.1 Capture:
![730226CB-2A43-4155-96FD-17B1CD0BB6F4](https://user-images.githubusercontent.com/8635/75401174-92be3600-5901-11ea-84b9-570bc34efc93.png)

May be one thing that can be tested is Reset

[2020-02-27 01:14] hthetiot commented on #425
Released 6.0.8 that removing streamId|trackId alteration with UUID preffix released on 6.0.4 to handle Janus non unique streamID that fix PeerConnection.addStream|addTrack possible regressions (https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/467).

This version also include RTCIceCandidate support improvement (https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/468)

See details in

[2020-02-27 07:47] oscarvadillog commented on #425
Sorry for the delay, I was on vacation.
Tested **#task/m75** and it works properly with Janus.

[2020-02-27 10:48] hthetiot commented on #425
Thank you @oscarvadillog
Happy RTC

[2020-02-28 08:13] yangjingyu opened #471 "The timestamp returned by getStats() is undefined"
#### Expected behavior

Get the correct timestamp.

#### Observerd behavior

Time stamp is undefined.

#### Steps to reproduce the problem

We use pc.getStats() function.

The function return timestamp is undefined.

After debugging, I found that Pluginrtcpeerconnection.swift uses timestampt, with an extra letter of T

[code]

#### Platform information

* **Cordova version**: 8.1.2
* **Plugin vers

[2020-02-28 20:51] hthetiot commented on #442
https://github.com/cordova-rtc/cordova-plugin-iosrtc/issues/444#issuecomment-555094311

Next ?

[2020-02-28 20:57] hthetiot commented on #471
Thank you @yangjingyu
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/472

Feel free to do PR next time :)

[2020-02-28 20:57] #471 closed

[2020-03-01 04:48] akume opened #474 "Add support for MediaStreamTrack.clone() method"
MediaStreamTrack.clone method hasn't been implemented but it's in the spec.

https://w3c.github.io/mediacapture-main/#dom-mediastreamtrack-clone

[2020-03-02 11:05] hthetiot commented on #474
MediaStream.prototype.clone is implemented, test it and let me know.
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/js/MediaStream.js#L293

[2020-03-02 11:13] hthetiot commented on #425
Released 6.0.9 that fix possible issue due added candidateToJson, getStats report.timestamp typo and fix getMediaDevice audioConstraints to allow audio devices change.

See details in CHANGELOG:
https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/CHANGELOG.md#version-609

[2020-03-02 11:15] hthetiot commented on #474
How you right MediaStreamTrack is missing.
I will see what I can do.

[2020-03-02 11:17] hthetiot commented on #474
This should works partially.

[code]

[2020-03-02 11:57] hthetiot commented on #471
Fix as been released on 6.0.9

Thank you @yangjingyu

[2020-03-04 08:52] Seikida opened #476 "How to display HTML content in front of the video?"
Hello,
At first I want to thank you for your excellent work !

This plugin is working very well but I have a big problem: I don't know how to display HTML content in front of the video?

Example:

![6b8128e0-3acf-11e5-9af6-ce9f6eae13e1](https://user-images.githubusercontent.com/44940987/75861193-61cd8c00-5e40-11ea-8126-1b2da6cdaea5.png)

![abf526e4813e23c3f1537a63b91e4eb0](https://user-images.gith

[2020-03-04 10:04] #476 closed

[2020-03-04 10:22] Seikida commented on #337
I confirm, it's not possible to click on the button.
@hthetiot did you test ? (as tu teste ?)

[2020-03-04 10:52] hthetiot commented on #337
@Seikida yes I tested using the sample script here: https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/extra/renderer-and-libwebrtc-tests.js#L112

[2020-03-04 10:54] hthetiot commented on #476
I will re-check @Seikida

[2020-03-05 18:20] stolzda commented on #474
I also encountered this issue today. I tried to fix it based on your suggestion @hthetiot , but so far I wasn't successful.

The first thing is that the new track needs a new Id - I could achieve that by just adding a new Id on the javascript side, analogous to MediaStream clone.

However, it doesn't really work because on the swift side the newly cloned MediaStreamTrack should for example be in p

[2020-03-06 09:25] hthetiot commented on #474
Thank you @stolzda.
We would need something like `MediaStream_init` (https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/src/iosrtcPlugin.swift#L686) but with the capability of using a source pluginMediaStreamTrack to be clone somewhat before calling `MediaStreamTrack_setListener `on the new track (https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/src/iosrtcPlugin.swift

[2020-03-06 14:43] stolzda commented on #474
Yes I was thinking something similar.

In similar terms I think the MediaStream.clone() functionality may be not correct as well - as the specification states, that the associated MediaStreamTracks need to be cloned as well, and since we do not have a method to clone them, probably the current implementation is not correct?

[2020-03-06 23:09] hthetiot commented on #474
@stolzda Yeah `MediaStream.clone` work but it's a SHAM ;)

[2020-03-09 18:01] panassidi opened #477 "Plugin does not works in my project now"
I would use this plugin to use a product in a app
(web.joconnect.it)
Yhe app is coded using webrtc.
It works good in a cordova app build for android platform.
I compiled an ios app successfully with this plugin but the app seems  do not works.
I need an app that should work ad a browser with webrtc support.
Cordova version 9
iOS 12.4 and iOS 13.1
XCode Version 11.3.1 on MacOS Catalina

[2020-03-12 17:35] hthetiot commented on #477
@panassidi many people have it works properly with WebRTC-adapter and other third party library.

We would need more information in order to help you such as error message or the library that you are using.

Use safari to debug the iOS webview to get the error that may cause failure: https://geeklearning.io/apache-cordova-and-remote-debugging-on-ios/

[2020-03-14 14:14] benallfree opened #478 "Video overlay not tracking with scroll position of <video>"
Hi, is this a known issue? I have to call `cordova.plugins.iosrtc.refreshVideos()` in order to adjust the overlay after scrolling.

#### Expected behavior

When `<video>` element changes position, the video overlay should change too.

#### Observed behavior

Video overlay stays in a fixed floating position when underlying video element scrolls.

#### Steps to reproduce the problem

Please see http

[2020-03-17 10:34] #477 closed

[2020-03-17 10:44] hthetiot commented on #478
Hello @benallfree thank you for creating an issue properly.

That not a bug but expected behavior, we do not refresh video automatically,  here is what I recommend to do:

[code]

You can also only refresh on user events, but in production this is what we do to hide video tag when there is a modal or a change of zIndex for example.

[2020-03-17 10:45] hthetiot commented on #478
I will update the documentation for next release, if you confirm this solutions works for you @benallfree

[2020-03-17 10:48] hthetiot commented on #478
Note: we already handle rotation here https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/js/iosrtc.js#L83

[2020-03-20 09:30] hthetiot commented on #478
Closed due inactivity of reporter.
Will reply if reporter manifest himself.

[2020-03-20 09:30] #478 closed

[2020-03-20 09:40] hthetiot commented on #474
Closed due inactivity of reporter.
Will reply if reporter manifest himself.

[2020-03-20 09:40] hthetiot commented on #465
Closed due inactivity of reporter.
Will reply if reporter manifest himself.

[2020-03-20 09:40] #465 closed

[2020-03-27 18:28] GProst opened #479 "videoEl.render is undefined"
I want to capture video screenshot on a canvas, there is an example that says there is `videoEl.render.save` method which can be used
source1: https://github.com/cordova-rtc/cordova-plugin-iosrtc/issues/116#issuecomment-532142297
source2: https://github.com/cordova-rtc/cordova-plugin-iosrtc/issues/454#issuecomment-558570431

#### Expected behavior
videoEl.render is present with 'save' method on it

[2020-03-30 13:30] CSantosM opened #480 "Same video stream for each user connected"
#### Expected behavior
Unique video stream per user.
#### Observerd behavior

Testing the simple [openvidu-ionic](https://github.com/OpenVidu/openvidu-tutorials/tree/master/openvidu-ionic) app, I have realised that since 6.0.8 version (included) the video stream received by cordova-plugin-iosrtc is the same that first one.

This behaviour **is not happening with the 6.0.7 cordova-plugin-iosrtc ver

[2020-03-30 13:34] CSantosM commented on #480
Related to this[ OpenVidu issue](https://github.com/OpenVidu/openvidu-tutorials/issues/87)

[2020-03-30 16:24] pcvengros commented on #420
same issue, even with instructions above with latest XCode, app built with iosrtc plugin will give those errors....

[2020-03-30 18:24] hthetiot commented on #420
https://github.com/cordova-rtc/cordova-plugin-iosrtc#ios--1331-device-support

Do you guys have a Apple developper account?

[2020-03-30 18:24] hthetiot commented on #420
Cc @pcvengros

[2020-03-30 18:26] hthetiot commented on #480
@CSantosM do you use Janus ?

[2020-03-30 18:27] hthetiot commented on #480
Most likely related to this https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/467

[2020-03-30 18:29] hthetiot commented on #479
Assuming you attached the stream to the video this should works:
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/extra/renderer-and-libwebrtc-tests.js

[2020-03-30 18:40] CSantosM commented on #480
No, i do not

[2020-03-30 18:44] GProst commented on #479
@hthetiot yup, I saw that example but it doesn't work for me =/
I set `videoEl.srcObject = stream` where `stream` is an object resolved after calling `navigator.mediaDevices.getUserMedia`

[2020-03-30 20:02] pcvengros commented on #420
yes, and was ok before adding iosrtc plugin - I trying the 7.0 branch. I have tried steps as described above.

[2020-03-30 20:17] hthetiot commented on #480
![22812929-802D-4337-96E2-7FBA026ACD10](https://user-images.githubusercontent.com/8635/77957753-41281300-72d4-11ea-94c0-7ad90f2f186e.png)

@CSantosM i do not reproduce that issue using 6.0.9 on Sylaps.com using https://apps.apple.com/us/app/sylaps/id954016392

[2020-03-30 21:10] hthetiot commented on #420
@pcvengros I just published an app it works for me.
"Undefined symbols for architecture x86_64" mean you cannot run on emulator if you removed the architecture.

If you have "Undefined symbols for architecture x86_64" it's because you trying to run on emulator i beleive. If you can custom support please contact <hthetiot AT sylaps.com>

[2020-03-31 06:11] pcvengros commented on #420
I am getting it when publishing to Apple. I did try to step above, the result file has shrinked from approx 68MB to 24MB, so it did something. But still after I build the project and do archive from xcode to publish it, resulting IPA uploaded file will get this error.

[2020-03-31 08:36] hthetiot commented on #420
@pcvengros can you contact me via <hthetiot AT sylaps.com> so we make a debug session via sylaps.com ?

[2020-04-01 10:52] hthetiot commented on #479
@GProst I will recheck will keep you posted.

[2020-04-01 10:54] hthetiot commented on #480
@CSantosM Can you check MediaStream.id  and MediaTracks.id for remote streams.
What 6.0.8 changes does is keep the media.id from the remote instead of faking them.

https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/467/files#diff-379e16e943b1b62acdbc68ad8a80241fL20

Do you use any MCU/SFU ?

[2020-04-02 15:03] CSantosM commented on #480
Hello @hthetiot,
Checking MediaStream.id and MediaStreamTrack.id.
I've added a print log into a [PluginMediaStream.swift](https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/d01d6830dd68d1e856a5da376aee3239fa46a00c/src/PluginMediaStream.swift#L41) and [PluginMediaStreamTrack.swift ](https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/d01d6830dd68d1e856a5da376aee3239fa46a00c/src/PluginM

[2020-04-03 12:02] GProst commented on #479
@hthetiot I found the problem. `render` is absent if I access it right after I set `srcObject` on video (i.e. synchronously after that), it is resent if I access it in `setTimeout(..., 0)`

Perhaps this is expected? But I wasn't aware

[2020-04-03 16:52] hthetiot commented on #480
Your SFU is not generating unique MediaStream ID :)

[2020-04-03 16:58] hthetiot commented on #479
@GProst Thank you,

Yes that because the video tag was not rendered yet, you can subscribe to MediaElement events to make sure it's rendered. (example: loadedmetadata)
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/js/MediaStreamRenderer.js#L109

Thank you for solving your own issue.

[2020-04-03 16:58] #479 closed

[2020-04-03 17:00] GProst commented on #479
@hthetiot thank you for your awesome work on this plugin!

[2020-04-03 18:45] j1elo commented on #480
Are you talking here about the `a=msid` attribute in SDP?

The SFU in use is Kurento, which doesn't support Unified Plan *nor it needs to*, given that it only works with one single audio and one single video per WebRTC connection. With these conditions, both PlanB and Unified Plan are equivalent in practice.

Any endpoint should be able to rely on proper SDP Offer/Answer negotiation to convey that

[2020-04-06 09:07] hthetiot commented on #480
@j1elo Thank you for detailed explanation.
Can we consider that generating UUID when using PlanB and not 36 char is a acceptable solution?

The thing is OpenEasyRTC and many other WebRTC library does relly on msid to match on both side, and even if i use PlanB on Chrome, Firefox or Safari since 2016, msid always matched.

[2020-04-06 09:17] hthetiot commented on #480
I will look into WebRTC changes here https://chromium.googlesource.com/external/webrtc/+/5b1477839d8569291b88dfe950089d0ebf34bc8f and see if needed on our side then release 6.1.0

[2020-04-06 09:24] hthetiot commented on #480
The thing is Kurento does give msid, it's just named `default`... may be this issue is that internaly iosRTC use those, may be the fix is not to generate UUID here but making sure iosrtc internaly make the difference using an internal uuid.

[2020-04-09 02:14] amalinaaziz opened #481 "Failed to fetch on plugin add"
#### Expected behavior
cordova plugin add cordova-plugin-iosrtc to be completed

#### Observed behavior
Failed to fetch plugin cordova-plugin-iosrtc via registry.
Probably this is either a connection problem, or plugin spec is incorrect.
Check your connection and plugin name/version/URL.
Error: npm: Command failed with exit code 1 Error output:
npm ERR! code EINTEGRITY
npm ERR! sha512-XXXXX integr

[2020-04-09 02:20] #481 closed

[2020-04-09 05:42] rejebsab commented on #392
Hi All,

Have you already added the MediaDeviceInfo.getCapabilities feature? If not yet, have any release date please?

[2020-04-09 07:40] rejebsab opened #482 "Add support for MediaStreamTrack.(getCapabilities|getSettings) method"
MediaStreamTrack.getCapabilities method hasn't been implemented but it's in the spec.
https://www.w3.org/TR/mediacapture-streams/#dom-inputdeviceinfo-getcapabilities

[2020-04-09 14:27] TravBradfield opened #483 "Can't resolve 'cordova/exec'"
#### Expected behavior
I expect the plugin to compile.

#### Observerd behavior
After installing the plugin (cordova plugin add cordova-plugin-iosrtc), I run ionic serve and compilation fails with the error:

ERROR in ./node_modules/cordova-plugin-iosrtc/js/iosrtc.js
Module not found: Error: Can't resolve 'cordova/exec' in '/Users/../node_modules/cordova-plugin-iosrtc/js'

#### Steps to reproduce

[2020-04-09 18:07] hthetiot commented on #483
This is most likely an issue with your enviroment.

The automated system validated the last build 3 days ago, including ionic build:
- https://travis-ci.org/github/cordova-rtc/cordova-plugin-iosrtc/jobs/671833620#L67

All I can tell you is:
- reinstall cordova
- reinstall ionic
- try cordova@8

Cordova 9 is know to have many issues and the most stable cordova is cordova@8.1.2.
Can you provide the

[2020-04-09 18:11] hthetiot commented on #483
Did you install the plugin this way ?

[2020-04-09 18:13] hthetiot commented on #482
MediaStreamTrack.getSettings is in the spec and not implemented also.
https://www.w3.org/TR/mediacapture-streams/#dom-mediastreamtrack-getsettings

We never said this was the full spec to the contrary.

<img width="476" alt="Screen Shot 2020-04-09 at 8 12 49 PM" src="https://user-images.githubusercontent.com/8635/78927092-8c91ac80-7a9e-11ea-9205-7adc0c2903a4.png">

Still can be a nice improvement

[2020-04-09 18:19] TravBradfield commented on #483
Thanks for getting back to me!

I will try the reinstalls and see if that yields better results. I'll also install cordova 8.

I added the plugin using:

ionic cordova plugin add cordova-plugin-iosrtc

[2020-04-09 20:33] hthetiot commented on #483
@TravBradfield Can you provide the ionic version you are using?

[2020-04-10 10:41] TravBradfield commented on #483
Ionic:

   Ionic CLI                     : 6.5.0 (/usr/local/lib/node_modules/@ionic/cli)
   Ionic Framework               : @ionic/angular 5.0.7
   @angular-devkit/build-angular : 0.803.26
   @angular-devkit/schematics    : 8.3.26
   @angular/cli                  : 8.3.26
   @ionic/angular-toolkit        : 2.2.0

Cordova:

   Cordova CLI       : 9.0.0 (cordova-lib@9.0.1)
   Cordova Platforms : an

[2020-04-10 10:54] TravBradfield commented on #483
I've reinstalled cordova, I'm now running:
$ cordova -v

[2020-04-10 11:40] hthetiot commented on #483
You still have the issue @TravBradfield ?
If yes, I will updat Travis build to test.

[2020-04-10 11:42] TravBradfield commented on #483
@hthetiot Yes I do still have the issue... Please double check for me?

[2020-04-10 22:21] hthetiot commented on #483
@TravBradfield ok I will check your enviroment, but i want you to understand that it's failing because you may use a more modern ionic and cordova setup than the current supported enviroment.

[2020-04-10 22:22] TravBradfield commented on #483
@hthetiot

Thanks for your help! Turns out I was importing the plugin incorrectly. When I changed it to the correct method of importing it works correctly.

Sorry for the trouble! Plugin is working spot on.

[2020-04-10 22:33] hthetiot commented on #483
ahah I knew it, what did you do ?
How did you inmport it instead and how it you import it successfully ?

Build is running now here with you setup:
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/484

Let see what travis says oce completed:
- https://travis-ci.org/github/cordova-rtc/cordova-plugin-iosrtc/builds/673617512

[2020-04-10 22:35] #483 closed

[2020-04-10 22:36] hthetiot commented on #483
Tell me what you where doing wrong so we can all learn.
Also make sure to read that part for publishing on the store: https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/docs/Building.md#apple-store-submission

Happy RTC.

[2020-04-10 22:37] TravBradfield commented on #483
I was importing it like an @ionic-native plugin. Which is not correct.

I was doing:

import { iostrc } from 'cordova-plugin-iostrc'.

I changed it to

declare var cordova:

cordova.plugins.iosrtc

[2020-04-10 22:41] hthetiot commented on #483
Ah yes, I see :)
Thank you, I will try to add to documentation may be we can also work on making it es6 module soon (in v7+)

[2020-04-10 22:43] TravBradfield commented on #483
Thanks very much man! Your plugin is making a big difference already. I appreciate your fast responses!!

[2020-04-10 22:43] hthetiot commented on #483
Here is what I recommend @TravBradfield to just use the WebRTC globals shim and not the plugin API methods.

[code]

[2020-04-10 22:45] TravBradfield commented on #483
Yeah that's exactly what I'm using. I built a JS video call app, but it wasn't working on iOS. By implementing cordova.plugins.iosrtc.registerGlobals(); the job was almost completely done.

[2020-04-10 22:49] hthetiot commented on #483
Was good anyway, I needed to update travis ionic build, travis is happy now :)
- https://travis-ci.org/github/cordova-rtc/cordova-plugin-iosrtc/builds/673619261

[2020-04-10 22:50] hthetiot commented on #480
I will try to release 6.0.10 in the next 48 hours for you guys :)

[2020-04-10 22:52] hthetiot commented on #422
Anychance you can help @jospete ? or any iOS developer with experience with that ?

[2020-04-14 06:02] yangjingyu commented on #449
I had the same problem, the stream stuck in the last frame

[2020-04-14 17:25] hthetiot commented on #428
Fix finally merged:
- https://github.com/twada/gulp-derequire/issues/3#issuecomment-613195599

[2020-04-14 22:52] hthetiot commented on #480
I need more time to make it as good as https://chromium.googlesource.com/external/webrtc/+/5b1477839d8569291b88dfe950089d0ebf34bc8f keep you posted.

[2020-04-15 04:52] yangjingyu opened #485 "TypeError: undefined is not an object(evaluating 'originaMediaStream.prototype')"
#### Expected behavior

Works normally in IOS 10.2 or above.

#### Observerd behavior

Error reporting on IOS 10.3.3.

The error message is as follows:

[code]

#### Steps to reproduce the problem

An error is reported when the app is initially started

#### Platform information

* **Cordova version**: 8.1.2
* **Plugin version**: 6.0.9
* **iOS version**:  10.3.3
* **Xcode version**:  11.4

[2020-04-15 09:20] yangjingyu opened #486 "After using the turnonspeaker method, access the Bluetooth voice and leave the phone speaker."
#### Expected behavior

Tell the plugin that it should use speaker if no headphones (bluetooth or wire) is plugged or available.

// Use speaker if no headphones available
cordova.plugins.iosrtc.turnOnSpeaker(true);

#### Observerd behavior

Connect the Bluetooth headset, receive the remote stream, and keep the sound from the speaker.

#### Steps to reproduce the problem

#### Platform information

[2020-04-15 21:59] GProst opened #487 "Audio gets crackly in WKWebView when in background mode"
#### Expected behavior
Audio continues to play without crackling (or at least gets muted) when in the background (in WKWebView)

#### Observerd behavior
Audio gets crackly and impossible to listen to when in the background (in WKWebView)

#### Steps to reproduce the problem
We use OpenTok for WebRTC, they have a sample app that you could use to reproduce the issue: https://opentok.github.io/opento

[2020-04-15 22:55] hthetiot opened #488 "ios 10.3.1 issue with loading cordova when iosrtc plugin present."
### Expected behavior

deviceready event triggered

#### Observerd behavior

deviceready event NOT triggered

#### Steps to reproduce the problem

Run cordova app with iosrtc on 10.3.x device

#### Platform information

* **Cordova version**:  8.1.2
* **Plugin version**: 6.0.9
* **iOS version**:  10.3.1
* **Xcode version**: 11.4

[2020-04-16 00:02] hthetiot commented on #487
I need to reproduce first on Sylaps.com and Sylaps iOS then if confirmed I will check.

[2020-04-16 00:03] hthetiot commented on #487
@panandvc Can you try to reproduce for me, thx.

[2020-04-16 00:07] hthetiot commented on #486
"This "cordova.plugins.iosrtc.turnonspeaker()" does not work"
It's works, not as you expect but it works, if by not working you mean that when you connect headset if switch the sound from the speaker, then my friend it work as intented.

Next time try to be more polite in your issue instead of using the work "This" and "does not work".

Now, I understand what behavior you want and I will take a lo

[2020-04-16 00:07] hthetiot commented on #486
cc @yangjingyu

[2020-04-16 00:08] hthetiot commented on #488
Fixed by https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/489

[2020-04-16 00:10] #488 closed

[2020-04-16 00:11] hthetiot commented on #485
Thx, fixed by #489 Duplicate of #488 will be released on 6.0.10

[2020-04-16 00:11] #485 closed

[2020-04-16 00:16] hthetiot commented on #488
![7BC073CF-36ED-44F0-BC07-0C4AF144BA5B](https://user-images.githubusercontent.com/8635/79401012-27e7bd80-7f88-11ea-9253-d9a1b32c3905.jpeg)

Tested on iOS 10.3.1 iPhone 5

[2020-04-16 01:09] yangjingyu commented on #486
Terribly sorry.
I don't mean to insult.
Because my English is very poor. I will study hard in the future.
I'm very sorry for the misunderstanding.

[2020-04-16 01:11] yangjingyu commented on #486
cc @hthetiot

[2020-04-16 07:48] hthetiot commented on #486
Thank you @yangjingyu
My English suck too.

[2020-04-16 10:42] hthetiot commented on #487
@GProst I'm not able to reproduce using Sylaps.com and Sylaps iOS application on iOS 13.4 and Iphone 11. There is many know issues with iOS audio (google: "ios audio popping" or "ios audio crackling") that have nothing do to with iosRTC.

Here is a recording from Firefox of Me been in foreground and going background:
[Record iOSRTC - Harold - Apr 16, 2020.webm.zip](https://github.com/cordova-rtc/c

[2020-04-16 10:44] hthetiot commented on #487
I cannot categorize has bug until reproduced.
IF you use an MCU/SFU with a specific audio codec or a Javascript framework that consume a lot of CPU while application is in background that may be the reason.

[2020-04-16 11:01] hthetiot commented on #425
Released 6.0.10 with fix for iOS 10.x.x, this should be broken since 5.0.3 switch from Blob to pure MediaStream, https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/CHANGELOG.md#version-503

See details in CHANGELOG:
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/CHANGELOG.md#version-6010

Thank you to @yangjingyu for reporting

[2020-04-16 11:05] hthetiot commented on #425
Next issue in term of priority is #480

[2020-04-17 08:26] andaniel2029 opened #490 "video streaming issue using iphone camera"
Hello.

I am using this plugin for video streaming from iphone camera.

I installed this pluginin in my IONIC5/Angular 9 project.

But when i load page, it displays white screen only.

When i debug that page, stream variable had some contents.

Hope your help quickly.

Thank you.

* **Cordova version: 9.0.0 (cordova-lib@9.0.1)**:
* **Plugin version: latest**:
* **iOS version: 13.x**:
* **Xcode ver

[2020-04-17 13:52] myzzib opened #491 "Problem with change camera during video call (replaceTrack is not a function)"
#### Expected behavior
Switching from front and retro camera during video call  through the replaceTrack function, see code below

#### Observerd behavior
I get errors on "undefined is not an object (evaluating 'sender.track.kind')" and "replaceTrack is not a function".

#### Steps to reproduce the problem
switch camera through the code below

#### Platform information

* **Cordova version**: 8.1.

[2020-04-17 19:01] hthetiot commented on #490
Did you initialize the plugin like this:

[code]

[2020-04-17 19:01] hthetiot commented on #490
cc @andaniel2029

[2020-04-17 19:02] hthetiot commented on #487
Could be related to audio codec packet loss from TokBox MCU/SFU

[2020-04-17 19:03] hthetiot commented on #491
@myzzib Thank you for reporting, I will look into it in 72 hours max. I'm busy on something else.

[2020-04-17 19:04] hthetiot commented on #491
related #423 #442

[2020-04-19 16:44] micaelgallego commented on #480
Thank you!

[2020-04-20 08:10] hthetiot commented on #480
@micaelgallego I have a proper fix on a locale branch with M75 for now i did #493 dirty fix can you check.

In any case, PR are always welcome.

[2020-04-20 08:56] hthetiot opened #494 "video not rendering on iOS 10.x.x"
#### Expected behavior

Video to render when MediaStream fallback on Blob

#### Observerd behavior

Video does not render.

#### Steps to reproduce the problem

Run on iOS 10.3.1

#### Platform information

* **Cordova version**:  8.1.2
* **Plugin version**:  6.0.9
* **iOS version**:  10.3.1
* **Xcode version**: 11.4 (11E146)

[2020-04-20 12:50] hthetiot commented on #494
I have the fix, will release ASAP.

[2020-04-21 09:51] hthetiot commented on #480
ping @CSantosM see  https://github.com/cordova-rtc/cordova-plugin-iosrtc/issues/480#issuecomment-616384328

[2020-04-21 09:55] pabloFuente commented on #480
We will give it a try ASAP. Thank you very much!

[2020-04-22 15:22] sboudouk opened #496 "Failed to get current SOC Generation string and crash on device with audio hardware issue"
## Expected behavior
Display a preview of user Camera on a Cordova iOS App.

#### Observed behavior

Camera not working despite using documentation's examples

#### Platform information

* **Cordova version**: 9.0.0 (cordova-lib@9.0.1)
* **Plugin version**: cordova-plugin-iosrtc 6.0.10 "iosrtc"
* **iOS version**: 13.4
* **Xcode version**: 11.4.1 (11E503a)

Here is the output Xcode show me on conso

[2020-04-22 16:39] sboudouk commented on #496
Yes , that's what I'm doing on my `setGlobal()` function, you can check it in the original post.

[2020-04-22 16:39] hthetiot commented on #496
Sorry i missed it.

Also may be you need a refresh after srcObject:
[code]

Just tested the README usage and it works for me:
- https://github.com/cordova-rtc/cordova-plugin-iosrtc#usage

[2020-04-22 16:42] hthetiot commented on #496
VS

[2020-04-22 16:51] hthetiot commented on #496
globalRegistered is undefined also.

[2020-04-22 16:55] hthetiot commented on #496
Your errors:
- `document.getElementById('video');` vs `<video id="tesuto" />`
- missing `globalRegistered` aka `var globalRegistered = 0;` vs `globalRegistered === 0`

This works for me here is the fixed source:
[code]

Result:
![Image from iOS (4)](https://user-images.githubusercontent.com/8635/80010478-c44f1a00-84ca-11ea-8d37-16b4b78e8ddc.png)

Conclusion:
1. check your code before posting an is

[2020-04-22 16:58] hthetiot commented on #496
Your at school I can see, Trust 25 years of experience, learn Javascript avoid TypeScript unless you understand Javascript.

[2020-04-22 17:23] sboudouk commented on #496
Thanks for your help @hthetiot , to be honest I do not want to use TypeScript but my company made this choice before I came on the project so I'm stuck with it for the moment, and removing it from project is on my plans.

Also, I figured out that the `<video>` id was wrong right after posting here, and changed it to be correct. So I finished up with the same code as you provided.

But despite this

[2020-04-22 17:34] hthetiot commented on #496
@sboudouk come here if you want help http://sylaps.com/r/iosrtc

[2020-04-22 17:36] hthetiot commented on #496
I cannot keep it open, Unless proven it's an iosrtc issue. join me on Sylaps for live debug.

[2020-04-22 17:58] hthetiot commented on #496
After meeting with @sboudouk It appear that there is may some improvement on iosrtc at least to catch some error to prevent the application to crash when using enumerateDveice aand call an error callback when the device has some issue with GetUserMedia instead of calling succes.

The device had some know hardware issue, I will look  more into "Failed to get current SOC Generation string" and colle

[2020-04-22 17:59] hthetiot commented on #496
Congrats to @saghul help doctor and patient.

[2020-04-23 19:11] sboudouk opened #497 "getUserMedia compatiblity with Twilio Video"
#### Expected behavior

Since `twilio-video` uses `getUserMedia` to retrieve user's Video & Audio tracks, `twilio-video` should work as expected.

#### Observed behavior

`TypeError: track must be a LocalAudioTrack, LocalVideoTrack, LocalDataTrack, or MediaStreamTrack`

#### Steps to reproduce the problem

[code]

#### Platform information

* **Cordova version**: 9.0.0 (cordova-lib@9.0.1)
* **Plug

[2020-04-23 19:43] hthetiot commented on #497
Thank you @sboudouk for this detailed issue. I will see if I can solve the problem.

[2020-04-24 15:10] kalimantos opened #498 "Capacitor compatibility"
currently when i build a capacitor app with this plugin xcode gives me this error
<img width="689" alt="Screen Shot 2020-04-24 at 17 08 43" src="https://user-images.githubusercontent.com/4092865/80227672-43209000-864e-11ea-8c0b-a839821117cc.png">
how can i fix that? if someone can give me some tips i can make a PR

[2020-04-24 16:39] aflofo commented on #498
Same issue here

[2020-04-26 09:49] savgiannis commented on #497
Yeah twilio video is much needed I would appreciate if it is fixed!

[2020-04-26 09:50] savgiannis commented on #498
Same here too

[2020-04-26 12:22] hthetiot commented on #498
https://github.com/cordova-rtc/cordova-plugin-iosrtc/issues/425#issuecomment-587428577

[2020-04-26 12:23] hthetiot commented on #498
Read the comment here:
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/issues/425#issuecomment-587428577

I have no interest in capacitor poor way of doing things and will no allocate even one second to it, PR are welcome but I will not do it for you.

[2020-04-26 12:27] hthetiot commented on #498
This is a cordova plugin not a capacitor plugin.
If capacitor is not capable of supporting properly cordova plugin then dont use cordova plugin and dont create issue on cordova plugin repository, instead go create issue on capacitor.

[2020-04-26 13:42] hthetiot commented on #497
[code]

[2020-04-26 13:46] hthetiot commented on #497
It's not an issue with iosrtc but an issue with the way TwilioVideo is written.

[2020-04-26 14:43] hthetiot commented on #497
To solve the error "The order of m-lines in answer doesn't match order in offer. Rejecting answer" cause by twilio non detection of `plan-b` destpite iosrtc supporting `unifed-plan`.

Options `sdpSemantics: 'plan-b'` and `bundlePolicy: 'max-compat'` are required on `Video.connect`:

[code]

See Updated sample:
[code]

This result in video been received on brower but not on iosRTC, more debugging i

[2020-04-26 14:46] hthetiot commented on #497
I dont want to spent to much Twilio credits, if you want me to debug more I will need that someone give me access to a twilio `accoundSID` and `videoToken` and `videoSecret`.

[2020-04-26 15:29] sboudouk commented on #497
I got you @hthetiot I'll give you mine by mail.

[2020-04-26 15:30] hthetiot commented on #497
Thank you @sboudouk

[2020-04-27 19:36] CSantosM commented on #480
Hi @hthetiot ,

We have tested this branch and it looks like the problem has been solved.
We have connected three users in the same session and we have not reproduced the bug because of the unique mediastream id.

Great, let us know when this bug fix will be released.

Regards

[2020-04-27 22:17] andrewvmail opened #500 "cutting other apps audio when app boots up"
This PR might fixed this
https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/503

Tested in my app and it's stable. But I'm not sure if that do here is necessary

[code]

[2020-04-28 06:39] rejebsab commented on #482
Any approximative due date for the 7.0.x release version please?

[2020-04-28 08:11] hthetiot commented on #498
- https://groups.google.com/forum/#!topic/cordova-plugin-iosrtc/2Ioysem4Bjg

[2020-04-28 08:12] hthetiot commented on #482
I might be able to put that in 6.0.x, I will see what I can do.

[2020-04-28 08:14] hthetiot commented on #500
This is required for other Audio features to work properly, I think.
See my comment here: https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/499#issuecomment-620449949

I will leave that open and take a more detailed look when I have a moment, feel free to attempt to improve the PR based on my feedback.

[2020-04-28 22:37] san40511 commented on #403
@hthetiot I have the same issue. I'm trying to use it together with sipml. i used version 4.0.2 before and everything worked perfect but this version is deprecated and I'm trying to update my plugin to the more actual version. Currently, I'm using ver. 6.0.4.  Please help me

P.S. typeof MediaStreamTrack.originalMediaStreamTrack says that it is "object" and not a function.

[2020-04-28 22:43] san40511 commented on #403
![Снимок экрана 2020-04-29 в 01 41 59](https://user-images.githubusercontent.com/9560433/80544914-c3325700-89ba-11ea-8709-4f0a47f66892.png)
Screenshot of my error

[2020-04-28 22:59] san40511 commented on #403
another screenshot
![Снимок экрана 2020-04-29 в 01 58 47](https://user-images.githubusercontent.com/9560433/80545873-042b6b00-89bd-11ea-9d29-43c4f4e96053.png)

[2020-04-29 20:18] hthetiot commented on #480
@CSantosM Ok will release

[2020-04-29 21:14] #480 closed

[2020-04-29 21:14] hthetiot commented on #480
Done https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/CHANGELOG.md#version-6011

[2020-04-29 21:17] hthetiot commented on #490
For that you should have followed up on the issue.
We are not at your service, if you want your issue to be solved, you need to provide proper details.

Beause of the lack of code to reproduce and follow-up from the reporter I will asume the issue is between the char and the keyboard.

[2020-04-29 21:17] #490 closed

[2020-04-29 21:19] hthetiot commented on #497
I need to release 6.0.12 before but I have found some way to make it works.
(6.0.12 https://github.com/cordova-rtc/cordova-plugin-iosrtc/milestone/25)

This may be on 6.0.1 because I had to SHAM MediaStreamTrack better and also override existing MediaStreamTrack and MediaStream prototype (I know it's dirty) to allow loading Twlio before iosrtc and still use iosRTC shim, this may cause issue with w

[2020-04-29 21:21] hthetiot commented on #425
Released 6.0.11 with #480 fix for Kurento (LOL I hate SFU and MCU)
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/CHANGELOG.md#version-6011

Next priority is #495 #494

[2020-04-30 02:20] micaelgallego commented on #480
Thanks!

[2020-04-30 05:57] andrewvmail commented on #500
Good idea! I will try to pull that out into its own api then.

[2020-04-30 06:26] hthetiot commented on #500
Thank you @andrewvmail

[2020-04-30 23:21] RealHandy opened #501 "Regex in iosrtc-swift-support.js returns wrong value"
I was getting a build error and hunted it down. Turns out that this line:

https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/717581619338de5ab81e7e780c89cb91bc9d60d1/extra/hooks/iosrtc-swift-support.js#L35

is returning everything up through the _second_ instance of `</name>`, and so blowing up the build. It's fixed by removing the `\s`, so the line reads:

`	var name = /<name>([\S]*)<\/na

[2020-05-01 09:12] hthetiot commented on #501
Thank you @RealHandy for hunting the error.
I will fix right way.

[2020-05-01 09:15] hthetiot commented on #501
See https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/502

[2020-05-01 13:42] RealHandy commented on #501
Of course! To be clear, my fix of removing \s won’t work for names that have a space in the middle of them. The trim function deals with leading and trailing spaces, but if your app name is “My App”, that space will cause a problem if you use only \S as the regex.

[2020-05-02 23:40] andrewvmail commented on #500
@hthetiot just did another take on it here https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/503

[2020-05-04 07:36] hthetiot commented on #501
@RealHandy That may be a problem if we merge I'm worried it cause a regression:
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/413
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/commit/be0712138c05f6778ba8f3980f5cf10b5bd42a8c

[2020-05-04 07:38] hthetiot commented on #501
cc @GProst

[2020-05-04 16:18] hthetiot commented on #501
I changed code to reflect @GProst feedback, can you test @RealHandy
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/502#issuecomment-623396417

[2020-05-04 16:55] CSantosM commented on #480
Hey @hthetiot

Where can I found the 6.0.11 release? The latest version shown is 6.0.10.

Regards

[2020-05-04 17:06] hthetiot commented on #480
Npm ?

<img width="105" alt="Screen Shot 2020-05-04 at 7 04 52 PM" src="https://user-images.githubusercontent.com/8635/80992727-3e23c380-8e3a-11ea-8910-f41abaf64922.png">

<img width="1194" alt="Screen Shot 2020-05-04 at 7 05 31 PM" src="https://user-images.githubusercontent.com/8635/80992762-4845c200-8e3a-11ea-802c-935af6615b44.png">

- https://www.npmjs.com/package/cordova-plugin-iosrtc

I also

[2020-05-04 17:06] hthetiot commented on #480
cc @CSantosM

https://github.com/cordova-rtc/cordova-plugin-iosrtc/tree/6.0.11

[2020-05-04 17:08] CSantosM commented on #480
Ok, thanks @hthetiot

[2020-05-05 14:52] GProst commented on #487
@hthetiot hmm, yeah, can't reproduce it with Sylaps iOS app...
I guess it is something related to TokBox then...

[2020-05-06 07:59] #501 closed

[2020-05-06 08:23] razam217 opened #504 "Bridging header is getting added into the Widget/Extension as well causing build process to fail"
#### Expected behavior
The bridging header should only be added to main App, and not to the Widget. I'm not sure, how to do that, but I also found this clue somewhere on stackoverflow.

#### Observed behavior
The app I'm working on, has its extension as well (Developed in Swift). After updating the plugin from v3.x.x to 6.x.x, now while running cordova build ios, I see following errors:
CompileSwi

[2020-05-06 10:11] hthetiot commented on #504
Thank you @razam217 for this detailed report.
I will look into it and keep you posted. For now my priority is #494, next will be #497

To fix that issue, I think we would need to filter
``var configurations = nonComments(xcodeProject.pbxXCBuildConfigurationSection())`` to only return pbxXCBuildConfigurationSection for the application and no others.

- https://github.com/cordova-rtc/cordova-plugin-

[2020-05-06 11:33] DaveLomber commented on #408
@hthetiot @oscarvadillog
hi guys, just want to follow up here as I face same issue

- Janus uses 'pc.ontrack' to get a remote stream https://github.com/meetecho/janus-gateway/blob/master/html/janus.js#L1766
- but iOS RTC plugin 6.0.11 still provide 'onaddstream' only https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/js/RTCPeerConnection.js#L97 and no 'ontrack' support

I read all th

[2020-05-06 12:12] hthetiot commented on #408
`just want to follow up here as I face same issue`

@DaveLomber  That not the "same" issue. I hate when people are lazy and comment on a closed issue instead of:
1. Looking at the comments to see that this issue was actually not only not related but closed on janus side and solved (https://github.com/cordova-rtc/cordova-plugin-iosrtc/issues/408#issuecomment-542142072, https://github.com/cordova-rt

[2020-05-06 12:12] hthetiot commented on #408
Depend how much you pay ?

[2020-05-06 12:23] DaveLomber commented on #408
@hthetiot apologize if I pinged you at not the best day ;-D

I just see this https://github.com/cordova-rtc/cordova-plugin-iosrtc/issues/408#issuecomment-541608914 which is the same issue I face.

I'm not a lazy guy, I re-read this thread at least 3 times, but after the above comment the discussion went in some other direction an it's not clear at all how the initial issue was resolved if neither

[2020-05-06 13:40] hthetiot commented on #408
See https://github.com/cordova-rtc/cordova-plugin-iosrtc/issues/408#issuecomment-541735123

Create a dedicated issue for ontrack and I will address it.

Sorry comment on closed issue hurt my feeling.

[2020-05-08 12:05] DaveLomber opened #505 "Incompatibility with Janus WebRTC gateway"
#### Expected behavior

Using Janus Video Room plugin, it should be possible to have a call between Web browser and iOS Cordova app.

#### Observerd behavior

- Web browser can hear and see a stream from iOS Cordova app
- But iOS Cordova app does not receive a remote stream, hence can't see Web app

According to janus.js implementation, it implements a 'ontrack' callback of RTCPeerConnection where

[2020-05-08 14:38] ekzotech commented on #505
I had an issue, but remote audio works fine from the start. The only event that I get is 'addtrack' and it doesn't have stream.

[2020-05-08 17:00] hthetiot commented on #505
Notice that it worked before.
`It seems that the videocall is working properly on both sides using latest janus.js, adapter 6.4.0 and task/libwebrtc-update-m69-unified-plan branch. Well done @hthetiot ! <3`
See https://github.com/cordova-rtc/cordova-plugin-iosrtc/issues/408#issuecomment-542142072

Just saying...

[2020-05-08 17:01] hthetiot commented on #505
Regression on Janus or iosrtc or non proper usage or webrtc-adater:
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/issues/408

@DaveLomber can you confirm you do include webrtc-adapter ?
Also do you use `plan-b` or `unified-plan` ?

[2020-05-08 23:00] hthetiot commented on #505
@oscarvadillog @akilude Can you confirm if it works with Janus for you guys?

Every 2 release we get a new issue with Janus, I'm starting to think that this one is not an "incompatibility" but more a issue with last Janus or Adapter not used.

[2020-05-08 23:01] hthetiot commented on #505
@DaveLomber please avoid "Plugin version:
latest" that not good reporting, if we ask version there is a reason....

[2020-05-09 07:53] DaveLomber commented on #505
@hthetiot sorry, I have updated the plugin version. We tried with 6.0.11

Re `plan-b` or `unified-plan` - I'm not sure we pick anything specific. I would say it works in a default mode, which is 'unified-plan' for Chrome and something default for iOS  according to janus.js https://github.com/meetecho/janus-gateway/blob/master/html/janus.js#L1708

For the adapter - we use :

`  <script type="text/j

[2020-05-09 08:07] DaveLomber commented on #505
I have just checked the adapter code https://webrtchacks.github.io/adapter/adapter-latest.js

- `adapter.browserDetails.browser` reports it's Safari browser
- there is no `shimOnTrack` defined for Safari cause Safari supports it from the beginning. The shim is only for Chrome and FF.

So I think it explains it  - the adapter treats Safari as 'ontrack' compatible and does not add any shim here. But

[2020-05-09 08:21] oscarvadillog commented on #505
Please provide the version of Janus you are using it @DaveLomber

[2020-05-09 08:23] DaveLomber commented on #505
We use 0.9.1 gateway version

[2020-05-09 09:02] DaveLomber commented on #505
Just to prove my above statement about a shim

I guess I made it working well now and the 'onremotestream' callback is firing now

What I did - https://webrtchacks.github.io/adapter/adapter-latest.js I have applied the `shimOnTrack` function body:

[code]

[2020-05-10 15:59] hthetiot commented on #505
Thank you @DaveLomber

I will see what I can do to make it working out of the box, thank you for investigating that help a lot.

[2020-05-10 16:04] hthetiot commented on #505
@DaveLomber feel free to make a PR to add ConnectyCube to https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/WHO_USES_IT.md

[2020-05-12 06:47] abardik opened #506 "MediaStream.addTrack does not accept CanvasCaptureMediaStreamTrack"
#### Expected behavior
`MediaStream.addTrack` should allow to use as a first argument an instance of `CanvasCaptureMediaStreamTrack` captured from `<canvas>` by `captureStream` method.

#### Observerd behavior
`MediaStream.addTrack` throws an exception _"argument must be an instance of MediaStreamTrack"_ if the first argument is an instance of `CanvasCaptureMediaStreamTrack`.

In Chrome/Firefox/Sa

[2020-05-12 06:51] Christina05 commented on #491
Hi, any news or workarounds for this?

[2020-05-13 13:49] ekzotech commented on #505
@DaveLomber do you get working video? If so, could you provide more information, please? I'm stuck on video with Janus, and I didn't get how you fix this. Thank you!

[2020-05-13 14:21] akilude commented on #505
@hthetiot  sorry didn't see your message, with my old version of my app with Janus 7.4 and iosrtc 6.0.7 it works, will get back when i try the latest versions.

[2020-05-13 14:28] akilude commented on #505
If my memory is correct, i also had a similar issue when using unified plan with this deprecated branch of janus https://github.com/meetecho/janus-gateway/pull/1459 , it started working when i added the onaddstream to janus.js

[2020-05-13 19:13] DaveLomber commented on #505
@akilude exactly. Adding `onaddstream` also fixes an issue. But what I want is to omit any changes in `janus.js` ad to use an origin version.

[2020-05-13 19:15] DaveLomber commented on #505
@ekzotech Here is what I ended up as a working solution (see `applyShimOnTrack`):

[code]

taken from here https://github.com/ConnectyCube/connectycube-cordova-samples/blob/master/sample-videochat-conf-cordova/www/index.js#L32

[2020-05-13 21:23] hthetiot commented on #505
I will try to update iosRTC to shim ontrack properly without the need to import the shim manualy.
Keep you posted. Thank all for your collaboration much apreciated.

[2020-05-13 21:25] hthetiot commented on #506
@abardik

First, This plugin is not suposed to be used ourside of WKWebview and will not support any other enviroment.

Second, You have captureStream on Canvas working on iOS WKWebview ?
That would surpise me.

[2020-05-13 21:29] hthetiot commented on #506
In any case, even if WKWebview was allowing Canvas.captureStream that I'm pretty sure it does not, It will require enormous work to enable converting a "Native" MediaStream to an iosRTC WebRTC MediaStream. But again I already think this is irrelevant since CaptureStream is not even working in Safari therefor it will not work in WKWebview.
- https://github.com/webrtc/samples/issues/1164

This is a

[2020-05-13 21:56] abardik commented on #506
@hthetiot

I mentioned other browsers only to show that `CanvasCaptureMediaStreamTrack` is an instance of `MediaStreamTrack` in those browsers. Of course, I'm not using iosrtc outside WKWebView, because it's impossible and doesn't make sence.

It works in Safari and WKWebView at least on iOS 13.4.1 and 13.3.1 (iPhone XS), I don't know about earlier versions. I can send `CanvasCaptureMediaStreamTra

[2020-05-13 22:48] abardik commented on #506
@hthetiot

I'm not asking you to implement any features for me. I've already managed this without intermediate local stream. I'm just reporting an incompatibility issue in `MediaStream.addTrack` method.

You did a lot of work to make this plugin compatible with W3C WebRTC standard. I thought reporting this issue would help in this. Also, CanvasCaptureMediaStreamTrack is a good way to implement col

[2020-05-14 10:20] hthetiot commented on #506
Thank you @abardik

I can address the fact that it support an instance of MediaStreamTrack for pure MediaStream the problem is that it will not work when you add that stream to the iOSRTC PeerConnection do you understand that ?

Note: until a issue is close any status like wonfix can change. I update label to reflect the last status, not the final.

[2020-05-14 10:22] hthetiot commented on #506
@abardik

"It works in Safari and WKWebView" "but not in WKWebView." Sorry I'm confused by your answer, it does work in WKWebView or it does not, it it does not because you use iosRTC ?

[2020-05-14 10:25] hthetiot commented on #506
Let say it does in WKWebView, let say I allow it to work on native MediaStream (should actually already works with new MediaStream BTW).

what should be the behavior when you add this stream to the RTCPeerConnection in term of failure?

[2020-05-14 11:25] hthetiot commented on #506
Ok I confirm captureStream landed on iOS WKWebView.

[code]

This example is not even logic, you ask for video and audio from iosRTC and add a new video track on the same iosRTC MediaStream (so you have 2 video tracks on MediaStream).

Let say that you want to capture the VideoStream to draw on the canvas, If so you will need iOSRTC Renderer.save https://github.com/cordova-rtc/cordova-plugin-iosrt

[2020-05-14 11:35] hthetiot commented on #506
"I'm not asking you to implement any features for me. "
Yes you do, you just dont understand that If I let people use NativeMediaStreamTrack on iosRTC generated MediaStream without making distinction they will expect the track to be streamed via WebRTC when it's not possible that why it does result in `argument must be an instance of MediaStreamTrack` to prevent this.

You create a iosRTC MediaStr

[2020-05-14 11:36] hthetiot commented on #506
Also you have to realize that not all WKWebView are equals for example on iOS 10 "Native" MediaStream does not even exist and 11 and 12  and less recent 13 will not have CaptureStream implemented.

[2020-05-14 11:49] hthetiot commented on #506
No it's not a "good way" to implement whiteboard, you want to have people draw over compressed video stream?

The best way is to implement SVG to canvas (via `fabric.js` for example) then serialize the vector data result and transfer via JSON.patch to only send what has changed and send it via DataChannel, like that you dont stream video and instead synchronize serialize vector canvas data.

[2020-05-14 11:50] razam217 opened #507 "setRemoteDescription callbacks not working"
#### Expected behavior
Either Success or Error Callback should be executed
#### Observerd behavior
Neither Success nor Error Callback executes
#### Steps to reproduce the problem
I'm trying to play live streaming from IP Camera. Wowza Streaming engine is on the server side. On android, it is working fine, but for IOS, its not working. I've followed all the instructions mentioned in the Usage instr

[2020-05-14 11:59] hthetiot commented on #505
iOSRTC WebRTC swift bridge already implement `addtrack` in fact, see here:
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/src/PluginRTCPeerConnection.swift#L765

What is missing is the event support for `addtrack` setter on iosRTC PeerConnection.
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/js/RTCPeerConnection.js#L97

I somewhat beleive that `peerConnecti

[2020-05-14 12:04] DaveLomber commented on #505
@hthetiot this WebRTC ontrack stuff is a bit confusing..

In fact it should be `RTCPeerConnection.ontrack` and not a `RTCPeerConnection.onaddtrack`

and also it should be a `"track"` event and not a `"addtrack"`

Just to let you know about it

[2020-05-14 12:09] hthetiot commented on #507
Wowza is not officialy supported by that plugin, please provide detailed instruction to reproduce.
It's most likely an issue with Wowza SDP.

Do you use `plan-b` or `unified-plan` ? iosRTC use `unified-plan` by default.

[2020-05-14 12:11] hthetiot commented on #505
@DaveLomber Yes, I'm on it :)
WIP: https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/508

[2020-05-14 12:13] hthetiot commented on #505
To be clear the issue I think, was that I Implemented `addtrack ` instead of `track` event on RTCPeerConnection and did not implement the setter for the event RTCPeerConnection.

[2020-05-14 12:17] razam217 commented on #507
@hthetiot Sorry for a wrong call. The issue is something else, but while debugging, when I was putting a breakpoint, for some reason my debugger tool was not letting the next callback to execute. Thanks for a quick reply...

[2020-05-14 12:17] #507 closed

[2020-05-14 13:39] hthetiot commented on #507
No problem @razam217 so you confirm bit work with Wowza we can add it to the supported list ?

[2020-05-14 19:34] abardik commented on #506
@hthetiot

Thank you for the detailed explanation about iosRTC MediaStream.

The first part was about `captureStream`, which you asked for. The second one - about `addTrack`.

Yes, I do now. But it wasn't clear at the first time, that I can't send canvas stream to peer connection. It was looking like I can't send it to `addTrack` because it's not an `instanceof MediaStreamTrack`.

Sorry, I don't u

[2020-05-15 03:05] abardik commented on #491
@hthetiot

I can confirm that this feature will tremendously improve user experience, because `replaceTrack` allows to switch between front/rear cameras, screen capture (which you already implemented via `getDisplayMedia`) or any other potential video sources, as well as between audio sources (for example, microphone and system sound) with no renegotiation at all - the replaced track just appears

[2020-05-15 03:35] abardik commented on #491
@Christina05

If you need a workaround for `replaceTrack`, you can use the following code (place it after cordova.plugins.iosrtc.registerGlobals). But it's not a native `replaceTrack`, so it will require a renegotiation. And it's based on outdated `addStream`/`removeStream`, so please, use it on your own risk, because with 'unified-plan' `addStream`/`removeStream` creates new tracks, but doesn't r

[2020-05-15 09:04] hthetiot commented on #506
The issue here is 2 video track on one MediaStream, it may cause issue depending how you use peerConnection.addTrack or addStream, I recomand you group per stream with addTrack(track, stream1), addTrack(canvasTrack, canvasStream) on browser that support canvasCapture.

[2020-05-15 09:31] ekzotech commented on #505
@DaveLomber thank you very much! With your 'applyShimOnTrack' I'm able to get remote video.

[2020-05-15 10:25] mvaljento commented on #498
Is there someone working on a solution for this or possibly even a working fork for Capacitor?

[2020-05-15 20:37] abardik commented on #506
@hthetiot

Thank you for the suggestion. But could you please briefly explain why? I already moved from addStream/removeStream to addTrack/removeTrack. And replaceTrack was added recently for some cases.

[2020-05-16 21:36] derwaldgeist opened #509 "How to disable the after_prepare hook?"
I need to set my own bridging header and modify some Xcode configuration settings, like the code signing identity. For this, I built my own after_prepare hook, in a custom plugin. However, when I add cordova-plugin-iosrtc, it does the same, but "wins". Meaning: the changes made by my own plugin are being reverted. I guess this is because of the processes running in parallel.

Is there a way to pre

[2020-05-17 10:27] hthetiot commented on #509
@derwaldgeist  Can you share what changes are overide by the iosrtc after_prepare hook ?
The hook should not impact signing identity, for that I would also recomand to use `build.json` (https://cordova.apache.org/docs/en/9.x/guide/platforms/ios/index.html#using-buildjson).

The hook modify the following values that are required:
- LD_RUNPATH_SEARCH_PATHS
- IPHONEOS_DEPLOYMENT_TARGET
- ENABLE_BITCO

[2020-05-17 10:29] hthetiot commented on #506
Notive that `replaceTrack` is not supported yet, you may features detect and use addTrack and renegotiate if missing.

 Using addTrack with Stream allow to group tack by stream it play nice with many other WebRTC implementtion and `unified-plan` to my understanding.
- https://developer.mozilla.org/en-US/docs/Web/API/RTCPeerConnection/addTrack

[2020-05-18 06:29] abardik commented on #506
@hthetiot

Maybe I have to try some examples, because it's still not clear for me what are the benefits of using one-track streams instead of multi-track streams or stream-less tracks.

Anyway, thank you for the suggestions.

[2020-05-18 14:14] Maxouhell commented on #497
Hello !
We are currently facing the same problem.

Do you have any news on that ?

Thanks !

[2020-05-18 14:54] hthetiot commented on #497
No update yet, the fix will be a combination of https://github.com/cordova-rtc/cordova-plugin-iosrtc/issues/497#issuecomment-619563313 and #508

Also IF there were update you would see update here. If you want you can also contribute that free software, therefore it's done only on my spare time, I'm not your employer or at your disposition.

[2020-05-18 14:58] Maxouhell commented on #497
Seriously ? Oo
Calm down, I'm just asking if you found a solution while i'm searching for it...

I would be very happy to contribute if i find the solution... ><'

[2020-05-18 15:07] hthetiot commented on #497
-> #497 (comment)

[2020-05-18 16:02] SteffenFreeway opened #510 "SimplePeer support"
#### Expected behavior
I expect to receive and be able to play a remote stream, when the other party sends me one.

#### Observed behavior
Rather than receiving and playing the stream, this error is logged (as an error):
_Callbacks are not supported by "RTCPeerConnection.prototype.getStats" anymore, use Promise instead._

I have zero callback functions in my code, which leads me to believe this is

[2020-05-19 00:30] cj commented on #497
@hthetiot

First off thank you for this amazing plugin!

I just tried the fix you suggest but I got `getUserMedia is not supported`:

[code]

I can give you access to my Twilio account `accoundSID and videoToken and videoSecret` just shoot me an email `cjlazell at gmail.com`.  If you add a Github sponsor button, I'd love to sponsor this project too!  https://github.com/sponsors

Cheers!

[2020-05-19 00:39] cj commented on #497
@hthetiot wups the `getUserMedia is not supported` was just because I forgot to initialize it (sorry long day).  It's now loading, but there seems to be another issue, sound is fine, but the video is just black.

[2020-05-19 02:55] cj commented on #497
ok - figured out the black video, this was the cause https://github.com/twilio/video-quickstart-js/issues/116#issuecomment-614872845.  Now the local participant shows the video (the cordova app running on ios)!

There is another issue.  If i now open a browser on a computer, I can see and hear the iOS video, but on the device itself I can't see any audio or video from the computer.  If I try it on

[2020-05-19 03:19] cj commented on #497
iOS cordova is attaching the audio (I can hear it) of the computer, but just not the video.

[2020-05-19 04:20] derwaldgeist commented on #509
I am trying to adjust these things:

[code]

[2020-05-19 04:57] cj commented on #497
So I think I may have found the reason why the computer video does not show up in iOS cordova when someone joins.  https://gist.github.com/cj/3226ecd8a4acdf616d66360565967dd3#file-gistfile1-txt-L33

`ERROR: pluginMediaStream with id=default_63D585DA-B0D2-44FF-A486-058AB001694C already exist`

Seems like https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/src/PluginMediaStreamTrack.swi

[2020-05-19 08:50] hthetiot commented on #497
Thank you @cj im working on it in #508 keep looking you might find something else. I will also look at your workaround for MediaStreamId.

[2020-05-19 09:00] hthetiot commented on #509
@derwaldgeist Can you turn this value to true and try if that handle  existing swift bridging header from your other plugin?

[code]

Next, do you know if your hook is executed before or after, if it execure after, may be we should add the possibility to define the value for SWIFT_VERSION  via ENVIROMENT.

[2020-05-19 09:04] hthetiot commented on #510
Hello @SteffenFreeway Can you provide a sample with SimplePeer 9.7.2, it's most likely they call getStats with a callback fonction inside the library.

You can also confirm they use callback by using, to see if that solve the issue.

[2020-05-19 09:05] hthetiot commented on #510
We may want to add getStats to `restoreCallbacksSupport` that may help.

[code]

[2020-05-19 09:08] hthetiot commented on #510
They use callback here for getStats:
- https://github.com/feross/simple-peer/blob/eb602e71ee532ed6bf2e4bbeda0f55fb04980f52/index.js#L688

They also use a dirty trick for react webrtc case using `_isReactNativeWebrtc `.

[2020-05-19 09:13] hthetiot commented on #510
@SteffenFreeway Try this branch with a fix for you:
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/511#issue-419985278

[2020-05-19 09:23] hthetiot commented on #509
I made this changes to handle you use case:
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/512

Please test and let me know if that works for you.

[2020-05-19 09:30] hthetiot commented on #498
If someone fork instead of making a PR then that stupid, as I  said I would accept contribution but will not contribute myself since Capacitor is like a rotting dead body in the water for me.

I think Capacitor users are not low level developer so i dont expect anyone providing a fix anytime soon, future will tell if I'm wrong.

[2020-05-19 09:45] SteffenFreeway commented on #510
I'm unfortunately not at the office atm, but will try it out as soon as I'm back. Thanks so much for looking into this so quickly :-)

[2020-05-19 09:49] hthetiot commented on #504
@razam217 Can you test this fix I made for you:
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/513

[2020-05-19 11:12] hthetiot commented on #505
@DaveLomber  I think it might be ready, give it a shot and let me know.
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/508

[2020-05-19 11:26] DaveLomber commented on #505
@hthetiot  cool thanks! I will give it a try and let you know

[2020-05-19 11:29] derMani opened #514 "Backgroundcolor is now "clear" instead of "black""
Hello there friends and users of this plugin

I just stumbled over the following setting in newer versions of cordova-plugin-iosrtc:

![Bildschirmfoto 2020-05-19 um 13 09 11](https://user-images.githubusercontent.com/445232/82320740-0d17c700-99d4-11ea-917e-48a10bd9a613.png)

This came in 6.0.10 and does exactly, what the line suggests: It sets a clear color to the element’s background.

The proble

[2020-05-19 12:35] hthetiot opened #515 "[Announcement] cordova-plugin-iosrtc-sample"
I made a sample application that should allow users of the plugin to more easely reproduce and report new issues and for new users to start using the plugin with a basic Conference UI and get a basic hello world working out of the box.

- https://github.com/cordova-rtc/cordova-plugin-iosrtc-sample

This sample application will also be use to test master before release.

For `cordova-plugin-iosrtc`

[2020-05-19 12:41] hthetiot commented on #505
The fixe from #508 has been tested using the new cordova-plugin-iosrtc-sample (see Announcement 515).
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/508#issuecomment-630789577

The test was made using only Local-Peer not Janus, because I dot have access to a Janus instance. Some tuning over this `index-janus.js` file (https://github.com/cordova-rtc/cordova-plugin-iosrtc-sample/blob/ma

[2020-05-19 12:51] hthetiot commented on #428
Fixed f2083532465f22828492feda8b1deba34b27d681

[2020-05-19 12:51] #428 closed

[2020-05-19 12:56] hthetiot commented on #497
#508 is now ready and should addres the issue @cj @sboudouk give it a try using the sample here https://github.com/cordova-rtc/cordova-plugin-iosrtc/issues/497#issuecomment-619563313 and the branch `bugs/ontrack` (see install instruction on #508 description).

[2020-05-19 15:52] hthetiot commented on #514
I might going to revert first then release and then add the option with default to back then re-release.

[2020-05-19 16:40] derMani commented on #515
Great stuff :) ! This will make it easier to test or describe something!

[2020-05-19 18:15] cj commented on #497
@hthetiot  no problem - I Just gave https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/508 a try and it worked perfectly, even with the Twilio NPM package!  Thank you!

You should 100% add a sponsor badge, and I'm sure I'm not the only one that would use it to support your fantastic plugin and hard work!

[2020-05-19 18:53] hthetiot commented on #497
Thank you @cj, I have the sponsor I need to finalize the GitHub request.

@sboudouk your fix ready see last comment.

[2020-05-19 18:55] hthetiot commented on #505
#508 for confirmation for Twilio #497 if we can have someone confirm it solve Janus I may release in the next 12-24 hours.

[2020-05-19 20:36] DaveLomber commented on #505
@hthetiot I was able to test it against Janus

seems the fix works and I can get a janus 'onremotestream' callback now which is good

The only one thing which is  now I need to fix my app code is that in 'onremotestream' I'm getting a stream with audio track only at first place, but what I expect is to have both audio and video tracks.

<img width="693" alt="Screen Shot 2020-05-19 at 11 20 29 PM"

[2020-05-19 20:42] DaveLomber commented on #505
And what worries me more is that same code works well under Safari browser,
But under cordova I'm getting a stream with audio only tracks and my app reports that a remote user joined as audio only

This is something to investigate at my side

[2020-05-20 06:27] kelvinthu opened #516 "Able to receive audio but no video anymore"
Our IOS App has a video call feature that has been working perfectly with plugin version 6.0.0. But starting from the last two weeks, we were only able to receive audio, but no video anymore. We upgraded the plugin to latest 6.0.11 and still no results.

Here are some of the code samples from our project
[code]

#### Platform information

* **Cordova version**: 9.0.0
* **Cordova IOS** : 5.0.1
* **

[2020-05-20 08:07] abardik commented on #465
Risking to be banned by @hthetiot for commenting on closed issue, but it's relevant.

I had exactly the same issue on iosRTC 6.0.x (5.0.x works fine). The issue exists on devices running iOS 13.* using JsSIP 3.4.4, as well as a plain webrtc API. In my case, the call is established as usual when iOS device is on LTE, but it is never established while on Wi-Fi.

I don't know the nature of this bug,

[2020-05-20 08:30] hthetiot commented on #516
Can you try intermediate version 6.0.1 to 6.0.10 to see if the problem is due a regression in thoses release. 6.0.1 has been released a long time ago. You may also check the Changes logs:
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/CHANGELOG.md

"Our IOS App has a video call feature that has been working perfectly with plugin version 6.0.0. But starting from the last two wee

[2020-05-20 08:38] kelvinthu commented on #516
Yes, it started not working without changing the version and keeping 6.0.0.

The code to attach mediastream to video tag is

addStreamer:function(event) {

     console.log("addStreamer to Remote video");
document.getElementById("remote").srcObject = event.streams[0];
cordova.plugins.iosrtc.turnOnSpeaker(true)

  },

And yes, I will try intermediate version 6.0.1 to 6.0.10 and reply to you after I

[2020-05-20 09:57] hthetiot commented on #516
Thank you @kelvinthu

Feel free to try the sample application in case you can reproduce:
- https://github.com/cordova-rtc/cordova-plugin-iosrtc-sample

I will keep an eye on this issue and do what I can for you.

[2020-05-20 10:01] hthetiot commented on #505
@DaveLomber I think the is might be that in the #508 I create a new even.streams[stream] for each track instead of reusing the same stream to add track compare to the polyfill, and that Janus use event.streams instead of event.track, I will see what I can do.

[2020-05-20 10:56] hthetiot commented on #505
@DaveLomber I made some ajustement to #508 to make event.streams more reliable.
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/508/commits/dff0bdb888ce26e57f5ecaa97561684d1dd9b31e

Can you test again, please.

[2020-05-20 10:59] hthetiot commented on #497
@cj I made some change to try to handle #505 issue can you test #508 again with you have a moment:
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/508/commits/dff0bdb888ce26e57f5ecaa97561684d1dd9b31e

Long story short, I was creating a new MediaStream eveytime with possibly one track instead of 2 and it cause issue for Library that still use event.streams[0] on `track` event instead of

[2020-05-20 10:59] hthetiot commented on #505
Twilio tester will also re-test to double check see https://github.com/cordova-rtc/cordova-plugin-iosrtc/issues/497#issuecomment-631403543

[2020-05-20 11:17] DaveLomber commented on #505
Just checked - seems it does not fire 'pc.ontrack' anymore,
seems something is broken

https://github.com/meetecho/janus-gateway/blob/master/html/janus.js#L1772

[2020-05-20 12:37] hthetiot commented on #516
I do not reproduce using iOS 13.4.1
Do you have proper auto-play on your video tag? Could be related to iOS video auto-play recent changes. Check https://github.com/cordova-rtc/cordova-plugin-iosrtc-sample to compare.

- https://github.com/cordova-rtc/cordova-plugin-iosrtc-sample/blob/master/www/js/common.js#L197
- https://github.com/cordova-rtc/cordova-plugin-iosrtc-sample/blob/master/www/index.h

[2020-05-20 12:41] hthetiot commented on #516
@kelvinthu this is your issue, it could never have worked on 6.0.x by default, you where using webrtc-adpter that was migitating this usage but webrtc-adpter broken the shim see following issue https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/508

You can use `addstream` event from 6.0.0 to 6.0.11 while 6.0.12 will fix that and expose `ontrack` and fix webrtc-adapter regresion.

[code]

S

[2020-05-20 12:43] hthetiot commented on #514
Will be released as part of 6.0.12

[2020-05-20 12:44] #514 closed

[2020-05-20 12:44] hthetiot commented on #510
Will be pushed to next release unless confirmed in the next 12 hours @SteffenFreeway

[2020-05-20 12:45] hthetiot commented on #509
The fix #512 will be pushed to next release unless confirmed in the next 12 hours

[2020-05-20 12:45] SteffenFreeway commented on #510
I'll be testing it within 2 hours :-)

[2020-05-20 12:53] kelvinthu commented on #516
Thanks. I will fix this and let you know the outcome

[2020-05-20 13:06] hthetiot commented on #515
Added Open-EasyRTC sample:
-https://github.com/cordova-rtc/cordova-plugin-iosrtc-sample/blob/master/www/js/index-easyrtc.js

and Cordova Browser demo hosted on Github Pages:
- https://cordova-rtc.github.io/cordova-plugin-iosrtc-sample/index.html

[2020-05-20 14:48] SteffenFreeway commented on #510
I don't get the getStats error anymore, however I still don't get a connection.

Here's the entire log output: https://pastebin.com/8m6uXBTj

And the current error seems to be: Unhandled Promise rejection: res.forEach is not a function

I can't really see whether it's in simplepeer or iosrtc, so I apologize if it's not in your code.

[2020-05-20 16:01] cj commented on #497
@hthetiot that latest version did not work, the computer video never got added to iOS.

[code]

[2020-05-20 16:09] cj commented on #497
Ok - so the last error was because I was playing around with cordova ionic view, I removed that and now it ads the video from the computer but it's black.

[code]

[2020-05-20 16:28] cj commented on #497
@hthetiot I just re-installed this commit aee2b39b2ccebd3dc01019d7c8ebdf2bd4c90600 and it does indeed work.  So something in this new one is breaking it.

[2020-05-20 17:32] hthetiot commented on #516
Hum ok, that weird.

Work for Cordova-plugin-iosrtc-sample

[2020-05-20 17:33] hthetiot commented on #505
Shit

[2020-05-20 17:40] hthetiot commented on #497
Sorry about that the lint failed to catch the issue.
Can you try 44e5b8b, thank you again for your help.
I did not have this issue in the sampe I think because I used ontrack only.

[2020-05-20 17:41] hthetiot commented on #516
Did you use `addstream` with #508 or 6.011, #508 had a regression that just got fixed on `addstream` Using `addstream` with 6.011 should works. 44e5b8b

[2020-05-20 17:45] hthetiot commented on #505
@DaveLomber Do you still have you shim in place? I'm not sure the Shim will play nice with #508

 It's possible that was a regression on #508 that has been fixed by 44e5b8b

[2020-05-20 17:52] kelvinthu commented on #516
I used addstream with 6.0.11

[2020-05-20 17:53] hthetiot commented on #510
Hello @SteffenFreeway
I think the issue is in your getStats Promise callback do you see something like this in your code `reports.push(flattenValues(report))`;

[code]

Can you try this instead:

I may add iterator interface for RTCStatsResponse later.
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/js/RTCStatsResponse.js

[2020-05-20 18:51] hthetiot commented on #516
Hum in that can I'm confused.
First thank you for your feedback and testing.

Can you test Cordova-plugin-iosrtc-sample

[2020-05-21 02:14] aleccheah opened #517 "Compilation Error encountered on #424 task/getDisplayMedia"
#424
missing implementation on PluginRTCVideoCaptureController.swift
#### Expected behavior
Able to compile and successfully deploy to IPad device.
#### Observerd behavior
During XCode build process deploying to iPad Device, Swift Compiler raise compilation error and the screenshot are as below.
![Screen Shot 2020-05-21 at 09 57 59 AM](https://user-images.githubusercontent.com/56785489/82514961-a3

[2020-05-21 07:57] kelvinthu commented on #516
Ok. It works now when I change the code from

[code]

to

[code]

It works now. just `event.streams[0]` to` event.stream`

[2020-05-21 08:31] hthetiot commented on #516
Thank you @kelvinthu.

So yes `addstream` wvent takes event.stream while `track` may takes event.streams.

`track` event will be restored on 6.0.12

Thank you for your testing. You may test #508 for `track` event for future 6.0.12. in the meantime I will close this issue because this is normal behavior for 6.0.11.

If you have other related feel free to comment.

[2020-05-21 08:32] #516 closed

[2020-05-21 08:34] hthetiot commented on #517
Ok that weird cause the travis buildnis working. I will check and let you know.

[2020-05-21 08:45] hthetiot commented on #516
I'm really curious how it did ever work for you, I suspect that if you use webrtc-adapter they may broken `track` shim somehow explaining all this recent issue with `track`. In the end #508 will resolve it anyway, would not be the first time webrtc-adapter cause iosRTC related issue.

[2020-05-21 08:51] hthetiot commented on #517
This should solve it, https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/424/commits/555751903d543b50c8230f4338ee951e0170bd29

[2020-05-21 08:52] kelvinthu commented on #516
Yes It was working perfectly before and stopped working suddenly. Could be issue with webrtc-adapter. Thanks

[2020-05-21 08:53] hthetiot commented on #487
Confirmed not occurring with Sylaps that use 6.0.11, closing issue.

[2020-05-21 08:53] #487 closed

[2020-05-21 08:58] hthetiot commented on #491
@abardik I will see what I can do after #508 and #494 is released

[2020-05-21 09:01] hthetiot commented on #491
Related to #423

[2020-05-21 09:25] aleccheah commented on #517
@hthetiot Let me have ago on this :)

[2020-05-21 12:28] rgustavsson commented on #420
I am having the very same issue using 6.0.8 of the cordova-plugin-iosrtc plugin.
@pcvengros did you get around it?

[2020-05-21 13:01] hthetiot commented on #420
@rgustavsson
1. do you have a paid Apple iOS account setup on Xcode
2. Did you follow the instructions to remove x86 and keep only ARMV7 WebRTC binaries here: https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/docs/Building.md#apple-store-submission
3. Are you trying to run on emulator or submit to the store

[2020-05-21 13:04] hthetiot commented on #420
You need to re-achive after removing the x64 architecture, here the problem is your architecture for the archive target x64 but you removed it from WebRTC binaries

In any case the problem is between the chair and the keyboard here not with iosRTC

[2020-05-21 13:05] hthetiot commented on #420
Please don't comment on comment that have nothing to do with the original issue, create a separate issue or expect for your comment to be 1. Ignored, 2. Mocked, 3. Deleted.

[2020-05-21 17:42] abardik commented on #491
@hthetiot Thank you, it would be great.

[2020-05-21 20:08] derwaldgeist commented on #509
Thank you very much for your fast response!

How do I actually turn this value to true without patching your code?

My hook is executed after yours. But still, my changes are overwritten. Which lead me to the assumption there's a racing condition of async jobs here.

This looks awesome! Unfortunately, I am not using cordova directly, but inside Meteor.js, which encapsulates all Cordova CLI command

[2020-05-21 23:51] rgustavsson commented on #420
@hthetiot
Many thanks for the answer.
Yes, I have a paid apple account and I was trying to distribute to the App Store.
I got it to work now. I simply didn't follow the instructions in the correct order, or just plain wrong.
I'll be dancing all day now :)

[2020-05-22 01:28] aleccheah commented on #517
@hthetiot good news, the error is resolved. I will proceed with further testing on this enhancement. Thanks alot.

[2020-05-22 07:36] razam217 commented on #504
@hthetiot Still seeing same issue. For now I'm manually removing it each time I run **cordova build ios**

[2020-05-22 11:03] hthetiot commented on #517
Thank you @aleccheah for testing.

[2020-05-22 11:03] #517 closed

[2020-05-22 11:18] hthetiot commented on #481
@amalinaaziz no need to add hook to you config.xml iosRTC does it internally.

Feel free to open a new issue if you have problems.

[2020-05-22 17:28] sanket-webmavens commented on #411
I am still facing this same issue, please let me know what to do?

[2020-05-22 18:34] hthetiot commented on #411
@sanket-webmavens "still facing", you shoud not say "still facing" since I serioulsy doubt that you issue is exactly the same than this one, also comment on closed issue claiming same issue without providing any details is something that can lead me to not helping you. Please provide more information about the exact issue and create a seperate issue next time.

1. Do you have a iOS Developer Accou

[2020-05-22 18:36] hthetiot commented on #411
https://github.com/cordova-rtc/cordova-plugin-iosrtc/issues/420#issuecomment-632402727

[2020-05-22 18:54] hthetiot commented on #497
@cj How did you use the package because you need to load twilio after iosrtc we just d'like to know me and @sboudouk

[2020-05-22 19:46] SteffenFreeway commented on #510
Thanks once again @hthetiot for looking into this.
Unfortunately the flattenValues code isn't from my source, so it's probably something within SimplePeer :-(

[2020-05-22 20:46] hthetiot commented on #510
Thank you @SteffenFreeway for confirmation, I will update getStats to make it works.
Keep you posted.

[2020-05-22 21:15] hthetiot commented on #510
@SteffenFreeway This should satify any possible use even by SimplePeer now
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/511/files

<img width="1009" alt="Screen Shot 2020-05-22 at 11 14 11 PM" src="https://user-images.githubusercontent.com/8635/82709994-22b21880-9c82-11ea-96af-81026f77aeff.png">

[2020-05-22 21:17] hthetiot commented on #510
Thank you for your patience @SteffenFreeway, test and let me know if all good I will merge and will be released on 6.0.12

[2020-05-22 21:20] hthetiot commented on #509
Just do this command:

then enter your Meteor.js command to build

Or check the metor doc for defining environment via config aka RTFM ;).
- https://galaxy-guide.meteor.com/environment-variables.html

[2020-05-22 21:22] hthetiot commented on #504
@razam217 Sorry I was not ready cause Travis fail.
We may need something like that:
- https://github.com/akofman/cordova-plugin-add-swift-support/pull/64/files

Alternativly you may only use the hook on install then disable it afterward using this PR https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/512

Example:

[2020-05-23 07:24] sanket-webmavens commented on #411
Thanks for your quick reply.

Yes, I have a paid iOS Developer Account.
I getting this error while compiling the code using the command "Cordova build ios".

I have installed the plugin, compiled the code and its working fine. But while archiving the app to upload to AppStore, I get errors regarding the Archs, so I followed instructions stated on the documentation to Strip Simulators Arch. After t

[2020-05-23 08:21] sanket-webmavens commented on #411
For more info, I am following these steps:
cordova plugin add cordova-plugin-iosrtc
cordova clean ios
cordova build ios -- > this time I got it built successfully

Now, need to Strip Simulator Arch:

cd plugins/cordova-plugin-iosrtc/extra
node ios_arch.js --extract
node ios_arch.js --device
node ios_arch.js --clean
node ios_arch.js --list
cordova platform remove ios
cordova platform add ios
cordov

[2020-05-23 10:02] hthetiot commented on #411
`cordova build ios` will build for emulator that why x86_64 is required, you need to use `cordova build ios --release --prod` to build archive for release.

Generally, the practice for release is `cordova prepare --release --prod` then use Xcode to `archive` then upload to the store.

RTMF: https://cordova.apache.org/docs/en/latest/guide/platforms/ios/

[2020-05-23 11:58] derwaldgeist commented on #509
Ok, I will try that.

This refers to Galaxy, which I am not using. But if the env variable variant works, that would be cool.

[2020-05-23 16:46] DustinnBel opened #518 "MediaStreamTrack.getSettings Error when retrieving media stream videotracks on iPad Pro"
I am running an application with the Cordova-plugin-iosrtc unfortunately it is not working on an iPad Pro while it is working on an iPhone X.

2020-05-23 17:33:28.938315+0200 test[7425:7008108] PluginRTCVideoCaptureController#findDevice deviceFrameRate:15
2020-05-23 17:33:28.938599+0200 test[7425:7008108] PluginRTCVideoCaptureController#startCapture Capture started, device:<AVCaptureFigVideoDevice

[2020-05-24 07:55] SteffenFreeway commented on #510
I'll give it a test spin tomorrow when I'm back at the office :-)

[2020-05-24 14:47] hthetiot commented on #518
MediaStreamTrack.getSettings is not implemented in iOSRTC, the fact it is works on iPhone but not iPad is probably because you don't call getSettings on iPad in you code.

[2020-05-24 14:50] hthetiot commented on #518
Related https://github.com/cordova-rtc/cordova-plugin-iosrtc/issues/482

Please provide the webrtc-adapter version if you are using one and the third party library you are using for WebRTC, if you do not use a third party library then use getSettings only when available.

[2020-05-24 16:20] hthetiot commented on #505
Confirmed the regression of track event support come from webrtc-adapter 7.6.0 + see issue https://github.com/webrtcHacks/adapter/issues/1041

[2020-05-24 16:20] hthetiot commented on #516
Confirmed the regression of track event support come from webrtc-adapter 7.6.0 + see issue https://github.com/webrtcHacks/adapter/issues/1041

[2020-05-24 16:55] #505 closed

[2020-05-24 17:42] #442 closed

[2020-05-24 17:43] #518 closed

[2020-05-24 17:43] #482 closed

[2020-05-24 17:57] #494 closed

[2020-05-24 18:17] hthetiot commented on #425
6.0.12-RC1 available for testing

Changes logs:
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/CHANGELOG.md#version-6012

[2020-05-24 18:27] hthetiot commented on #516
@kelvinthu `track` suppport as landed back in 6.0.12 it's confirmed it was a regression due webrtc-adapter 7.6.0 not doing the shim anymore.

[2020-05-24 18:30] hthetiot commented on #425
6.0.12-RC1 available for testing

Waiting confirmation for following issue to be resolved before releasing.
Please if you see you name bellow simply add comment to confirm fixed or a emoji 👍 on this comment.

# Major changes
- Improve getUserMedia compatiblity with Twilio Video #497 (testing requested for @sboudouk  @cj)
- Incompatibility with Janus WebRTC gateway when using WebRTC-adapter >= 7.6.

[2020-05-24 18:33] hthetiot commented on #469
7.0.0-RC3 available for testing based on 6.0.12 changes.
See: https://github.com/cordova-rtc/cordova-plugin-iosrtc/issues/425#issuecomment-633273070

[2020-05-24 19:51] DustinnBel commented on #425
MediaStreamTrack.getSettings Error when retrieving media stream videotracks on iPad Pro #518 is working now 👍

[2020-05-25 05:29] kelvinthu commented on #425
I can confirm ontrack problem is fixed

[2020-05-25 08:24] yangjingyu commented on #425
I have tested on ios10.3.3, audio and video output normally 👍

[2020-05-25 12:42] hthetiot commented on #425
Thank you @yangjingyu

[2020-05-25 15:05] DaveLomber commented on #505
@hthetiot  appologize for the delayed feedback

I just tried latest master
https://github.com/cordova-rtc/cordova-plugin-iosrtc#ca3eb4b720b6cf8442e19732fdc3e98bf220e4b9

and all is working fine

thanks for you effort on this matter!

[2020-05-25 16:03] hthetiot commented on #505
\0/

[2020-05-25 16:04] hthetiot commented on #425
Janus fix confirmed here https://github.com/cordova-rtc/cordova-plugin-iosrtc/issues/505#issuecomment-633613743

[2020-05-26 08:20] hthetiot commented on #425
I will release today unless I get negative feedback on 6.0.12-RC1

[2020-05-26 08:21] hthetiot commented on #510
@SteffenFreeway did you test successfully?

[2020-05-26 08:32] SteffenFreeway commented on #510
@hthetiot I'm terribly sorry, but I never got to the office yesterday. I will be going there today for sure though, in about 7 hours. And I'll be testing the RC first thing when I get there.

[2020-05-26 15:07] SteffenFreeway commented on #510
I've tested it now, and unfortunately I still receive no remote video.
The log still contains a few errors / fails, albeit the ones I've previously mentioned seem to be gone :-)
And FWIW the changes don't seem to break anything either, so I think you could probably release 6.0.12 just fine.

As for my issue I've uploaded the latest error log here: https://pastebin.com/0D3qyUJ5

The errors that I'v

[2020-05-26 15:16] hthetiot commented on #510
@SteffenFreeway Thank you for your feedback.
I dont see the error "Unhandled Promise rejection: res.forEach is not a function" anymore and the logs you provided look all goes as expected.

Can you provide the way you set video.srcObject ?
Do you see your own camera but not the remote ?

[2020-05-26 18:46] hthetiot commented on #497
@cj if you have a working Twilio-video.js we would be curious to see how.
See https://github.com/twilio/twilio-video.js/issues/963#issuecomment-634203022 details.

[2020-05-27 05:35] SteffenFreeway commented on #510
@hthetiot
I see my own camera, but not the remote.

Here's the part of the code that handles the remote video (it's TypeScript btw. and the class contains a lot more code than just this, I just stripped it out for brevity):

[code]

I don't see the log entry from the event handler though, so it could be simplepeer never receives a stream. I'll be looking into it some more tomorrow when I'm at the

[2020-05-27 11:10] hthetiot commented on #497
Updated Twilio possible issue with this commit:
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/commit/403284a0909cbc62edd9e47689fd2dadccc1a636

[2020-05-27 11:11] hthetiot commented on #425
I will release 6.0.12-RC2 today with https://github.com/cordova-rtc/cordova-plugin-iosrtc/commit/403284a0909cbc62edd9e47689fd2dadccc1a636

[2020-05-27 13:48] hthetiot commented on #425
Merged connectycube to WHO_USES_IT, if you want to add your company there is still time before 6.0.12 release ;)
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/WHO_USES_IT.md#connectycube

[2020-05-27 13:50] hthetiot commented on #425
Merged connectycube to WHO_USES_IT, if you want to add your company there is still time before 6.0.12 release ;)
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/WHO_USES_IT.md#connectycube

Simply make a PR and at it at the beginning of the WHO_USES_IT.md file.
First come first served.

cc @derMani @yangjingyu @DustinnBel  @kelvinthu

[2020-05-27 14:37] onerinas commented on #425
@hthetiot Should we continue using this issue for 6.0 notes?
CHANGELOG.md itself is pretty useful and people subscribed to release changes gets notified as well.

I have this enabled:
![Screenshot 2020-05-27 at 8 05 59 PM](https://user-images.githubusercontent.com/5433320/83034153-8f982a80-a055-11ea-95f5-ca49ce2b04e6.png)

[2020-05-27 15:32] hthetiot commented on #425
Thank you @onerinas , I use this issue to coordinate Release Candidate testing and feedback/accouncement mostly.

I may instead create an issue per release if you prefer, freel free to comment or propose a vote on the way the community prefer to do that. I''m open, this is to server the community nothing else.

[2020-05-28 01:47] cj commented on #497
@hthetiot @sboudouk This was just me playing around, but it works https://gist.github.com/cj/2beabb496fde34da009c946775be6021 you basically just require the twilio package after you have registered iosrtc

[2020-05-28 02:47] sboudouk commented on #497
Using this code, did you manage to get remoteParticipant track to display on iOS device ?

Thanks for sharing.

[2020-05-28 02:54] cj commented on #497
@sboudouk yes - it was working perfectly in iOS!

[2020-05-28 09:18] hthetiot commented on #497
Thank you @cj

Closing the issue for now then.

[2020-05-28 09:21] hthetiot commented on #425
6.0.12 is now released.
Warm thank you to @derMani @yangjingyu @DustinnBel @kelvinthu @cj @sboudouk @DaveLomber

[2020-05-28 15:08] sboudouk commented on #425
We should be the ones thanking you for providing this essential plugin.

Thank you and keep up the good work @hthetiot

[2020-05-28 15:41] #515 closed

[2020-05-29 16:45] mxk1011 opened #521 "Misplaced video item"
#### Expected behavior
The HTML video element should contain the video stream in the correct position of the video element.

#### Observerd behavior

The rendered video stream is outside the given frame of the <video> element. See this GIF that  shows this problem. The border marks the edges of the video element.

![RPReplay-Final1590769974](https://user-images.githubusercontent.com/10925172/83284

[2020-05-29 17:30] hthetiot commented on #521
Hello @mxk1011,

I think the issue is can be related to the following:
1. 100vh style
2. Cordova StatusBarOverlaysWebView settings (https://github.com/cordova-rtc/cordova-plugin-iosrtc-sample/blob/master/config.xml#L33)
3. Cordova WebViewBounce  settings https://github.com/cordova-rtc/cordova-plugin-iosrtc-sample/blob/master/config.xml#L38)

Let me know if changing this values solve the issue.

[2020-05-29 19:18] mxk1011 commented on #521
Thanks to @hthetiot  I was able to solve this issue by:

1. Adding this plugin `cordova plugin add cordova-plugin-statusbar`
2. Adding this prefenences to the ios-config in my config.xml:

[code]

[2020-05-29 19:18] #521 closed

[2020-06-02 06:51] SteffenFreeway commented on #510
I finally have had some luck with getting remote video - currently I can only get video on my iOS app if it's the initiator of the connection. However I don't think this is a bug in iosrtc, but rather iOS just being picky, so I'll attempt to work around that myself.

Thanks a bunch for the assistance with Simplepeer support - I'll close the issue as it appears to be working correctly now :-)

[2020-06-02 06:51] #510 closed

[2020-06-02 09:57] hthetiot commented on #510
Thank you @SteffenFreeway

[2020-06-02 14:32] laobento opened #522 "ERROR: pluginMediaStreamTrack with id=*** does not exist"
I am writing an app with this plugin, and I can establish audio and video call between clients of ios or non  ios device. But when I go on to the next step to switch call of audio to video, using the renegotiation procedure,  then I got this problem. I modify the function of func peerConnection(_ peerConnection: RTCPeerConnection, didAdd rtpReceiver: RTCRtpReceiver, streams:[RTCMediaStream]) in Pl

[2020-06-02 14:36] laobento commented on #522
The error occurs in the function of MediaStreamTrack_setListener()

[2020-06-03 11:05] hthetiot commented on #522
I will edit your inital report to make it more readable using "```"

[2020-06-03 11:08] hthetiot commented on #522
Look like you have some JavaScript error in the logs:
[code]

[2020-06-03 11:10] hthetiot commented on #522
@laobento Please provide following information as requested when you created the issue.
[code]

[2020-06-03 11:13] hthetiot commented on #522
Your modification is incorrect, it will be difficult to support this issue if the code is modified.
Please provde information without modified code.

[2020-06-03 11:15] hthetiot commented on #522
Please provide a sample Javascript used to add the track to the peer.

[2020-06-03 13:14] laobento commented on #522
Thank you!

[2020-06-03 13:19] laobento commented on #522
There is an error before this error of 'ERROR: pluginMediaStreamTrack with id=30ec7a86-9679-41d3-b86b-baf914f3ccbf does not exist'  occurs, I think that is the cause of this error.

[2020-06-03 13:39] laobento commented on #522
Cordova version:
     Cordova-lib: 9.0.0
     Cordova-ios: 4.5.5
 Plugin version: 6.0.12
 iOS version: 13.5
 Xcode version: 11.5
 WebRTC-adapter version**: 7.5.1

Beside, when I make the call switching procedure of audio to video between browsers, no matter what browser it is, such as chrome or safari, I got the wanted result.

[2020-06-03 13:48] laobento commented on #522
This is the first time I wrote swift code, 😊.  I found the 'streams' arg. is empty in the case of original code, so no 'track' event will be fired. When two client are both browsers, 'track' event will be fired when renegotiating, and the track kind is video, and also no streams arg. I just do 'remoteStream.addTrack(videoTrack)', and that is OK. So I modify the swift code, expect the 'track' event

[2020-06-03 14:13] laobento commented on #522
The following code is the code of initiating a switching procedure. The call of addTrack or removeTrack, will trigger the renegotiating procedure. I recreate the offer in the caller, answer in the callee. Of course icecandidate event also will be fired, just do the same as in the establishing procedure of the call.

In the caller:
[code]

In the callee:
[code]

[2020-06-03 14:15] laobento commented on #522
@hthetiot Thank you very much!

[2020-06-03 14:41] matijagrcic commented on #497
Are above changes available in 6.0.12 https://github.com/cordova-rtc/cordova-plugin-iosrtc/issues/425#issuecomment-635225234 ? Only asking as I'm getting same error as
 https://github.com/cordova-rtc/cordova-plugin-iosrtc/issues/497#issuecomment-630579714

`ERROR: pluginMediaStream with id=default_63D585DA-B0D2-44FF-A486-058AB001694C already exist`

Thanks for this whole thread, helped greatly so

[2020-06-03 14:44] sboudouk commented on #497
@matijagrcic try to use https://github.com/cordova-rtc/cordova-plugin-iosrtc/commit/aee2b39b2ccebd3dc01019d7c8ebdf2bd4c90600 commit, it works for me, when 6.0.12 don't, you should give it a try.

[2020-06-03 14:50] matijagrcic commented on #497
Thanks, how would i install this this commit?

[2020-06-03 14:53] sboudouk commented on #497
`cordova plugin remove cordova-plugin-iosrtc --verbose
cordova plugin add https://github.com/cordova-rtc/cordova-plugin-iosrtc\#aee2b39b2ccebd3dc01019d7c8ebdf2bd4c90600 --save
cordova platform remove ios --no-save
cordova platform add ios --no-save`

[2020-06-03 15:01] matijagrcic commented on #497
Thanks, wasn't sure do i just reference some branch like mentioned here https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/508 or the commit like you did.

[2020-06-03 15:03] matijagrcic commented on #497
Yep, all good, already trying that now.

[2020-06-03 15:57] hthetiot commented on #522
I will look at your replies and come back to you.

[2020-06-04 06:45] razam217 commented on #504
Seems like this has solved my problem... I'm able to run cordova build ios successfully and also in the child target, bridging header is not present... Sorry for checking it so late.

[2020-06-04 06:45] #504 closed

[2020-06-04 08:40] matijagrcic commented on #497
I'm still seeing the following

`2020-06-03 23:10:38.614782+0100 App[43033:442187] iosrtcPlugin#MediaStream_init() | ERROR: pluginMediaStream with id=13975956-A8BA-4D7D-ACB6-2FF25624A479 already exist`

full log below:
[code]

[code]

Any pointers as it seems to get the video properly but then fails?

[2020-06-04 12:34] sboudouk commented on #497
@matijagrcic can you provide full code please ?

[2020-06-04 13:21] matijagrcic commented on #497
All info below, anything else needed please let me know.
[code]

**iOS version: 12+**

[code]

[2020-06-04 17:57] sboudouk commented on #497
You should make sure that it's iosrtc MediaStreamTrack that is used before calling Video, maybe in the React's useEffect function:

[code]

[2020-06-04 22:01] matijagrcic commented on #497
Thank you @sboudouk. Yeah it's strange, as per the output log all seems fine (stream is acquired) but then it errors out and so the output isn't displayed. Will try running it under iOS 13+ and will follow up with the result but this might not be feasible from the business perspective.

[2020-06-05 12:44] matijagrcic commented on #497
I've managed to get it working on iOS 12+ (no getting `ERROR: pluginMediaStream with id=13975956-A8BA-4D7D-ACB6-2FF25624A479 already exist` anymore)  by changing the code slightly but now it's complaining about the ` 2020-06-05 13:09:44.361364+0100 App[12577:99329] [LayoutConstraints] Unable to simultaneously satisfy constraints.`.

I've added full log below, based on searching thru this repo I've

[2020-06-05 13:54] matijagrcic commented on #497
Actually ignore the above, it works fine, using [createLocalVideoTrack_](https://media.twiliocdn.com/sdk/js/video/releases/2.0.0-beta15/docs/module-twilio-video.html#.createLocalVideoTrack__anchor) on devices running iOS12 and iOS13.

Summary:

**config.xml**
[code]
**package.json**
[code]
I'll follow up when the Twilio P2P streaming starts working on iOS, works flawlessly on Android.
Thank you fo

[2020-06-06 17:06] pjor94 commented on #498
hi guys i have some good news.
i got iosrtc working whit capacitor.
Its seems to have some problem with dependencies.
so i have created a CocoaPod framework from the webRTC.framework in this project.[pod](https://cocoapods.org/pods/pjor94.webRTC.framework)

and changed:`
	<framework src="lib/WebRTC.framework" custom="true" embed="true" />	`
to `<framework src="pjor94.webRTC.framework" type="podspe

[2020-06-07 13:11] lovelstn opened #523 "Unsupported Swift Version - 3.X is unsupported - (cordova-plugin-iosrtc)"
Hi all!

Please correct me if I am doing something incorrectly.

I have added cordova-plugin-iosrtc to my app (via `cordova add plugin`). This has been added to my package.json dependencies.
`"cordova-plugin-iosrtc": "git+https://github.com/cordova-rtc/cordova-plugin-iosrtc.git#aee2b39b2ccebd3dc01019d7c8ebdf2bd4c90600"`
This has been added this to my package.json -> plugins
`"cordova-plugin-iosrtc

[2020-06-09 12:15] hthetiot commented on #523
IosRTC use Swift 4.2 and the hook set the version to 4.2
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/extra/hooks/iosrtc-swift-support.js#L263

It is most likely that you have this issue because you use `cordova-plugin-add-swift-support` that is not needed as iosRTC take care of Swift version, also please don't use commit aee2b39b2ccebd3dc01019d7c8ebdf2bd4c90600 aka 6.0.12-RC

[2020-06-09 19:19] derwaldgeist commented on #509
Unfortunately, prepending the export before executing the Meteor command did not work. Meteor doesn't seem to hand it over when calling the Cordova commands internally.

[2020-06-11 02:34] laobento opened #524 "localPC.addTrack() result in sendOnly"
In the audio call establishing procedure, I use the localPC.addTrack() to add the audio track, the code is as follows.
[code]
If the audio call is between browsers or the caller is not iOS device, the result is OK. But in the case of iPhone as caller, when the call is established, the callee will receive video. I found the sdp in the call offer include the video media description, and the attribut

[2020-06-11 02:35] laobento commented on #524
My enviroment is as #523

[2020-06-11 03:00] hthetiot commented on #524
Please update your issue with your environment details also I said to the person to use stable and not RC so if your environment use RC instead of stable this apply to you, also dont be lazy and write the environment versions requested when you create the issue.

[2020-06-11 03:04] hthetiot commented on #524
Secondly, your issue is probably related to your RTCPeerConnection Config.

[code]
No one has the same issue than you to my knowledge, unless you provide full detailed wait ton reproduce your issue we will not be able to assist.

[2020-06-11 15:20] laobento commented on #524
I use the createOffer function to give the config, code here:
[code]

In the creation of RTCPeerConnection, only give the iceServers parameters.

[2020-06-11 15:23] laobento commented on #524
My environment is as follows:
Cordova version:
Cordova-lib: 9.0.0
Cordova-ios: 4.5.5
Plugin version: 6.0.12
iOS version: 13.5
Xcode version: 11.5
WebRTC-adapter version: 7.5.1

[2020-06-11 15:25] laobento commented on #524
Let me think how to give the sample, it is not easy because my project is a little complicate.

[2020-06-11 18:58] cpgb85 opened #525 "iPad pro and camera orientation"
The camera in this program won't adjust properly to a landscape orientation.  I am forcing landscape on this app, but it still places the front facing camera as a landscape view. how can this be fixed?

[2020-06-12 08:26] IntonoviPetar opened #526 "Closing and opening the same page doesn't render video"
#### Expected behavior
I am on a video call page. I leave that page. I re-enter that page, the videos should re-render correctly on the page as previous time.

#### Observed behavior
I am on a video call page. I leave that page. I re-enter that page, but video doesn't render at all. Audio works.

#### Steps to reproduce the problem
(Same as observed behavior, I guess)

#### Platform information
Me

[2020-06-14 13:04] hthetiot commented on #525
@cpgb85 you need to report the information you have been asked when you created this issues and decided to ignore including versions and a way to reproduce the problem, otherwise this issue will be ignored.

[2020-06-14 13:07] hthetiot commented on #524
You can try to provide example using sample app or README example.

https://github.com/cordova-rtc/cordova-plugin-iosrtc-sample

Do you use SFU or MCU ?

[2020-06-14 13:22] laobento commented on #524
@htheiot give me some time, I would like to take more analysis.

[2020-06-15 01:12] laobento commented on #524
Just peer to peer, no middle SFU or MCU.

[2020-06-15 01:38] laobento commented on #524
I'm very sure that I only add the audio track to localPC in the audio call establishing procedure though I really captured the video track in the call of getUserMedia(). I search the "locaPC.addTrack()" in my workspace and I can be sure I do not make  mistakes,  besides,  my log only write "add local stream, track kind:  audio",  the track kind is from the "track.kind". But why it send video strea

[2020-06-15 01:41] laobento commented on #524
Any other has this issue? Am I the only one?

[2020-06-15 02:00] aleccheah opened #527 "Error when executing cordova plugin add https://github.com/cordova-rtc/cordova-plugin-iosrtc#task/getDisplayMedia --verbose"
#### Expected behavior
able to download the branch source
#### Observerd behavior
@hthetiot Sir, i was wondering is there any changes on this, as i tried to call cordova plugin add https://github.com/cordova-rtc/cordova-plugin-iosrtc#task/getDisplayMedia --verbose .... i got the following error. Previously was able to successfully get the source code.

Error: Failed to fetch plugin https://github.

[2020-06-15 02:05] laobento commented on #524
Oh my GOD, I resolve the issue by remove the stream parameter in  the call of localPC.addTrack(), Just provide the track.
The original code is:
[code]

I have no other idea how the localPC get the video stream to send to the peer, only this call is somehow a little suspicious, so I try to remove the "localStream" parameter, and it works!

[2020-06-15 02:23] laobento commented on #524
But it result in another issue, no "ontrack" event will be fired.

[2020-06-15 02:30] laobento commented on #524
If I remove the "localStream" parameter, the sdp in the call offer has no video media description, if not, then the sdp has video media description, but the attribute is "a=sendonly", and it really send the video stream to the peer, even I only add the audio track to localPC.

[2020-06-15 02:37] aleccheah commented on #527
The occurrence of this issue arise when checkout a new project without installation of cordova-plugin-iosrtc version 6.0.12, after installing the codes, i somehow manage to get the code from the branch again.

[2020-06-15 02:50] laobento commented on #524
@hthetiot, I found some clues. When call pc1.addTrack(), you give the new created stream, not the stream of result of getUserMedia(), but in the manual of RTCPeerConnection.addTrack(), it give the result of getUserMedia(). I also provide localStream of getUserMedia() result as second parameter to the call addTrack().

[2020-06-15 13:45] hthetiot commented on #526
See new issue guide lines "I have provided steps to reproduce (e.g. sample code or updated extra/renderer-and-libwebrtc-tests.js file)":
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/.github/ISSUE_TEMPLATE.md

` If the checkboxes above are not checked (which you do after the issue is posted), the issue will be closed.`

[2020-06-15 13:45] hthetiot commented on #525
See new issue guide lines "I have provided steps to reproduce (e.g. sample code or updated extra/renderer-and-libwebrtc-tests.js file)":
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/.github/ISSUE_TEMPLATE.md

` If the checkboxes above are not checked (which you do after the issue is posted), the issue will be closed.`

[2020-06-15 13:45] hthetiot commented on #524
See new issue guide lines "I have provided steps to reproduce (e.g. sample code or updated extra/renderer-and-libwebrtc-tests.js file)":
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/.github/ISSUE_TEMPLATE.md

` If the checkboxes above are not checked (which you do after the issue is posted), the issue will be closed.`

[2020-06-15 13:50] hthetiot commented on #527
[code]

<img width="1217" alt="Screen Shot 2020-06-15 at 3 49 24 PM" src="https://user-images.githubusercontent.com/8635/84665229-e475e500-af1f-11ea-97df-6314d0b1afa2.png">

Work for me without issue using cordova 8.1.2 and nodeJS v10.15.3 on a fresh application, it's most likely an issue with yout Git or cordova setup, this as nothing to do with iosrtc.

[2020-06-15 13:50] #527 closed

[2020-06-15 13:58] hthetiot commented on #524
This is where the addTrack implementation is:
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/js/RTCPeerConnection.js#L465

Can you provide the results of the Xcode console?

Also can you try this:
[code]

[2020-06-15 14:00] hthetiot commented on #524
I think it's related to this https://github.com/cordova-rtc/cordova-plugin-iosrtc/issues/522

[2020-06-15 16:01] elmy33 commented on #500
Maybe you should use:
[AVAudioSession sharedInstance] setCategory:AVAudioSessionCategoryAmbient
as described here:
https://stackoverflow.com/questions/14122363/iphone-app-allow-background-music-to-continue-to-play?lq=1

no flag will be needed.

[2020-06-15 18:01] hthetiot commented on #500
cc @andrewvmail

[2020-06-15 18:55] andrewvmail commented on #500
sounds like a good idea,

from apple docs

[code]

Potentially this will cause unwanted behaviour to some user. Thats why I did the flag.
But its a good idea to expose this so people who want to make karaoke or piano app can use this library?

@hthetiot what do you think?

[2020-06-15 19:08] hthetiot commented on #500
I'm not sure, what to do. may be @elmy33 can explain why he suggested that.

[2020-06-15 21:33] elmy33 commented on #500
Some people that I know want to transmit not only their voice, but also a music or maybe some recording.
I was not right about the flag in plugin.xml, it certainly should be, but it also can be a flag with default value in initAudioDevices that controls sound mixing.
It can be a dumb idea, but someone can find a better usage example of this feature.

Sorry for my inconvenience, bit this feature is

[2020-06-16 23:32] numerized commented on #469
Hi here, testing RC2 ok so far, thanks a lot!
RC3 gives me this:

[code]

[2020-06-17 09:17] hthetiot commented on #469
Thank you @numerized we will fix or update minimal iOS target requirements.

Your help is appreciated.

[2020-06-17 14:45] laobento commented on #524
@hthetiot I try the code in README and got the correct result in the audio call establishing procedure.

[2020-06-17 14:47] laobento commented on #524
The console log of xcode is so much so I think it is not suitable to write here.

[2020-06-17 15:51] matijagrcic commented on #497
Both caller and participant video is working on iOS in Twilio P2P room, but the video size is small. I've tried adding video constraints in terms of sizes but nothing changes the size of the video. Do you happen to know anything else I can try?

On Android the video size is full height.

[2020-06-17 17:20] cpgb85 commented on #525
ok guess i will figure it out on my own. All i needed was example code of fixing orientation.

[2020-06-17 20:58] hthetiot commented on #524
You can join files or put between ` ` `

[2020-06-17 21:01] hthetiot commented on #497
Layout warning can be ignored see https://github.com/cordova-rtc/cordova-plugin-iosrtc/issues/422

[2020-06-17 21:03] hthetiot commented on #497
Try using with/height css to set video size, 100%, flexbox or other should works.

[2020-06-17 21:05] hthetiot commented on #497
Alternatively  you may want to call `cordova.plugin.iosrtc.refreshVideos()` to trigger size computation.

https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/docs/iosrtc.md#iosrtcrefreshvideos

[2020-06-17 21:08] hthetiot commented on #497
Nothing to do with #332 or https://github.com/cordova-rtc/cordova-plugin-iosrtc/issues/375#issuecomment-546917118

It's the video tag size refresh most likely the issue not the video stream.

[2020-06-17 21:09] hthetiot commented on #497
[code]
This should not be needed cause already on latest and master.
Cc @sboudouk

[2020-06-18 01:13] laobento commented on #524
@hthetiot The output include much info, here it is:
[console-output-xcode.log](https://github.com/cordova-rtc/cordova-plugin-iosrtc/files/4795750/console-output-xcode.log)

[2020-06-18 16:03] matijagrcic commented on #497
Tried both https://github.com/cordova-rtc/cordova-plugin-iosrtc/issues/497#issuecomment-645623495 and https://github.com/cordova-rtc/cordova-plugin-iosrtc/issues/497#issuecomment-645624244 and video element is still small, log and scss below.

[code]

[code]

Anything else I can try?

[2020-06-19 17:49] hthetiot commented on #497
Try height 100% or with hardcoded size in pixel to debug, I think we need
to create a separate issue because this is not the same topic of the
original issues.

Also you must likely have a simple CSS or rendering issue that has nothing
bro do with Twillio.

I would recommend you look at the sample application we made:
- https://github.com/cordova-rtc/cordova-plugin-iosrtc-sample

On Thu, Jun 18, 2

[2020-06-19 18:36] matijagrcic commented on #497
Thanks, I already looked at the sample application. Don't think it's a CSS issue rather a combination of Ionic (Angular) cordova plugins and iosrtc given it works fine on Android and also on Safari just not in this case. The height never gets properly set whatever css combination I use while width is set properly, tried several approaches.
I'll follow up with the resolution.

[2020-06-19 21:46] hthetiot commented on #497
The dimensions is calculated on JavaScript side using `window.getComputedStyle(this.element)`
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/js/MediaStreamRenderer.js#L161

Nothing special about it, what append when you force the size like 640x480 and don't use object-fit? Please provide capture or full example no reproduce you issue Inna separate issue, this issue should not b

[2020-06-19 21:48] hthetiot commented on #497
@sboudouk send me an email if you want me to reopen the issue for me it look like you solved your initial problem.

@matijagrcic please create separate issue with issue instructions requirements.

Thank you for you understanding.

[2020-06-19 21:48] #497 closed

[2020-06-20 13:30] riderx commented on #498
@pjor94 any docs on how to use your plugin can be usefull !

[2020-06-22 11:58] hthetiot commented on #498
@pjor94 Thank you for looking into this.
Base on your fork changes, I made this PR https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/528

Question: What version of WebRTC do you use into https://github.com/pjor94/pjor94.webRTC.framework ?

May be we can do the same for iosrtc and split webRTC.framework into his own repository.

[2020-06-22 12:15] hthetiot commented on #498
`<framework src="pjor94.webRTC.framework" type="podspec" />` will cause this warning and error on cordova 8.1.0+.

[code]

Instead podspec need to be used.
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/528/commits/09d38081c0282cf7a5d8ee185f53f61ac5d1c90a

[2020-06-23 19:27] hthetiot commented on #525
This is the most stupid reply I have seen, all I ask is what version you use and an example to reproduce.
You are now ban from this repository for stupidity.

[2020-06-23 19:27] #525 closed

[2020-06-23 19:32] hthetiot commented on #523
Closed due inactivity from reporter.
Also this works for travis

[code]

https://travis-ci.org/github/cordova-rtc/cordova-plugin-iosrtc/jobs/698517507

Note: `cordova add plugin` does not exist it's `cordova plugin add cordova-plugin-iosrtc`

[2020-06-23 19:32] #523 closed

[2020-06-25 10:37] mrhery opened #529 "AudioSession category cause other audio source to be muted"
# Please read first!
Please use [Public Google Group (mailing list)](https://groups.google.com/forum/#!forum/cordova-plugin-iosrtc) for general technical discussions and questions.

- [x] I have provided steps to reproduce (e.g. sample code or updated `extra/renderer-and-libwebrtc-tests.js` file).
- [x] I have provided third party library name and version, ios, Xcode and plugin version and adapter

[2020-06-28 21:46] hthetiot commented on #529
Thank you @mrhery for proper reporting the issue.
May be @ andrewvmail or @elmy33 have an idea how to fix that.

[2020-06-29 01:47] andrewvmail opened #530 "iceRestart constraint doesnt work"
The native webrtc lib uses PascalCase instead of camelCase

[2020-06-29 01:47] andrewvmail commented on #530
https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/531

[2020-06-29 02:00] andrewvmail commented on #500
@elmy33 what do you mean by "bit this feature is not in npm yet?"

[2020-06-29 02:02] #500 closed

[2020-06-29 02:06] andrewvmail commented on #529
I never actually tried to play another HTML audio source while using this.
I did however long time ago use another cordova native plugin and played some sound while using this plugin and it worked fine. I don't remember which exactly maybe its this one https://github.com/floatinghotpot/cordova-plugin-nativeaudio

[2020-06-29 11:55] frybakowski opened #532 "onaddtrack crash during call initializing"
#### Versions affected

* **Cordova version (e.g 7.1.0)**: 9
* **Plugin version (e.g 6.0.12)**: 6.0.12
* **iOS version (e.g 10.2)**: 12.x
* **Xcode version (e.g 11.1 - 11A1027)**: 11.5
* **WebRTC-adapter version  (e.g. 7.4.0)**:
* **WebRTC Framework version (e.g. JSSip 3.1.2)**: sip.js v0.15.10

## Description
During the call initializing i get error in swift code

[code]

![](https://i.ibb.co/44G

[2020-06-30 09:27] #530 closed

[2020-06-30 09:29] hthetiot commented on #532
@frybakowski do you use `addTrack` with stream parameter `addTrack(track, stream)` ?

[2020-06-30 09:37] hthetiot commented on #532
@frybakowski I have made a PR that should handle the issue of missing stream when using addTrack on remote Peer.
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/533

[2020-06-30 09:40] hthetiot commented on #529
@mrhery I dont think it will work in a iframe, however I did play sound properly using `AudioContext` (with AudioContext resume on touch) and `createMediaElementSource` from audio tag.
- https://gist.github.com/uupaa/2710922bcf0171dcda78

[2020-06-30 09:41] hthetiot commented on #532
@frybakowski See instruction in the PR to test the fix, Let me know here if the issue is fixed, I would reopen this issue if not fixed.

[2020-06-30 10:04] hthetiot commented on #524
Sorry for delay @laobento do you think you can modify code in README to reproduce your issue.
To my understanding you saying that the code in README DOES NOT reproduce the issue.

[2020-06-30 10:09] #496 closed

[2020-06-30 10:48] IgorVNC opened #534 "Occasional crash in PluginEnumerateDevices after some time being on a call"
# Please read first!
Please use [Public Google Group (mailing list)](https://groups.google.com/forum/#!forum/cordova-plugin-iosrtc) for general technical discussions and questions.

- [x] I have provided steps to reproduce (e.g. sample code or updated `extra/renderer-and-libwebrtc-tests.js` file).
- [x] I have provided third party library name and version, ios, Xcode and plugin version and adapter

[2020-06-30 11:53] frybakowski commented on #532
@hthetiot on beginning thanks for quick reply.

What is strange, that i make adding track to peerConnection with stream as second parameter (pass my local stream which i get from user media).
Steps which make during establishing call when get offer msg (communicate with socket msgs):
- get new offer msg
- create peer connection instance
- get user media stream (only audio)
- add user media stream

[2020-06-30 14:22] hthetiot commented on #532
@frybakowski can you re-upload the screen capture, it look the upload failed.

[2020-06-30 14:34] hthetiot commented on #534
@IgorVNC Thank you for reporting your issue.

Regarding your fork changes, we already added Facing label preffix in 6.0.4.

`Add English facingLabel suffix if localizedName does not match for facing detection using label, fix PluginEnumerateDevices ordered array #446`
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/CHANGELOG.md#version-604
- https://github.com/cordova-rtc/cordov

[2020-06-30 17:18] mrhery commented on #529
I found the solution. It is not the `RTCEAGLVideoView` issue, instead it's a `AudioSession` issue. I changed the `options: .allowBluetooth` to `options: .mixWithOther` solved it. I think the plugin should have the setting where developer can choose the `AudioSession` category.

I did not try on bluetooth device yet since I changed the `AudioSession`, so I cannot tell the side effects of changing i

[2020-06-30 17:51] frybakowski commented on #532
@hthetiot Reuploaded screen:
![](https://i.ibb.co/WyzKMWW/Zrzut-ekranu-2020-06-30-o-13-26-01.png)

[2020-06-30 18:22] IgorVNC commented on #534
@hthetiot thanks for the reply,
we will try to uprade to latest 6.0.12 and see what happens

[2020-06-30 18:48] hthetiot commented on #532
Sorry @frybakowski look like the issue is wirh your file, I imagine is an Xcode build error ? If so I'm surprised because the build passed on Travis.

If you can take a new screenshot, not sure why your image does not goes through.

[2020-06-30 19:49] frybakowski commented on #532
@hthetiot build was successful, error get also during call initializing (suppose same moment like previously but few lines below)
error code: `EXC_BREAKPOINT (code=1, subcode=...)`
error is for seme function, line 640
so:  `"streamId": pluginMediaStream!.id,`

[2020-06-30 21:44] hthetiot commented on #532
I see, I Will see hoW to handle that and check the shim also.

[2020-06-30 21:45] hthetiot commented on #532
You have to realize that you will not get an event.stream on addtrack event under this circonstances, like on chrome.

[2020-06-30 22:21] andrewvmail commented on #529
@mrhery you can do a PR similar to this https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/503
Maybe @hthetiot will merge

[2020-07-01 09:34] frybakowski commented on #532
@hthetiot but this error is thrown during adding tracks of my local audio stream for peer connection, as a result of executing ` stream.getTracks().forEach((track) => {
                                this._peerConnection.addTrack(track, stream);
                            });` ?
If yes, why it crashs, if i pass stream as a second param?

[2020-07-01 12:26] hthetiot commented on #532
Just to confirm that what you are doing on the remote peer or the local (cordova) ?
If that the case on local that not what trigger the event, only remote should and if that remote (chrome) then knows that WebRTC-Adapter tend to fuck that and ignore the stream params. Also do you know if you are using PlanB or UnifiedPlan and do you know if you use an MCU/SFU ?

[2020-07-01 12:27] hthetiot commented on #532
It would help a lot if we could reproduce with the sample codes
- https://github.com/cordova-rtc/cordova-plugin-iosrtc-sample/blob/master/www/js/index-local.js OR
- https://github.com/cordova-rtc/cordova-plugin-iosrtc#usage

[2020-07-03 15:59] savgiannis commented on #498
Will a fix be included in future versions?

[2020-07-04 06:36] mrhery opened #535 "Video Element Redundancy on Refresh / Re-Navigation on same page"
# Please read first!
Please use [Public Google Group (mailing list)](https://groups.google.com/forum/#!forum/cordova-plugin-iosrtc) for general technical discussions and questions.

- [x] I have provided steps to reproduce (e.g. sample code or updated `extra/renderer-and-libwebrtc-tests.js` file).
- [x] I have provided third party library name and version, ios, Xcode and plugin version and adapter

[2020-07-06 10:11] hthetiot commented on #498
@savgiannis it depend how the capacitor users here help to get the #528 a successfull fix for capacitor.
@pjor94 Seams to have found a possible solution but `"framework" tag with type "podspec" is deprecated` is depcreated and therefor I d'like to  use `the "podspec" tag.` instead like the PR #528.

[2020-07-06 10:14] hthetiot commented on #535
@mrhery Thank you for reporting the issue.
Generaly Cordova is made for Single page application not page that require full reload of the page.
Still, I think iosRTC can be improved to handle this particular issue to make sure `releaseMediaStreamRenderer ` is called on page reload or when element is removed from the DOM.

https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/js/videoElem

[2020-07-06 17:45] bizready opened #536 "Add support for navigator.mediaDevices.addEventListener devicechange event"
# TypeError: undefined is not a function (near '...navigator.mediaDevices.addEventListener...')

#### Versions affected
* **Cordova version (e.g 7.1.0)**: 9.0.0
* **Plugin version (e.g 6.0.12)**: 6.0.12

## Description
I have followed plugin instruction and exposed the API in the global namespace

## Actual results
I am getting following when I initiate the meeting
```TypeError: undefined is not a

[2020-07-06 18:01] hthetiot commented on #536
navigator.mediaDevices.addEventListener is not supported by iosRTC, that is as simple as that.

You been asked to provide a way to reproduce the issue, you did not check the requirement to post the issue.

The least you could have done is this:
[code]

What WebRTC framework are you using?

In any case, it's better to pull `navigator.mediadevices.enumerateDevices` as a way to detect new devices.
In

[2020-07-06 19:04] bizready commented on #536
Thanks for the prompt reply. I am a new bee in the mobile world including JS. I am not sure how to build a script to reproduce the issue. The only intension was to report the issue for the benefit to all. If someone came across a similar issue, there may be a solution. Once I have a good setup reproduce, I will post again or create a new issue.

[2020-07-06 21:20] hthetiot commented on #536
Thank you for your candid reply @bizready

Right now we don't support `addEventListener` on mediaDevices, I reopened the issue so you can provide more context.

Making this feature available should be possible.
I might look into it in the near future in relation to other audio feature improvement, knowing that only audio devices will changes (earpiece, earpod microphone) on iOS as we do not suppor

[2020-07-06 21:24] hthetiot commented on #536
In the meantime, if you need to make you code work, you can detect if addEventListener is a function on navigator.mediaDevices before calling it or SHAM the method like this after using registerGlobal if you use a third party library that call the function.

[code]

[2020-07-06 22:46] bizready commented on #536
@hthetiot - thanks so much re-opening the issue and it means a lot.

Here is my [detailed context](https://github.com/ionic-team/capacitor/discussions/3214)(maybe little too much for his thread).

The precise context for this issue:
I am using Quasar to have a single code base (web and mobile), and webRTC for audio/video.
I am leveraging [AWS chime JS SDK](https://github.com/aws/amazon-chime-sdk-j

[2020-07-07 07:46] numerized commented on #469
sure let me know if need more tests.

[2020-07-07 15:14] hthetiot commented on #469
Thank you @numerized, you can test 7.0.0-RC3 based on 6.0.12 changes if you want.

[2020-07-07 15:15] hthetiot commented on #469
Hopefuly your issue with `TypeError: Cannot read property '1' of null` via `/extra/hooks/iosrtc-swift-support.js` has been addressed.
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/CHANGELOG.md#version-6012

[2020-07-07 15:17] hthetiot commented on #536
It's certainly possible to override Javascript function, but i think if you do the following after `registerGlobals` call it should fix your current issue.

Example:
[code]

[2020-07-07 16:46] phairow commented on #498
It is working in the emulator but I cannot build for amd64 so far.

[2020-07-07 17:30] hthetiot commented on #498
@phairow it's most likely due this architecture step that you may have not performed.
See https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/docs/Building.md

I can see you are using cordova-plugin-iosrtc@6.0.12 it mean capacitor finally fixed support from framework podspec.

[2020-07-07 17:33] ErikDvorcak commented on #532
I'm facing with same issue.
I use the sip.js v0.15.10, which should be supported. I hope that this infomation may will help to you.

[2020-07-07 18:38] phairow commented on #498
I sure appreciate the help in troubleshooting. I tried most of the steps on that page already aside from cordova build, trying to do it manually. Maybe it is "Objective-C Bridging Header" but I don't understand why it works with the simulator. Maybe it is just some difference in build process caused by signing or something? I tried using ios_arch.js and it makes no difference, if I build for devic

[2020-07-07 22:51] phairow commented on #498
I finally got it working. The key was to disable bitcode, I had skipped that step for the app, thought I only had to do it for the library. Now it works on the device. Time to go back to debugging my app :) Have audio working but not video. Thanks again for the advice.

[2020-07-08 01:36] bizready commented on #536
@hthetiot - Looks like I little further on my effort but really a baby step and thanks for that! Looks like I really need a huge jump to reach the goal. I am currently leveraging AWS Chime for my web conferencing, which uses WebRTC. I was hoping that by using iosRTC, I could overcome ios limitations.  My assumption is that by leveraging isoRTC, my code automatically works (with some minor tweaks o

[2020-07-08 14:01] kwoxford commented on #536
I'm having the same problem, for the same reason - Amazon Chime SDK for JS. `navigator.mediaDevices.addEventListener` seems to be used by Chime for detecting new and changed video sources.

[2020-07-08 21:13] bizready opened #537 "NSURLErrorDomain error -999"
#### Versions affected

* **Cordova version (e.g 7.1.0)**: 9.0.0
* **Plugin version (e.g 6.0.12)**: 6.0.12
* **iOS version (e.g 10.2)**: 12.4.6
* **Xcode version (e.g 11.1 - 11A1027)**: 11.5
* **WebRTC-adapter version  (e.g. 7.4.0)**: not sure how to get this info
* **WebRTC Framework version (e.g. JSSip 3.1.2)**: AWS Chime

## Description
My code deploy to iPhone simulator via XCode works and whe

[2020-07-08 21:29] bizready commented on #537
I tried with another iPhone which is iPhone 7 (iOS 13.5.1)

[2020-07-08 21:37] hthetiot commented on #537
@bizready I personally think this has nothing to do with iosRTC. Can you remove iosRTC and confirm that you have the issue or not.

Alternatively please provide full stack of the error `NSURLErrorDomain error -999` do we can confirm if that iosRTC related or not.

Finally `Steps to reproduce
It is my local specific. I have installed cordova-plugin-iosrtc and used registerGlobals`

We ask you step

[2020-07-08 21:40] hthetiot commented on #536
@kwoxford did you even try the workaround I have written twice in that issue before complaining ?

[2020-07-08 21:41] hthetiot commented on #536
@bizready `Looks like I really need a huge jump to reach the goal` I don't think so, iosRTC supper many WebRTC library, you clearly new to WebRTC and making assumptions there are unfounded.

[2020-07-08 21:43] hthetiot commented on #537
I literally Google `cordova NSURLErrorDomain` this is lazyness or incompetence x 999.

https://github.com/apache/cordova-ios/issues/612

[2020-07-08 21:43] #537 closed

[2020-07-08 21:46] hthetiot commented on #536
This issue is closed because the reporter had failed to reply basic workaround feedback and then created a new issue that was unrelated to iosRTC and that could have been solved by simply googling the error.

https://github.com/cordova-rtc/cordova-plugin-iosrtc/issues/537

[2020-07-08 21:54] hthetiot commented on #536
Also if you are not capable of understand the workaround of using Google to fix #537 basic Cordova issue that is unrelated to iosRTC you better use AWS Chime iOS SDK and stop wasting Open Source projet Time. --> https://github.com/aws/amazon-chime-sdk-ios

[2020-07-08 21:54] kwoxford commented on #536
It’s not a complaint, it’s an issue. And AWS Chime is a major implementation. I’ve tried adding a dummy event listener as you suggest but it doesn’t help.

[2020-07-08 21:57] hthetiot commented on #536
That I understood but you did not even explained what is the Workaround result was, if the new issue was #537 after the Workaround was applied then learn to Google the error before reporting false positive (your problem is between the chair and the keyboard no where else).

[2020-07-08 22:05] hthetiot commented on #536
No it's not it's been released recently (2019), and looking at the activity on the repository it's not what I would call mature compare to the 10 other WebRTC library that iosRTC support.

Also it look like the 2 Developpers that use it in this issue are incapable or respecting the basic reproducing requirements for creating issue in that repository of even properly report basic error after apply

[2020-07-08 22:08] hthetiot commented on #537
Unfortunately we are not here to do the job you are paid for and if you are not capable of reproducing your own software issue or Google and error message I strongly recommend you change job.

[2020-07-08 22:13] hthetiot commented on #537
I think to avoid wasting time with noobs I will had `I have googled the error with the word Cordova to make sure the issue is actually not related to only Cordova and have nothing to do with iosRTC` to the issue template here https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/.github/ISSUE_TEMPLATE.md

[2020-07-08 22:16] hthetiot commented on #537
Google is your friend (actually it's not but whatever) https://stackoverflow.com/questions/24485724/phonegap-ios-nsurlerrordomain-error-999

[2020-07-08 22:31] hthetiot commented on #536
`Note: If the checkboxes above are not checked (which you do after the issue is posted), the issue will be closed, removing this checkbox will result in automatic closed issue.`
See `Please read first!`
 https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/.github/ISSUE_TEMPLATE.md

[2020-07-08 22:31] hthetiot commented on #537
`Note: If the checkboxes above are not checked (which you do after the issue is posted), the issue will be closed, removing this checkbox will result in automatic closed issue.`
See `Please read first!`
 https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/.github/ISSUE_TEMPLATE.md

[2020-07-08 22:45] hthetiot commented on #536
Hi sure I'm sorry, let me fix your issue that you have with paid software for free. That not how open source free software works. Create an issue on AWS Chime for them to fix their library to work with iosRTC they are paid for that.

Notice that iosRTC support many free alternative to AWS Chime and when people had issue they provided as requested explicitly when you create an issue a full way to r

[2020-07-09 12:08] frybakowski commented on #532
@hthetiot
For me this fixs the problem and have two way audio:
[code]

[2020-07-10 06:09] frybakowski commented on #532
@hthetiot my proposal for [#533](https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/533) is:
[code]

[2020-07-10 09:26] hthetiot commented on #532
It works for me @frybakowski, can you do a quick PR otherwise I can take care of it if you prefer.
It will be released on 6.0.13 and on master like that.

Thank again.

[2020-07-10 09:40] frybakowski commented on #532
@hthetiot already i was trying to push it to MR, which you created on branch `bygs/onaddtrack-no-stream`, but do not have permission to push changes, get 403 on push

[2020-07-10 10:45] hthetiot commented on #532
@frybakowski I applied your proposed change here https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/533/commits/9d502d62570ee74c135b6c66319e42cf72ca6fd1

You need to fork and you can make PR via Github UI
git pull your fork, make a local branch and apply change and push the branch to github, to then finally make PR via Github UI.

[2020-07-10 10:50] hthetiot commented on #524
What about https://github.com/cordova-rtc/cordova-plugin-iosrtc/blob/master/extra/renderer-and-libwebrtc-tests.js#L178 ?

[code]

[2020-07-10 10:51] frybakowski commented on #532
@hthetiot ok thanks, will notice that. But for now if you already posted changes, which i proposed, think all is done.
When we can expect version 6.0.13?

[2020-07-10 10:55] hthetiot commented on #522
Related https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/533

[2020-07-10 10:55] hthetiot commented on #524
Related https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/533

[2020-07-10 10:57] hthetiot commented on #509
Related https://forums.meteor.com/t/how-to-pass-environment-variables-to-a-cordova-build/53130
(Note: Yeah i know it's you just to link to your public post).

[2020-07-10 11:00] hthetiot commented on #504
@razam217

will be released in 6.0.13 https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/512

[2020-07-10 11:02] hthetiot commented on #529
Fixed by @andrewvmail, will be credited and added to CHANGE LOGS with 6.0.13
- https://github.com/cordova-rtc/cordova-plugin-iosrtc/pull/503

[2020-07-10 11:05] hthetiot commented on #498
We would need some guide for your fellow capacitor developer @phairow if you can propose something here https://github.com/cordova-rtc/cordova-plugin-iosrtc/tree/master/docs

[2020-07-10 12:29] hthetiot commented on #532
Noted

[2020-07-10 12:33] hthetiot commented on #522
Will reopen if #533 fail for 6.0.13

[2020-07-10 12:33] #522 closed

[2020-07-10 12:34] hthetiot commented on #524
Will reopen if #533 fail for 6.0.13

[2020-07-10 12:34] #524 closed

[2020-07-10 12:35] hthetiot commented on #532
Will reopen if #533 fail for 6.0.13
Release will be by 15 July max or before

[2020-07-10 15:42] phairow commented on #498
Sure, bitcode setting was the main thing. This is my first use of capacitor, I had used ionic in the past for angular and wanted to port this react SPA to a mobile app. I was stuck with capacitor since it is the only option for ionic/react. I was already used to using cordova so I thought this would be easy since capacitor will support cordova plugins to an extent. Truth is that I didn't fully und